In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password

In [3]:
df = pd.read_csv('all_records.csv')

In [4]:
df.head()

,Unnamed: 0,Animal ID,Name_intake,DateTime_intake,MonthYear_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,0,A730601,NaN,2016-07-07 12:11:00,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,1,A683644,*Zoey,2014-07-13 11:02:00,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,2,A676515,Rico,2014-04-11 08:45:00,04/11/2014 08:45:00 AM,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,3,A742953,NaN,2017-01-31 13:30:00,01/31/2017 01:30:00 PM,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,4,A679549,*Gilbert,2014-05-22 15:43:00,05/22/2014 03:43:00 PM,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks

In [5]:
# Check columns
df.columns

Index(['Unnamed: 0', 'Animal ID', 'Name_intake', 'DateTime_intake',
       'MonthYear_intake', 'Found_Location', 'Intake_Type', 'IntakeCondition',
       'Animal_Type_intake', 'Sex', 'Age', 'Breed_intake', 'Color_intake',
       'Name_outcome', 'DateTime_outcome', 'MonthYear_outcome', 'Outcome_Type',
       'Outcome_Subtype', 'Sex_upon_Outcome', 'Age_upon_Outcome',
       'gender_intake', 'gender_outcome', 'fixed_intake', 'fixed_outcome',
       'fixed_changed', 'Age_Bucket', 'retriever', 'shepherd', 'beagle',
       'terrier', 'boxer', 'poodle', 'rottweiler', 'dachshund', 'chihuahua',
       'pit bull', 'DateTime_length', 'Days_length'],
      dtype='object')

In [6]:
# Dataframe null values
df.isnull().sum()

Unnamed: 0                0
Animal ID                 0
Name_intake           19484
DateTime_intake           0
MonthYear_intake          0
Found_Location            0
Intake_Type               0
IntakeCondition           0
Animal_Type_intake        0
Sex                       1
Age                       0
Breed_intake              0
Color_intake              0
Name_outcome          19484
DateTime_outcome          0
MonthYear_outcome         0
Outcome_Type              7
Outcome_Subtype       45254
Sex_upon_Outcome          4
Age_upon_Outcome         21
gender_intake          5608
gender_outcome         5611
fixed_intake              1
fixed_outcome             4
fixed_changed             0
Age_Bucket                0
retriever                 0
shepherd                  0
beagle                    0
terrier                   0
boxer                     0
poodle                    0
rottweiler                0
dachshund                 0
chihuahua                 0
pit bull                  0
DateTime_length           0
Days_length            7400
dtype: int64

In [7]:
# Drop unnecessary columns
# Drop Name_intake since there is a Intake_type column
# Drop all single breed type column since we need to do our own encoding for breed_intake
df=df.drop(columns=['Unnamed: 0','Name_outcome','MonthYear_intake','MonthYear_outcome',
                    'gender_intake','gender_outcome','fixed_intake','fixed_outcome','Days_length','Outcome_Subtype',
                   'retriever','shepherd','beagle','terrier','boxer','poodle','rottweiler','dachshund','chihuahua',
                   'pit bull','Age','Age_upon_Outcome'])
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,NaN,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,*Zoey,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Rico,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,NaN,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,*Gilbert,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

## Name_intake_column

In [8]:
# Change Name_Intake to Yes or No
df.Name_intake = df.Name_intake.apply(lambda x: 'No' if pd.isnull(x) else 'Yes')
df.Name_intake.value_counts()

Yes    57493
No     19484
Name: Name_intake, dtype: int64

In [9]:
df.isnull().sum()

Animal ID             0
Name_intake           0
DateTime_intake       0
Found_Location        0
Intake_Type           0
IntakeCondition       0
Animal_Type_intake    0
Sex                   1
Breed_intake          0
Color_intake          0
DateTime_outcome      0
Outcome_Type          7
Sex_upon_Outcome      4
fixed_changed         0
Age_Bucket            0
DateTime_length       0
dtype: int64

In [10]:
df=df.dropna()

In [11]:
df.isnull().sum()

Animal ID             0
Name_intake           0
DateTime_intake       0
Found_Location        0
Intake_Type           0
IntakeCondition       0
Animal_Type_intake    0
Sex                   0
Breed_intake          0
Color_intake          0
DateTime_outcome      0
Outcome_Type          0
Sex_upon_Outcome      0
fixed_changed         0
Age_Bucket            0
DateTime_length       0
dtype: int64

In [12]:
# Check for duplicates rows
count=0
for i in df['Animal ID'].duplicated():
    if i is True:
        count+=1
count

19762

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76968 entries, 0 to 76976
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           76968 non-null  object
 1   Name_intake         76968 non-null  object
 2   DateTime_intake     76968 non-null  object
 3   Found_Location      76968 non-null  object
 4   Intake_Type         76968 non-null  object
 5   IntakeCondition     76968 non-null  object
 6   Animal_Type_intake  76968 non-null  object
 7   Sex                 76968 non-null  object
 8   Breed_intake        76968 non-null  object
 9   Color_intake        76968 non-null  object
 10  DateTime_outcome    76968 non-null  object
 11  Outcome_Type        76968 non-null  object
 12  Sex_upon_Outcome    76968 non-null  object
 13  fixed_changed       76968 non-null  int64
 14  Age_Bucket          76968 non-null  object
 15  DateTime_length     76968 non-null  object
dtypes: int64(1), object(15)
memory usage: 10.0+ MB

In [14]:
# Drop duplicates
df=df.drop_duplicates(subset='Animal ID')

In [15]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57206 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           57206 non-null  object
 1   Name_intake         57206 non-null  object
 2   DateTime_intake     57206 non-null  object
 3   Found_Location      57206 non-null  object
 4   Intake_Type         57206 non-null  object
 5   IntakeCondition     57206 non-null  object
 6   Animal_Type_intake  57206 non-null  object
 7   Sex                 57206 non-null  object
 8   Breed_intake        57206 non-null  object
 9   Color_intake        57206 non-null  object
 10  DateTime_outcome    57206 non-null  object
 11  Outcome_Type        57206 non-null  object
 12  Sex_upon_Outcome    57206 non-null  object
 13  fixed_changed       57206 non-null  int64
 14  Age_Bucket          57206 non-null  object
 15  DateTime_length     57206 non-null  object
dtypes: int64(1), object(15)
memory usage: 7.4+ MB

## Outcome_Type column

In [17]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

In [18]:
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18460
Return to Owner     9806
Euthanasia          5100
Died                 533
Disposal             254
Missing               37
Rto-Adopt             15
Relocate              13
Name: Outcome_Type, dtype: int64

In [19]:
# Combine Died & Disposal Outcomes
df.loc[df.Outcome_Type == 'Disposal', 'Outcome_Type'] = 'Died'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18460
Return to Owner     9806
Euthanasia          5100
Died                 787
Missing               37
Rto-Adopt             15
Relocate              13
Name: Outcome_Type, dtype: int64

In [20]:
# Combine Transfer & Relocate Outcomes
df.loc[df.Outcome_Type == 'Relocate', 'Outcome_Type'] = 'Transfer'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18473
Return to Owner     9806
Euthanasia          5100
Died                 787
Missing               37
Rto-Adopt             15
Name: Outcome_Type, dtype: int64

In [21]:
#### Combine Rto-Adopt & Return to Owner
df.loc[df.Outcome_Type == 'Rto-Adopt', 'Outcome_Type'] = 'Return to Owner'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18473
Return to Owner     9821
Euthanasia          5100
Died                 787
Missing               37
Name: Outcome_Type, dtype: int64

## DateTime_intake column

In [22]:
# Update DateTime_intake to datatime datatype
df.DateTime_intake = pd.to_datetime(df.DateTime_intake, format='%Y-%m-%d')
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

## DateTime_outcome column

In [23]:
# Update DateTime_outcome to datatime datatype
df.DateTime_outcome = pd.to_datetime(df.DateTime_outcome, format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57206 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           57206 non-null  object
 1   Name_intake         57206 non-null  object
 2   DateTime_intake     57206 non-null  datetime64[ns]
 3   Found_Location      57206 non-null  object
 4   Intake_Type         57206 non-null  object
 5   IntakeCondition     57206 non-null  object
 6   Animal_Type_intake  57206 non-null  object
 7   Sex                 57206 non-null  object
 8   Breed_intake        57206 non-null  object
 9   Color_intake        57206 non-null  object
 10  DateTime_outcome    57206 non-null  datetime64[ns]
 11  Outcome_Type        57206 non-null  object
 12  Sex_upon_Outcome    57206 non-null  object
 13  fixed_changed       57206 non-null  int64
 14  Age_Bucket          57206 non-null  object
 15  DateTime_length     57206 non-null  object
dtypes: datetime64[ns](2), int64(1), object(13)
memory usage: 7.4+ MB

## DateTime_length column

In [24]:
# Create a new column and calculate the length of stay
df['datetime_length']=df['DateTime_outcome']-df['DateTime_intake']
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,datetime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000,0 days 20:49:00
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000,115 days 23:04:00
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000,3 days 09:53:00
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000,4 days 00:47:00
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000,24 days 22:11:00

In [25]:
# Check values for datetime_length column
df['datetime_length'].value_counts()

0 days 00:14:00     72
0 days 00:19:00     64
0 days 00:08:00     64
0 days 00:45:00     64
0 days 00:11:00     63
                    ..
7 days 22:54:00      1
21 days 04:31:00     1
9 days 13:58:00      1
45 days 19:48:00     1
14 days 23:44:00     1
Name: datetime_length, Length: 25060, dtype: int64

## delete all negative values

In [26]:
# Create a temporary 'int' column and convert datetime to int
df['int'] = df['datetime_length'].astype(np.int64)

In [27]:
df['int'].value_counts()

840000000000        72
1140000000000       64
480000000000        64
2700000000000       64
660000000000        63
                    ..
687240000000000      1
1830660000000000     1
827880000000000      1
3959280000000000     1
1295040000000000     1
Name: int, Length: 25060, dtype: int64

In [28]:
# replace negative values to nan
df.loc[df.int < 0, 'int'] = None

In [29]:
# Check for null values
df.isnull().sum()

Animal ID                0
Name_intake              0
DateTime_intake          0
Found_Location           0
Intake_Type              0
IntakeCondition          0
Animal_Type_intake       0
Sex                      0
Breed_intake             0
Color_intake             0
DateTime_outcome         0
Outcome_Type             0
Sex_upon_Outcome         0
fixed_changed            0
Age_Bucket               0
DateTime_length          0
datetime_length          0
int                   1400
dtype: int64

In [30]:
# drop null values
df=df.dropna()

In [31]:
# drop temporary 'int' column and original DateTime_length column
df=df.drop(columns=['int','DateTime_length'])

# Rename calculated length of stay column
df.rename(columns = {'datetime_length':'DateTime_length'}, inplace = True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      55806 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex                 55806 non-null  object
 8   Breed_intake        55806 non-null  object
 9   Color_intake        55806 non-null  object
 10  DateTime_outcome    55806 non-null  datetime64[ns]
 11  Outcome_Type        55806 non-null  object
 12  Sex_upon_Outcome    55806 non-null  object
 13  fixed_changed       55806 non-null  int64
 14  Age_Bucket          55806 non-null  object
 15  DateTime_length     55806 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(12), timedelta64[ns](1)
memory usage: 7.2+ MB

In [33]:
df.head(10)

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00
5,A683798,Yes,2016-07-21 12:16:00,3118 Windsor Rd in Austin (TX),Stray,Normal,Cat,Spayed Female,Domestic Medium Hair Mix,White/Black,2016-10-18 10:55:00,Adoption,Spayed Female,0,1-3 years,88 days 22:39:00
9,A683656,No,2014-07-13 13:20:00,8238 Research Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,Snowshoe Mix,Lynx Point,2014-07-17 16:57:00,Adoption,Neutered Male,1,1-6 months,4 days 03:37:00
10,A709749,Yes,2015-08-12 18:29:00,4800 Weletka Dr in Austin (TX),Stray,Normal,Cat,Intact Female,Domestic Shorthair Mix,Calico,2015-09-22 12:49:00,Transfer,Spayed Female,1,1-3 years,40 days 18:20:00
11,A692161,Yes,2014-11-15 15:18:00,Avenue G/42Nd in Austin (TX),Owner Surrender,Normal,Dog,Intact Male,Pit Bull Mix,Brown/White,2014-11-21 18:55:00,Adoption,Neutered Male,1,1-6 months,6 days 03:37:00
12,A733551,Yes,2016-08-23 14:35:00,183 And Cameron in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Brown Tabby/White,2016-09-01 00:00:00,Transfer,Intact Male,0,1-6 months,8 days 09:25:00

## Intake condition column

In [34]:
df.IntakeCondition.value_counts()

Normal      48329
Injured      3022
Sick         2456
Nursing      1523
Aged          250
Other         112
Feral          72
Pregnant       42
Name: IntakeCondition, dtype: int64

In [35]:
# Combine Aged and Feral with Other for IntakeCondition
df.loc[(df.IntakeCondition == 'Aged') | (df.IntakeCondition == 'Feral'), 'IntakeCondition'] = 'Other'

In [36]:
# Combine Injured and Sick for Intake Condition
df.loc[(df.IntakeCondition == 'Injured') | (df.IntakeCondition == 'Sick'), 'IntakeCondition'] = 'Medical'

In [37]:
# Combine Pregnant and Nursing for  IntakeCondition
df.loc[(df.IntakeCondition == 'Nursing') | (df.IntakeCondition == 'Pregnant'), 'IntakeCondition' ] = 'Maternity'
df.IntakeCondition.value_counts()

Normal       48329
Medical       5478
Maternity     1565
Other          434
Name: IntakeCondition, dtype: int64

## Animal_Type_intake column

In [38]:
df.Animal_Type_intake.value_counts()

Dog          30040
Cat          22059
Other         3449
Bird           250
Livestock        8
Name: Animal_Type_intake, dtype: int64

In [39]:
# Combine Bird and Livestock with Other for Animal_Type_intake
df.loc[(df.Animal_Type_intake == 'Bird') | (df.Animal_Type_intake == 'Livestock'), 'Animal_Type_intake'] = 'Other'
df.Animal_Type_intake.value_counts()

Dog      30040
Cat      22059
Other     3707
Name: Animal_Type_intake, dtype: int64

## Sex column

In [40]:
df.Sex.value_counts()

Intact Male      18780
Intact Female    17711
Neutered Male     7301
Spayed Female     6476
Unknown           5538
Name: Sex, dtype: int64

In [41]:
df.rename(columns={'Sex': 'Sex_Intake'}, inplace=True)

## Sex_upon_Outcome

In [42]:
df.Sex_upon_Outcome.value_counts()

Neutered Male    18906
Spayed Female    17201
Intact Male       7175
Intact Female     6986
Unknown           5538
Name: Sex_upon_Outcome, dtype: int64

## Found_Location column

In [43]:
counts=df['Found_Location'].value_counts()
counts

Austin (TX)                                     8896
Travis (TX)                                      587
7201 Levander Loop in Austin (TX)                406
Del Valle (TX)                                   275
Outside Jurisdiction                             271
                                                ...
Mopac Bridge @ Lady Bird Lake in Austin (TX)       1
9306 B Carson Creek Blvd in Del Valle (TX)         1
Lamar And Georgian in Austin (TX)                  1
4605 E. 12Th Street in Austin (TX)                 1
Palace Pkw & Tensley Trl in Austin (TX)            1
Name: Found_Location, Length: 27060, dtype: int64

In [44]:
new_location=[]
for i in df['Found_Location']:
    if ' in' in i and i.split()[0].isdigit() == True:
            i=i
    else:
        i=np.nan
    new_location.append(i)

In [45]:
new_location

['1109 Shady Ln in Austin (TX)',
 nan,
 '615 E. Wonsley in Austin (TX)',
 nan,
 '124 W Anderson in Austin (TX)',
 '3118 Windsor Rd in Austin (TX)',
 '8238 Research Blvd in Austin (TX)',
 '4800 Weletka Dr in Austin (TX)',
 nan,
 '183 And Cameron in Austin (TX)',
 '6808 S Ih 35 Frontage Rd in Austin (TX)',
 '8413 Danville Dr in Austin (TX)',
 '11602 Gunsmoke Circle in Austin (TX)',
 '2940 Eckert St in Austin (TX)',
 nan,
 nan,
 nan,
 '1506 Thorneridge Road in Austin (TX)',
 nan,
 '1830 W Rundberg Ln in Austin (TX)',
 nan,
 nan,
 '9308 N Lamar in Austin (TX)',
 nan,
 nan,
 '1128 Spur in Austin (TX)',
 nan,
 '12505 Rampart St in Austin (TX)',
 '4502 Hudson Bend Rd in Travis (TX)',
 nan,
 '609 W Lynn St #1 in Austin (TX)',
 '704 Hyde Park Ct in Austin (TX)',
 '13096 N 183 in Austin (TX)',
 '701 W Longspur in Austin (TX)',
 nan,
 nan,
 '2203 Singletree Ave in Austin (TX)',
 nan,
 '11417 Trails End in Travis (TX)',
 nan,
 '7607 Glen Hill Cove in Austin (TX)',
 '2202 Galway St in Austin (TX)',
 nan,
 '12034 Research in Austin (TX)',
 nan,
 '120 Webberwood Way in Travis (TX)',
 nan,
 nan,
 '5446 Walnut Grove in Austin (TX)',
 nan,
 '7201 Levander Loop in Austin (TX)',
 '11351 Bradshaw Rd in Austin (TX)',
 '10300 Doyle Rd in Del Valle (TX)',
 nan,
 '9300 Northgate Blvd in Austin (TX)',
 '14904 Valerian in Travis (TX)',
 nan,
 nan,
 nan,
 '1603 Cricket Hollow Drive in Austin (TX)',
 '10714 San Jose in Travis (TX)',
 '900 Chicon St in Austin (TX)',
 nan,
 '7100 Northeast Dr in Austin (TX)',
 nan,
 nan,
 '10223 Thaxton in Austin (TX)',
 '7112 Hillcroft Dr in Austin (TX)',
 '1704 Citation Dr in Austin (TX)',
 nan,
 '5200 Ravensdale in Austin (TX)',
 '9101 Sweet Gum Dr in Austin (TX)',
 '9920 Qual Blvd in Austin (TX)',
 '1310 Delano St in Austin (TX)',
 '5702 Richmond Ave in Austin (TX)',
 '9611 Decker Lake Rd in Travis (TX)',
 '6806 Thistle Hill Way in Travis (TX)',
 nan,
 nan,
 '5338 Thunder Creek in Austin (TX)',
 nan,
 nan,
 '13424 Clara Martin in Travis (TX)',
 nan,
 '973 & 183 in Travis (TX)',
 '124 W Anderson Ln in Austin (TX)',
 '2510 Lehigh Dr in Austin (TX)',
 nan,
 '13676 Bee Cave Pkwy in Bee Cave (TX)',
 '3101 Yellowpine Ter in Austin (TX)',
 nan,
 nan,
 '7132 Texas 71 in Austin (TX)',
 nan,
 '1904 Poquito in Austin (TX)',
 nan,
 '12304 Willow Wild Dr in Austin (TX)',
 nan,
 nan,
 '1109 S Pleasant Valley in Austin (TX)',
 nan,
 '1301 Spyglass Drive in Austin (TX)',
 nan,
 nan,
 nan,
 '4601 Tuckerhill Lane in Travis (TX)',
 '7201 Levander Loop in Austin (TX)',
 '3300 Killingsworth in Travis (TX)',
 '7904 Fm 969 in Austin (TX)',
 nan,
 '911 Battle Bend Blvd in Austin (TX)',
 nan,
 '6700 Meadow Lake in Austin (TX)',
 nan,
 '11113 Research Blvd in Austin (TX)',
 nan,
 '4215 Caldwell Ln in Del Valle (TX)',
 '11400 Concordia University Dr. in Austin (TX)',
 nan,
 nan,
 '19211 Blake Manor Rd in Manor (TX)',
 '14100 Thermal Driver in Austin (TX)',
 nan,
 nan,
 nan,
 '12027 Bethel Church Rd. in Travis (TX)',
 '71 & Spirt Of Texas Hwy in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '8724 Birmingham in Austin (TX)',
 '1300 Fm 812 in Austin (TX)',
 '13021 Dessau Rd in Travis (TX)',
 nan,
 nan,
 nan,
 '13924 Marcella in Travis (TX)',
 nan,
 '1517 Geoffs Dr in Austin (TX)',
 nan,
 '9805 Bal Harbor in Travis (TX)',
 nan,
 '509 Montopolis Dr in Austin (TX)',
 '3400 S Congress Ave in Austin (TX)',
 '8900 Coulver Rd in Travis (TX)',
 '5400 Pecan Brook in Austin (TX)',
 '1420 E Wells Branch Pkwy in Austin (TX)',
 '11601 Domain Dr in Austin (TX)',
 nan,
 nan,
 '710 E Ben White Blvd in Austin (TX)',
 nan,
 '9913 Morgan Creek Dr in Austin (TX)',
 '12508 Esplanade St in Austin (TX)',
 nan,
 '1457 W Pecan St in Pflugerville (TX)',
 '107 E. Wheeler St in Manor (TX)',
 '1511 Faro Drive in Austin (TX)',
 '10928 Desert Willow Dr in Austin (TX)',
 '5365 Westminster Ave in Austin (TX)',
 nan,
 '124 W Anderson Ln in Austin (TX)',
 '11100 Metric in Austin (TX)',
 '6205 Marigold in Austin (TX)',
 '9505 Stonelake Blvd in Austin (TX)',
 nan,
 '9515 Hotel Dr in Austin (TX)',
 '6302 Salcon Cliff Dr in Austin (TX)',
 nan,
 '6600 Elm Creek Dr # 65 in Austin (TX)',
 nan,
 nan,
 nan,
 '4900 Gonzales St in Austin (TX)',
 '4902 Teri Rd in Austin (TX)',
 '8800 N Ih 35 in Austin (TX)',
 nan,
 nan,
 '9705 Manchaca Rd in Austin (TX)',
 '8824 Stanbourne in Austin (TX)',
 nan,
 nan,
 nan,
 '4434 Frontier Trl( Goodsam Didnt Leave Found Address in Austin (TX)',
 nan,
 nan,
 '213 W Wild Sena in Austin (TX)',
 '12151 Ih 35 in Austin (TX)',
 nan,
 '812 Springdale Rd in Austin (TX)',
 nan,
 '9802 Roxanna Drive in Austin (TX)',
 nan,
 '7513 N Interstate Hwy 35 in Austin (TX)',
 '10707 Lake Creek Parkway in Austin (TX)',
 nan,
 nan,
 nan,
 '4707 Munson in Austin (TX)',
 '5400 Springville Ln in Austin (TX)',
 '7404 Southgate Ln in Austin (TX)',
 '3005 Parker Lane in Austin (TX)',
 '7500 Blessing in Austin (TX)',
 '9601 Point Vista Pl in Austin (TX)',
 '5808 Mckinney Falls Parkway in Austin (TX)',
 nan,
 nan,
 nan,
 '8003 Decker Ln in Travis (TX)',
 '12302 Havelock Dr in Austin (TX)',
 '1406 Click Cv in Austin (TX)',
 '13521 Sea Biscuit in Del Valle (TX)',
 '1114 Henninger St in Austin (TX)',
 nan,
 '816 E. 49Th in Austin (TX)',
 '6633 E 290 in Austin (TX)',
 nan,
 '8001 S Ih 35 Frontage Rd in Austin (TX)',
 nan,
 nan,
 '8408 Riverstone in Austin (TX)',
 nan,
 nan,
 '7309 Brookhollow Dr in Austin (TX)',
 nan,
 nan,
 '509 E Todd Lane in Austin (TX)',
 nan,
 '610 Wilmes Dr in Austin (TX)',
 nan,
 nan,
 '4801 S Ih 35 in Austin (TX)',
 '1000 E. 41St St. in Austin (TX)',
 '11610 Prairie Hen Ln in Austin (TX)',
 '2000 Burton Dr in Austin (TX)',
 '11702 Brookwood in Austin (TX)',
 nan,
 '124 W Anderson Ln in Austin (TX)',
 '11351 Bradshaw Rd in Austin (TX)',
 '11503 Parsons Rd in Travis (TX)',
 nan,
 nan,
 nan,
 nan,
 '4410 Dovemeadow Dr in Austin (TX)',
 nan,
 '177 Meadow View Blvd in Del Valle (TX)',
 '1303 Parsons A in Austin (TX)',
 '17005 Hayride Cir in Del Valle (TX)',
 '8609 Alpine Dr in Del Valle (TX)',
 nan,
 nan,
 '124 W Anderson Ln in Austin (TX)',
 nan,
 '5932 Hammermill Run in Austin (TX)',
 nan,
 '301 Twin Creeks Rd in Travis (TX)',
 '2210 E 9Th St Unit C in Austin (TX)',
 '1412 Norseman Terrace in Austin (TX)',
 nan,
 '12401 Pauls Valley Rd in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '985112001282540 in Austin (TX)',
 '5301 Fort Clark Dr in Austin (TX)',
 '21413 Webber Oaks Cv in Travis (TX)',
 nan,
 nan,
 '13904 Old Hwy 20 in Manor (TX)',
 nan,
 '407 Meadow Lea Dr in Austin (TX)',
 '17944 Majestic Elm Ln in Travis (TX)',
 nan,
 '5106 Meadow Creek Cove in Austin (TX)',
 nan,
 '12118 Walnut Park #828 in Austin (TX)',
 '11123 Old Lockhart Rd in Austin (TX)',
 '3206 East 16Th in Austin (TX)',
 '9001 N 620 in Austin (TX)',
 nan,
 '21069 Blake Manor Rd in Travis (TX)',
 '9401 Roanna Dr in Austin (TX)',
 nan,
 '1800 Crystal Bend in Travis (TX)',
 '1200 W Saint Johns in Austin (TX)',
 '420 W Slaughter in Austin (TX)',
 '2200 Berkeley Ave in Austin (TX)',
 '13 Club Estates in Lakeway (TX)',
 '412 E William Cannon Dr in Austin (TX)',
 '1820 Kenwood Ave in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '2300 East 2Nd St in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '5912 Marilyn Dr in Austin (TX)',
 '6203 Saddler Ln in Austin (TX)',
 '2700 West Pecan St in Travis (TX)',
 '2400 Grove Blvd in Austin (TX)',
 '9011 Briardale Dr in Austin (TX)',
 nan,
 nan,
 '9300 S Ih 35 Frontage Rd in Austin (TX)',
 '8202 Furness Cv in Austin (TX)',
 nan,
 '1901 E Anderson Ln in Austin (TX)',
 '5917 Little Creek Trail in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 nan,
 '12401 N Lamar in Austin (TX)',
 '3112 Speidel Dr in Austin (TX)',
 '512 W Stassney in Austin (TX)',
 nan,
 nan,
 '900 Broken Feather Trl in Austin (TX)',
 nan,
 '7201 Levander in Austin (TX)',
 '923 Walter St in Austin (TX)',
 '5111 Single Shot in Austin (TX)',
 '12300 Hymeadow Dr. #307 in Austin (TX)',
 nan,
 '5214 Duval Rd in Austin (TX)',
 nan,
 nan,
 '2900 Sunridge Drive Bldg 13 in Austin (TX)',
 nan,
 '103 W Odell St in Austin (TX)',
 nan,
 '12304 Elm Valley Dr in Travis (TX)',
 '3811 E 12Th St in Austin (TX)',
 nan,
 nan,
 '4108 Nixon Ln in Austin (TX)',
 nan,
 '2309 Berkeley #1085 in Austin (TX)',
 '1228 Eleanor St in Austin (TX)',
 '7310 Meador Ave in Austin (TX)',
 nan,
 '2201 Barton Springs Rd in Austin (TX)',
 nan,
 '11729 Lime Creek Road in Leander (TX)',
 '5300 Jimmy Clay Drive in Austin (TX)',
 '2900 Sunridge Dr in Austin (TX)',
 '1303 Bob Harrison in Austin (TX)',
 nan,
 '220 Pompton Dr in Austin (TX)',
 nan,
 '13212 High Sierra St in Manor (TX)',
 '1317 W. 10Th in Austin (TX)',
 '4534 Westgate Blvd in Austin (TX)',
 '2209 Kinney in Austin (TX)',
 '2205 Voyageurs in Austin (TX)',
 '6403 Farmdale Ln in Austin (TX)',
 '13802 Hokanson Rd in Travis (TX)',
 '4216 S Congress Ave in Austin (TX)',
 nan,
 '2100 Barton Springs Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '1704 Perez in Austin (TX)',
 nan,
 nan,
 nan,
 '9100 Evelyn Rd in Travis (TX)',
 nan,
 '1911 Willow Creek Dr in Austin (TX)',
 '10135 Lake Creek Pkwy in Austin (TX)',
 '2302 Bahama Rd in Travis (TX)',
 nan,
 '10427 Kirken St in Austin (TX)',
 nan,
 nan,
 '8028 Elroy Rd in Travis (TX)',
 nan,
 '310 Blackson Ave in Austin (TX)',
 nan,
 '13309 Bennington Ln in Austin (TX)',
 '810 E Slaughter Ln 9102 in Austin (TX)',
 '11604 Ranch House Cv in Travis (TX)',
 '8601 Vertex in Austin (TX)',
 '16808 High Noon in Del Valle (TX)',
 nan,
 '2507 Bitter Creek in Austin (TX)',
 '7917 Brockman St in Austin (TX)',
 '409 Covenant Canyon Trl in Austin (TX)',
 '5702 Richmond Ave in Austin (TX)',
 '9219 Anderson Mill in Austin (TX)',
 nan,
 '7903 Taza Trl in Austin (TX)',
 nan,
 nan,
 '6500 River Place Blvd in Austin (TX)',
 '12320 Dessau Road in Austin (TX)',
 '2202 Cedar Bend Dr # B in Austin (TX)',
 '4106 N Lamar Blvd in Austin (TX)',
 nan,
 '16801 Trevin Cv in Manor (TX)',
 '4101 Smith School Road in Austin (TX)',
 '2703 Channing Cir in Austin (TX)',
 '1701 Congress Ave in Austin (TX)',
 '2121 Rivena Dr in Austin (TX)',
 '4604 Reyes St in Austin (TX)',
 '2000 E. 8Th in Austin (TX)',
 '11404 Briarcreek Loop in Travis (TX)',
 nan,
 nan,
 '2000 Millhouse Dr in Travis (TX)',
 '3101 Oak Springs Dr in Austin (TX)',
 '9700 Mv Neil Dr in Travis (TX)',
 nan,
 nan,
 '7500 S I H 35 in Austin (TX)',
 nan,
 '5947 Hammermill Run in Austin (TX)',
 '2504 New York Dr # 134 in Austin (TX)',
 nan,
 nan,
 nan,
 '1710 Eastside Dr in Austin (TX)',
 '4500 Steiner in Austin (TX)',
 nan,
 nan,
 nan,
 '4606 Molera in Austin (TX)',
 '4434 Frontier Trl in Austin (TX)',
 '9117 Anderson Mill Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '1403 Bentwood Rd in Austin (TX)',
 nan,
 '19379 Wilkey Lane in Pflugerville (TX)',
 nan,
 nan,
 '22900 Big Sandy Dr in Leander (TX)',
 '2400 E Cesar Chavez St in Austin (TX)',
 nan,
 nan,
 nan,
 '5500 Ross Rd in Austin (TX)',
 nan,
 nan,
 '3611 Brifal Path in Austin (TX)',
 '2909 Thurgood Ave in Austin (TX)',
 '6001 Shepherd Mountian Cv in Austin (TX)',
 '1601 E Slaughter Ln #514 in Austin (TX)',
 '1221 West Ben White in Austin (TX)',
 '2209 Rutland Dr, Unit B in Austin (TX)',
 '309 Thelma Drive in Austin (TX)',
 '1206 Blackfoot in Austin (TX)',
 nan,
 '1000 W Rundberg Ln in Austin (TX)',
 '9700 Teasdale in Austin (TX)',
 nan,
 nan,
 nan,
 '3005 S. Lamar in Austin (TX)',
 nan,
 '139 Bolles Cicrle in Austin (TX)',
 '5905 Lookout Mountain Dr in Austin (TX)',
 '5903 Wideleaf in Austin (TX)',
 '11919 Manchaca Rd in Austin (TX)',
 '4709 Lake George Ln in Austin (TX)',
 '3201 Duval Rd in Austin (TX)',
 nan,
 '2500 Magin Meadow Dr in Austin (TX)',
 '12401 Pauls Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '11900 Buckingham Rd in Austin (TX)',
 '1203 Springdale Rd in Austin (TX)',
 '2614 Howellwood Way in Austin (TX)',
 '6003 Bull Creek Rd in Austin (TX)',
 '4019 Far West Blvd in Austin (TX)',
 nan,
 nan,
 '7905 Briarton Dr in Austin (TX)',
 '11800 Pinto Circle in Travis (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 '3002 Ellon Rd in Del Valle (TX)',
 nan,
 nan,
 nan,
 nan,
 '916 Reseach Blvd in Austin (TX)',
 nan,
 nan,
 '8519 Cahill Dr in Austin (TX)',
 '14909 Cordero Dr in Austin (TX)',
 '515 Congress Ave in Austin (TX)',
 '20412 Ed Acklin Rd in Manor (TX)',
 '2941 Moss St in Austin (TX)',
 nan,
 nan,
 '12036 Parsons Rd in Travis (TX)',
 '7500 S Pleasant Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '9401 S Hwy 183 in Travis (TX)',
 nan,
 '2347 Douglas #1103 in Austin (TX)',
 nan,
 '1111 Lawson in Austin (TX)',
 '1221 Southport Dr in Austin (TX)',
 nan,
 '5114 Turnstone Dr in Austin (TX)',
 nan,
 '5904 E Stassney in Austin (TX)',
 nan,
 '11604 Loweswater in Austin (TX)',
 '2702 Rae Dell Ave in Austin (TX)',
 '308 Le Grande Ave in Austin (TX)',
 '5416 Marlborough Dr in Austin (TX)',
 '6719 N Lamar Blvd in Austin (TX)',
 nan,
 '2505 Inwood Pl in Austin (TX)',
 nan,
 '6700 Evelyn Rd in Austin (TX)',
 '2048 W Stassney Ln in Austin (TX)',
 '4434 Frontier in Austin (TX)',
 '3001 Yandall in Austin (TX)',
 '124 West Anderson Lane in Austin (TX)',
 '7619 Scenic Brook in Austin (TX)',
 '4924 Craigwood And Fm 969 in Austin (TX)',
 '6600 Elm Creek in Austin (TX)',
 '528 S Meadowlark St in Austin (TX)',
 nan,
 '1912 E William Cannon Dr in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '124 W Anderson Ln in Austin (TX)',
 nan,
 nan,
 nan,
 '2000 N. Ih35 in Austin (TX)',
 '2816 E 12Th St in Austin (TX)',
 nan,
 nan,
 nan,
 '6311 Colina Ln in Austin (TX)',
 '14908 Fagerquist Rd in Austin (TX)',
 '1412 Orange Spice Ct in Travis (TX)',
 '2336 Douglas St in Austin (TX)',
 '9206 Spring Hollow Dr in Austin (TX)',
 '1156 W Cesar Chavez St in Austin (TX)',
 '900 Ruth Ave in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '1157 Salina St in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '3400 South Congress in Austin (TX)',
 '14100 Briarcreek Loop in Travis (TX)',
 nan,
 nan,
 '5010 Old Manor Rd. in Austin (TX)',
 '831 B N Meadows in Austin (TX)',
 '12120 Manchaca Rd in Austin (TX)',
 '1600 Wells Branch Pkwy in Austin (TX)',
 '124 W Anderson Ln in Austin (TX)',
 nan,
 '9503 Queenswood Dr in Austin (TX)',
 '1135 Don Ann St in Austin (TX)',
 nan,
 '605 Park Blvd in Austin (TX)',
 '2338 Wilson St in Austin (TX)',
 '15200 Anderson Mill Rd in Travis (TX)',
 '7612 Marl in Austin (TX)',
 nan,
 nan,
 '3500 N Capital Of Texas Hwy in Austin (TX)',
 '1300 Crossing Place in Austin (TX)',
 '14400 Harris Ridge Blvd in Pflugerville (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '6207 Vera Ln in Austin (TX)',
 '1213 Mathias St in Austin (TX)',
 '6101 Landscape in Austin (TX)',
 nan,
 '7001 Circle S Rd in Austin (TX)',
 '4800 Eilers Rd in Austin (TX)',
 nan,
 '4610 Avenue D in Austin (TX)',
 nan,
 '6808 Mira Loma Ln in Austin (TX)',
 '1600 Ih 35 in Austin (TX)',
 '8805 N Plaza Ct in Austin (TX)',
 '1000 Ellingson Ln in Austin (TX)',
 nan,
 '3001 S Congress Ave in Austin (TX)',
 '5904 Dunbury Dr in Austin (TX)',
 nan,
 '11193 Lambert Ln in Austin (TX)',
 '10601 Manchaca in Austin (TX)',
 '9500 W Parmer Ln in Austin (TX)',
 '5304 Great Divide Dr in Bee Cave (TX)',
 nan,
 '12737 Magnolia Mound Trl in Austin (TX)',
 '3302 Northeast Dr in Austin (TX)',
 '3016 Fm 1327 Land Fill in Austin (TX)',
 nan,
 '107 Beaver in Austin (TX)',
 nan,
 nan,
 '8901 Viking in Austin (TX)',
 '1616 Webberville #A in Austin (TX)',
 nan,
 '4106 N Lamar in Austin (TX)',
 '9414 N Lamar in Austin (TX)',
 '1748 Ohlen Rd #98 in Austin (TX)',
 nan,
 '7300 West Rim Rd in Austin (TX)',
 '5701 Johnny Morris Rd in Austin (TX)',
 nan,
 '4502 Acres Ln in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '1317 Exposition Blvd in Austin (TX)',
 nan,
 '6318 Del Monte in Austin (TX)',
 '91217 Lowden Ln in Travis (TX)',
 nan,
 '1402 E St Johns Ave in Austin (TX)',
 '1015 E Yager in Austin (TX)',
 '704 Franklin in Austin (TX)',
 '7209 Wild Onion in Austin (TX)',
 '4106 N Lamar in Austin (TX)',
 '3600 Presidential Blvd in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '6913 Langston Dr in Austin (TX)',
 '1601 E Slaughter Ln in Austin (TX)',
 '4434 Frontier Blvd in Austin (TX)',
 '7809 E Ben White Blvd in Austin (TX)',
 '909 Navasota St in Austin (TX)',
 '810 E Slaughter Ln in Austin (TX)',
 '5604 Hudson St in Austin (TX)',
 '1618 Ashberry Dr in Austin (TX)',
 '3819 Southway Dr in Austin (TX)',
 nan,
 '3502 Needls Dr in Austin (TX)',
 nan,
 '3816 Leafield Drive in Austin (TX)',
 '13420 Breezy Meadow Lane in Manor (TX)',
 nan,
 nan,
 '6704 Manchaca Rd in Austin (TX)',
 '6907 Convict Hill Rd in Austin (TX)',
 nan,
 '18417 Plazaway in Jonestown (TX)',
 nan,
 '6607 Brodie Ln in Austin (TX)',
 '12529 Sky Harbor Drive in Del Valle (TX)',
 nan,
 '2809 Parker Ln in Austin (TX)',
 '1400 Cardinal Hill Dr in Austin (TX)',
 '3001 S Congress in Austin (TX)',
 '8023 Coulver in Austin (TX)',
 '11900 Athens St in Manor (TX)',
 '12901 N 35 in Austin (TX)',
 nan,
 nan,
 '4605 Button Bend Rd in Austin (TX)',
 nan,
 '12800  Thome Valley Dr in Del Valle (TX)',
 '8900 Shoalcreek Blvd in Austin (TX)',
 '21413 Webber Oaks Cv in Travis (TX)',
 '5761 Palo Blanco Dr in Austin (TX)',
 nan,
 '1156 W Cesar Chavez St in Austin (TX)',
 nan,
 '7905 San Felipe #124 in Austin (TX)',
 nan,
 '1300 Mckie in Austin (TX)',
 nan,
 nan,
 nan,
 '1509 38 Half in Austin (TX)',
 nan,
 '15008 Fm 812 in Del Valle (TX)',
 '13 Club Estates in Lakeway (TX)',
 '183 And Vargas in Austin (TX)',
 nan,
 nan,
 '9300 Northgate in Austin (TX)',
 '10000 Parliament House Rd in Austin (TX)',
 '7902 Dee Gabriel Collins in Austin (TX)',
 '1505 Summit St in Austin (TX)',
 nan,
 '6111 Fm2244 in Austin (TX)',
 nan,
 '7301 Singleton Bend in Austin (TX)',
 nan,
 '416 Baldridge in Austin (TX)',
 '8909 Briardale Dr in Austin (TX)',
 nan,
 '4500 Steiner in Austin (TX)',
 '15200 Fm 812 in Del Valle (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '710 E Ben White Blvd in Austin (TX)',
 '2502 Citation Dr in Travis (TX)',
 '5800 Colton Rd in Austin (TX)',
 '12511 Twin Creeks Rd, Manchaca, Tx 78652 in Austin (TX)',
 '4404 E Oltorf St in Austin (TX)',
 '4821 E Riverside Dr in Austin (TX)',
 '600 W Carrie Manor in Manor (TX)',
 nan,
 '10911 Maha Loop in Austin (TX)',
 '5220 Bahan Dr in Austin (TX)',
 '5309 Cypress Ranch Blvd in Travis (TX)',
 nan,
 nan,
 '13201 Wild Turkey Drive in Travis (TX)',
 nan,
 '7208 Salt Springs - B in Austin (TX)',
 nan,
 '6700 Montana in Austin (TX)',
 '10302 Quail Valley Blvd in Austin (TX)',
 nan,
 '4511 E. Hwy 71 in Travis (TX)',
 '7700 W Parmer in Austin (TX)',
 nan,
 nan,
 nan,
 '9417 Meyrick Park Trl in Travis (TX)',
 nan,
 nan,
 nan,
 '2609 Rosewood Dr in Austin (TX)',
 nan,
 '5238 Thunder Creek in Austin (TX)',
 '5201 Ross Rd in Austin (TX)',
 '2324 Wilson St in Austin (TX)',
 '6000 Middle Fiskville Rd in Austin (TX)',
 nan,
 '10805 Topperwein Dr in Austin (TX)',
 '13021 Dessau  Rd in Austin (TX)',
 nan,
 nan,
 '1656 Rutland Drive in Austin (TX)',
 '8010 Tonopa Ln in Austin (TX)',
 nan,
 '1509 Red Fox Rd in Travis (TX)',
 '4719 Castleman in Austin (TX)',
 nan,
 '2433 S Pleasant Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '701 Woodward St in Austin (TX)',
 '2501 E Stassney in Austin (TX)',
 nan,
 nan,
 '7201 Levander Loop in Austin (TX)',
 '1908 Albury Cv in Austin (TX)',
 '6713 Piedras Blanco Drive in Austin (TX)',
 nan,
 nan,
 nan,
 '4601 E St Elmo Rd in Austin (TX)',
 '1901 Crazyhorse Pass in Austin (TX)',
 '10400 Bitting School in Travis (TX)',
 '3462 Laguna Dr in Travis (TX)',
 '6000 Middle Fiskville in Austin (TX)',
 '5000 East Cesar Chavez in Austin (TX)',
 '4906 Sara Dr in Austin (TX)',
 '101 W Louis Henna Blvd in Austin (TX)',
 nan,
 nan,
 '10801 Hokanson Ct in Travis (TX)',
 nan,
 '8621 Damita Jo Dr in Travis (TX)',
 '8536 Birmingham in Austin (TX)',
 '5717 Palo Blanco in Austin (TX)',
 '2406 Riddle Rd in Austin (TX)',
 nan,
 '1113 Gunter St in Austin (TX)',
 '9502 S Chisholm Trl in Austin (TX)',
 nan,
 '12341 County Line Rd in Manor (TX)',
 '11904 N Interstate 35 Frontage Rd in Austin (TX)',
 '7418 Cameron Rd in Austin (TX)',
 '2809 W Hwy 290 in Austin (TX)',
 '3220 Bridle Path in Austin (TX)',
 '14811 Chicadee in Pflugerville (TX)',
 nan,

In [46]:
df['Found_Location']=new_location
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00

In [47]:
df['Found_Location'].value_counts()

7201 Levander Loop in Austin (TX)             406
4434 Frontier Trl in Austin (TX)              137
124 W Anderson Ln in Austin (TX)              131
12034 Research in Austin (TX)                  85
12034 Research Blvd in Austin (TX)             85
                                             ...
11303 Randy Rd in Austin (TX)                   1
3504 Taylor Falls Dr in Travis (TX)             1
400 Alpine Road in Austin (TX)                  1
13730 N Fm 620 Building #12 in Austin (TX)      1
183 And Airport Blvd in Austin (TX)             1
Name: Found_Location, Length: 18559, dtype: int64

In [48]:
df.isnull().sum()

Animal ID                 0
Name_intake               0
DateTime_intake           0
Found_Location        22200
Intake_Type               0
IntakeCondition           0
Animal_Type_intake        0
Sex_Intake                0
Breed_intake              0
Color_intake              0
DateTime_outcome          0
Outcome_Type              0
Sex_upon_Outcome          0
fixed_changed             0
Age_Bucket                0
DateTime_length           0
dtype: int64

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      33606 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex_Intake          55806 non-null  object
 8   Breed_intake        55806 non-null  object
 9   Color_intake        55806 non-null  object
 10  DateTime_outcome    55806 non-null  datetime64[ns]
 11  Outcome_Type        55806 non-null  object
 12  Sex_upon_Outcome    55806 non-null  object
 13  fixed_changed       55806 non-null  int64
 14  Age_Bucket          55806 non-null  object
 15  DateTime_length     55806 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(12), timedelta64[ns](1)
memory usage: 7.2+ MB

## Age Bucket column

In [50]:
df.Age_Bucket.value_counts()

1-3 years           22095
1-6 months          14259
1-6 weeks            6352
4-6 years            5507
7+ years             3800
7-12 months          2618
Less than 1 week     1175
Name: Age_Bucket, dtype: int64

## Intake_Type column

In [51]:
df.Intake_Type.value_counts()

Stray                 40557
Owner Surrender        9080
Public Assist          3188
Wildlife               2750
Euthanasia Request      231
Name: Intake_Type, dtype: int64

## Breed_Intake column

In [52]:
count_breed=df.Breed_intake.value_counts()
count_breed

Domestic Shorthair Mix                17520
Pit Bull Mix                           3791
Chihuahua Shorthair Mix                3448
Labrador Retriever Mix                 2951
Domestic Medium Hair Mix               1725
                                      ...
Beagle/Australian Kelpie                  1
Cairn Terrier/Affenpinscher               1
Pit Bull/Bull Terrier                     1
German Shepherd/Plott Hound               1
American Pit Bull Terrier/Pit Bull        1
Name: Breed_intake, Length: 1929, dtype: int64

In [53]:
for i in count_breed.index.tolist():
    print(i)

Domestic Shorthair Mix
Pit Bull Mix
Chihuahua Shorthair Mix
Labrador Retriever Mix
Domestic Medium Hair Mix
German Shepherd Mix
Bat Mix
Domestic Longhair Mix
Siamese Mix
Australian Cattle Dog Mix
Bat
Dachshund Mix
Miniature Poodle Mix
Border Collie Mix
Boxer Mix
Raccoon Mix
Australian Shepherd Mix
Rat Terrier Mix
Jack Russell Terrier Mix
Domestic Shorthair
Yorkshire Terrier Mix
Catahoula Mix
Miniature Schnauzer Mix
Chihuahua Longhair Mix
Beagle Mix
Siberian Husky Mix
Cairn Terrier Mix
Great Pyrenees Mix
Rottweiler Mix
Rabbit Sh Mix
Shih Tzu Mix
Pointer Mix
American Bulldog Mix
Chihuahua Shorthair/Dachshund
Raccoon
Staffordshire Mix
Australian Kelpie Mix
Plott Hound Mix
Black Mouth Cur Mix
Chihuahua Shorthair
Pit Bull
Labrador Retriever/Pit Bull
Labrador Retriever
American Staffordshire Terrier Mix
Anatol Shepherd Mix
Opossum Mix
Dachshund/Chihuahua Shorthair
German Shepherd
Golden Retriever Mix
Snowshoe Mix
Queensland Heeler Mix
Miniature Pinscher Mix
Maltese Mix
Chow Chow Mix
Domestic Medium Hair
German Shepherd/Labrador Retriever
American Pit Bull Terrier Mix
Labrador Retriever/German Shepherd
Pug Mix
Chicken Mix
Lhasa Apso Mix
Opossum
Cardigan Welsh Corgi Mix
Pomeranian Mix
Shih Tzu
Dachshund
Doberman Pinsch Mix
Toy Poodle Mix
Cocker Spaniel Mix
Maine Coon Mix
Basset Hound Mix
Border Terrier Mix
Blue Lacy Mix
Manx Mix
Boston Terrier Mix
Skunk Mix
Rottweiler
Guinea Pig Mix
Manchester Terrier Mix
Boxer
Pit Bull/Labrador Retriever
Dachshund Longhair Mix
Flat Coat Retriever Mix
Miniature Schnauzer/Miniature Poodle
Mastiff Mix
Carolina Dog Mix
Siberian Husky
Dachshund Wirehair Mix
Collie Smooth Mix
Pekingese Mix
Australian Cattle Dog
Labrador Retriever/Border Collie
Great Dane Mix
Squirrel Mix
Chinese Sharpei Mix
Border Collie/Labrador Retriever
Rhod Ridgeback Mix
Australian Cattle Dog/Labrador Retriever
Chihuahua Shorthair/Rat Terrier
Bull Terrier Mix
English Bulldog Mix
Russian Blue Mix
Siamese
Chihuahua Shorthair/Jack Russell Terrier
Black/Tan Hound Mix
Labrador Retriever/Australian Cattle Dog
Norfolk Terrier Mix
Beagle
Fox Mix
Miniature Poodle
Yorkshire Terrier
Redbone Hound Mix
Pembroke Welsh Corgi Mix
Rat Terrier/Chihuahua Shorthair
Labrador Retriever/Boxer
Maltese/Miniature Poodle
Miniature Schnauzer
Pug
Soft Coated Wheaten Terrier Mix
Cocker Spaniel
Domestic Longhair
Jack Russell Terrier
Guinea Pig
Pit Bull/Boxer
Chihuahua Shorthair/Pug
Border Collie
Bruss Griffon Mix
Bichon Frise Mix
Wire Hair Fox Terrier Mix
Squirrel
Weimaraner Mix
Shetland Sheepdog Mix
Labrador Retriever/Chow Chow
Skunk
Whippet Mix
Belgian Malinois Mix
Labrador Retriever/Great Pyrenees
Maltese
Labrador Retriever/Pointer
Parson Russell Terrier Mix
Harrier Mix
Norwich Terrier Mix
Rabbit Sh
West Highland Mix
German Shorthair Pointer Mix
Great Pyrenees
Boxer/Labrador Retriever
Dalmatian Mix
Shiba Inu Mix
Labrador Retriever/Australian Shepherd
Boxer/Pit Bull
Basset Hound
Pug/Chihuahua Shorthair
Boston Terrier
Jack Russell Terrier/Chihuahua Shorthair
Akita Mix
Himalayan Mix
Labrador Retriever/Beagle
Chihuahua Shorthair/Cardigan Welsh Corgi
Rat Terrier
Miniature Poodle/Miniature Schnauzer
Basenji Mix
Alaskan Husky Mix
Doberman Pinsch
Hamster Mix
Havanese Mix
Standard Schnauzer Mix
Australian Shepherd
Great Pyrenees/Labrador Retriever
Yorkshire Terrier/Miniature Poodle
Pug/Beagle
Papillon Mix
Golden Retriever
Cairn Terrier/Chihuahua Shorthair
Californian Mix
Pharaoh Hound Mix
Miniature Pinscher
Smooth Fox Terrier Mix
Pomeranian
Labrador Retriever/Rottweiler
Pointer/Labrador Retriever
Labrador Retriever/Golden Retriever
Rat Mix
Italian Greyhound Mix
Bulldog Mix
Labrador Retriever/Plott Hound
English Bulldog
German Shepherd/Siberian Husky
Ragdoll Mix
German Shepherd/Chow Chow
Labrador Retriever/Anatol Shepherd
Dogo Argentino Mix
American Staffordshire Terrier
Dachshund/Beagle
Cairn Terrier
Beagle/Chihuahua Shorthair
Great Dane
Australian Shepherd/Labrador Retriever
Yorkshire Terrier/Chihuahua Shorthair
Miniature Pinscher/Chihuahua Shorthair
Pit Bull/Australian Cattle Dog
Siberian Husky/German Shepherd
Plott Hound/Labrador Retriever
Catahoula
Tibetan Spaniel Mix
Cardigan Welsh Corgi/Chihuahua Shorthair
Anatol Shepherd/Labrador Retriever
Catahoula/Labrador Retriever
American Eskimo Mix
Chihuahua Shorthair/Beagle
Chihuahua Shorthair/Yorkshire Terrier
Standard Poodle Mix
Australian Cattle Dog/Pit Bull
Collie Rough Mix
Chihuahua Shorthair/Miniature Pinscher
Vizsla Mix
Australian Cattle Dog/German Shepherd
Ferret Mix
Anatol Shepherd
Pit Bull/Catahoula
Chihuahua Shorthair/Cairn Terrier
Border Collie/Great Pyrenees
German Shepherd/Australian Cattle Dog
Beagle/Dachshund
Dutch Shepherd Mix
Turtle Mix
Labrador Retriever/Catahoula
Lhasa Apso
Beagle/Labrador Retriever
Border Collie/German Shepherd
Rottweiler/Labrador Retriever
Labrador Retriever/Chinese Sharpei
American Shorthair Mix
Brittany Mix
Chihuahua Shorthair/Boston Terrier
Rex Mix
Bloodhound Mix
Chesa Bay Retr Mix
Toy Fox Terrier Mix
English Pointer Mix
French Bulldog Mix
Pit Bull/Chinese Sharpei
St. Bernard Smooth Coat Mix
Treeing Walker Coonhound Mix
Lhasa Apso/Miniature Poodle
Rat
Cavalier Span Mix
Labrador Retriever/Blue Lacy
Chicken
Bullmastiff Mix
Persian Mix
Siamese/Domestic Shorthair
Scottish Terrier Mix
Dachshund/Rat Terrier
Boston Terrier/Chihuahua Shorthair
Greyhound
Airedale Terrier Mix
Chihuahua Longhair
Bull Terrier
Yorkshire Terrier/Miniature Schnauzer
Miniature Poodle/Maltese
Bernese Mountain Dog Mix
German Shepherd/Rottweiler
Beauceron Mix
Rottweiler/German Shepherd
Irish Terrier Mix
Cocker Spaniel/Miniature Poodle
Pbgv Mix
Finnish Spitz Mix
Dachshund Wirehair/Chihuahua Shorthair
Feist Mix
Angora Mix
Parakeet Mix
Silky Terrier Mix
Great Dane/Labrador Retriever
Alaskan Malamute Mix
Ferret
Chinese Sharpei
Australian Cattle Dog/Border Collie
Catahoula/Pit Bull
Schnauzer Giant Mix
Jack Russell Terrier/Dachshund
Dachshund Longhair
German Shepherd/Boxer
Dove Mix
English Coonhound Mix
Chinese Sharpei/Labrador Retriever
Duck
Labrador Retriever/Basset Hound
Pekingese
Tibetan Terrier Mix
Chow Chow/Labrador Retriever
Fox
Leonberger Mix
Chihuahua Shorthair/Pomeranian
Bluetick Hound Mix
Beagle/German Shepherd
St. Bernard Rough Coat Mix
Border Terrier/Chihuahua Shorthair
Dachshund/Manchester Terrier
Australian Kelpie
Toy Poodle
Australian Cattle Dog/Boxer
Staffordshire
Chow Chow
Pigeon Mix
Catahoula/Plott Hound
Jack Russell Terrier/Australian Cattle Dog
Hamster
Pit Bull/Pointer
Labrador Retriever/Great Dane
Rhod Ridgeback/Labrador Retriever
Siberian Husky/Labrador Retriever
Swedish Vallhund Mix
Greyhound Mix
Chihuahua Shorthair/Italian Greyhound
Labrador Retriever/Dachshund
Miniature Poodle/Cocker Spaniel
Australian Terrier Mix
Dachshund Wirehair/Miniature Poodle
Chinese Crested Mix
Glen Of Imaal Mix
Australian Shepherd/Border Collie
American Foxhound Mix
American Bulldog/Pit Bull
Miniature Schnauzer/Yorkshire Terrier
Welsh Terrier Mix
Golden Retriever/Chow Chow
Jack Russell Terrier/Beagle
Lizard Mix
Duck Mix
Golden Retriever/Labrador Retriever
Lionhead Mix
Pomeranian/Chihuahua Longhair
Cocker Spaniel/Labrador Retriever
Balinese Mix
German Shepherd/Alaskan Husky
Anatol Shepherd/Great Pyrenees
Schipperke Mix
English Spot Mix
Patterdale Terr Mix
German Shepherd/Mastiff
Bengal Mix
Dachshund Wirehair/Border Terrier
American Bulldog
Miniature Poodle/Dachshund
Picardy Sheepdog Mix
Tonkinese Mix
Beagle/Pug
Australian Cattle Dog/Pointer
Bantam Mix
Weimaraner
Bichon Frise
American Pit Bull Terrier
Labrador Retriever/Standard Poodle
Chow Chow/German Shepherd
West Highland
Plott Hound
Australian Cattle Dog/Beagle
Chihuahua Longhair/Pomeranian
Labrador Retriever/Australian Kelpie
Cockatiel Mix
Lop-English Mix
Yorkshire Terrier/Cairn Terrier
Dachshund/Labrador Retriever
Pit Bull/German Shepherd
Basset Hound/Labrador Retriever
Catahoula/Australian Cattle Dog
Manchester Terrier/Chihuahua Shorthair
Black Mouth Cur
Shih Tzu/Miniature Poodle
Border Collie/Australian Cattle Dog
Samoyed Mix
Pit Bull/Chihuahua Shorthair
German Shepherd/Border Collie
Cardigan Welsh Corgi/Australian Cattle Dog
Bombay Mix
English Shepherd Mix
Labrador Retriever/Jack Russell Terrier
Yorkshire Terrier/Rat Terrier
Mastiff/Chinese Sharpei
Canaan Dog Mix
Cairn Terrier/Yorkshire Terrier
Chihuahua Shorthair/Pit Bull
Pbgv
Australian Shepherd/Anatol Shepherd
English Springer Spaniel Mix
Treeing Cur Mix
Snake Mix
Japanese Bobtail Mix
Boxer/Australian Cattle Dog
Labrador Retriever/Siberian Husky
Boxer/Catahoula
Snowshoe
Labrador Retriever/Doberman Pinsch
Field Spaniel Mix
Yorkshire Terrier/Chihuahua Longhair
Newfoundland Mix
Chihuahua Shorthair/Border Terrier
Australian Cattle Dog/Australian Shepherd
Siberian Husky/Australian Cattle Dog
Cavalier Span
German Shepherd/Australian Shepherd
Pointer/Pit Bull
Dachshund/Pit Bull
Chihuahua Shorthair/Dachshund Wirehair
Rhod Ridgeback
Keeshond Mix
Californian
Bloodhound
Maltese/Toy Poodle
Snake
Rat Terrier/Beagle
Labrador Retriever/Rhod Ridgeback
Pit Bull/Weimaraner
German Shepherd/Golden Retriever
Mexican Hairless Mix
British Shorthair Mix
Parson Russell Terrier
Standard Poodle/Labrador Retriever
German Shepherd/Pit Bull
Havana Mix
Jack Russell Terrier/Rat Terrier
Persian
Catahoula/Pointer
Shetland Sheepdog
New Zealand Wht Mix
Podengo Pequeno Mix
Affenpinscher Mix
Flat Coat Retriever/Papillon
Chihuahua Shorthair/Manchester Terrier
Tarantula
Maine Coon
American Eskimo
Bearded Collie Mix
Shiba Inu
Queensland Heeler
Boxer/Beagle
Labrador Retriever/Black/Tan Hound
Coyote Mix
Yorkshire Terrier/Maltese
Siberian Husky/Border Collie
Akita
German Shepherd/Alaskan Malamute
Boerboel Mix
Labrador Retriever/Vizsla
Great Pyrenees/Anatol Shepherd
French Bulldog
Blue Lacy/American Bulldog
Basset Hound/Beagle
Basset Hound/Australian Cattle Dog
Chow Chow/Pit Bull
English Foxhound Mix
German Shepherd/Doberman Pinsch
Old English Bulldog Mix
Pointer/Boxer
Pit Bull/Plott Hound
Bernese Mountain Dog
Boxer/Staffordshire
Harrier
German Shepherd/Collie Rough
Jack Russell Terrier/Labrador Retriever
Presa Canario Mix
Dachshund/Jack Russell Terrier
Boykin Span Mix
Shih Tzu/Miniature Schnauzer
Redbone Hound/Labrador Retriever
Chihuahua Shorthair/Whippet
Miniature Poodle/Bichon Frise
Landseer Mix
Maltese/Yorkshire Terrier
Miniature Poodle/Lhasa Apso
Vizsla
Australian Cattle Dog/Catahoula
Chihuahua Longhair/Cairn Terrier
Rabbit Lh Mix
Pointer/Border Collie
Dogue De Bordeaux Mix
Carolina Dog/Chihuahua Shorthair
German Shepherd/Catahoula
Turkey Mix
Saluki
Beagle/Boxer
Rat Terrier/Boston Terrier
Great Pyrenees/Border Collie
German Shepherd/Cardigan Welsh Corgi
Chihuahua Shorthair/Miniature Schnauzer
Mastiff
Irish Setter/Pit Bull
Pig Mix
Labrador Retriever/Miniature Poodle
Standard Poodle
Beagle/Basset Hound
Australian Shepherd/Australian Cattle Dog
Cold Water
Cairn Terrier/Miniature Schnauzer
Australian Shepherd/Chihuahua Shorthair
Australian Cattle Dog/Jack Russell Terrier
German Shepherd/Chinese Sharpei
Jack Russell Terrier/Miniature Poodle
Labrador Retriever/Greyhound
Wirehaired Pointing Griffon Mix
Border Collie/Chow Chow
Dachshund Longhair/Chihuahua Shorthair
Blue Lacy
Pit Bull/Basset Hound
Collie Smooth
Manchester Terrier/Dachshund
Dalmatian
Collie Smooth/Labrador Retriever
Pembroke Welsh Corgi
English Springer Spaniel
German Wirehaired Pointer Mix
Dachshund/Australian Cattle Dog
Pointer/American Pit Bull Terrier
Basset Hound/Chinese Sharpei
Wire Hair Fox Terrier/Beagle
Cardigan Welsh Corgi
Anatol Shepherd/German Shepherd
Queensland Heeler/Pit Bull
Cane Corso Mix
German Shepherd/Great Pyrenees
Catahoula/German Shepherd
Dachshund/Shih Tzu
Manx/Domestic Shorthair
Yorkshire Terrier/Border Terrier
Pointer
Manchester Terrier/Beagle
Mastiff/Rottweiler
Anatol Shepherd/Redbone Hound
Irish Wolfhound Mix
Labrador Retriever/Staffordshire
Grackle Mix
Coyote
Tortoise Mix
Parakeet
Beagle/Australian Cattle Dog
Labrador Retriever/Flat Coat Retriever
Himalayan
Catahoula/Cardigan Welsh Corgi
Cardigan Welsh Corgi/Pointer
Standard Schnauzer
Dachshund Wirehair
Grackle
Chihuahua Longhair/Maltese
Shih Tzu/Dachshund
Chow Chow/Golden Retriever
Australian Shepherd/Chow Chow
Armadillo Mix
Cardigan Welsh Corgi/German Shepherd
Miniature Poodle/Yorkshire Terrier
Vizsla/Labrador Retriever
Black/Tan Hound
Black Mouth Cur/German Shepherd
Labrador Retriever/Queensland Heeler
Pointer/Australian Cattle Dog
Black Mouth Cur/Catahoula
Catahoula/Chinese Sharpei
Belgian Malinois
Rottweiler/Australian Cattle Dog
Devon Rex Mix
English Cocker Spaniel Mix
Cymric Mix
Bedlington Terr Mix
Otterhound Mix
Pixiebob Shorthair Mix
Alaskan Husky
Lhasa Apso/Shih Tzu
Alaskan Malamute
Basset Hound/Pit Bull
Miniature Pinscher/Pug
Soft Coated Wheaten Terrier
German Shorthair Pointer
Miniature Poodle/Chihuahua Shorthair
Jack Russell Terrier/Shih Tzu
Bull Terrier Miniature Mix
Bullmastiff
Papillon
Border Terrier/Yorkshire Terrier
Norfolk Terrier/Chihuahua Shorthair
Lionhead
Chow Chow/Australian Cattle Dog
Gerbil Mix
Pembroke Welsh Corgi/Chihuahua Shorthair
Beagle/Rat Terrier
German Pinscher Mix
Rottweiler/Chow Chow
Border Collie/Boxer
Jack Russell Terrier/Pit Bull
Australian Shepherd/Cardigan Welsh Corgi
Pit Bull/Boston Terrier
Greater Swiss Mountain Dog Mix
Weimaraner/Labrador Retriever
Anatol Shepherd/Border Collie
Pointer/Catahoula
Dalmatian/Labrador Retriever
Australian Cattle Dog/Cardigan Welsh Corgi
Cane Corso
Pit Bull/Mastiff
Boxer/Chinese Sharpei
Chihuahua Longhair/Dachshund
Ragdoll
Chihuahua Shorthair/Basset Hound
Basenji/Chihuahua Shorthair
Belgian Sheepdog Mix
Great Pyrenees/Pointer
Australian Cattle Dog/Dachshund
Whippet/Dachshund
Black/Tan Hound/Labrador Retriever
Turkish Angora Mix
Chihuahua Shorthair/German Shepherd
Japanese Chin Mix
Pit Bull/Black Mouth Cur
Labrador Retriever/Redbone Hound
Shih Tzu/Maltese
Jack Russell Terrier/Cairn Terrier
Newfoundland/Labrador Retriever
Collie Rough/German Shepherd
Boxer/English Bulldog
Cocker Spaniel/Dachshund
Catahoula/Great Dane
Chihuahua Longhair/Jack Russell Terrier
American Staffordshire Terrier/American Bulldog
Pit Bull/Rottweiler
American Bulldog/Boxer
Flat Coat Retriever/Pit Bull
Whippet/Labrador Retriever
Blue Lacy/Australian Kelpie
Abyssinian Mix
Parrot Mix
Quaker Mix
Border Collie/Parson Russell Terrier
German Shepherd/Black/Tan Hound
Labrador Retriever/Whippet
Australian Cattle Dog/Chow Chow
Border Collie/Australian Shepherd
Coton De Tulear Mix
Dachshund/Chihuahua Longhair
Blue Lacy/Pit Bull
Boxer/American Staffordshire Terrier
Great Pyrenees/Australian Cattle Dog
Labrador Retriever/Dalmatian
Golden Retriever/Border Collie
Cottontail Mix
Border Collie/Pointer
Pit Bull/Dachshund
Dachshund Wirehair/Miniature Schnauzer
Cairn Terrier/Dachshund
Border Terrier
Labrador Retriever/Standard Schnauzer
Armadillo
Weimaraner/Pit Bull
Australian Kelpie/Pit Bull
Lop-Holland Mix
Manchester Terrier/Jack Russell Terrier
Doberman Pinsch/Labrador Retriever
Lop-Mini
Labrador Retriever/Collie Smooth
Rat Terrier/Miniature Poodle
Cardigan Welsh Corgi/Cocker Spaniel
Nova Scotia Duck Tolling Retriever Mix
Miniature Schnauzer/Chihuahua Shorthair
Oriental Sh Mix
Golden Retriever/Standard Poodle
Pigeon
Australian Cattle Dog/Plott Hound
Rhode Island Mix
Chihuahua Longhair/Pekingese
Boxer/Black Mouth Cur
Chihuahua Shorthair/Wire Hair Fox Terrier
Dachshund/Pug
Plott Hound/Boxer
Shih Tzu/Havanese
Chihuahua Shorthair/Pembroke Welsh Corgi
Golden Retriever/German Shepherd
Miniature Poodle/Cairn Terrier
Boxer/Great Dane
Chinese Sharpei/Pit Bull
Queensland Heeler/Chihuahua Shorthair
Pit Bull/Dalmatian
Australian Kelpie/Blue Lacy
Russian Blue
Australian Cattle Dog/Basenji
Pit Bull/Bulldog
American Bulldog/Mastiff
Shih Tzu/Cocker Spaniel
Pomeranian/Chihuahua Shorthair
Catahoula/Boxer
Border Collie/Catahoula
Finnish Spitz
Australian Kelpie/Labrador Retriever
Chihuahua Shorthair/Australian Cattle Dog
Border Collie/Pit Bull
Skye Terrier Mix
Labrador Retriever/Chesa Bay Retr
Bluebird Mix
Cockatoo
Basenji/Australian Cattle Dog
Chihuahua Longhair/Cardigan Welsh Corgi
Labrador Retriever/Black Mouth Cur
Rat Terrier/Cardigan Welsh Corgi
Nova Scotia Duck Tolling Retriever
Dove
Beagle/Jack Russell Terrier
Cairn Terrier/Miniature Poodle
Dachshund/Bloodhound
Miniature Poodle/Labrador Retriever
Australian Cattle Dog/Chinese Sharpei
Exotic Shorthair Mix
Catahoula/Beagle
Great Pyrenees/Catahoula
Cardigan Welsh Corgi/Beagle
Australian Shepherd/Cocker Spaniel
Australian Cattle Dog/Pembroke Welsh Corgi
Australian Cattle Dog/Staffordshire
Catahoula/English Coonhound
Dachshund Wirehair/Toy Poodle
Dutch Shepherd
Sparrow Mix
Great Pyrenees/Golden Retriever
Jindo Mix
Chihuahua Shorthair/Smooth Fox Terrier
Boston Terrier/Dachshund
Schipperke/Chihuahua Shorthair
Shih Tzu/Toy Poodle
Labrador Retriever/Mastiff
Wire Hair Fox Terrier/Chihuahua Shorthair
Norwegian Forest Cat Mix
Australian Cattle Dog/Bull Terrier
Chow Chow/Basset Hound
Siberian Husky/Pit Bull
Cairn Terrier/Chihuahua Longhair
Siberian Husky/Alaskan Malamute
Australian Kelpie/Miniature Pinscher
Australian Cattle Dog/German Shorthair Pointer
Dogo Argentino
Pointer/Jack Russell Terrier
Australian Cattle Dog/Great Pyrenees
Harrier/Labrador Retriever
Wire Hair Fox Terrier
Rat Terrier/Australian Cattle Dog
Beauceron
Miniature Schnauzer/Shih Tzu
Turkish Van Mix
Chihuahua Longhair/Dachshund Longhair
Silky Terrier
Dachshund/Miniature Poodle
Domestic Shorthair/Siamese
Domestic Longhair/Rex
Dachshund/Yorkshire Terrier
Alaskan Malamute/German Shepherd
Doberman Pinsch/Pit Bull
St. Bernard Rough Coat
Shetland Sheepdog/Border Collie
Bearded Collie
American Pit Bull Terrier/Catahoula
Parrot
Chihuahua Shorthair/Chinese Sharpei
Dachshund/Whippet
Queensland Heeler/Dachshund
Golden Retriever/Beagle
Collie Rough/Labrador Retriever
Greyhound/Labrador Retriever
Miniature Schnauzer/Cairn Terrier
Alaskan Husky/Australian Shepherd
Staffordshire/Labrador Retriever
Labrador Retriever/Pug
Norfolk Terrier/Yorkshire Terrier
Australian Cattle Dog/Siberian Husky
Pug/Border Terrier
Black Mouth Cur/Pit Bull
Black Mouth Cur/Blue Lacy
Akita/German Shepherd
Dachshund/Parson Russell Terrier
Burmese
Hotot Mix
Italian Greyhound/Chihuahua Shorthair
Port Water Dog Mix
Black Mouth Cur/Dachshund
Domestic Medium Hair/Siamese
Labrador Retriever/Labrador Retriever
Manx/Domestic Longhair
Dachshund/Basset Hound
Gordon Setter Mix
Chinchilla Mix
Carolina Dog/Labrador Retriever
German Shepherd/Great Dane
Dogo Argentino/Labrador Retriever
Turtle
Manchester Terrier/Australian Kelpie
Catahoula/Whippet
German Shepherd/Bull Terrier
Blue Lacy/Weimaraner
Rottweiler/Pit Bull
Labrador Retriever/German Shorthair Pointer
Doberman Pinsch/German Shepherd
Bengal
Chihuahua Shorthair/Cocker Spaniel
Pit Bull/Flat Coat Retriever
Labrador Retriever/Cocker Spaniel
Pointer/Harrier
Bulldog/Pit Bull
Dachshund Longhair/Cocker Spaniel
Plott Hound/Australian Cattle Dog
Dachshund/Catahoula
Labrador Retriever/Collie Rough
Border Collie/Alaskan Husky
Pug/Pekingese
German Shepherd/Akita
Pit Bull/Rat Terrier
Pharaoh Hound
Finch
Tibetan Terrier/Lhasa Apso
Anatol Shepherd/Catahoula
Newfoundland/Great Pyrenees
Jack Russell Terrier/Yorkshire Terrier
British Shorthair
Jack Russell Terrier/Border Collie
Jack Russell Terrier/Maltese
Beagle/Plott Hound
Havanese/Miniature Poodle
Dachshund/Cardigan Welsh Corgi
Lop-Mini Mix
Catahoula/Staffordshire
Dachshund Wirehair/Rat Terrier
Border Collie/Queensland Heeler
Staffordshire/English Bulldog
Catahoula/Anatol Shepherd
Norfolk Terrier
Bull Terrier/Pit Bull
Cairn Terrier/Border Collie
Jack Russell Terrier/Welsh Terrier
Queensland Heeler/Pointer
Flat Coat Retriever/Labrador Retriever
Belgian Tervuren Mix
Conure
Australian Cattle Dog/Queensland Heeler
Munchkin Shorthair Mix
Presa Canario
Labrador Retriever/Boston Terrier
Plott Hound/Rhod Ridgeback
Dachshund/English Foxhound
Rhod Ridgeback/German Shepherd
Pit Bull/Pug
Lhasa Apso/Cairn Terrier
Labrador Retriever/Bloodhound
Carolina Dog
Yorkshire Terrier/Toy Poodle
Black Mouth Cur/Labrador Retriever
Toy Poodle/Maltese
Toy Poodle/Miniature Schnauzer
Javanese Mix
Great Dane/Pit Bull
Pekingese/Chihuahua Shorthair
Akita/Australian Cattle Dog

African Mix
Swiss Hound/Pit Bull
Dachshund Longhair/Toy Poodle
American Sable
Dachshund/Boxer
Boerboel
Harrier/Pointer
American Bulldog/Great Pyrenees
Miniature Poodle/Pomeranian
Cockatiel
Labrador Retriever/Spanish Water Dog
Toy Poodle/Yorkshire Terrier
Beagle/Australian Shepherd
Border Terrier/Dachshund Wirehair
Tibetan Spaniel/Beagle
English Springer Spaniel/Labrador Retriever
Nuthatch Mix
Boykin Span/Cocker Spaniel
Dandie Dinmont
Chihuahua Shorthair/Norfolk Terrier
Pit Bull/American Bulldog
Border Terrier/Rat Terrier
Golden Retriever/Pit Bull
Chihuahua Shorthair/Rhod Ridgeback
Rabbit Sh/Lop-Mini
Siberian Husky/Chinese Sharpei
Dachshund/Havanese
American Pit Bull Terrier/Pointer
Australian Kelpie/Rat Terrier
Standard Schnauzer/Miniature Poodle
English Bulldog/Beagle
Australian Shepherd/English Setter
American Pit Bull Terrier/Boxer
Staffordshire/Beagle
Greyhound/Saluki
Yorkshire Terrier/Havanese
Wire Hair Fox Terrier/Miniature Schnauzer
Miniature Poodle/Australian Cattle Dog
Collie Smooth/Jack Russell Terrier
Redbone Hound/Anatol Shepherd
Beagle/Pembroke Welsh Corgi
Budgerigar
Jack Russell Terrier/Chihuahua Longhair
Flat Coat Retriever/Australian Cattle Dog
Miniature Poodle/Border Terrier
American Foxhound/Labrador Retriever
Black Mouth Cur/Mastiff
Border Terrier/Standard Schnauzer
Siberian Husky/Rottweiler
Border Terrier/Miniature Poodle
Beagle/Treeing Walker Coonhound
Norwich Terrier/Cairn Terrier
Otter Mix
Bluetick Hound/Great Pyrenees
Black Mouth Cur/Rhod Ridgeback
Skye Terrier/Miniature Poodle
Blue Lacy/Cardigan Welsh Corgi
Great Dane/Boerboel
Manchester Terrier/Toy Fox Terrier
Kuvasz/Labrador Retriever
Norfolk Terrier/Cairn Terrier
Sugar Glider
Rhod Ridgeback/Plott Hound
Cavalier Span/Chihuahua Longhair
Border Collie/Great Dane
Staffordshire/French Bulldog
Australian Cattle Dog/American Staffordshire Terrier
Spanish Mastiff Mix
Patterdale Terr/Chihuahua Shorthair
Chihuahua Longhair/Rat Terrier
American Bulldog/English Bulldog
Australian Shepherd/Collie Rough
French Bulldog/English Bulldog
Whippet/Shetland Sheepdog
Lhasa Apso/Border Terrier
Blue Lacy/Australian Cattle Dog
Chihuahua Longhair/Cavalier Span
Flat Coat Retriever/Chow Chow
Wren Mix
Pug/Schipperke
Newfoundland/Australian Cattle Dog
Australian Shepherd/Pit Bull
Australian Shepherd/Rhod Ridgeback
French Bulldog/Dachshund
Border Collie/Pomeranian
Cockatoo Mix
Chinese Crested/Papillon
Labrador Retriever/Treeing Walker Coonhound
Cardigan Welsh Corgi/Chihuahua Longhair
Rhod Ridgeback/Australian Cattle Dog
Great Pyrenees/German Shepherd
Bernese Mountain Dog/Rottweiler
Boxer/Dogue De Bordeaux
American Bulldog/Chinese Sharpei
Maltese/Lhasa Apso
Yorkshire Terrier/Yorkshire Terrier
Airedale Terrier/Miniature Schnauzer
Beagle/Whippet
Siberian Husky/Catahoula
Guinea Mix
Catahoula/Treeing Walker Coonhound
Norfolk Terrier/Standard Poodle
Belgian Malinois/German Shepherd
Soft Coated Wheaten Terrier/Border Terrier
Black Mouth Cur/Staffordshire
English Bulldog/American Bulldog
Mouse Mix
Neapolitan Mastiff/Pit Bull
Ringtail Mix
English Springer Spaniel/Cardigan Welsh Corgi
Newfoundland/Queensland Heeler
Pembroke Welsh Corgi/Anatol Shepherd
Lhasa Apso/Havanese
Dachshund Wirehair/Standard Poodle
Chinese Sharpei/Australian Cattle Dog
Quaker
Cavalier Span/Toy Poodle
Bruss Griffon/Yorkshire Terrier
Jindo/Shiba Inu
Border Terrier/West Highland
Miniature Pinscher/Pomeranian
Bruss Griffon/Cairn Terrier
Boykin Span/Dachshund
West Highland/Chihuahua Shorthair
Domestic Longhair/Russian Blue
Rottweiler/Boxer
Yorkshire Terrier/Australian Terrier
Golden Retriever/Finnish Spitz
Greater Swiss Mountain Dog
Boykin Span
Miniature Schnauzer/Australian Cattle Dog
Australian Cattle Dog/Collie Smooth
Rottweiler/Beagle
Pit Bull/Carolina Dog
Brittany/Border Collie
Jack Russell Terrier/Pug
St. Bernard Rough Coat/Labrador Retriever
Jack Russell Terrier/Boston Terrier
Dutch
Basset Hound/English Pointer
Dachshund Longhair/Cairn Terrier
Brittany/Chihuahua Shorthair
Pointer/Staffordshire
Keeshond
Pointer/Basset Hound
Queensland Heeler/Australian Cattle Dog
German Shepherd/Australian Kelpie
Collie Rough/Pointer
Lowchen Mix
English Setter Mix
French Bulldog/Miniature Schnauzer
Shetland Sheepdog/Keeshond
Whippet/Miniature Pinscher
Chihuahua Shorthair/Border Collie
Miniature Schnauzer/Lhasa Apso
Great Dane/Boxer
Owl
Labrador Retriever/Irish Setter
Pointer/Ibizan Hound
Dachshund Longhair/Pembroke Welsh Corgi
Golden Retriever/Bearded Collie
Queensland Heeler/Great Pyrenees
Shih Tzu/Chihuahua Shorthair
Border Collie/Dalmatian
Staffordshire/Australian Cattle Dog
Jack Russell Terrier/Brittany
Cavalier Span/Border Collie
Papillon/Pomeranian
Cavalier Span/Pug
Border Collie/Whippet
Collie Smooth/Saluki
Pit Bull/Border Collie
Pug/Cocker Spaniel
Redbone Hound
Dachshund/Blue Lacy
Snowshoe/Ragdoll
Beagle/Manchester Terrier
Canaan Dog/Pit Bull
Australian Cattle Dog/Golden Retriever
German Shepherd/Greyhound
Border Collie/American Staffordshire Terrier
Chihuahua Shorthair/Cavalier Span
English Shepherd
Miniature Schnauzer/Whippet
Cardigan Welsh Corgi/Cairn Terrier
Norfolk Terrier/Dachshund Wirehair
Italian Greyhound/Beagle
Great Pyrenees/Alaskan Husky
Harrier/German Shepherd
Border Collie/Doberman Pinsch
Welsh Terrier/Wire Hair Fox Terrier
Rat Terrier/Cairn Terrier
Great Dane/Staffordshire
Golden Retriever/Cocker Spaniel
Collie Smooth/Golden Retriever
Pit Bull/Jindo
Dachshund/Greyhound
Vizsla/Pointer
Pekingese/Lhasa Apso
English Spot
American Staffordshire Terrier/Rhod Ridgeback
Basset Hound/Dachshund
Australian Cattle Dog/Chihuahua Shorthair
Pointer/Australian Kelpie
English Bulldog/Dachshund
Cardigan Welsh Corgi/Pit Bull
Rottweiler/Rhod Ridgeback
English Coonhound/Italian Greyhound
Lovebird Mix
Cardigan Welsh Corgi/Labrador Retriever
Great Pyrenees/Plott Hound
Bulldog/Boston Terrier
Beagle/Black Mouth Cur
Brittany/Collie Rough
Mastiff/Akita
Labrador Retriever/Alaskan Malamute
Border Collie/Rottweiler
Australian Cattle Dog/Cairn Terrier
Redbone Hound/Redbone Hound
Boxer/Chow Chow
Beagle/Queensland Heeler
Whippet/Jack Russell Terrier
Dachshund/Dachshund
Basenji/Chow Chow
English Springer Spaniel/Beagle
Miniature Schnauzer/Soft Coated Wheaten Terrier
Collie Smooth/Beagle
Rex-Mini
Miniature Pinscher/Maltese
Cairn Terrier/West Highland
Australian Shepherd/Dachshund
Border Terrier/Border Collie
Chihuahua Longhair/Italian Greyhound
Black/Tan Hound/German Shepherd
Greyhound/Pointer
Pharaoh Hound/Border Collie
Miniature Poodle/Golden Retriever
Australian Kelpie/Border Collie
Mastiff/German Shepherd
Australian Shepherd/Siberian Husky
Harrier/Pit Bull
Boxer/Doberman Pinsch
Chihuahua Shorthair/Shetland Sheepdog
Shih Tzu/Australian Shepherd
Dutch Shepherd/Boxer
Lizard
Basset Hound/English Cocker Spaniel
Carolina Dog/Border Collie
Lowchen/Miniature Poodle
Lakeland Terrier Mix
Dachshund Longhair/Maltese
Papillon/Yorkshire Terrier
Australian Shepherd/Nova Scotia Duck Tolling Retriever
Plott Hound/Whippet
Siamese/Angora
German Shorthair Pointer/Australian Cattle Dog
Rat Terrier/Jack Russell Terrier
Wire Hair Fox Terrier/Golden Retriever
Feist/Chihuahua Shorthair
Jack Russell Terrier/Miniature Schnauzer
Bobcat Mix
Yorkshire Terrier/Bruss Griffon
Great Pyrenees/Queensland Heeler
Pointer/Blue Lacy
Pekingese/Cavalier Span
American Foxhound/Pointer
Siberian Husky/Cardigan Welsh Corgi
American Bulldog/American Staffordshire Terrier
Shiba Inu/Australian Kelpie
Chihuahua Shorthair/Labrador Retriever
Redbone Hound/Boxer
Miniature Pinscher/Australian Cattle Dog
Miniature Schnauzer/Scottish Terrier
Smooth Fox Terrier/Basenji
Afghan Hound Mix
Golden Retriever/Australian Cattle Dog
Australian Cattle Dog/Treeing Walker Coonhound
Dachshund Wirehair/Yorkshire Terrier
Great Pyrenees/St. Bernard Rough Coat
Akita/Mastiff
Norwich Terrier/Pug
Mastiff/Dutch Shepherd
Sealyham Terr Mix
Rat Terrier/Pointer
Irish Wolfhound/Great Pyrenees
Jack Russell Terrier/Papillon
Collie Rough/Pembroke Welsh Corgi
Golden Retriever/Akita
Great Dane/Australian Cattle Dog
Rottweiler/Basset Hound
Miniature Poodle/Italian Greyhound
Rat Terrier/Queensland Heeler
Airedale Terrier/Labrador Retriever
Chinchilla-Stnd Mix
Scottish Terrier/Miniature Poodle
Plott Hound/Dutch Shepherd
Old English Sheepdog Mix
Chihuahua Shorthair/Affenpinscher
Blue Lacy/Beagle
Pharaoh Hound/Australian Cattle Dog
Netherlnd Dwarf
Miniature Schnauzer/Border Terrier
German Shepherd/Redbone Hound
American Staffordshire Terrier/Boxer
Great Dane/Australian Shepherd
Pomeranian/Schipperke
Border Terrier/Cardigan Welsh Corgi
Chinese Sharpei/Basset Hound
Dachshund/American Staffordshire Terrier
Vulture Mix
Miniature Schnauzer/Queensland Heeler
Scottish Terrier/Cairn Terrier
Border Terrier/Chihuahua Longhair
Boxer/Bullmastiff
Black/Tan Hound/Great Dane
Shih Tzu/Cardigan Welsh Corgi
Yorkshire Terrier/Soft Coated Wheaten Terrier
Toy Poodle/Cocker Spaniel
Jack Russell Terrier/Unknown
Cocker Spaniel/Chihuahua Longhair
Black Mouth Cur/Basset Hound
Dalmatian/Basset Hound
Collie Rough/Keeshond
Jindo
American Bulldog/Blue Lacy
Beagle/Staffordshire
Boxer/Greyhound
Chow Chow/Australian Kelpie
Queensland Heeler/Shetland Sheepdog
Jack Russell Terrier/Pointer
Whippet/Rat Terrier
Norwich Terrier
Dachshund Longhair/Pomeranian
Beagle/Boston Terrier
Manchester Terrier/Norfolk Terrier
Chinese Sharpei/Boxer
Dachshund/Australian Kelpie
Soft Coated Wheaten Terrier/Yorkshire Terrier
Border Terrier/Affenpinscher
German Shepherd/Beagle
Alaskan Husky/Border Collie
Pointer/Queensland Heeler
Miniature Poodle/English Cocker Spaniel
Silver Mix
Collie Rough/Australian Cattle Dog
Alaskan Malamute/Australian Kelpie
Standard Schnauzer/Standard Poodle
Whippet/Whippet
Labrador Retriever/Brittany
Bull Terrier/Australian Kelpie
Great Pyrenees/Boxer
Staffordshire/Basset Hound
Angora-French Mix
Mastiff/Bloodhound
Lhasa Apso/Toy Poodle
Miniature Poodle/Shih Tzu
Boston Terrier/Australian Kelpie
Border Collie/English Springer Spaniel
Italian Greyhound/Cavalier Span
German Shepherd/Whippet
Beagle/Chihuahua Longhair
Nova Scotia Duck Tolling Retriever/Golden Retriever
Greyhound/Great Dane
Dogo Argentino/Chinese Sharpei
Australian Cattle Dog/Parson Russell Terrier
American Bulldog/Basset Hound
Rhod Ridgeback/Harrier
Feist/Beagle
Chihuahua Longhair/Queensland Heeler
Pug/Boston Terrier
Airedale Terrier/Irish Terrier
Chihuahua Longhair/Cocker Spaniel
Pekingese/Pug
Irish Wolfhound/Australian Shepherd
American Eskimo/Alaskan Husky
Australian Cattle Dog/Collie Rough
Pit Bull/Dogue De Bordeaux
Boxer/Cardigan Welsh Corgi
Australian Cattle Dog/Australian Kelpie
Australian Cattle Dog/American Foxhound
Rat Terrier/Pit Bull
German Pinscher/Whippet
Doberman Pinsch/Black/Tan Hound
Chinese Sharpei/Beagle
Bruss Griffon/Chihuahua Longhair
Australian Shepherd/Boxer
Maltese/Yorkshire
American Staffordshire Terrier/Pit Bull
Dachshund Longhair/Australian Shepherd
Australian Kelpie/Shiba Inu
Chinese Sharpei/Great Dane
Welsh Springer Spaniel Mix
Australian Shepherd/Greyhound
Rhod Ridgeback/Chow Chow
Bull Terrier/Jack Russell Terrier
American Pit Bull Terrier/American Pit Bull Terrier
Harrier/Catahoula
German Shepherd/German Shepherd
Belgian Sheepdog
Chinchilla-Amer Mix
Catahoula/Black Mouth Cur
Pointer/Rhod Ridgeback
Chihuahua Shorthair/Shih Tzu
American Foxhound
Papillon/Border Collie
Brittany/Labrador Retriever
Golden Retriever/Brittany
St. Bernard Rough Coat/Boxer
Munchkin Longhair Mix
Border Collie/Shetland Sheepdog
Labrador Retriever/Harrier
Cardigan Welsh Corgi/American Eskimo
Australian Cattle Dog/Vizsla
Tibetan Spaniel
Australian Shepherd/English Springer Spaniel
Australian Shepherd/Parson Russell Terrier
Australian Shepherd/German Shepherd
Pug/Pomeranian
Shetland Sheepdog/Brittany
Australian Kelpie/Bull Terrier
Landseer
Rat Terrier/Pug
Cavalier Span/Jack Russell Terrier
Basenji
Dachshund/Cavalier Span
Potbelly Pig Mix
Hovawart
Dachshund/Swedish Vallhund
Cocker Spaniel/Golden Retriever
Swedish Vallhund/Miniature Poodle
Shih Tzu/Border Terrier
Pembroke Welsh Corgi/Australian Cattle Dog
Newfoundland/Border Collie
Carolina Dog/Pit Bull
Cornish Rex Mix
English Bulldog/Australian Cattle Dog
Queensland Heeler/Border Collie
French Bulldog/Pug
St. Bernard Smooth Coat/Anatol Shepherd
Snowshoe/Domestic Shorthair
Maltese/Dachshund
Cardigan Welsh Corgi/Cardigan Welsh Corgi
Labrador Retriever/St. Bernard Rough Coat
Chow Chow/English Cocker Spaniel
Dachshund Wirehair/Norfolk Terrier
Boxer/American Pit Bull Terrier
Beagle/Chinese Sharpei
Queensland Heeler/German Shepherd
Catahoula/Mastiff
Shetland Sheepdog/Cavalier Span
American Wirehair Mix
Silkie Mix
Snake/Snake
Great Pyrenees/Collie Rough
Bichon Frise/Miniature Poodle
Australian Kelpie/Alaskan Husky
Queensland Heeler/Basset Hound
Norfolk Terrier/Dachshund
Rottweiler/Siberian Husky
Yorkshire Terrier/Shih Tzu
Cardigan Welsh Corgi/English Setter
Peafowl
Bluetick Hound/Australian Cattle Dog
Labrador Retriever/Chihuahua Shorthair
Beagle/Harrier
Standard Schnauzer/Soft Coated Wheaten Terrier
Jack Russell Terrier/Whippet
Finnish Spitz/Dachshund
American Pit Bull Terrier/Chinese Sharpei
Bichon Frise/Toy Poodle
German Shepherd/Nova Scotia Duck Tolling Retriever
English Bulldog/Cairn Terrier
Plott Hound/Mastiff
Anatol Shepherd/Australian Shepherd
American Curl Shorthair Mix
Australian Cattle Dog/Rat Terrier
Australian Cattle Dog/Belgian Malinois
American Staffordshire Terrier/Jack Russell Terrier
St. Bernard Rough Coat/German Shepherd
Chinese Sharpei/Rat Terrier
Beagle/Parson Russell Terrier
Shih Tzu/Pug
Domestic Shorthair/Manx
Pembroke Welsh Corgi/Australian Shepherd
English Pointer/Labrador Retriever
Bluetick Hound/Australian Kelpie
Border Terrier/Dachshund
Pekingese/Pomeranian
Boston Terrier/Beagle
St. Bernard Smooth Coat
Doberman Pinsch/Border Collie
Chinese Sharpei/American Staffordshire Terrier
Border Terrier/Shih Tzu
Collie Smooth/Boxer
Miniature Schnauzer/Standard Poodle
Pointer/Anatol Shepherd
Silky Terrier/Maltese
Cocker Spaniel/Beagle
Catahoula/Border Collie
Boxer/Boston Terrier
Labrador Retriever/English Pointer
Australian Cattle Dog/Pug
Boston Terrier/Pembroke Welsh Corgi
Australian Cattle Dog/Dalmatian
Saluki Mix
Boston Terrier/Pointer
Leonberger
Staffordshire/Bulldog
Jack Russell Terrier/Cardigan Welsh Corgi
Black Mouth Cur/Siberian Husky
Irish Wolfhound/Great Dane
Miniature Schnauzer/Pug
Maltese/Border Terrier
Vizsla/Beagle
Leonberger/German Shepherd
Cardigan Welsh Corgi/Australian Kelpie
Blue Lacy/Pointer
Greyhound/Dalmatian
Shih Tzu/Norfolk Terrier
Eng Toy Spaniel Mix
Labrador Retriever/American Foxhound
Great Dane/Anatol Shepherd
Yorkshire Terrier/Dachshund Wirehair
Australian Shepherd/Australian Kelpie
Australian Shepherd/Standard Poodle
Hawk Mix
Grand Basset Griffon Vendeen Mix
Dachshund/Pembroke Welsh Corgi
Rhod Ridgeback/Pointer
Shih Tzu/Chihuahua Longhair
Australian Kelpie/Australian Cattle Dog
Miniature Schnauzer/West Highland
Beagle/Australian Kelpie
Cairn Terrier/Affenpinscher
Pit Bull/Bull Terrier
German Shepherd/Plott Hound
American Pit Bull Terrier/Pit Bull

In [55]:
# Find Mix breeds
new_breed=[]
for i in df['Breed_intake']:
    if 'Mix' in i:
        i='Mix'
    elif "/" in i:
        i="Mix"
    elif 'Chihuahua' in i:
        i = 'Chihuahua'
    elif 'Retriever' in i or i=='Chesa Bay Retr':
        i = 'Retriever Breeds'
    elif 'Bull' in i or 'Staffordshire' in i or i=='Chinese Sharpei' or i=='Dogo Argentino' or i=='Boxer':
        i = 'Bully Breeds'
    elif 'Terrier' in i:
        i= 'Terrier Breeds'
    elif i=='Bat' or i=='Raccoon' or i=='Opossum' or i=='Duck' or i=='Fox' or i=='Grackle' or i=='Hawk' or i=='Coyote' or i=='Pigeon' or i=='Dove' or i=='Armadillo' or i=='Owl' or i=='Skunk' or i=='Squirrel' or i=='Mockingbird' or i=='Heron' or i=='Sparrow':
        i = 'Wildlife'
    elif i=='German Shepherd' or i=='Belgian Malinois':
        i = 'German Shepherd'
    elif 'Pointer' in i or 'Span' in i or i=='Vizsla' or i=='Brittany' or i=='Shiba Inu' or i=='Dalmatian' or i=='Standard Poodle' or i=='Carolina Dog' or i=='Weimaraner':
        i = 'Sporting Breeds'
    elif 'hound' in i or 'Hound' in i or i=='Beagle' or i=='Saluki' or 'Coon' in i or i=='Catahoula' or i=='Black Mouth Cur' or i=='Harrier' or i=='Blue Lacy' or i=='Treeing Tennesse Brindle' or i=='Whippet':
        i = 'Hound Breeds'
    elif 'Husky' in i or 'Malamute' in i or 'Eskimo' in i or i=='Finnish Spitz' or i=='Samoyed' or i=='Keeshond' or i=='Jindo':
        i = 'Husky Breeds'
    elif i=='Shih Tzu' or i=='Miniature Poodle' or i=='Miniature Schnauzer' or i=='Maltese' or i=='Pomeranian' or i=='Lhasa Apso' or i=='Toy Poodle' or i=='Pekingese' or i=='Bichon Frise' or i=='Cavalier Span' or i=='West Highland' or i=='Papillon' or i=='Havanese' or i=='Japanese Chin' or i=='Dandie Dinmont' or i=='Bruss Griffon' or i=='Coton De Tulear' or 'Dachshund' in i or i=='French Bulldog' or i=='Pug' or i=='Miniature Pinscher' or i=='Pbgv':
        i = 'Toy Breeds'
    elif 'Australian' in i or 'Collie' in i or 'Heeler' in i or 'Sheepdog' in i or i=='English Shepherd' or i=='Dutch Shepherd' or 'Corgi' in i or i=='Beauceron' or i=='Hovawart':
        i = 'Herding Breeds'
    elif i=='Chinese Sharpei' or i=='Chow Chow' or i=='Standard Schnauzer' or i=='Basenji' or i=='Rottweiler' or i=='Doberman Pinsch':
        i = 'Working Breeds'
    elif i=='Great Pyrenees' or i=='Great Dane' or i=='Anatol Shepherd' or i=='Cane Corso' or i=='Rhod Ridgeback' or i=='Akita' or i=='Mastiff' or i=='Presa Canario' or 'Bernese' in i or i=='Burmese' or 'Bernard' in i or i=='Leonberger' or i=='Greater Swiss Mountain Dog' or i=='Boerboel'or i=='Landseer':
        i = 'X Large Breeds'
    elif i=='Domestic Shorthair':
        i = 'Domestic Shorthair'
    elif i=='Domestic Medium Hair':
        i = 'Domestic Medium Hair'
    elif i=='Persian' or i=='Siamese' or i=='Domestic Longhair' or i=='Persian' or i=='Himalayan' or i=='Russian Blue' or i=='Bengal' or i=='Devon Rex' or i=='Sphynx' or i=='British Shorthair' or i=='Manx':
        i = 'Other Cat'
    else:
        i='Other'
    new_breed.append(i)
new_breed

['Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Shorthair',
 'Wildlife',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'German Shepherd',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Chihuahua',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Sporting Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Working Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Domestic Shorthair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Shorthair',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Sporting Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 ...]

In [56]:
df["new_breed"]=new_breed

In [57]:
breed_counts=df['new_breed'].value_counts()
breed_counts

Mix                     51933
Wildlife                 1060
Toy Breeds                446
Bully Breeds              318
Domestic Shorthair        300
Other                     186
Terrier Breeds            173
Retriever Breeds          172
Herding Breeds            167
Chihuahua                 166
Hound Breeds              153
German Shepherd           138
Domestic Medium Hair      109
Working Breeds            107
Other Cat                 104
X Large Breeds             99
Sporting Breeds            96
Husky Breeds               79
Name: new_breed, dtype: int64

In [58]:
replace_breed=breed_counts.loc[breed_counts<100].index.tolist()
for i in replace_breed:
    df.new_breed = df.new_breed.replace(i,"Other")

df.new_breed.value_counts()

Mix                     51933
Wildlife                 1060
Other                     460
Toy Breeds                446
Bully Breeds              318
Domestic Shorthair        300
Terrier Breeds            173
Retriever Breeds          172
Herding Breeds            167
Chihuahua                 166
Hound Breeds              153
German Shepherd           138
Domestic Medium Hair      109
Working Breeds            107
Other Cat                 104
Name: new_breed, dtype: int64

In [59]:
# drop and rename
df=df.drop(columns=['Breed_intake'])
df=df.rename(columns={"new_breed": "Breed_Type"})
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,Breed_Type
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00,Mix
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00,Mix
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00,Mix
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00,Hound Breeds
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00,Mix

## Color_intake column

In [60]:
color_counts=df['Color_intake'].value_counts()
color_counts

Black/White           5698
Black                 4720
Brown Tabby           3360
Brown                 2583
White                 1964
                      ...
Lynx Point/Tan           1
Gray/Tricolor            1
Tortie/Black Smoke       1
Black Tabby/Black        1
Black Smoke/Black        1
Name: Color_intake, Length: 478, dtype: int64

In [61]:
for i in color_counts.index:
    print(i)

Black/White
Black
Brown Tabby
Brown
White
Brown Tabby/White
Orange Tabby
Brown/White
Tan/White
Tricolor
White/Black
Blue/White
Tan
Black/Tan
Tortie
White/Brown
Black/Brown
Calico
Blue
Brown/Black
Blue Tabby
Brown Brindle/White
Orange Tabby/White
White/Tan
Red
Torbie
Red/White
Brown Brindle
Blue Tabby/White
Tan/Black
Chocolate/White
Cream Tabby
Yellow
Gray
Sable
Lynx Point
Cream
Buff
Seal Point
Chocolate
Gray/Black
White/Blue
Gray/White
White/Brown Tabby
White/Brown Brindle
Black/Gray
Fawn/White
Sable/White
Cream Tabby/White
White/Gray
Black Tabby
Brown/Tan
Flame Point
Blue Merle
Red/Black
Torbie/White
Fawn
Chocolate/Tan
White/Red
Black Brindle/White
Cream/White
Gold
Yellow/White
White/Tricolor
White/Orange Tabby
Black Smoke
Gray Tabby
Black/Brown Brindle
Blue Merle/White
Buff/White
Black/Tricolor
White/Cream
Lilac Point
White/Chocolate
White/Orange
Tan/Brown
Red/Tan
Brown Merle
Orange/White
Blue/Tan
White/Buff
Black Tabby/White
Tortie Point
Black Brindle
Tortie/White
Orange
Brown Merle/White
Blue Point
Black/Red
Calico/White
Red Merle
Apricot
Blue Tick
Blue Merle/Tan
Red Tick
Calico Point
Silver Tabby
Chocolate Point
Seal Point/White
Fawn/Black
Gray Tabby/White
Black/Black
Tricolor/White
Gold/White
Sable/Tan
Silver/Tan
Red Merle/White
Lynx Point/White
Brown/Gray
Red/Brown
Brown Tabby/Black
Pink
Yellow Brindle/White
Silver
White/Blue Tabby
Tan/Gray
Black/Cream
White/White
Tan/Cream
Blue Tick/Black
Black Smoke/White
Gray/Tan
Yellow Brindle
Blue Cream
Red Tick/White
Brown Brindle/Black
Cream/Black
Tan/Silver
Buff/Tan
Green
Brown/Tricolor
Tricolor/Black
Silver Tabby/White
Liver/White
Sable/Black
Brown/Red
Cream/Tan
Blue Tick/Tan
Gray/Brown
Tan/Tan
Brown/Brown
White/Liver
Blue Tiger/White
White/Black Brindle
Tan/Buff
White/Blue Merle
Black/Blue Merle
Black/Silver
Red/Cream
Buff/Black
White/Red Merle
Yellow/Black
White/Cream Tabby
Black/Orange
Tortie/Blue Cream
Silver Lynx Point
Calico/Black
Black/Blue Tick
Sable/Brown
Black/Chocolate
Gray/Red
Tricolor/Brown
Blue Merle/Black
Black/Buff
Agouti
Blue/Black
Blue Smoke
Brown/Cream
Black/Black Brindle
Silver/Black
White/Brown Merle
White/Black Tabby
Brown Tiger
Silver/Brown
Gray/Pink
Blue Merle/Brown
White/Red Tick
Chocolate/Brown
Chocolate Point/White
Tan/Red
Blue Tick/White
Red/Gray
Liver/Tan
Brown Brindle/Tan
White/Silver
Fawn/Blue
Black/Blue
Silver/White
Brown/Silver
Sable/Cream
White/Yellow Brindle
Black Brindle/Brown
Chocolate/Tricolor
White/Blue Tick
Apricot/White
Brown Tabby/Brown
Tan/Blue
Blue Tiger
Calico/Brown Tabby
Gray/Cream
Black/Yellow
Fawn/Tan
Cream/Brown
Gray/Orange
White/Apricot
Green/Yellow
White/Yellow
Blue Cream/White
Fawn/Brown
Green/Blue
Brown Tabby/Brown Tabby
White/Calico
Tortie/Orange
White/Lynx Point
Gray/Silver
Blue/Tricolor
Orange/Tan
Tan/Tricolor
Calico/Tricolor
Black/Yellow Brindle
Brown/Chocolate
Brown/Green
Blue/Brown
Tortie/Black
Blue Point/White
Buff/Gray
Liver Tick
Gray/Tortie
Brown/Buff
White/Pink
Tan/Yellow
Brown/Yellow
Blue Tick/Brown
Brown Tabby/Orange
Blue/Cream
White/Gray Tabby
Brown Merle/Tan
Yellow/Orange
Blue Merle/Tricolor
Cream/Red
Brown/Red Tick
Chocolate/Red
Tricolor/Blue
Gray/Yellow
Silver/Chocolate
Seal Point/Brown
Tortie Point/White
Blue Tick/Red Tick
White/Chocolate Point
Brown Brindle/Brown
Tricolor/Tan
Blue/Gray
Buff/Yellow
Brown Brindle/Red Tick
Blue/Brown Brindle
Gold/Gold
Red/Red Tick
Red Tick/Tan
Orange Tabby/Cream
Blue/Blue
White/Black Smoke
White/Gold
Red Tick/Red
Gold/Black
Tricolor/Blue Merle
White/Blue Cream
Calico/Blue Cream
Yellow/Cream
Lilac Point/White
Chocolate/Black
Gray/Blue
Brown Tabby/Tortie
Brown Tiger/White
Orange Tabby/Orange Tabby
Blue Tabby/Cream
Tortie/Blue
Brown Merle/Black
Tricolor/Brown Brindle
Gold/Cream
Black Tiger/White
Red/Buff
Gold/Tan
Black/Tortie
Orange Tabby/Orange
Sable/Red
Tan/Gold
Fawn/Gray
Red/Silver
White/Liver Tick
Liver
Silver/Gray
Red Merle/Black
Fawn/Tricolor
Agouti/White
Black/Brown Merle
Gold/Yellow
Blue/Yellow Brindle
Tricolor/Brown Merle
Cream/Seal Point
Flame Point/White
Brown/Brown Brindle
Green/Brown
Red/Yellow
Brown Tabby/Gray
Red/Tricolor
Red/Red Merle
Blue Merle/Blue Merle
Yellow/Orange Tabby
Calico/Brown
Blue Cream/Tortie
Blue Merle/Red Merle
Red Tick/Brown
Torbie/Blue Cream
Blue/Tortie
Black/Brown Tabby
Tortie/Calico
Tricolor/Silver
Tricolor/Chocolate
Black/Gray Tabby
Buff/Red
Brown/Brown Tabby
Brown/Blue Merle
Gray Tabby/Black
Black/Black Smoke
Black Brindle/Black
Blue Smoke/White
Sable/Buff
Blue Tick/Red
Orange/Black
Brown Brindle/Blue Tick
Black/Pink
Yellow/Gray
Apricot/Brown
Torbie/Brown Tabby
Calico Point/White
Chocolate/Brown Tabby
Chocolate/Cream
Brown/Orange
Cream/Orange
Cream/Gray
Blue/Calico
Yellow/Tan
Tan/Yellow Brindle
Orange/Blue
White/Brown Tiger
Cream/Yellow
Blue Tabby/Tan
Torbie/Blue Tabby
Black/Seal Point
White/Tortie
Black Brindle/Blue Tick
Orange Tabby/Brown
Torbie/Gray
Sable/Red Merle
Brown Tabby/Blue
Gold/Buff
Tricolor/Calico
Tricolor/Red Tick
Yellow/Brown
Red Merle/Tan
Agouti/Brown Tabby
Brown Merle/Brown
Tricolor/Gray
White/Gray Tiger
Calico/Calico
Lilac Point/Cream
Red/Red
Gold/Brown
Liver/Chocolate
Brown Tabby/Orange Tabby
Black Smoke/Brown
Torbie/Brown
Tan/Red Tick
Green/Orange
Brown/Black Tabby
Orange/Gray
Black Smoke/Gray
Buff/Cream
Silver/Red
Blue Tabby/Orange
Blue Cream/Buff
Yellow Brindle/Blue
Blue/Orange
Green/White
Blue Tabby/Blue Cream
Silver Tabby/Black
Brown Brindle/Brown Merle
Lynx Point/Gray Tabby
Tortie Point/Lynx Point
Brown/Brown Merle
Tan/Brown Brindle
Brown Tabby/Gray Tabby
Tortie/Blue Tabby
Calico/Orange Tabby
Orange Tabby/Black
Silver/Blue
Blue Tabby/Black
Tan/Brown Merle
White/Seal Point
Blue/Silver
Cream/Red Tick
Lynx Point/Tortie Point
Green/Gray
Brown Brindle/Blue Cream
Yellow/Yellow
Chocolate/Red Tick
Cream/Cream
Red Tick/Blue Tick
Orange Tabby/Apricot
Apricot/Tricolor
Chocolate/Gold
Chocolate/Brown Brindle
Lynx Point/Brown Tabby
Brown Merle/Blue Merle
Black Smoke/Brown Tabby
Orange Tiger
Seal Point/Gray
Tricolor/Orange
Brown Brindle/Brown Brindle
White/Calico Point
Liver Tick/White
Brown Brindle/Blue
Orange/Brown
Red/Gold
Sable/Gray
Silver/Cream
Green/Black
Calico/Blue Tabby
Blue Tick/Brown Brindle
Black/Black Tabby
Brown/Pink
Chocolate/Yellow
Black/Gold
Black Brindle/Brown Brindle
Blue Cream/Blue Tiger
Flame Point/Cream
Torbie/Calico
Black/Silver Tabby
Tortie/Brown
Blue/Yellow
Ruddy/Cream
Red Tick/Brown Merle
Black/Green
Liver/Buff
Brown/Blue
Chocolate/Brown Merle
Red/Blue
Blue Merle/Cream
Chocolate/Gray
Cream Tabby/Cream Tabby
Brown Tabby/Black Brindle
Blue Smoke/Brown
Chocolate/Liver Tick
Agouti/Gray
Chocolate Point/Cream
Black Smoke/Blue Tick
Tan/Apricot
Tricolor/Tricolor
Gray/Gold
White/Flame Point
Black Tabby/Orange
Brown/Black Brindle
Orange Tabby/Tortie Point
Tricolor/Blue Tick
Red/Green
Brown/Red Merle
Gray/Buff
Blue Cream/Blue Tabby
Blue Merle/Gray
Blue Merle/Brown Brindle
Cream/Silver
Fawn/Chocolate
Red Tick/Black
Lynx Point/Tan
Gray/Tricolor
Tortie/Black Smoke
Black Tabby/Black
Black Smoke/Black

In [62]:
colorNew=[]
for i in df.Color_intake:
    if "/" in i:
        i="Bicolor"
    elif "Tabby" in i:
        i='Tabby'
    elif "Brindle" in i:
        i="Tabby"
    elif "Merle" in i:
        i="Merle"
    elif "Tiger" in i:
        i="Tiger"
    elif "Tortie" in i:
        i="Tabby"
    elif "Calico" in i:
        i="Tabby"
    elif "Torbie" in i:
        i="Tabby"
    elif i=="Apricot" or i=="Gold" or i=="Yellow" or i=="Fawn":
        i="Orange"
    elif "Blue" in i:
        i="Blue"
    elif "Black" in i or i=="Sable":
        i="Black"
    elif i=="Liver":
        i="Brown"
    elif "Point" in i:
        i='Point'
    elif "Tick" in i:
        i="Point"
    else:
        i=i
    colorNew.append(i)
print(set(colorNew))
print(len(set(colorNew)))

{'Point', 'Bicolor', 'Tan', 'Chocolate', 'Merle', 'Orange', 'Gray', 'Brown', 'Tiger', 'White', 'Cream', 'Tricolor', 'Agouti', 'Silver', 'Pink', 'Black', 'Red', 'Blue', 'Green', 'Tabby', 'Buff'}

In [63]:
df['Color_intake']=colorNew

In [64]:
color_counts=df['Color_intake'].value_counts()
color_counts

Bicolor      28302
Tabby         9887
Black         5173
Brown         2585
White         1964
Tricolor      1476
Tan           1360
Blue          1092
Point          912
Red            752
Orange         690
Gray           379
Cream          307
Buff           301
Chocolate      281
Merle          245
Pink            29
Silver          28
Green           20
Tiger           14
Agouti           9
Name: Color_intake, dtype: int64

In [65]:
replace_color=color_counts.loc[color_counts<500].index.tolist()
for i in replace_color:
    df.Color_intake = df.Color_intake.replace(i,"Other")

df.Color_intake.value_counts()

Bicolor     28302
Tabby        9887
Black        5173
Brown        2585
White        1964
Other        1613
Tricolor     1476
Tan          1360
Blue         1092
Point         912
Red           752
Orange        690
Name: Color_intake, dtype: int64

In [66]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,Breed_Type
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00,Mix
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Bicolor,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00,Mix
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Bicolor,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00,Mix
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Bicolor,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00,Hound Breeds
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Bicolor,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00,Mix

## Divide to two dataframes (intake and outcome)

In [67]:
intake_df=df[['Animal ID','DateTime_intake','Found_Location','Intake_Type','IntakeCondition',
             'Animal_Type_intake',
              'Name_intake',
             'Sex_Intake',
             'Color_intake',
             'Breed_Type']]

columns_intake=['animal_id','datetime_intake','found_location','intake_type','intake_condition','animal_type_intake',
        'name_intake','sex_intake','color_intake','breed_type']

intake_df.columns =columns_intake
intake_df.head()

,animal_id,datetime_intake,found_location,intake_type,intake_condition,animal_type_intake,name_intake,sex_intake,color_intake,breed_type
0,A730601,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,No,Intact Male,Tabby,Mix
1,A683644,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Yes,Intact Female,Bicolor,Mix
2,A676515,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
3,A742953,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,No,Intact Male,Bicolor,Hound Breeds
4,A679549,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Yes,Intact Male,Bicolor,Mix

In [68]:
intake_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   animal_id           55806 non-null  object
 1   datetime_intake     55806 non-null  datetime64[ns]
 2   found_location      33606 non-null  object
 3   intake_type         55806 non-null  object
 4   intake_condition    55806 non-null  object
 5   animal_type_intake  55806 non-null  object
 6   name_intake         55806 non-null  object
 7   sex_intake          55806 non-null  object
 8   color_intake        55806 non-null  object
 9   breed_type          55806 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 4.7+ MB

In [69]:
outcome_df=df[['Animal ID','DateTime_outcome',
              'Outcome_Type',
              'Sex_upon_Outcome','fixed_changed','Age_Bucket','DateTime_length']]

columns_outcome=['animal_id','datetime_outcome','outcome_type',
                 'sex_upon_outcome','fixed_changed','age_bucket','datetime_length']

outcome_df.columns=columns_outcome

outcome_df.head()

,animal_id,datetime_outcome,outcome_type,sex_upon_outcome,fixed_changed,age_bucket,datetime_length
0,A730601,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00
1,A683644,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00
2,A676515,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00
3,A742953,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00
4,A679549,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00

In [70]:
outcome_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         55806 non-null  object
 1   datetime_outcome  55806 non-null  datetime64[ns]
 2   outcome_type      55806 non-null  object
 3   sex_upon_outcome  55806 non-null  object
 4   fixed_changed     55806 non-null  int64
 5   age_bucket        55806 non-null  object
 6   datetime_length   55806 non-null  timedelta64[ns]
dtypes: datetime64[ns](1), int64(1), object(4), timedelta64[ns](1)
memory usage: 3.4+ MB

## Connect to SQL

In [73]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/project_animal"

In [79]:
engine = create_engine(db_string)

In [80]:
# Save intake_df to database
intake_df.to_sql(name='animal_intake', con=engine,index=False, if_exists='replace')

In [81]:
# Save outcome_df to database
outcome_df.to_sql(name='animal_outcome', con=engine,index=False, if_exists='replace')

C:\Users\bweir\anaconda3\envs\mlenv\lib\site-packages\pandas\core\generic.py:2789: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  method=method,

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      33606 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex_Intake          55806 non-null  object
 8   Color_intake        55806 non-null  object
 9   DateTime_outcome    55806 non-null  datetime64[ns]
 10  Outcome_Type        55806 non-null  object
 11  Sex_upon_Outcome    55806 non-null  object
 12  fixed_changed       55806 non-null  int64
 13  Age_Bucket          55806 non-null  object
 14  DateTime_length     55806 non-null  timedelta64[ns]
 15  Breed_Type          55806 non-null  object
dtypes: datetime64[ns](2), int64(1), object(12), timedelta64[ns](1)
memory usage: 7.2+ MB

In [84]:
df.to_csv('results.csv')