In [63]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password
import psycopg2 as ps

In [64]:
df = pd.read_csv('all_records.csv')

In [65]:
df.head()

,Unnamed: 0,Animal ID,Name_intake,DateTime_intake,MonthYear_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,0,A730601,NaN,2016-07-07 12:11:00,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,1,A683644,*Zoey,2014-07-13 11:02:00,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,2,A676515,Rico,2014-04-11 08:45:00,04/11/2014 08:45:00 AM,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,3,A742953,NaN,2017-01-31 13:30:00,01/31/2017 01:30:00 PM,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,4,A679549,*Gilbert,2014-05-22 15:43:00,05/22/2014 03:43:00 PM,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks

In [66]:
# Check columns
df.columns

Index(['Unnamed: 0', 'Animal ID', 'Name_intake', 'DateTime_intake',
       'MonthYear_intake', 'Found_Location', 'Intake_Type', 'IntakeCondition',
       'Animal_Type_intake', 'Sex', 'Age', 'Breed_intake', 'Color_intake',
       'Name_outcome', 'DateTime_outcome', 'MonthYear_outcome', 'Outcome_Type',
       'Outcome_Subtype', 'Sex_upon_Outcome', 'Age_upon_Outcome',
       'gender_intake', 'gender_outcome', 'fixed_intake', 'fixed_outcome',
       'fixed_changed', 'Age_Bucket', 'retriever', 'shepherd', 'beagle',
       'terrier', 'boxer', 'poodle', 'rottweiler', 'dachshund', 'chihuahua',
       'pit bull', 'DateTime_length', 'Days_length'],
      dtype='object')

In [67]:
# Dataframe null values
df.isnull().sum()

Unnamed: 0                0
Animal ID                 0
Name_intake           19484
DateTime_intake           0
MonthYear_intake          0
Found_Location            0
Intake_Type               0
IntakeCondition           0
Animal_Type_intake        0
Sex                       1
Age                       0
Breed_intake              0
Color_intake              0
Name_outcome          19484
DateTime_outcome          0
MonthYear_outcome         0
Outcome_Type              7
Outcome_Subtype       45254
Sex_upon_Outcome          4
Age_upon_Outcome         21
gender_intake          5608
gender_outcome         5611
fixed_intake              1
fixed_outcome             4
fixed_changed             0
Age_Bucket                0
retriever                 0
shepherd                  0
beagle                    0
terrier                   0
boxer                     0
poodle                    0
rottweiler                0
dachshund                 0
chihuahua                 0
pit bull                  0
DateTime_length           0
Days_length            7400
dtype: int64

In [68]:
# Drop unnecessary columns
# Drop Name_intake since there is a Intake_type column
# Drop all single breed type column since we need to do our own encoding for breed_intake
df=df.drop(columns=['Unnamed: 0','Name_outcome','MonthYear_intake','MonthYear_outcome',
                    'gender_intake','gender_outcome','fixed_intake','fixed_outcome','Days_length','Outcome_Subtype',
                   'retriever','shepherd','beagle','terrier','boxer','poodle','rottweiler','dachshund','chihuahua',
                   'pit bull','Age','Age_upon_Outcome'])
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,NaN,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,*Zoey,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Rico,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,NaN,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,*Gilbert,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

## Name_intake_column

In [69]:
# Change Name_Intake to Yes or No
df.Name_intake = df.Name_intake.apply(lambda x: 'No' if pd.isnull(x) else 'Yes')
df.Name_intake.value_counts()

Yes    57493
No     19484
Name: Name_intake, dtype: int64

In [70]:
df.isnull().sum()

Animal ID             0
Name_intake           0
DateTime_intake       0
Found_Location        0
Intake_Type           0
IntakeCondition       0
Animal_Type_intake    0
Sex                   1
Breed_intake          0
Color_intake          0
DateTime_outcome      0
Outcome_Type          7
Sex_upon_Outcome      4
fixed_changed         0
Age_Bucket            0
DateTime_length       0
dtype: int64

In [71]:
df=df.dropna()

In [72]:
df.isnull().sum()

Animal ID             0
Name_intake           0
DateTime_intake       0
Found_Location        0
Intake_Type           0
IntakeCondition       0
Animal_Type_intake    0
Sex                   0
Breed_intake          0
Color_intake          0
DateTime_outcome      0
Outcome_Type          0
Sex_upon_Outcome      0
fixed_changed         0
Age_Bucket            0
DateTime_length       0
dtype: int64

In [73]:
# Check for duplicates rows
count=0
for i in df['Animal ID'].duplicated():
    if i is True:
        count+=1
count

19762

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76968 entries, 0 to 76976
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           76968 non-null  object
 1   Name_intake         76968 non-null  object
 2   DateTime_intake     76968 non-null  object
 3   Found_Location      76968 non-null  object
 4   Intake_Type         76968 non-null  object
 5   IntakeCondition     76968 non-null  object
 6   Animal_Type_intake  76968 non-null  object
 7   Sex                 76968 non-null  object
 8   Breed_intake        76968 non-null  object
 9   Color_intake        76968 non-null  object
 10  DateTime_outcome    76968 non-null  object
 11  Outcome_Type        76968 non-null  object
 12  Sex_upon_Outcome    76968 non-null  object
 13  fixed_changed       76968 non-null  int64
 14  Age_Bucket          76968 non-null  object
 15  DateTime_length     76968 non-null  object
dtypes: int64(1), object(15)
memory usage: 10.0+ MB

In [75]:
# Drop duplicates
df=df.drop_duplicates(subset='Animal ID')

In [76]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57206 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           57206 non-null  object
 1   Name_intake         57206 non-null  object
 2   DateTime_intake     57206 non-null  object
 3   Found_Location      57206 non-null  object
 4   Intake_Type         57206 non-null  object
 5   IntakeCondition     57206 non-null  object
 6   Animal_Type_intake  57206 non-null  object
 7   Sex                 57206 non-null  object
 8   Breed_intake        57206 non-null  object
 9   Color_intake        57206 non-null  object
 10  DateTime_outcome    57206 non-null  object
 11  Outcome_Type        57206 non-null  object
 12  Sex_upon_Outcome    57206 non-null  object
 13  fixed_changed       57206 non-null  int64
 14  Age_Bucket          57206 non-null  object
 15  DateTime_length     57206 non-null  object
dtypes: int64(1), object(15)
memory usage: 7.4+ MB

## Outcome_Type column

In [78]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

In [79]:
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18460
Return to Owner     9806
Euthanasia          5100
Died                 533
Disposal             254
Missing               37
Rto-Adopt             15
Relocate              13
Name: Outcome_Type, dtype: int64

In [80]:
# Combine Died & Disposal Outcomes
df.loc[df.Outcome_Type == 'Disposal', 'Outcome_Type'] = 'Died'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18460
Return to Owner     9806
Euthanasia          5100
Died                 787
Missing               37
Rto-Adopt             15
Relocate              13
Name: Outcome_Type, dtype: int64

In [81]:
# Combine Transfer & Relocate Outcomes
df.loc[df.Outcome_Type == 'Relocate', 'Outcome_Type'] = 'Transfer'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18473
Return to Owner     9806
Euthanasia          5100
Died                 787
Missing               37
Rto-Adopt             15
Name: Outcome_Type, dtype: int64

In [82]:
#### Combine Rto-Adopt & Return to Owner
df.loc[df.Outcome_Type == 'Rto-Adopt', 'Outcome_Type'] = 'Return to Owner'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18473
Return to Owner     9821
Euthanasia          5100
Died                 787
Missing               37
Name: Outcome_Type, dtype: int64

## DateTime_intake column

In [83]:
# Update DateTime_intake to datatime datatype
df.DateTime_intake = pd.to_datetime(df.DateTime_intake, format='%Y-%m-%d')
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

## DateTime_outcome column

In [84]:
# Update DateTime_outcome to datatime datatype
df.DateTime_outcome = pd.to_datetime(df.DateTime_outcome, format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57206 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           57206 non-null  object
 1   Name_intake         57206 non-null  object
 2   DateTime_intake     57206 non-null  datetime64[ns]
 3   Found_Location      57206 non-null  object
 4   Intake_Type         57206 non-null  object
 5   IntakeCondition     57206 non-null  object
 6   Animal_Type_intake  57206 non-null  object
 7   Sex                 57206 non-null  object
 8   Breed_intake        57206 non-null  object
 9   Color_intake        57206 non-null  object
 10  DateTime_outcome    57206 non-null  datetime64[ns]
 11  Outcome_Type        57206 non-null  object
 12  Sex_upon_Outcome    57206 non-null  object
 13  fixed_changed       57206 non-null  int64
 14  Age_Bucket          57206 non-null  object
 15  DateTime_length     57206 non-null  object
dtypes: datetime64[ns](2), int64(1), object(13)
memory usage: 7.4+ MB

## DateTime_length column

In [85]:
# Create a new column and calculate the length of stay
df['datetime_length'] = df.DateTime_outcome - df.DateTime_intake
df['datetime_length'] = df.datetime_length / np.timedelta64(1, 'D')

In [86]:
# Check values for datetime_length column
df['datetime_length'].value_counts()

0.009722     72
0.005556     64
0.013194     64
0.031250     64
0.007639     63
             ..
3.518750      1
56.763889     1
8.847222      1
25.955556     1
95.159028     1
Name: datetime_length, Length: 25060, dtype: int64

## delete all negative values

In [87]:
df.drop(df[df['datetime_length'] < 0].index, inplace=True)

In [88]:
# Drop original DateTime_length column
df.drop(['DateTime_length'], axis=1, inplace=True)

In [89]:
# Rename calculated length of stay column
df.rename(columns = {'datetime_length':'DateTime_length'}, inplace = True)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      55806 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex                 55806 non-null  object
 8   Breed_intake        55806 non-null  object
 9   Color_intake        55806 non-null  object
 10  DateTime_outcome    55806 non-null  datetime64[ns]
 11  Outcome_Type        55806 non-null  object
 12  Sex_upon_Outcome    55806 non-null  object
 13  fixed_changed       55806 non-null  int64
 14  Age_Bucket          55806 non-null  object
 15  DateTime_length     55806 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB

In [91]:
df.head(10)

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306
5,A683798,Yes,2016-07-21 12:16:00,3118 Windsor Rd in Austin (TX),Stray,Normal,Cat,Spayed Female,Domestic Medium Hair Mix,White/Black,2016-10-18 10:55:00,Adoption,Spayed Female,0,1-3 years,88.943750
9,A683656,No,2014-07-13 13:20:00,8238 Research Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,Snowshoe Mix,Lynx Point,2014-07-17 16:57:00,Adoption,Neutered Male,1,1-6 months,4.150694
10,A709749,Yes,2015-08-12 18:29:00,4800 Weletka Dr in Austin (TX),Stray,Normal,Cat,Intact Female,Domestic Shorthair Mix,Calico,2015-09-22 12:49:00,Transfer,Spayed Female,1,1-3 years,40.763889
11,A692161,Yes,2014-11-15 15:18:00,Avenue G/42Nd in Austin (TX),Owner Surrender,Normal,Dog,Intact Male,Pit Bull Mix,Brown/White,2014-11-21 18:55:00,Adoption,Neutered Male,1,1-6 months,6.150694
12,A733551,Yes,2016-08-23 14:35:00,183 And Cameron in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Brown Tabby/White,2016-09-01 00:00:00,Transfer,Intact Male,0,1-6 months,8.392361

## Intake condition column

In [92]:
df.IntakeCondition.value_counts()

Normal      48329
Injured      3022
Sick         2456
Nursing      1523
Aged          250
Other         112
Feral          72
Pregnant       42
Name: IntakeCondition, dtype: int64

In [93]:
# Combine Aged and Feral with Other for IntakeCondition
df.loc[(df.IntakeCondition == 'Aged') | (df.IntakeCondition == 'Feral'), 'IntakeCondition'] = 'Other'

In [94]:
# Combine Injured and Sick for Intake Condition
df.loc[(df.IntakeCondition == 'Injured') | (df.IntakeCondition == 'Sick'), 'IntakeCondition'] = 'Medical'

In [95]:
# Combine Pregnant and Nursing for  IntakeCondition
df.loc[(df.IntakeCondition == 'Nursing') | (df.IntakeCondition == 'Pregnant'), 'IntakeCondition' ] = 'Maternity'
df.IntakeCondition.value_counts()

Normal       48329
Medical       5478
Maternity     1565
Other          434
Name: IntakeCondition, dtype: int64

## Animal_Type_intake column

In [96]:
df.Animal_Type_intake.value_counts()

Dog          30040
Cat          22059
Other         3449
Bird           250
Livestock        8
Name: Animal_Type_intake, dtype: int64

In [97]:
# Combine Bird and Livestock with Other for Animal_Type_intake
df.loc[(df.Animal_Type_intake == 'Bird') | (df.Animal_Type_intake == 'Livestock'), 'Animal_Type_intake'] = 'Other'
df.Animal_Type_intake.value_counts()

Dog      30040
Cat      22059
Other     3707
Name: Animal_Type_intake, dtype: int64

## Sex column

In [98]:
df.Sex.value_counts()

Intact Male      18780
Intact Female    17711
Neutered Male     7301
Spayed Female     6476
Unknown           5538
Name: Sex, dtype: int64

In [99]:
df.rename(columns={'Sex': 'Sex_Intake'}, inplace=True)

## Sex_upon_Outcome

In [100]:
df.Sex_upon_Outcome.value_counts()

Neutered Male    18906
Spayed Female    17201
Intact Male       7175
Intact Female     6986
Unknown           5538
Name: Sex_upon_Outcome, dtype: int64

## Found_Location column

In [101]:
counts=df['Found_Location'].value_counts()
counts

Austin (TX)                                       8896
Travis (TX)                                        587
7201 Levander Loop in Austin (TX)                  406
Del Valle (TX)                                     275
Outside Jurisdiction                               271
                                                  ...
E 7Th St & N Pleasant Valley Rd in Austin (TX)       1
Imperial Drive in Austin (TX)                        1
Airport And Manor in Austin (TX)                     1
25715 Cliff Cir in Austin (TX)                       1
2301 Wagon Crossing in Austin (TX)                   1
Name: Found_Location, Length: 27060, dtype: int64

In [102]:
new_location=[]
for i in df['Found_Location']:
    if ' in' in i and i.split()[0].isdigit() == True:
            i=i
    else:
        i=np.nan
    new_location.append(i)

In [103]:
new_location

['1109 Shady Ln in Austin (TX)',
 nan,
 '615 E. Wonsley in Austin (TX)',
 nan,
 '124 W Anderson in Austin (TX)',
 '3118 Windsor Rd in Austin (TX)',
 '8238 Research Blvd in Austin (TX)',
 '4800 Weletka Dr in Austin (TX)',
 nan,
 '183 And Cameron in Austin (TX)',
 '6808 S Ih 35 Frontage Rd in Austin (TX)',
 '8413 Danville Dr in Austin (TX)',
 '11602 Gunsmoke Circle in Austin (TX)',
 '2940 Eckert St in Austin (TX)',
 nan,
 nan,
 nan,
 '1506 Thorneridge Road in Austin (TX)',
 nan,
 '1830 W Rundberg Ln in Austin (TX)',
 nan,
 nan,
 '9308 N Lamar in Austin (TX)',
 nan,
 nan,
 '1128 Spur in Austin (TX)',
 nan,
 '12505 Rampart St in Austin (TX)',
 '4502 Hudson Bend Rd in Travis (TX)',
 nan,
 '609 W Lynn St #1 in Austin (TX)',
 '704 Hyde Park Ct in Austin (TX)',
 '13096 N 183 in Austin (TX)',
 '701 W Longspur in Austin (TX)',
 nan,
 nan,
 '2203 Singletree Ave in Austin (TX)',
 nan,
 '11417 Trails End in Travis (TX)',
 nan,
 '7607 Glen Hill Cove in Austin (TX)',
 '2202 Galway St in Austin (TX)',
 nan,
 '12034 Research in Austin (TX)',
 nan,
 '120 Webberwood Way in Travis (TX)',
 nan,
 nan,
 '5446 Walnut Grove in Austin (TX)',
 nan,
 '7201 Levander Loop in Austin (TX)',
 '11351 Bradshaw Rd in Austin (TX)',
 '10300 Doyle Rd in Del Valle (TX)',
 nan,
 '9300 Northgate Blvd in Austin (TX)',
 '14904 Valerian in Travis (TX)',
 nan,
 nan,
 nan,
 '1603 Cricket Hollow Drive in Austin (TX)',
 '10714 San Jose in Travis (TX)',
 '900 Chicon St in Austin (TX)',
 nan,
 '7100 Northeast Dr in Austin (TX)',
 nan,
 nan,
 '10223 Thaxton in Austin (TX)',
 '7112 Hillcroft Dr in Austin (TX)',
 '1704 Citation Dr in Austin (TX)',
 nan,
 '5200 Ravensdale in Austin (TX)',
 '9101 Sweet Gum Dr in Austin (TX)',
 '9920 Qual Blvd in Austin (TX)',
 '1310 Delano St in Austin (TX)',
 '5702 Richmond Ave in Austin (TX)',
 '9611 Decker Lake Rd in Travis (TX)',
 '6806 Thistle Hill Way in Travis (TX)',
 nan,
 nan,
 '5338 Thunder Creek in Austin (TX)',
 nan,
 nan,
 '13424 Clara Martin in Travis (TX)',
 nan,
 '973 & 183 in Travis (TX)',
 '124 W Anderson Ln in Austin (TX)',
 '2510 Lehigh Dr in Austin (TX)',
 nan,
 '13676 Bee Cave Pkwy in Bee Cave (TX)',
 '3101 Yellowpine Ter in Austin (TX)',
 nan,
 nan,
 '7132 Texas 71 in Austin (TX)',
 nan,
 '1904 Poquito in Austin (TX)',
 nan,
 '12304 Willow Wild Dr in Austin (TX)',
 nan,
 nan,
 '1109 S Pleasant Valley in Austin (TX)',
 nan,
 '1301 Spyglass Drive in Austin (TX)',
 nan,
 nan,
 nan,
 '4601 Tuckerhill Lane in Travis (TX)',
 '7201 Levander Loop in Austin (TX)',
 '3300 Killingsworth in Travis (TX)',
 '7904 Fm 969 in Austin (TX)',
 nan,
 '911 Battle Bend Blvd in Austin (TX)',
 nan,
 '6700 Meadow Lake in Austin (TX)',
 nan,
 '11113 Research Blvd in Austin (TX)',
 nan,
 '4215 Caldwell Ln in Del Valle (TX)',
 '11400 Concordia University Dr. in Austin (TX)',
 nan,
 nan,
 '19211 Blake Manor Rd in Manor (TX)',
 '14100 Thermal Driver in Austin (TX)',
 nan,
 nan,
 nan,
 '12027 Bethel Church Rd. in Travis (TX)',
 '71 & Spirt Of Texas Hwy in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '8724 Birmingham in Austin (TX)',
 '1300 Fm 812 in Austin (TX)',
 '13021 Dessau Rd in Travis (TX)',
 nan,
 nan,
 nan,
 '13924 Marcella in Travis (TX)',
 nan,
 '1517 Geoffs Dr in Austin (TX)',
 nan,
 '9805 Bal Harbor in Travis (TX)',
 nan,
 '509 Montopolis Dr in Austin (TX)',
 '3400 S Congress Ave in Austin (TX)',
 '8900 Coulver Rd in Travis (TX)',
 '5400 Pecan Brook in Austin (TX)',
 '1420 E Wells Branch Pkwy in Austin (TX)',
 '11601 Domain Dr in Austin (TX)',
 nan,
 nan,
 '710 E Ben White Blvd in Austin (TX)',
 nan,
 '9913 Morgan Creek Dr in Austin (TX)',
 '12508 Esplanade St in Austin (TX)',
 nan,
 '1457 W Pecan St in Pflugerville (TX)',
 '107 E. Wheeler St in Manor (TX)',
 '1511 Faro Drive in Austin (TX)',
 '10928 Desert Willow Dr in Austin (TX)',
 '5365 Westminster Ave in Austin (TX)',
 nan,
 '124 W Anderson Ln in Austin (TX)',
 '11100 Metric in Austin (TX)',
 '6205 Marigold in Austin (TX)',
 '9505 Stonelake Blvd in Austin (TX)',
 nan,
 '9515 Hotel Dr in Austin (TX)',
 '6302 Salcon Cliff Dr in Austin (TX)',
 nan,
 '6600 Elm Creek Dr # 65 in Austin (TX)',
 nan,
 nan,
 nan,
 '4900 Gonzales St in Austin (TX)',
 '4902 Teri Rd in Austin (TX)',
 '8800 N Ih 35 in Austin (TX)',
 nan,
 nan,
 '9705 Manchaca Rd in Austin (TX)',
 '8824 Stanbourne in Austin (TX)',
 nan,
 nan,
 nan,
 '4434 Frontier Trl( Goodsam Didnt Leave Found Address in Austin (TX)',
 nan,
 nan,
 '213 W Wild Sena in Austin (TX)',
 '12151 Ih 35 in Austin (TX)',
 nan,
 '812 Springdale Rd in Austin (TX)',
 nan,
 '9802 Roxanna Drive in Austin (TX)',
 nan,
 '7513 N Interstate Hwy 35 in Austin (TX)',
 '10707 Lake Creek Parkway in Austin (TX)',
 nan,
 nan,
 nan,
 '4707 Munson in Austin (TX)',
 '5400 Springville Ln in Austin (TX)',
 '7404 Southgate Ln in Austin (TX)',
 '3005 Parker Lane in Austin (TX)',
 '7500 Blessing in Austin (TX)',
 '9601 Point Vista Pl in Austin (TX)',
 '5808 Mckinney Falls Parkway in Austin (TX)',
 nan,
 nan,
 nan,
 '8003 Decker Ln in Travis (TX)',
 '12302 Havelock Dr in Austin (TX)',
 '1406 Click Cv in Austin (TX)',
 '13521 Sea Biscuit in Del Valle (TX)',
 '1114 Henninger St in Austin (TX)',
 nan,
 '816 E. 49Th in Austin (TX)',
 '6633 E 290 in Austin (TX)',
 nan,
 '8001 S Ih 35 Frontage Rd in Austin (TX)',
 nan,
 nan,
 '8408 Riverstone in Austin (TX)',
 nan,
 nan,
 '7309 Brookhollow Dr in Austin (TX)',
 nan,
 nan,
 '509 E Todd Lane in Austin (TX)',
 nan,
 '610 Wilmes Dr in Austin (TX)',
 nan,
 nan,
 '4801 S Ih 35 in Austin (TX)',
 '1000 E. 41St St. in Austin (TX)',
 '11610 Prairie Hen Ln in Austin (TX)',
 '2000 Burton Dr in Austin (TX)',
 '11702 Brookwood in Austin (TX)',
 nan,
 '124 W Anderson Ln in Austin (TX)',
 '11351 Bradshaw Rd in Austin (TX)',
 '11503 Parsons Rd in Travis (TX)',
 nan,
 nan,
 nan,
 nan,
 '4410 Dovemeadow Dr in Austin (TX)',
 nan,
 '177 Meadow View Blvd in Del Valle (TX)',
 '1303 Parsons A in Austin (TX)',
 '17005 Hayride Cir in Del Valle (TX)',
 '8609 Alpine Dr in Del Valle (TX)',
 nan,
 nan,
 '124 W Anderson Ln in Austin (TX)',
 nan,
 '5932 Hammermill Run in Austin (TX)',
 nan,
 '301 Twin Creeks Rd in Travis (TX)',
 '2210 E 9Th St Unit C in Austin (TX)',
 '1412 Norseman Terrace in Austin (TX)',
 nan,
 '12401 Pauls Valley Rd in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '985112001282540 in Austin (TX)',
 '5301 Fort Clark Dr in Austin (TX)',
 '21413 Webber Oaks Cv in Travis (TX)',
 nan,
 nan,
 '13904 Old Hwy 20 in Manor (TX)',
 nan,
 '407 Meadow Lea Dr in Austin (TX)',
 '17944 Majestic Elm Ln in Travis (TX)',
 nan,
 '5106 Meadow Creek Cove in Austin (TX)',
 nan,
 '12118 Walnut Park #828 in Austin (TX)',
 '11123 Old Lockhart Rd in Austin (TX)',
 '3206 East 16Th in Austin (TX)',
 '9001 N 620 in Austin (TX)',
 nan,
 '21069 Blake Manor Rd in Travis (TX)',
 '9401 Roanna Dr in Austin (TX)',
 nan,
 '1800 Crystal Bend in Travis (TX)',
 '1200 W Saint Johns in Austin (TX)',
 '420 W Slaughter in Austin (TX)',
 '2200 Berkeley Ave in Austin (TX)',
 '13 Club Estates in Lakeway (TX)',
 '412 E William Cannon Dr in Austin (TX)',
 '1820 Kenwood Ave in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '2300 East 2Nd St in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '5912 Marilyn Dr in Austin (TX)',
 '6203 Saddler Ln in Austin (TX)',
 '2700 West Pecan St in Travis (TX)',
 '2400 Grove Blvd in Austin (TX)',
 '9011 Briardale Dr in Austin (TX)',
 nan,
 nan,
 '9300 S Ih 35 Frontage Rd in Austin (TX)',
 '8202 Furness Cv in Austin (TX)',
 nan,
 '1901 E Anderson Ln in Austin (TX)',
 '5917 Little Creek Trail in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 nan,
 '12401 N Lamar in Austin (TX)',
 '3112 Speidel Dr in Austin (TX)',
 '512 W Stassney in Austin (TX)',
 nan,
 nan,
 '900 Broken Feather Trl in Austin (TX)',
 nan,
 '7201 Levander in Austin (TX)',
 '923 Walter St in Austin (TX)',
 '5111 Single Shot in Austin (TX)',
 '12300 Hymeadow Dr. #307 in Austin (TX)',
 nan,
 '5214 Duval Rd in Austin (TX)',
 nan,
 nan,
 '2900 Sunridge Drive Bldg 13 in Austin (TX)',
 nan,
 '103 W Odell St in Austin (TX)',
 nan,
 '12304 Elm Valley Dr in Travis (TX)',
 '3811 E 12Th St in Austin (TX)',
 nan,
 nan,
 '4108 Nixon Ln in Austin (TX)',
 nan,
 '2309 Berkeley #1085 in Austin (TX)',
 '1228 Eleanor St in Austin (TX)',
 '7310 Meador Ave in Austin (TX)',
 nan,
 '2201 Barton Springs Rd in Austin (TX)',
 nan,
 '11729 Lime Creek Road in Leander (TX)',
 '5300 Jimmy Clay Drive in Austin (TX)',
 '2900 Sunridge Dr in Austin (TX)',
 '1303 Bob Harrison in Austin (TX)',
 nan,
 '220 Pompton Dr in Austin (TX)',
 nan,
 '13212 High Sierra St in Manor (TX)',
 '1317 W. 10Th in Austin (TX)',
 '4534 Westgate Blvd in Austin (TX)',
 '2209 Kinney in Austin (TX)',
 '2205 Voyageurs in Austin (TX)',
 '6403 Farmdale Ln in Austin (TX)',
 '13802 Hokanson Rd in Travis (TX)',
 '4216 S Congress Ave in Austin (TX)',
 nan,
 '2100 Barton Springs Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '1704 Perez in Austin (TX)',
 nan,
 nan,
 nan,
 '9100 Evelyn Rd in Travis (TX)',
 nan,
 '1911 Willow Creek Dr in Austin (TX)',
 '10135 Lake Creek Pkwy in Austin (TX)',
 '2302 Bahama Rd in Travis (TX)',
 nan,
 '10427 Kirken St in Austin (TX)',
 nan,
 nan,
 '8028 Elroy Rd in Travis (TX)',
 nan,
 '310 Blackson Ave in Austin (TX)',
 nan,
 '13309 Bennington Ln in Austin (TX)',
 '810 E Slaughter Ln 9102 in Austin (TX)',
 '11604 Ranch House Cv in Travis (TX)',
 '8601 Vertex in Austin (TX)',
 '16808 High Noon in Del Valle (TX)',
 nan,
 '2507 Bitter Creek in Austin (TX)',
 '7917 Brockman St in Austin (TX)',
 '409 Covenant Canyon Trl in Austin (TX)',
 '5702 Richmond Ave in Austin (TX)',
 '9219 Anderson Mill in Austin (TX)',
 nan,
 '7903 Taza Trl in Austin (TX)',
 nan,
 nan,
 '6500 River Place Blvd in Austin (TX)',
 '12320 Dessau Road in Austin (TX)',
 '2202 Cedar Bend Dr # B in Austin (TX)',
 '4106 N Lamar Blvd in Austin (TX)',
 nan,
 '16801 Trevin Cv in Manor (TX)',
 '4101 Smith School Road in Austin (TX)',
 '2703 Channing Cir in Austin (TX)',
 '1701 Congress Ave in Austin (TX)',
 '2121 Rivena Dr in Austin (TX)',
 '4604 Reyes St in Austin (TX)',
 '2000 E. 8Th in Austin (TX)',
 '11404 Briarcreek Loop in Travis (TX)',
 nan,
 nan,
 '2000 Millhouse Dr in Travis (TX)',
 '3101 Oak Springs Dr in Austin (TX)',
 '9700 Mv Neil Dr in Travis (TX)',
 nan,
 nan,
 '7500 S I H 35 in Austin (TX)',
 nan,
 '5947 Hammermill Run in Austin (TX)',
 '2504 New York Dr # 134 in Austin (TX)',
 nan,
 nan,
 nan,
 '1710 Eastside Dr in Austin (TX)',
 '4500 Steiner in Austin (TX)',
 nan,
 nan,
 nan,
 '4606 Molera in Austin (TX)',
 '4434 Frontier Trl in Austin (TX)',
 '9117 Anderson Mill Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '1403 Bentwood Rd in Austin (TX)',
 nan,
 '19379 Wilkey Lane in Pflugerville (TX)',
 nan,
 nan,
 '22900 Big Sandy Dr in Leander (TX)',
 '2400 E Cesar Chavez St in Austin (TX)',
 nan,
 nan,
 nan,
 '5500 Ross Rd in Austin (TX)',
 nan,
 nan,
 '3611 Brifal Path in Austin (TX)',
 '2909 Thurgood Ave in Austin (TX)',
 '6001 Shepherd Mountian Cv in Austin (TX)',
 '1601 E Slaughter Ln #514 in Austin (TX)',
 '1221 West Ben White in Austin (TX)',
 '2209 Rutland Dr, Unit B in Austin (TX)',
 '309 Thelma Drive in Austin (TX)',
 '1206 Blackfoot in Austin (TX)',
 nan,
 '1000 W Rundberg Ln in Austin (TX)',
 '9700 Teasdale in Austin (TX)',
 nan,
 nan,
 nan,
 '3005 S. Lamar in Austin (TX)',
 nan,
 '139 Bolles Cicrle in Austin (TX)',
 '5905 Lookout Mountain Dr in Austin (TX)',
 '5903 Wideleaf in Austin (TX)',
 '11919 Manchaca Rd in Austin (TX)',
 '4709 Lake George Ln in Austin (TX)',
 '3201 Duval Rd in Austin (TX)',
 nan,
 '2500 Magin Meadow Dr in Austin (TX)',
 '12401 Pauls Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '11900 Buckingham Rd in Austin (TX)',
 '1203 Springdale Rd in Austin (TX)',
 '2614 Howellwood Way in Austin (TX)',
 '6003 Bull Creek Rd in Austin (TX)',
 '4019 Far West Blvd in Austin (TX)',
 nan,
 nan,
 '7905 Briarton Dr in Austin (TX)',
 '11800 Pinto Circle in Travis (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 '3002 Ellon Rd in Del Valle (TX)',
 nan,
 nan,
 nan,
 nan,
 '916 Reseach Blvd in Austin (TX)',
 nan,
 nan,
 '8519 Cahill Dr in Austin (TX)',
 '14909 Cordero Dr in Austin (TX)',
 '515 Congress Ave in Austin (TX)',
 '20412 Ed Acklin Rd in Manor (TX)',
 '2941 Moss St in Austin (TX)',
 nan,
 nan,
 '12036 Parsons Rd in Travis (TX)',
 '7500 S Pleasant Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '9401 S Hwy 183 in Travis (TX)',
 nan,
 '2347 Douglas #1103 in Austin (TX)',
 nan,
 '1111 Lawson in Austin (TX)',
 '1221 Southport Dr in Austin (TX)',
 nan,
 '5114 Turnstone Dr in Austin (TX)',
 nan,
 '5904 E Stassney in Austin (TX)',
 nan,
 '11604 Loweswater in Austin (TX)',
 '2702 Rae Dell Ave in Austin (TX)',
 '308 Le Grande Ave in Austin (TX)',
 '5416 Marlborough Dr in Austin (TX)',
 '6719 N Lamar Blvd in Austin (TX)',
 nan,
 '2505 Inwood Pl in Austin (TX)',
 nan,
 '6700 Evelyn Rd in Austin (TX)',
 '2048 W Stassney Ln in Austin (TX)',
 '4434 Frontier in Austin (TX)',
 '3001 Yandall in Austin (TX)',
 '124 West Anderson Lane in Austin (TX)',
 '7619 Scenic Brook in Austin (TX)',
 '4924 Craigwood And Fm 969 in Austin (TX)',
 '6600 Elm Creek in Austin (TX)',
 '528 S Meadowlark St in Austin (TX)',
 nan,
 '1912 E William Cannon Dr in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '124 W Anderson Ln in Austin (TX)',
 nan,
 nan,
 nan,
 '2000 N. Ih35 in Austin (TX)',
 '2816 E 12Th St in Austin (TX)',
 nan,
 nan,
 nan,
 '6311 Colina Ln in Austin (TX)',
 '14908 Fagerquist Rd in Austin (TX)',
 '1412 Orange Spice Ct in Travis (TX)',
 '2336 Douglas St in Austin (TX)',
 '9206 Spring Hollow Dr in Austin (TX)',
 '1156 W Cesar Chavez St in Austin (TX)',
 '900 Ruth Ave in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '1157 Salina St in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '3400 South Congress in Austin (TX)',
 '14100 Briarcreek Loop in Travis (TX)',
 nan,
 nan,
 '5010 Old Manor Rd. in Austin (TX)',
 '831 B N Meadows in Austin (TX)',
 '12120 Manchaca Rd in Austin (TX)',
 '1600 Wells Branch Pkwy in Austin (TX)',
 '124 W Anderson Ln in Austin (TX)',
 nan,
 '9503 Queenswood Dr in Austin (TX)',
 '1135 Don Ann St in Austin (TX)',
 nan,
 '605 Park Blvd in Austin (TX)',
 '2338 Wilson St in Austin (TX)',
 '15200 Anderson Mill Rd in Travis (TX)',
 '7612 Marl in Austin (TX)',
 nan,
 nan,
 '3500 N Capital Of Texas Hwy in Austin (TX)',
 '1300 Crossing Place in Austin (TX)',
 '14400 Harris Ridge Blvd in Pflugerville (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '6207 Vera Ln in Austin (TX)',
 '1213 Mathias St in Austin (TX)',
 '6101 Landscape in Austin (TX)',
 nan,
 '7001 Circle S Rd in Austin (TX)',
 '4800 Eilers Rd in Austin (TX)',
 nan,
 '4610 Avenue D in Austin (TX)',
 nan,
 '6808 Mira Loma Ln in Austin (TX)',
 '1600 Ih 35 in Austin (TX)',
 '8805 N Plaza Ct in Austin (TX)',
 '1000 Ellingson Ln in Austin (TX)',
 nan,
 '3001 S Congress Ave in Austin (TX)',
 '5904 Dunbury Dr in Austin (TX)',
 nan,
 '11193 Lambert Ln in Austin (TX)',
 '10601 Manchaca in Austin (TX)',
 '9500 W Parmer Ln in Austin (TX)',
 '5304 Great Divide Dr in Bee Cave (TX)',
 nan,
 '12737 Magnolia Mound Trl in Austin (TX)',
 '3302 Northeast Dr in Austin (TX)',
 '3016 Fm 1327 Land Fill in Austin (TX)',
 nan,
 '107 Beaver in Austin (TX)',
 nan,
 nan,
 '8901 Viking in Austin (TX)',
 '1616 Webberville #A in Austin (TX)',
 nan,
 '4106 N Lamar in Austin (TX)',
 '9414 N Lamar in Austin (TX)',
 '1748 Ohlen Rd #98 in Austin (TX)',
 nan,
 '7300 West Rim Rd in Austin (TX)',
 '5701 Johnny Morris Rd in Austin (TX)',
 nan,
 '4502 Acres Ln in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '1317 Exposition Blvd in Austin (TX)',
 nan,
 '6318 Del Monte in Austin (TX)',
 '91217 Lowden Ln in Travis (TX)',
 nan,
 '1402 E St Johns Ave in Austin (TX)',
 '1015 E Yager in Austin (TX)',
 '704 Franklin in Austin (TX)',
 '7209 Wild Onion in Austin (TX)',
 '4106 N Lamar in Austin (TX)',
 '3600 Presidential Blvd in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '6913 Langston Dr in Austin (TX)',
 '1601 E Slaughter Ln in Austin (TX)',
 '4434 Frontier Blvd in Austin (TX)',
 '7809 E Ben White Blvd in Austin (TX)',
 '909 Navasota St in Austin (TX)',
 '810 E Slaughter Ln in Austin (TX)',
 '5604 Hudson St in Austin (TX)',
 '1618 Ashberry Dr in Austin (TX)',
 '3819 Southway Dr in Austin (TX)',
 nan,
 '3502 Needls Dr in Austin (TX)',
 nan,
 '3816 Leafield Drive in Austin (TX)',
 '13420 Breezy Meadow Lane in Manor (TX)',
 nan,
 nan,
 '6704 Manchaca Rd in Austin (TX)',
 '6907 Convict Hill Rd in Austin (TX)',
 nan,
 '18417 Plazaway in Jonestown (TX)',
 nan,
 '6607 Brodie Ln in Austin (TX)',
 '12529 Sky Harbor Drive in Del Valle (TX)',
 nan,
 '2809 Parker Ln in Austin (TX)',
 '1400 Cardinal Hill Dr in Austin (TX)',
 '3001 S Congress in Austin (TX)',
 '8023 Coulver in Austin (TX)',
 '11900 Athens St in Manor (TX)',
 '12901 N 35 in Austin (TX)',
 nan,
 nan,
 '4605 Button Bend Rd in Austin (TX)',
 nan,
 '12800  Thome Valley Dr in Del Valle (TX)',
 '8900 Shoalcreek Blvd in Austin (TX)',
 '21413 Webber Oaks Cv in Travis (TX)',
 '5761 Palo Blanco Dr in Austin (TX)',
 nan,
 '1156 W Cesar Chavez St in Austin (TX)',
 nan,
 '7905 San Felipe #124 in Austin (TX)',
 nan,
 '1300 Mckie in Austin (TX)',
 nan,
 nan,
 nan,
 '1509 38 Half in Austin (TX)',
 nan,
 '15008 Fm 812 in Del Valle (TX)',
 '13 Club Estates in Lakeway (TX)',
 '183 And Vargas in Austin (TX)',
 nan,
 nan,
 '9300 Northgate in Austin (TX)',
 '10000 Parliament House Rd in Austin (TX)',
 '7902 Dee Gabriel Collins in Austin (TX)',
 '1505 Summit St in Austin (TX)',
 nan,
 '6111 Fm2244 in Austin (TX)',
 nan,
 '7301 Singleton Bend in Austin (TX)',
 nan,
 '416 Baldridge in Austin (TX)',
 '8909 Briardale Dr in Austin (TX)',
 nan,
 '4500 Steiner in Austin (TX)',
 '15200 Fm 812 in Del Valle (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '710 E Ben White Blvd in Austin (TX)',
 '2502 Citation Dr in Travis (TX)',
 '5800 Colton Rd in Austin (TX)',
 '12511 Twin Creeks Rd, Manchaca, Tx 78652 in Austin (TX)',
 '4404 E Oltorf St in Austin (TX)',
 '4821 E Riverside Dr in Austin (TX)',
 '600 W Carrie Manor in Manor (TX)',
 nan,
 '10911 Maha Loop in Austin (TX)',
 '5220 Bahan Dr in Austin (TX)',
 '5309 Cypress Ranch Blvd in Travis (TX)',
 nan,
 nan,
 '13201 Wild Turkey Drive in Travis (TX)',
 nan,
 '7208 Salt Springs - B in Austin (TX)',
 nan,
 '6700 Montana in Austin (TX)',
 '10302 Quail Valley Blvd in Austin (TX)',
 nan,
 '4511 E. Hwy 71 in Travis (TX)',
 '7700 W Parmer in Austin (TX)',
 nan,
 nan,
 nan,
 '9417 Meyrick Park Trl in Travis (TX)',
 nan,
 nan,
 nan,
 '2609 Rosewood Dr in Austin (TX)',
 nan,
 '5238 Thunder Creek in Austin (TX)',
 '5201 Ross Rd in Austin (TX)',
 '2324 Wilson St in Austin (TX)',
 '6000 Middle Fiskville Rd in Austin (TX)',
 nan,
 '10805 Topperwein Dr in Austin (TX)',
 '13021 Dessau  Rd in Austin (TX)',
 nan,
 nan,
 '1656 Rutland Drive in Austin (TX)',
 '8010 Tonopa Ln in Austin (TX)',
 nan,
 '1509 Red Fox Rd in Travis (TX)',
 '4719 Castleman in Austin (TX)',
 nan,
 '2433 S Pleasant Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '701 Woodward St in Austin (TX)',
 '2501 E Stassney in Austin (TX)',
 nan,
 nan,
 '7201 Levander Loop in Austin (TX)',
 '1908 Albury Cv in Austin (TX)',
 '6713 Piedras Blanco Drive in Austin (TX)',
 nan,
 nan,
 nan,
 '4601 E St Elmo Rd in Austin (TX)',
 '1901 Crazyhorse Pass in Austin (TX)',
 '10400 Bitting School in Travis (TX)',
 '3462 Laguna Dr in Travis (TX)',
 '6000 Middle Fiskville in Austin (TX)',
 '5000 East Cesar Chavez in Austin (TX)',
 '4906 Sara Dr in Austin (TX)',
 '101 W Louis Henna Blvd in Austin (TX)',
 nan,
 nan,
 '10801 Hokanson Ct in Travis (TX)',
 nan,
 '8621 Damita Jo Dr in Travis (TX)',
 '8536 Birmingham in Austin (TX)',
 '5717 Palo Blanco in Austin (TX)',
 '2406 Riddle Rd in Austin (TX)',
 nan,
 '1113 Gunter St in Austin (TX)',
 '9502 S Chisholm Trl in Austin (TX)',
 nan,
 '12341 County Line Rd in Manor (TX)',
 '11904 N Interstate 35 Frontage Rd in Austin (TX)',
 '7418 Cameron Rd in Austin (TX)',
 '2809 W Hwy 290 in Austin (TX)',
 '3220 Bridle Path in Austin (TX)',
 '14811 Chicadee in Pflugerville (TX)',
 nan,

In [104]:
df['Found_Location']=new_location
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306

In [105]:
df['Found_Location'].value_counts()

7201 Levander Loop in Austin (TX)            406
4434 Frontier Trl in Austin (TX)             137
124 W Anderson Ln in Austin (TX)             131
12034 Research in Austin (TX)                 85
12034 Research Blvd in Austin (TX)            85
                                            ...
10017 Wind Dunes Dr in Austin (TX)             1
6600 Antelope Cir in Austin (TX)               1
9100 Waterford Centre Blvd in Austin (TX)      1
14905 Mossycup Ln in Austin (TX)               1
12901 N Ih-35 in Austin (TX)                   1
Name: Found_Location, Length: 18559, dtype: int64

In [106]:
df.isnull().sum()

Animal ID                 0
Name_intake               0
DateTime_intake           0
Found_Location        22200
Intake_Type               0
IntakeCondition           0
Animal_Type_intake        0
Sex_Intake                0
Breed_intake              0
Color_intake              0
DateTime_outcome          0
Outcome_Type              0
Sex_upon_Outcome          0
fixed_changed             0
Age_Bucket                0
DateTime_length           0
dtype: int64

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      33606 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex_Intake          55806 non-null  object
 8   Breed_intake        55806 non-null  object
 9   Color_intake        55806 non-null  object
 10  DateTime_outcome    55806 non-null  datetime64[ns]
 11  Outcome_Type        55806 non-null  object
 12  Sex_upon_Outcome    55806 non-null  object
 13  fixed_changed       55806 non-null  int64
 14  Age_Bucket          55806 non-null  object
 15  DateTime_length     55806 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB

## Age Bucket column

In [108]:
df.Age_Bucket.value_counts()

1-3 years           22095
1-6 months          14259
1-6 weeks            6352
4-6 years            5507
7+ years             3800
7-12 months          2618
Less than 1 week     1175
Name: Age_Bucket, dtype: int64

## Intake_Type column

In [109]:
df.Intake_Type.value_counts()

Stray                 40557
Owner Surrender        9080
Public Assist          3188
Wildlife               2750
Euthanasia Request      231
Name: Intake_Type, dtype: int64

## Breed_Intake column

In [110]:
count_breed=df.Breed_intake.value_counts()
count_breed

Domestic Shorthair Mix                17520
Pit Bull Mix                           3791
Chihuahua Shorthair Mix                3448
Labrador Retriever Mix                 2951
Domestic Medium Hair Mix               1725
                                      ...
German Shepherd/Smooth Fox Terrier        1
Rottweiler/English Bulldog                1
Miniature Poodle/Beagle                   1
Australian Kelpie/Whippet                 1
Maltese/Papillon                          1
Name: Breed_intake, Length: 1929, dtype: int64

In [111]:
for i in count_breed.index.tolist():
    print(i)

Domestic Shorthair Mix
Pit Bull Mix
Chihuahua Shorthair Mix
Labrador Retriever Mix
Domestic Medium Hair Mix
German Shepherd Mix
Bat Mix
Domestic Longhair Mix
Siamese Mix
Australian Cattle Dog Mix
Bat
Dachshund Mix
Miniature Poodle Mix
Border Collie Mix
Boxer Mix
Raccoon Mix
Australian Shepherd Mix
Rat Terrier Mix
Jack Russell Terrier Mix
Domestic Shorthair
Catahoula Mix
Yorkshire Terrier Mix
Miniature Schnauzer Mix
Chihuahua Longhair Mix
Beagle Mix
Siberian Husky Mix
Cairn Terrier Mix
Great Pyrenees Mix
Rottweiler Mix
Rabbit Sh Mix
Shih Tzu Mix
Pointer Mix
American Bulldog Mix
Chihuahua Shorthair/Dachshund
Raccoon
Staffordshire Mix
Australian Kelpie Mix
Plott Hound Mix
Black Mouth Cur Mix
Chihuahua Shorthair
Pit Bull
Labrador Retriever
Labrador Retriever/Pit Bull
American Staffordshire Terrier Mix
Anatol Shepherd Mix
Opossum Mix
Dachshund/Chihuahua Shorthair
German Shepherd
Snowshoe Mix
Golden Retriever Mix
Queensland Heeler Mix
Miniature Pinscher Mix
Maltese Mix
Chow Chow Mix
Domestic Medium Hair
German Shepherd/Labrador Retriever
American Pit Bull Terrier Mix
Labrador Retriever/German Shepherd
Pug Mix
Chicken Mix
Lhasa Apso Mix
Opossum
Cardigan Welsh Corgi Mix
Pomeranian Mix
Shih Tzu
Dachshund
Doberman Pinsch Mix
Toy Poodle Mix
Cocker Spaniel Mix
Maine Coon Mix
Basset Hound Mix
Border Terrier Mix
Blue Lacy Mix
Manx Mix
Boston Terrier Mix
Skunk Mix
Guinea Pig Mix
Rottweiler
Manchester Terrier Mix
Boxer
Pit Bull/Labrador Retriever
Dachshund Longhair Mix
Miniature Schnauzer/Miniature Poodle
Flat Coat Retriever Mix
Mastiff Mix
Carolina Dog Mix
Dachshund Wirehair Mix
Collie Smooth Mix
Siberian Husky
Labrador Retriever/Border Collie
Australian Cattle Dog
Pekingese Mix
Squirrel Mix
Great Dane Mix
Chinese Sharpei Mix
Rhod Ridgeback Mix
Border Collie/Labrador Retriever
Chihuahua Shorthair/Rat Terrier
Bull Terrier Mix
Australian Cattle Dog/Labrador Retriever
English Bulldog Mix
Russian Blue Mix
Siamese
Chihuahua Shorthair/Jack Russell Terrier
Black/Tan Hound Mix
Labrador Retriever/Australian Cattle Dog
Norfolk Terrier Mix
Fox Mix
Beagle
Miniature Poodle
Rat Terrier/Chihuahua Shorthair
Redbone Hound Mix
Yorkshire Terrier
Pembroke Welsh Corgi Mix
Labrador Retriever/Boxer
Miniature Schnauzer
Maltese/Miniature Poodle
Pug
Guinea Pig
Cocker Spaniel
Domestic Longhair
Jack Russell Terrier
Soft Coated Wheaten Terrier Mix
Pit Bull/Boxer
Bruss Griffon Mix
Chihuahua Shorthair/Pug
Border Collie
Wire Hair Fox Terrier Mix
Bichon Frise Mix
Whippet Mix
Skunk
Belgian Malinois Mix
Labrador Retriever/Chow Chow
Weimaraner Mix
Shetland Sheepdog Mix
Squirrel
Labrador Retriever/Great Pyrenees
Harrier Mix
Labrador Retriever/Pointer
Parson Russell Terrier Mix
Maltese
German Shorthair Pointer Mix
Rabbit Sh
West Highland Mix
Norwich Terrier Mix
Shiba Inu Mix
Labrador Retriever/Australian Shepherd
Boxer/Pit Bull
Dalmatian Mix
Boxer/Labrador Retriever
Great Pyrenees
Boston Terrier
Pug/Chihuahua Shorthair
Basset Hound
Miniature Poodle/Miniature Schnauzer
Chihuahua Shorthair/Cardigan Welsh Corgi
Labrador Retriever/Beagle
Rat Terrier
Jack Russell Terrier/Chihuahua Shorthair
Himalayan Mix
Akita Mix
Hamster Mix
Basenji Mix
Doberman Pinsch
Alaskan Husky Mix
Standard Schnauzer Mix
Australian Shepherd
Havanese Mix
Yorkshire Terrier/Miniature Poodle
Pug/Beagle
Great Pyrenees/Labrador Retriever
Golden Retriever
Papillon Mix
Cairn Terrier/Chihuahua Shorthair
Pomeranian
Pharaoh Hound Mix
Californian Mix
Miniature Pinscher
Pointer/Labrador Retriever
Labrador Retriever/Rottweiler
Smooth Fox Terrier Mix
German Shepherd/Siberian Husky
Labrador Retriever/Plott Hound
Italian Greyhound Mix
Bulldog Mix
Ragdoll Mix
English Bulldog
Labrador Retriever/Golden Retriever
German Shepherd/Chow Chow
Rat Mix
Dogo Argentino Mix
Dachshund/Beagle
Cairn Terrier
American Staffordshire Terrier
Labrador Retriever/Anatol Shepherd
Pit Bull/Australian Cattle Dog
Siberian Husky/German Shepherd
Australian Shepherd/Labrador Retriever
Miniature Pinscher/Chihuahua Shorthair
Beagle/Chihuahua Shorthair
Great Dane
Yorkshire Terrier/Chihuahua Shorthair
Catahoula/Labrador Retriever
Plott Hound/Labrador Retriever
Catahoula
American Eskimo Mix
Anatol Shepherd/Labrador Retriever
Tibetan Spaniel Mix
Cardigan Welsh Corgi/Chihuahua Shorthair
Chihuahua Shorthair/Miniature Pinscher
Collie Rough Mix
Australian Cattle Dog/German Shepherd
Chihuahua Shorthair/Yorkshire Terrier
Australian Cattle Dog/Pit Bull
Vizsla Mix
Chihuahua Shorthair/Beagle
Standard Poodle Mix
Beagle/Labrador Retriever
Pit Bull/Catahoula
Ferret Mix
Chihuahua Shorthair/Cairn Terrier
German Shepherd/Australian Cattle Dog
Border Collie/Great Pyrenees
Anatol Shepherd
Lhasa Apso
Labrador Retriever/Catahoula
Border Collie/German Shepherd
Dutch Shepherd Mix
Turtle Mix
Rottweiler/Labrador Retriever
Beagle/Dachshund
Pit Bull/Chinese Sharpei
Chesa Bay Retr Mix
Brittany Mix
Bloodhound Mix
St. Bernard Smooth Coat Mix
Toy Fox Terrier Mix
Labrador Retriever/Chinese Sharpei
Treeing Walker Coonhound Mix
Chihuahua Shorthair/Boston Terrier
French Bulldog Mix
Rex Mix
English Pointer Mix
American Shorthair Mix
Lhasa Apso/Miniature Poodle
Dachshund/Rat Terrier
Siamese/Domestic Shorthair
Scottish Terrier Mix
Bullmastiff Mix
Labrador Retriever/Blue Lacy
Rat
Chicken
Greyhound
Persian Mix
Boston Terrier/Chihuahua Shorthair
Airedale Terrier Mix
Chihuahua Longhair
Cavalier Span Mix
Finnish Spitz Mix
Bernese Mountain Dog Mix
Yorkshire Terrier/Miniature Schnauzer
Angora Mix
Beauceron Mix
Rottweiler/German Shepherd
Feist Mix
Cocker Spaniel/Miniature Poodle
Dachshund Wirehair/Chihuahua Shorthair
German Shepherd/Rottweiler
Bull Terrier
Miniature Poodle/Maltese
Irish Terrier Mix
Pbgv Mix
Chow Chow/Labrador Retriever
Parakeet Mix
Catahoula/Pit Bull
Duck
Chinese Sharpei
Jack Russell Terrier/Dachshund
Dove Mix
Alaskan Malamute Mix
Tibetan Terrier Mix
Schnauzer Giant Mix
Labrador Retriever/Basset Hound
German Shepherd/Boxer
Pekingese
Great Dane/Labrador Retriever
Dachshund Longhair
Australian Cattle Dog/Border Collie
Ferret
English Coonhound Mix
Silky Terrier Mix
Chinese Sharpei/Labrador Retriever
Pigeon Mix
Australian Kelpie
Leonberger Mix
Dachshund/Manchester Terrier
Chihuahua Shorthair/Italian Greyhound
Fox
Labrador Retriever/Dachshund
Pit Bull/Pointer
Staffordshire
Siberian Husky/Labrador Retriever
Toy Poodle
Swedish Vallhund Mix
Border Terrier/Chihuahua Shorthair
Catahoula/Plott Hound
Bluetick Hound Mix
Chow Chow
Beagle/German Shepherd
Labrador Retriever/Great Dane
Rhod Ridgeback/Labrador Retriever
Greyhound Mix
St. Bernard Rough Coat Mix
Chihuahua Shorthair/Pomeranian
Jack Russell Terrier/Australian Cattle Dog
Australian Cattle Dog/Boxer
Hamster
Anatol Shepherd/Great Pyrenees
Lionhead Mix
Pomeranian/Chihuahua Longhair
American Bulldog/Pit Bull
Australian Terrier Mix
Miniature Poodle/Cocker Spaniel
Jack Russell Terrier/Beagle
Duck Mix
Glen Of Imaal Mix
Patterdale Terr Mix
Welsh Terrier Mix
Schipperke Mix
Cocker Spaniel/Labrador Retriever
Miniature Schnauzer/Yorkshire Terrier
Chinese Crested Mix
Dachshund Wirehair/Miniature Poodle
German Shepherd/Alaskan Husky
Australian Shepherd/Border Collie
English Spot Mix
Golden Retriever/Chow Chow
Balinese Mix
Lizard Mix
American Foxhound Mix
Golden Retriever/Labrador Retriever
Beagle/Pug
American Pit Bull Terrier
Bichon Frise
Tonkinese Mix
Dachshund Wirehair/Border Terrier
Chihuahua Longhair/Pomeranian
Chow Chow/German Shepherd
Bantam Mix
American Bulldog
Samoyed Mix
Bengal Mix
Australian Cattle Dog/Beagle
Black Mouth Cur
German Shepherd/Mastiff
Lop-English Mix
Weimaraner
Labrador Retriever/Australian Kelpie
Shih Tzu/Miniature Poodle
Dachshund/Labrador Retriever
West Highland
Miniature Poodle/Dachshund
Plott Hound
Manchester Terrier/Chihuahua Shorthair
Cockatiel Mix
Basset Hound/Labrador Retriever
Pit Bull/German Shepherd
Yorkshire Terrier/Cairn Terrier
Australian Cattle Dog/Pointer
Catahoula/Australian Cattle Dog
Border Collie/Australian Cattle Dog
Pit Bull/Chihuahua Shorthair
Picardy Sheepdog Mix
Labrador Retriever/Standard Poodle
Treeing Cur Mix
Dachshund/Pit Bull
Yorkshire Terrier/Chihuahua Longhair
Labrador Retriever/Doberman Pinsch
Pointer/Pit Bull
Chihuahua Shorthair/Border Terrier
Boxer/Australian Cattle Dog
Siberian Husky/Australian Cattle Dog
Chihuahua Shorthair/Pit Bull
Australian Shepherd/Anatol Shepherd
Rhod Ridgeback
Snake Mix
Mastiff/Chinese Sharpei
Japanese Bobtail Mix
German Shepherd/Australian Shepherd
Cavalier Span
Boxer/Catahoula
Pbgv
Labrador Retriever/Jack Russell Terrier
Californian
Yorkshire Terrier/Rat Terrier
English Springer Spaniel Mix
Field Spaniel Mix
Canaan Dog Mix
Snowshoe
Newfoundland Mix
German Shepherd/Border Collie
Cairn Terrier/Yorkshire Terrier
Cardigan Welsh Corgi/Australian Cattle Dog
Chihuahua Shorthair/Dachshund Wirehair
Keeshond Mix
English Shepherd Mix
Australian Cattle Dog/Australian Shepherd
Labrador Retriever/Siberian Husky
Bombay Mix
German Shepherd/Pit Bull
Havana Mix
Queensland Heeler
French Bulldog
Blue Lacy/American Bulldog
Labrador Retriever/Rhod Ridgeback
Jack Russell Terrier/Rat Terrier
Chihuahua Shorthair/Manchester Terrier
Affenpinscher Mix
Rat Terrier/Beagle
Snake
Bloodhound
Flat Coat Retriever/Papillon
Mexican Hairless Mix
Great Pyrenees/Anatol Shepherd
Tarantula
Siberian Husky/Border Collie
Standard Poodle/Labrador Retriever
Boerboel Mix
Shetland Sheepdog
Catahoula/Pointer
Labrador Retriever/Black/Tan Hound
Basset Hound/Beagle
German Shepherd/Alaskan Malamute
Labrador Retriever/Vizsla
Persian
New Zealand Wht Mix
Pit Bull/Weimaraner
Yorkshire Terrier/Maltese
American Eskimo
Boxer/Beagle
Maltese/Toy Poodle
Maine Coon
Bearded Collie Mix
German Shepherd/Golden Retriever
Parson Russell Terrier
Shiba Inu
Akita
Coyote Mix
Podengo Pequeno Mix
British Shorthair Mix
Pointer/Boxer
Jack Russell Terrier/Miniature Poodle
Rat Terrier/Boston Terrier
Saluki
Bernese Mountain Dog
Miniature Poodle/Lhasa Apso
Landseer Mix
German Shepherd/Collie Rough
Chihuahua Shorthair/Whippet
Pit Bull/Plott Hound
Australian Cattle Dog/Jack Russell Terrier
Blue Lacy
Australian Shepherd/Australian Cattle Dog
German Shepherd/Chinese Sharpei
Dachshund/Jack Russell Terrier
German Shepherd/Cardigan Welsh Corgi
Harrier
Pig Mix
Dachshund Longhair/Chihuahua Shorthair
Rabbit Lh Mix
German Shepherd/Catahoula
Great Pyrenees/Border Collie
Chihuahua Shorthair/Miniature Schnauzer
Boxer/Staffordshire
Maltese/Yorkshire Terrier
Collie Smooth
Old English Bulldog Mix
Chow Chow/Pit Bull
Pit Bull/Basset Hound
Labrador Retriever/Greyhound
Irish Setter/Pit Bull
Wirehaired Pointing Griffon Mix
English Foxhound Mix
Shih Tzu/Miniature Schnauzer
Australian Cattle Dog/Catahoula
Mastiff
Basset Hound/Australian Cattle Dog
Border Collie/Chow Chow
Cold Water
Pointer/Border Collie
Carolina Dog/Chihuahua Shorthair
Miniature Poodle/Bichon Frise
Dalmatian
Jack Russell Terrier/Labrador Retriever
Pembroke Welsh Corgi
English Springer Spaniel
Australian Shepherd/Chihuahua Shorthair
Dogue De Bordeaux Mix
Turkey Mix
Collie Smooth/Labrador Retriever
Boykin Span Mix
Manchester Terrier/Dachshund
Cairn Terrier/Miniature Schnauzer
Presa Canario Mix
Chihuahua Longhair/Cairn Terrier
Redbone Hound/Labrador Retriever
Vizsla
Beagle/Boxer
German Shepherd/Doberman Pinsch
Standard Poodle
Labrador Retriever/Miniature Poodle
Beagle/Basset Hound
Pointer/Australian Cattle Dog
Greater Swiss Mountain Dog Mix
Catahoula/German Shepherd
Alaskan Malamute
Armadillo Mix
Papillon
Grackle Mix
Mastiff/Rottweiler
Basset Hound/Pit Bull
Pointer/American Pit Bull Terrier
Alaskan Husky
Black Mouth Cur/Catahoula
Himalayan
Dachshund/Australian Cattle Dog
Australian Shepherd/Cardigan Welsh Corgi
Rottweiler/Australian Cattle Dog
Dachshund Wirehair
Rottweiler/Chow Chow
Otterhound Mix
Chihuahua Longhair/Dachshund
Australian Shepherd/Chow Chow
Dachshund/Shih Tzu
Bull Terrier Miniature Mix
Cane Corso Mix
Weimaraner/Labrador Retriever
Anatol Shepherd/Redbone Hound
Coyote
Pit Bull/Boston Terrier
Cardigan Welsh Corgi/German Shepherd
Parakeet
Gerbil Mix
Catahoula/Chinese Sharpei
Cardigan Welsh Corgi
Bullmastiff
Dalmatian/Labrador Retriever
Irish Wolfhound Mix
Tortoise Mix
German Shepherd/Great Pyrenees
Jack Russell Terrier/Shih Tzu
German Pinscher Mix
Norfolk Terrier/Chihuahua Shorthair
Cardigan Welsh Corgi/Pointer
Soft Coated Wheaten Terrier
Queensland Heeler/Pit Bull
Beagle/Australian Cattle Dog
Labrador Retriever/Flat Coat Retriever
Anatol Shepherd/Border Collie
Standard Schnauzer
Border Collie/Boxer
Pointer/Catahoula
Yorkshire Terrier/Border Terrier
Boxer/Chinese Sharpei
Vizsla/Labrador Retriever
Lionhead
Catahoula/Cardigan Welsh Corgi
Beagle/Rat Terrier
Black Mouth Cur/German Shepherd
Wire Hair Fox Terrier/Beagle
Shih Tzu/Dachshund
Manchester Terrier/Beagle
Anatol Shepherd/German Shepherd
German Wirehaired Pointer Mix
German Shorthair Pointer
Pit Bull/Mastiff
English Cocker Spaniel Mix
Chihuahua Longhair/Maltese
Chow Chow/Australian Cattle Dog
Labrador Retriever/Queensland Heeler
Jack Russell Terrier/Pit Bull
Pointer
Australian Cattle Dog/Cardigan Welsh Corgi
Belgian Malinois
Manx/Domestic Shorthair
Lhasa Apso/Shih Tzu
Labrador Retriever/Staffordshire
Grackle
Bedlington Terr Mix
Pembroke Welsh Corgi/Chihuahua Shorthair
Cymric Mix
Cane Corso
Miniature Pinscher/Pug
Devon Rex Mix
Miniature Poodle/Yorkshire Terrier
Chow Chow/Golden Retriever
Miniature Poodle/Chihuahua Shorthair
Basset Hound/Chinese Sharpei
Border Terrier/Yorkshire Terrier
Black/Tan Hound
Pixiebob Shorthair Mix
Coton De Tulear Mix
Dachshund Wirehair/Toy Poodle
Newfoundland/Labrador Retriever
Australian Cattle Dog/Chinese Sharpei
Chihuahua Shorthair/Australian Cattle Dog
Labrador Retriever/Redbone Hound
Shih Tzu/Toy Poodle
Shih Tzu/Havanese
Border Collie/Parson Russell Terrier
Chow Chow/Basset Hound
Miniature Schnauzer/Chihuahua Shorthair
Lop-Holland Mix
Border Collie/Catahoula
Chihuahua Shorthair/Pembroke Welsh Corgi
Weimaraner/Pit Bull
Australian Cattle Dog/Dachshund
Blue Lacy/Australian Kelpie
Cardigan Welsh Corgi/Beagle
Finnish Spitz
Australian Kelpie/Labrador Retriever
Basenji/Chihuahua Shorthair
Flat Coat Retriever/Pit Bull
American Bulldog/Boxer
American Bulldog/Mastiff
Chihuahua Longhair/Cardigan Welsh Corgi
Golden Retriever/Standard Poodle
Chihuahua Shorthair/German Shepherd
Catahoula/Great Dane
Border Terrier
Nova Scotia Duck Tolling Retriever
Cocker Spaniel/Dachshund
Sparrow Mix
Abyssinian Mix
Basenji/Australian Cattle Dog
Great Pyrenees/Golden Retriever
Boxer/Black Mouth Cur
Rat Terrier/Miniature Poodle
Bluebird Mix
Pit Bull/Rottweiler
Boxer/American Staffordshire Terrier
Whippet/Dachshund
Beagle/Jack Russell Terrier
Dove
Schipperke/Chihuahua Shorthair
Pit Bull/Black Mouth Cur
Cairn Terrier/Miniature Poodle
Wire Hair Fox Terrier/Chihuahua Shorthair
Catahoula/English Coonhound
Cockatoo
Border Collie/Pointer
Skye Terrier Mix
Dachshund/Pug
American Staffordshire Terrier/American Bulldog
Whippet/Labrador Retriever
Shih Tzu/Cocker Spaniel
Australian Cattle Dog/Plott Hound
Cairn Terrier/Chihuahua Longhair
Chihuahua Longhair/Jack Russell Terrier
Australian Cattle Dog/Bull Terrier
Japanese Chin Mix
Australian Cattle Dog/Pembroke Welsh Corgi
Catahoula/Boxer
Quaker Mix
Great Pyrenees/Australian Cattle Dog
Siberian Husky/Pit Bull
Russian Blue
Black/Tan Hound/Labrador Retriever
Miniature Poodle/Cairn Terrier
Australian Cattle Dog/Staffordshire
Manchester Terrier/Jack Russell Terrier
Parrot Mix
Chihuahua Shorthair/Basset Hound
Australian Kelpie/Blue Lacy
Golden Retriever/Border Collie
Dutch Shepherd
Boxer/English Bulldog
Miniature Poodle/Labrador Retriever
Labrador Retriever/Chesa Bay Retr
Doberman Pinsch/Labrador Retriever
Oriental Sh Mix
Golden Retriever/German Shepherd
Cardigan Welsh Corgi/Cocker Spaniel
Pigeon
Dachshund/Bloodhound
Exotic Shorthair Mix
Border Collie/Pit Bull
Dachshund/Chihuahua Longhair
Chinese Sharpei/Pit Bull
Boston Terrier/Dachshund
Great Pyrenees/Catahoula
Collie Rough/German Shepherd
Chihuahua Shorthair/Smooth Fox Terrier
Plott Hound/Boxer
Labrador Retriever/Collie Smooth
Pit Bull/Bulldog
Rat Terrier/Cardigan Welsh Corgi
Jindo Mix
Blue Lacy/Pit Bull
Dachshund Wirehair/Miniature Schnauzer
Chihuahua Longhair/Pekingese
Pit Bull/Dachshund
Chihuahua Shorthair/Wire Hair Fox Terrier
Rhode Island Mix
Boxer/Great Dane
Armadillo
Pit Bull/Dalmatian
Queensland Heeler/Chihuahua Shorthair
Ragdoll
German Shepherd/Black/Tan Hound
Cottontail Mix
Pomeranian/Chihuahua Shorthair
Turkish Angora Mix
Belgian Sheepdog Mix
Catahoula/Beagle
Labrador Retriever/Dalmatian
Labrador Retriever/Black Mouth Cur
Australian Kelpie/Pit Bull
Australian Shepherd/Cocker Spaniel
Border Collie/Australian Shepherd
Labrador Retriever/Whippet
Norwegian Forest Cat Mix
Shih Tzu/Maltese
Labrador Retriever/Mastiff
Great Pyrenees/Pointer
Labrador Retriever/Standard Schnauzer
Nova Scotia Duck Tolling Retriever Mix
Lop-Mini
Australian Cattle Dog/Basenji
Australian Cattle Dog/Chow Chow
Jack Russell Terrier/Cairn Terrier
Cairn Terrier/Dachshund
Lhasa Apso/Cairn Terrier
Carolina Dog/Australian Cattle Dog
Staffordshire/English Bulldog
Australian Cattle Dog/Siberian Husky
Beagle/Cocker Spaniel
Dachshund/Catahoula
Yorkshire Terrier/Toy Poodle
Doberman Pinsch/Pit Bull
Chihuahua Shorthair/Miniature Poodle
Labrador Retriever/Bloodhound
Border Collie/Beagle
Collie Smooth/German Shepherd
Chihuahua Shorthair/Chinese Sharpei
Dachshund Longhair/Chihuahua Longhair
Dachshund/Yorkshire Terrier
Devon Rex
Bull Terrier/Pit Bull
Lhasa Apso/Cocker Spaniel
Munchkin Shorthair Mix
Japanese Chin
Pit Bull/English Bulldog
Old English Sheepdog
Staffordshire/Bull Terrier
American Mix
Siberian Husky/Alaskan Malamute
Pekingese/Miniature Poodle
Miniature Pinscher/Dachshund
Miniature Schnauzer/Shih Tzu
Australian Kelpie/Australian Shepherd
Chihuahua Shorthair/Mexican Hairless
Wire Hair Fox Terrier
Pit Bull/Rat Terrier
Akita/German Shepherd
Harrier/Labrador Retriever
Labrador Retriever/Border Terrier
Pit Bull/Pit Bull
Whippet/Chihuahua Shorthair
Jack Russell Terrier/Maltese
Conure
Domestic Longhair/Persian
Turtle
Yorkshire Terrier/Lhasa Apso
Rat Terrier/Australian Cattle Dog
St. Bernard Rough Coat
Beagle/Cardigan Welsh Corgi
Dachshund Wirehair/Rat Terrier
Mastiff/Labrador Retriever
Anatol Shepherd/Australian Cattle Dog
Scottish Terrier
Catahoula/American Bulldog
Gordon Setter Mix
Catahoula/Whippet
Dachshund/Harrier
Black Mouth Cur/Labrador Retriever
Dachshund/Parson Russell Terrier
Treeing Walker Coonhound/Labrador Retriever
Samoyed
Great Dane/Mastiff
Havanese
Tibetan Terrier/Lhasa Apso
Shih Tzu/Yorkshire Terrier
Plott Hound/Rhod Ridgeback
Queensland Heeler/Pointer
Turkish Van Mix
Golden Retriever/Dachshund
Chow Chow/Siberian Husky
Picardy Sheepdog
Pug/Border Terrier
Rhod Ridgeback/Pit Bull
Silky Terrier
Heron Mix
Plott Hound/Pit Bull
Pit Bull/Siberian Husky
Australian Kelpie/Beagle
Boston Terrier/Pug
Domestic Shorthair/Siamese
German Shepherd/Bull Terrier
Maltese/Jack Russell Terrier
Australian Cattle Dog/German Shorthair Pointer
Chihuahua Shorthair/Swedish Vallhund
Pit Bull/Pug
English Bulldog/Boxer
Flat Coat Retriever/Labrador Retriever
German Shepherd/Black Mouth Cur
Yorkshire Terrier/Norfolk Terrier
Hotot Mix
Chihuahua Shorthair/Schipperke
Pekingese/Chihuahua Shorthair
Pharaoh Hound
Italian Greyhound/Chihuahua Shorthair
Australian Kelpie/Miniature Pinscher
Great Pyrenees/Australian Shepherd
Cardigan Welsh Corgi/Australian Shepherd
Jack Russell Terrier/Dachshund Wirehair
Harlequin Mix
English Foxhound
Netherlnd Dwarf Mix
Beagle/Pointer
Bearded Collie
Pembroke Welsh Corgi/German Shepherd
Norfolk Terrier/Yorkshire Terrier
Yorkshire Terrier/Jack Russell Terrier
Black Mouth Cur/Pit Bull
Carolina Dog
Mastiff/Boxer
Labrador Retriever/Cocker Spaniel
Rat Terrier/Dachshund
German Shepherd/Akita
Anatol Shepherd/Catahoula
Black/Tan Hound/Black Mouth Cur
Rhod Ridgeback/German Shepherd
Manx/Domestic Longhair
Dachshund Wirehair/Chihuahua Longhair
German Wirehaired Pointer
Cocker Spaniel/Chihuahua Shorthair
Bull Terrier Miniature
Chihuahua Longhair/Papillon
Australian Shepherd/Rottweiler
Pointer/Collie Smooth
Black Mouth Cur/Australian Cattle Dog
Chihuahua Shorthair/Cocker Spaniel
Boxer/Pointer

Redbone Hound/Boxer
Soft Coated Wheaten Terrier/Chihuahua Shorthair
Yorkshire Terrier/Yorkshire Terrier
Whippet/Whippet
Border Terrier/Chihuahua Longhair
Chihuahua Longhair/Chihuahua Shorthair
Golden Retriever/Akita
Bruss Griffon/Maltese
Dutch/Rabbit Sh
Australian Kelpie/Rat Terrier
Hawk Mix
Boykin Span/Dachshund
German Shepherd/English Coonhound
Australian Cattle Dog/Rat Terrier
Cairn Terrier/Dachshund Wirehair
Redbone Hound/Australian Cattle Dog
Bernese Mountain Dog/Rottweiler
Boxer/Queensland Heeler
Mastiff/German Shepherd
Chihuahua Longhair/Italian Greyhound
Cardigan Welsh Corgi/Rat Terrier
Chinese Sharpei/Beagle
Chihuahua Shorthair/Cirneco
Yorkshire Terrier/Soft Coated Wheaten Terrier
Border Collie/Bull Terrier
Queensland Heeler/Basset Hound
Harrier/Pointer
American Bulldog/Chinese Sharpei
Papillon/Pomeranian
Plott Hound/Bull Terrier
Cavalier Span/Border Collie
Whippet/Anatol Shepherd
Vizsla/German Shepherd
American Eskimo/Alaskan Husky
Afghan Hound Mix
Beagle/Parson Russell Terrier
Dachshund/Shetland Sheepdog
Chihuahua Shorthair/Shiba Inu
Basset Hound/Border Collie
Labrador Retriever/Irish Setter
Neapolitan Mastiff/Pit Bull
Snowshoe/Ragdoll
Shih Tzu/Affenpinscher
Dachshund/Dachshund
Queensland Heeler/Parson Russell Terrier
Treeing Walker Coonhound/Australian Cattle Dog
Beagle/American Staffordshire Terrier
Chihuahua Shorthair/Lhasa Apso
Collie Rough/Australian Cattle Dog
Golden Retriever/Whippet
Bluetick Hound
Shiba Inu/Australian Kelpie
Whippet/Miniature Pinscher
Black/Tan Hound/German Shepherd
Bruss Griffon/Yorkshire Terrier
Black/Tan Hound/Great Dane
Yorkshire Terrier/Australian Terrier
Italian Greyhound/Cavalier Span
Dachshund Longhair/Toy Poodle
Maltese/Chihuahua Shorthair
Dogo Argentino/Chinese Sharpei
Dutch
Dachshund/Pembroke Welsh Corgi
Pit Bull/American Foxhound
Dachshund Longhair/Pembroke Welsh Corgi
St. Bernard Smooth Coat
Lhasa Apso/Havanese
Norfolk Terrier/Lhasa Apso
Wire Hair Fox Terrier/German Shepherd
Dutch Shepherd/Boxer
American Bulldog/American Staffordshire Terrier
Plott Hound/Dutch Shepherd
Anatol Shepherd/Siberian Husky
Labrador Retriever/Chihuahua Shorthair
Rat Terrier/Chihuahua Longhair
Shetland Sheepdog/Basenji
Great Dane/Anatol Shepherd
Spanish Mastiff Mix
Heron
Pembroke Welsh Corgi/Anatol Shepherd
Beagle/Harrier
Chihuahua Shorthair/Rottweiler
English Coonhound/Italian Greyhound
Bichon Frise/Toy Poodle
Mouse Mix
Beagle/Manchester Terrier
Australian Cattle Dog/Black Mouth Cur
Catahoula/Irish Wolfhound
Chihuahua Shorthair/Shetland Sheepdog
Manx
Irish Setter Mix
Toy Poodle/Bichon Frise
Boxer/Cardigan Welsh Corgi
American Pit Bull Terrier/Pointer
Beagle/Chihuahua Longhair
Australian Kelpie/Chinese Sharpei
Whippet
French Bulldog/English Bulldog
Collie Smooth/Chow Chow
Chihuahua Longhair/Yorkshire Terrier
Toy Fox Terrier/Yorkshire Terrier
Staffordshire/Beagle
Saluki/Doberman Pinsch
Jack Russell Terrier/Basset Hound
Brittany/Collie Rough
St. Bernard Rough Coat/Labrador Retriever
Australian Cattle Dog/Australian Kelpie
English Coonhound/Border Collie
Papillon/Australian Cattle Dog
Beagle/Cairn Terrier
Norwegian Elkhound Mix
Dachshund/Chinese Sharpei
Lhasa Apso/Dachshund
Whippet/Borzoi
Cockatoo Mix
Lizard
Australian Kelpie/Alaskan Husky
Bunting
German Shepherd/Nova Scotia Duck Tolling Retriever
Beagle/Australian Kelpie
Queensland Heeler/Great Dane
Pomeranian/Border Terrier
Pekingese/Pomeranian
Smooth Fox Terrier/Basenji
Pembroke Welsh Corgi/Australian Cattle Dog
Doberman Pinsch/Border Collie
Domestic Shorthair/Manx
English Bulldog/Cairn Terrier
Papillon/Yorkshire Terrier
Swiss Hound/Pit Bull
Boxer/Akita
English Pointer
Catahoula/Treeing Walker Coonhound
Dachshund/Boxer
Plott Hound/German Shepherd
Papillon/Miniature Poodle
Irish Wolfhound/Great Pyrenees
Akita/Great Pyrenees
Miniature Pinscher/Pomeranian
American Pit Bull Terrier/Pit Bull
Basset Hound/French Bulldog
Cardigan Welsh Corgi/Labrador Retriever
Chow Chow/English Cocker Spaniel
Polish Mix
Labrador Retriever/St. Bernard Smooth Coat
Chinese Sharpei/Airedale Terrier
Mastiff/Cane Corso
Harrier/German Shepherd
Australian Shepherd/Jack Russell Terrier
Soft Coated Wheaten Terrier/Miniature Poodle
Dachshund/Greyhound
Cavalier Span/Toy Poodle
Miniature Schnauzer/Border Terrier
Australian Shepherd/Boxer
Dutch Shepherd/Anatol Shepherd
Border Terrier/Miniature Poodle
Boxer/Dogue De Bordeaux
Shetland Sheepdog/Chihuahua Longhair
Mastiff/Bloodhound
Great Pyrenees/Boxer
American Sable Mix
Golden Retriever/Pembroke Welsh Corgi
English Springer Spaniel/Labrador Retriever
American Bulldog/Basset Hound
Cocker Spaniel/Toy Poodle
Jack Russell Terrier/Manchester Terrier
Rhod Ridgeback/Harrier
Border Terrier/Rat Terrier
Pembroke Welsh Corgi/Pit Bull
Chihuahua Shorthair/Queensland Heeler
Vizsla/Dachshund
Jack Russell Terrier/Whippet
Dachshund/German Pinscher
Australian Cattle Dog/Collie Smooth
American Curl Shorthair Mix
German Shepherd/Basenji
Jack Russell Terrier/Chihuahua Longhair
Collie Rough/Irish Setter
Chihuahua Shorthair/Affenpinscher
Border Terrier/West Highland
Dachshund/Havanese
Collie Smooth/Saluki
Jack Russell Terrier/Pug
Chihuahua Shorthair/Cavalier Span
Sugar Glider
Akita/Pit Bull
Dutch Shepherd/Mastiff
American Pit Bull Terrier/American Pit Bull Terrier
Chihuahua Longhair/Rat Terrier
Akita/Mastiff
Boxer/Bulldog
Shih Tzu/Pug
Rex-Mini
Australian Cattle Dog/Pug
Doberman Pinsch/Black/Tan Hound
Cairn Terrier/Affenpinscher
Boxer/Neapolitan Mastiff
Entlebucher Mix
Australian Kelpie/Border Collie
Boston Terrier/Labrador Retriever
Shih Tzu/Cardigan Welsh Corgi
Basset Hound/Dachshund
Chesa Bay Retr
Chow Chow/Border Collie
Shetland Sheepdog/Pomeranian
Catahoula/Siberian Husky
Irish Terrier/Irish Wolfhound
Staffordshire/Bulldog
Australian Shepherd/Siberian Husky
Cinnamon
American Staffordshire Terrier/French Bulldog
Boxer/Jack Russell Terrier
Pug/Pomeranian
Anatol Shepherd/Collie Rough
Anatol Shepherd/Pit Bull
Chihuahua Shorthair/Shih Tzu
Siberian Husky/Great Pyrenees
Glen Of Imaal/Ibizan Hound
Norfolk Terrier/Cairn Terrier
Cavalier Span/Papillon
Soft Coated Wheaten Terrier/Standard Poodle
Boston Terrier/Rat Terrier
Shiba Inu/Siberian Husky
Great Dane/Boerboel
Scottish Terrier/Basset Hound
Australian Shepherd/English Setter
Border Collie/Dalmatian
Border Collie/American Staffordshire Terrier
African Mix
Canaan Dog/Pit Bull
Pit Bull/Cardigan Welsh Corgi
Lowchen Mix
Miniature Poodle/Golden Retriever
Kuvasz/Labrador Retriever
Siberian Husky/Chinese Sharpei
Domestic Shorthair/British Shorthair
Pomeranian/Schipperke
Black Mouth Cur/Mastiff
Ocicat Mix
Blue Lacy/Australian Cattle Dog
Maltese/Dachshund
Scottish Terrier/Miniature Poodle
Dachshund Wirehair/Cairn Terrier
Wire Hair Fox Terrier/Golden Retriever
Queensland Heeler/Shetland Sheepdog
Brittany/Border Collie
German Shepherd/Whippet
Australian Cattle Dog/Alaskan Husky
Australian Shepherd/Dachshund
Unknown Mix
Cairn Terrier/Border Terrier
Greater Swiss Mountain Dog
Australian Kelpie/Shiba Inu
Pit Bull/Jindo
Australian Shepherd/Greyhound
Norfolk Terrier/Border Terrier
Border Collie/Standard Schnauzer
German Shepherd/Weimaraner
German Shepherd/Redbone Hound
Australian Kelpie/Chihuahua Shorthair
Australian Shepherd/Beagle
Pembroke Welsh Corgi/Golden Retriever
Australian Cattle Dog/Boston Terrier
Cardigan Welsh Corgi/English Setter
Pit Bull/Jack Russell Terrier
Miniature Poodle/Chihuahua Longhair
Shih Tzu/Australian Shepherd
St. Bernard Rough Coat/Border Collie
Newfoundland/Border Collie
Dachshund/German Shepherd
Standard Schnauzer/Toy Poodle
Chihuahua Shorthair/Boxer
Dalmatian/Boxer
Miniature Pinscher/Maltese
Lop-Holland
Lhasa Apso/Border Terrier
Domestic Shorthair/Abyssinian
Carolina Dog/Pit Bull
Flat Coat Retriever/Chow Chow
Beagle/Catahoula
Whippet/Shetland Sheepdog
Lhasa Apso/Pbgv
Queensland Heeler/Great Pyrenees
Dachshund Stan Mix
English Spot
Patterdale Terr/Chihuahua Shorthair
Boxer/Chow Chow
Jack Russell Terrier/Pointer
Australian Cattle Dog/Golden Retriever
Chow Chow/American Eskimo
Hovawart
Great Pyrenees/English Setter
Hedgehog
Rhod Ridgeback/Chow Chow
Miniature Schnauzer/Scottish Terrier
Cavalier Span/Pug
Bulldog/Boston Terrier
Staffordshire/Australian Cattle Dog
Border Terrier/Border Collie
Great Dane/Boxer
Australian Cattle Dog/American Staffordshire Terrier
Shetland Sheepdog/Italian Greyhound
Border Terrier/Dachshund
Peafowl
Barred Rock Mix
Basset Hound/English Cocker Spaniel
Maltese/Border Terrier
Rabbit Lh
Manchester Terrier/Norfolk Terrier
Treeing Tennesse Brindle
Newfoundland/Queensland Heeler
Standard Schnauzer/Miniature Poodle
Border Collie/Plott Hound
Rottweiler/Siberian Husky
Miniature Schnauzer/Standard Poodle
Yorkshire Terrier/Shih Tzu
German Shepherd/Beagle
Leonberger/German Shepherd
Rottweiler/Boxer
Pit Bull/Border Collie
Ringtail Mix
Quaker
Toy Poodle/Dachshund
Skye Terrier/Miniature Poodle
Sealyham Terr Mix
Cocker Spaniel/Golden Retriever
Plott Hound/Black/Tan Hound
Pointer/Blue Lacy
Dachshund/English Bulldog
Chihuahua Longhair/Pug
Welsh Springer Spaniel Mix
Basenji/Chow Chow
St. Bernard Rough Coat/Boxer
Pointer/Anatol Shepherd
Snowshoe/Domestic Shorthair
Welsh Terrier/Wire Hair Fox Terrier
English Setter Mix
Redbone Hound/Dachshund
Norfolk Terrier/Standard Poodle
Boxer/Plott Hound
Lhasa Apso/Yorkshire Terrier
Border Collie/Canaan Dog
Soft Coated Wheaten Terrier/Border Terrier
Papillon/Skye Terrier
Pit Bull/American Bulldog
Pomeranian/American Eskimo
Harrier/Catahoula
German Shepherd/Greyhound
German Shorthair Pointer/Australian Cattle Dog
Pointer/Staffordshire
Boxer/Doberman Pinsch
Budgerigar
Australian Cattle Dog/American Foxhound
Miniature Schnauzer/Whippet
Collie Smooth/Golden Retriever
Beagle/Treeing Walker Coonhound
Rhod Ridgeback/Plott Hound
Pbgv/Jack Russell Terrier
Great Pyrenees/Plott Hound
Nuthatch Mix
Miniature Poodle/West Highland
Bluetick Hound/Great Pyrenees
Beagle/Black Mouth Cur
Yorkshire Terrier/Dachshund Wirehair
Rhod Ridgeback/Mastiff
Australian Shepherd/Collie Rough
Redbone Hound/Anatol Shepherd
Rat Terrier/Pointer
Vulture Mix
Silky Terrier/Maltese
Golden Retriever/Cocker Spaniel
Chihuahua Longhair/Cavalier Span
Collie Rough/Golden Retriever
Cairn Terrier/Scottish Terrier
Basset Hound/Golden Retriever
Chinese Sharpei/American Staffordshire Terrier
Irish Wolfhound/Great Dane
Feist/Chihuahua Shorthair
Wire Hair Fox Terrier/Miniature Schnauzer
English Springer Spaniel/Cardigan Welsh Corgi
Whippet/Jack Russell Terrier
Toy Poodle/Cocker Spaniel
Otter Mix
Cairn Terrier/Italian Greyhound
Catahoula/American Pit Bull Terrier
Yorkshire Terrier/Bruss Griffon
Dachshund Wirehair/Pbgv
Shiba Inu/Chinese Sharpei
Basenji/Labrador Retriever
Golden Retriever/Australian Shepherd
Standard Poodle/Whippet
Irish Wolfhound/Australian Shepherd
English Bulldog/Australian Cattle Dog
Redbone Hound
Guinea Mix
Goose Mix
Great Dane/Australian Cattle Dog
Rhod Ridgeback/Australian Cattle Dog
Miniature Poodle/Australian Cattle Dog
West Highland/Miniature Poodle
Vizsla/Boxer
Rat Terrier/Pug
Chihuahua Shorthair/Parson Russell Terrier
American Bulldog/Great Pyrenees
Boxer/Greyhound
Labrador Retriever/English Pointer
Whippet/Rat Terrier
French Bulldog/Dachshund
Pointer/Queensland Heeler
Newfoundland/Australian Cattle Dog
Cornish Rex Mix
Smooth Fox Terrier/Rat Terrier
Rat Terrier/Pit Bull
Bruss Griffon
Airedale Terrier/Labrador Retriever
Australian Shepherd/Feist
Siberian Husky/Catahoula
Boxer/German Shepherd
Beagle/Pit Bull
Frog
Scottish Terrier/Cairn Terrier
Pembroke Welsh Corgi/Chihuahua Longhair
Australian Cattle Dog/Rhod Ridgeback
Pit Bull/Pharaoh Hound
Cardigan Welsh Corgi/American Eskimo
Harrier/Pit Bull
Silver Mix
English Coonhound/Beagle
Black Mouth Cur/American Staffordshire Terrier
Manchester Terrier/Labrador Retriever
Rat Terrier/Basenji
Basset Hound/English Pointer
Beagle/Chinese Sharpei
Australian Cattle Dog/Dalmatian
Vizsla/Staffordshire
Cockatiel
Shetland Sheepdog/Keeshond
Border Collie/English Pointer
Boxer/Boston Terrier
Labrador Retriever/Spanish Water Dog
Boston Terrier/Miniature Schnauzer
Jindo/Shiba Inu
Pembroke Welsh Corgi/Brittany
Basenji
Beagle/Cavalier Span
Cocker Spaniel/Shetland Sheepdog
Bluetick Hound/Australian Kelpie
Jack Russell Terrier/American Staffordshire Terrier
Border Collie/Brittany
Pug/Pit Bull
Finnish Spitz/Dachshund
Jack Russell Terrier/Basenji
Saluki Mix
Dogue De Bordeaux/American Bulldog
Pekingese/Maltese
Basset Hound/Beauceron
Chihuahua Shorthair/Papillon
Black/Tan Hound/Siberian Husky
Miniature Poodle/Border Terrier
Miniature Schnauzer/Soft Coated Wheaten Terrier
Brittany/Chihuahua Shorthair
Siberian Husky/Rottweiler
Cairn Terrier/Shih Tzu
Rottweiler/Basset Hound
Siberian Husky/Anatol Shepherd
Havana Brown Mix
Dachshund Longhair/Cairn Terrier
Dachshund/Pomeranian
Pit Bull/St. Bernard Smooth Coat
Great Pyrenees/Collie Rough
Plott Hound/Rottweiler
Rat Terrier/Queensland Heeler
Miniature Poodle/American Eskimo
Golden Retriever/Australian Cattle Dog
Domestic Longhair/Russian Blue
Miniature Schnauzer/Labrador Retriever
Pug/Staffordshire
Boxer/Redbone Hound
Shetland Sheepdog/Dachshund Longhair
Whippet/Treeing Cur
Bruss Griffon/Chihuahua Longhair
German Wirehaired Pointer/Labrador Retriever
Shetland Sheepdog/Cavalier Span
Collie Smooth/Boxer
Miniature Poodle/Italian Greyhound
Smooth Fox Terrier/Jack Russell Terrier
Chihuahua Longhair/Cocker Spaniel
Grand Basset Griffon Vendeen Mix
Rat Terrier/Cairn Terrier
Catahoula/Black Mouth Cur
Border Collie/English Springer Spaniel
Cardigan Welsh Corgi/Cairn Terrier
Keeshond
Border Terrier/Cardigan Welsh Corgi
Great Dane/Australian Shepherd
Border Collie/Anatol Shepherd
Border Terrier/Affenpinscher
Cocker Spaniel/Beagle
Blue Lacy/Cardigan Welsh Corgi
Australian Kelpie/Bull Terrier
Catahoula/Mastiff
Cocker Spaniel/Basset Hound
Catahoula/Chow Chow
Jack Russell Terrier/Cardigan Welsh Corgi
Lowchen/Miniature Poodle
Chihuahua Longhair/Border Terrier
Cardigan Welsh Corgi/Australian Kelpie
Scottish Fold Mix
Cocker Spaniel/Australian Shepherd
Boston Terrier/Pointer
Lovebird Mix
Great Pyrenees/German Shepherd
Border Collie/Great Dane
American Pit Bull Terrier/Boxer
Doberman Pinsch/Vizsla
Wren Mix
Australian Kelpie/Australian Cattle Dog
Chesa Bay Retr/Labrador Retriever
Black Mouth Cur/Basset Hound
Miniature Poodle/Havanese
Bruss Griffon/Cairn Terrier
Pit Bull/Chow Chow
English Shepherd
German Shepherd/Australian Kelpie
Weimaraner/Plott Hound
Eng Toy Spaniel Mix
Labrador Retriever/Alaskan Husky
Maltese/Yorkshire
Beagle/Whippet
Maltese/Dalmatian
Miniature Schnauzer/Lhasa Apso
Australian Shepherd/Parson Russell Terrier
Border Terrier/Bruss Griffon
Miniature Pinscher/Smooth Fox Terrier
Plott Hound/Whippet
Standard Schnauzer/Soft Coated Wheaten Terrier
Angora-French Mix
Finnish Spitz/Chow Chow
Manchester Terrier/Pembroke Welsh Corgi
English Bulldog/Beagle
Australian Shepherd/Rhod Ridgeback
Siberian Husky/Australian Shepherd
Munchkin Longhair Mix
Great Pyrenees/Queensland Heeler
Norfolk Terrier/Bruss Griffon
Border Terrier/Soft Coated Wheaten Terrier
Collie Rough/Chinese Sharpei
Tibetan Spaniel/Beagle
Mastiff/Akita
Cocker Spaniel/Chihuahua Longhair
American Pit Bull Terrier/American Bulldog
Australian Shepherd/German Shepherd
Jack Russell Terrier/Unknown
Catahoula/Jack Russell Terrier
Redbone Hound/Redbone Hound
Pit Bull/Queensland Heeler
Beagle/Australian Shepherd
Pointer/Australian Kelpie
Pekingese/Catahoula
Sparrow
Norwich Terrier/Pug
American Pit Bull Terrier/Chinese Sharpei
Great Pyrenees/Siberian Husky
Collie Smooth/Siberian Husky
Alaskan Malamute/Australian Kelpie
Boxer/Great Pyrenees
Pug/Labrador Retriever
Dachshund Wirehair/Yorkshire Terrier
Australian Cattle Dog/Parson Russell Terrier
Mockingbird
Black Mouth Cur/Staffordshire
Akita/Labrador Retriever
Miniature Schnauzer/Border Collie
Toy Fox Terrier/Dachshund
Ibizan Hound/Pit Bull
Blue Lacy/Great Dane
Rat Terrier/Jack Russell Terrier
Golden Retriever/Bearded Collie
Vizsla/Catahoula
Rhod Ridgeback/Bullmastiff
Chow Chow/Pomeranian
Owl
Boykin Span/Cocker Spaniel
Miniature Schnauzer/West Highland
Pembroke Welsh Corgi/Basset Hound
Vizsla/Rhod Ridgeback
Miniature Pinscher/Whippet
Pekingese/Lhasa Apso
English Coonhound/Australian Cattle Dog
Boxer/Harrier
Norfolk Terrier/Dachshund Wirehair
Miniature Poodle/English Cocker Spaniel
Siamese/Angora
Miniature Pinscher/Australian Cattle Dog
Chinese Sharpei/Border Collie
Saluki/Labrador Retriever
Great Pyrenees/Alaskan Husky
Blue Lacy/Beagle
Labrador Retriever/Alaskan Malamute
Border Collie/Siberian Husky
Standard Schnauzer/Standard Poodle
German Shepherd/German Shepherd
Tibetan Spaniel
Sussex Span Mix
Alaskan Husky/Border Collie
Australian Cattle Dog/Vizsla
Queensland Heeler/Australian Cattle Dog
Golden Retriever/Pit Bull
American Foxhound
American Foxhound/Labrador Retriever
Leonberger
Beagle/Staffordshire
Potbelly Pig Mix
Pekingese/Cavalier Span
Collie Rough/Pembroke Welsh Corgi
Australian Shepherd/Pit Bull
Chinese Sharpei/Boxer
Dachshund/Cavalier Span
German Shepherd/Plott Hound
Chihuahua Shorthair/Labrador Retriever
Pekingese/Tibetan Terrier
Staffordshire/French Bulldog
Jack Russell Terrier/Shetland Sheepdog
Manchester Terrier/Chihuahua Longhair
Blue Lacy/Pointer
Cocker Spaniel/Standard Poodle
Lakeland Terrier Mix
Whippet/Australian Cattle Dog
Border Collie/Rottweiler
Dachshund/Swedish Vallhund
Australian Kelpie/Finnish Spitz
Alaskan Malamute/Akita
Chinese Sharpei/Rat Terrier
Toy Poodle/Yorkshire Terrier
Plott Hound/Carolina Dog
Norwich Terrier
Soft Coated Wheaten Terrier/Yorkshire Terrier
French Bulldog/Pug
American Sable
Chinese Sharpei/Australian Cattle Dog
Anatol Shepherd/Mastiff
Chinese Crested/Chihuahua Longhair
Shih Tzu/Pekingese
Pomeranian/Shetland Sheepdog
Chihuahua Shorthair/Border Collie
Plott Hound/Mastiff
American Wirehair Mix
American Staffordshire Terrier/Plott Hound
Doberman Pinsch/Rottweiler
Anatol Shepherd/Australian Shepherd
English Bulldog/American Staffordshire Terrier
German Shepherd/Smooth Fox Terrier
Rottweiler/English Bulldog
Miniature Poodle/Beagle
Australian Kelpie/Whippet
Maltese/Papillon

In [112]:
# Find Mix breeds
new_breed=[]
for i in df['Breed_intake']:
    if 'Mix' in i:
        i='Mix'
    elif "/" in i:
        i="Mix"
    elif 'Chihuahua' in i:
        i = 'Chihuahua'
    elif 'Retriever' in i or i=='Chesa Bay Retr':
        i = 'Retriever Breeds'
    elif 'Bull' in i or 'Staffordshire' in i or i=='Chinese Sharpei' or i=='Dogo Argentino' or i=='Boxer':
        i = 'Bully Breeds'
    elif 'Terrier' in i:
        i= 'Terrier Breeds'
    elif i=='Bat' or i=='Raccoon' or i=='Opossum' or i=='Duck' or i=='Fox' or i=='Grackle' or i=='Hawk' or i=='Coyote' or i=='Pigeon' or i=='Dove' or i=='Armadillo' or i=='Owl' or i=='Skunk' or i=='Squirrel' or i=='Mockingbird' or i=='Heron' or i=='Sparrow':
        i = 'Wildlife'
    elif i=='German Shepherd' or i=='Belgian Malinois':
        i = 'German Shepherd'
    elif 'Pointer' in i or 'Span' in i or i=='Vizsla' or i=='Brittany' or i=='Shiba Inu' or i=='Dalmatian' or i=='Standard Poodle' or i=='Carolina Dog' or i=='Weimaraner':
        i = 'Sporting Breeds'
    elif 'hound' in i or 'Hound' in i or i=='Beagle' or i=='Saluki' or 'Coon' in i or i=='Catahoula' or i=='Black Mouth Cur' or i=='Harrier' or i=='Blue Lacy' or i=='Treeing Tennesse Brindle' or i=='Whippet':
        i = 'Hound Breeds'
    elif 'Husky' in i or 'Malamute' in i or 'Eskimo' in i or i=='Finnish Spitz' or i=='Samoyed' or i=='Keeshond' or i=='Jindo':
        i = 'Husky Breeds'
    elif i=='Shih Tzu' or i=='Miniature Poodle' or i=='Miniature Schnauzer' or i=='Maltese' or i=='Pomeranian' or i=='Lhasa Apso' or i=='Toy Poodle' or i=='Pekingese' or i=='Bichon Frise' or i=='Cavalier Span' or i=='West Highland' or i=='Papillon' or i=='Havanese' or i=='Japanese Chin' or i=='Dandie Dinmont' or i=='Bruss Griffon' or i=='Coton De Tulear' or 'Dachshund' in i or i=='French Bulldog' or i=='Pug' or i=='Miniature Pinscher' or i=='Pbgv':
        i = 'Toy Breeds'
    elif 'Australian' in i or 'Collie' in i or 'Heeler' in i or 'Sheepdog' in i or i=='English Shepherd' or i=='Dutch Shepherd' or 'Corgi' in i or i=='Beauceron' or i=='Hovawart':
        i = 'Herding Breeds'
    elif i=='Chinese Sharpei' or i=='Chow Chow' or i=='Standard Schnauzer' or i=='Basenji' or i=='Rottweiler' or i=='Doberman Pinsch':
        i = 'Working Breeds'
    elif i=='Great Pyrenees' or i=='Great Dane' or i=='Anatol Shepherd' or i=='Cane Corso' or i=='Rhod Ridgeback' or i=='Akita' or i=='Mastiff' or i=='Presa Canario' or 'Bernese' in i or i=='Burmese' or 'Bernard' in i or i=='Leonberger' or i=='Greater Swiss Mountain Dog' or i=='Boerboel'or i=='Landseer':
        i = 'X Large Breeds'
    elif i=='Domestic Shorthair':
        i = 'Domestic Shorthair'
    elif i=='Domestic Medium Hair':
        i = 'Domestic Medium Hair'
    elif i=='Persian' or i=='Siamese' or i=='Domestic Longhair' or i=='Persian' or i=='Himalayan' or i=='Russian Blue' or i=='Bengal' or i=='Devon Rex' or i=='Sphynx' or i=='British Shorthair' or i=='Manx':
        i = 'Other Cat'
    else:
        i='Other'
    new_breed.append(i)
new_breed

['Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Shorthair',
 'Wildlife',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'German Shepherd',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Chihuahua',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Sporting Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Working Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Domestic Shorthair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Shorthair',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Sporting Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 ...]

In [113]:
df["new_breed"]=new_breed

In [114]:
breed_counts=df['new_breed'].value_counts()
breed_counts

Mix                     51933
Wildlife                 1060
Toy Breeds                446
Bully Breeds              318
Domestic Shorthair        300
Other                     186
Terrier Breeds            173
Retriever Breeds          172
Herding Breeds            167
Chihuahua                 166
Hound Breeds              153
German Shepherd           138
Domestic Medium Hair      109
Working Breeds            107
Other Cat                 104
X Large Breeds             99
Sporting Breeds            96
Husky Breeds               79
Name: new_breed, dtype: int64

In [115]:
# drop and rename
df=df.drop(columns=['Breed_intake'])
df=df.rename(columns={"new_breed": "Breed_Type"})
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,Breed_Type
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361,Mix
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111,Mix
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806,Mix
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639,Hound Breeds
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306,Mix

## Color_intake column

In [116]:
color_counts=df['Color_intake'].value_counts()
color_counts

Black/White                5698
Black                      4720
Brown Tabby                3360
Brown                      2583
White                      1964
                           ...
Torbie/Calico                 1
Chocolate/Gold                1
Cream/Cream                   1
Tortie Point/Lynx Point       1
Blue/Yellow                   1
Name: Color_intake, Length: 478, dtype: int64

In [117]:
for i in color_counts.index:
    print(i)

Black/White
Black
Brown Tabby
Brown
White
Brown Tabby/White
Orange Tabby
Brown/White
Tan/White
Tricolor
White/Black
Blue/White
Tan
Black/Tan
Tortie
White/Brown
Black/Brown
Calico
Blue
Brown/Black
Blue Tabby
Brown Brindle/White
Orange Tabby/White
White/Tan
Red
Torbie
Red/White
Brown Brindle
Blue Tabby/White
Tan/Black
Chocolate/White
Cream Tabby
Yellow
Gray
Sable
Lynx Point
Cream
Buff
Seal Point
Chocolate
Gray/Black
White/Blue
Gray/White
White/Brown Tabby
White/Brown Brindle
Black/Gray
Fawn/White
Sable/White
Cream Tabby/White
White/Gray
Black Tabby
Brown/Tan
Flame Point
Blue Merle
Red/Black
Torbie/White
Fawn
Chocolate/Tan
White/Red
Black Brindle/White
Cream/White
Gold
Yellow/White
White/Tricolor
White/Orange Tabby
Black Smoke
Black/Brown Brindle
Gray Tabby
Blue Merle/White
Buff/White
Black/Tricolor
White/Cream
Lilac Point
White/Chocolate
Red/Tan
Tan/Brown
White/Orange
Brown Merle
Orange/White
Blue/Tan
White/Buff
Black Tabby/White
Tortie Point
Black Brindle
Tortie/White
Orange
Brown Merle/White
Black/Red
Blue Point
Calico/White
Red Merle
Apricot
Blue Tick
Blue Merle/Tan
Calico Point
Red Tick
Silver Tabby
Chocolate Point
Fawn/Black
Seal Point/White
Gray Tabby/White
Black/Black
Gold/White
Tricolor/White
Silver/Tan
Red Merle/White
Sable/Tan
Lynx Point/White
Brown/Gray
Brown Tabby/Black
Pink
Red/Brown
Yellow Brindle/White
White/Blue Tabby
Silver
Tan/Gray
Black/Cream
White/White
Blue Tick/Black
Tan/Cream
Gray/Tan
Yellow Brindle
Black Smoke/White
Blue Cream
Red Tick/White
Cream/Black
Brown Brindle/Black
Tricolor/Black
Tan/Silver
Brown/Tricolor
Green
Buff/Tan
Brown/Red
Sable/Black
Liver/White
Silver Tabby/White
Cream/Tan
Blue Tick/Tan
Tan/Tan
Brown/Brown
Gray/Brown
White/Black Brindle
White/Liver
Blue Tiger/White
White/Blue Merle
Tan/Buff
Black/Blue Merle
Black/Silver
Red/Cream
White/Red Merle
White/Cream Tabby
Yellow/Black
Buff/Black
Calico/Black
Sable/Brown
Tortie/Blue Cream
Silver Lynx Point
Black/Orange
Black/Blue Tick
Blue Merle/Black
Black/Chocolate
Tricolor/Brown
Gray/Red
Black/Black Brindle
Brown/Cream
Black/Buff
Blue Smoke
Blue/Black
Agouti
Silver/Black
Gray/Pink
White/Brown Merle
White/Red Tick
Silver/Brown
Brown Tiger
White/Black Tabby
Blue Merle/Brown
Chocolate Point/White
Tan/Red
Chocolate/Brown
Red/Gray
White/Silver
Blue Tick/White
Brown Brindle/Tan
Liver/Tan
Silver/White
White/Yellow Brindle
Brown/Silver
Black Brindle/Brown
Fawn/Blue
Sable/Cream
White/Blue Tick
Black/Blue
Apricot/White
Chocolate/Tricolor
Cream/Brown
Blue Cream/White
Gray/Orange
Fawn/Brown
Fawn/Tan
Brown Tabby/Brown
White/Apricot
White/Yellow
Calico/Brown Tabby
Green/Yellow
Gray/Cream
Blue Tiger
Black/Yellow
Tan/Blue
Brown/Chocolate
Black/Yellow Brindle
Gray/Silver
Tortie/Black
White/Calico
Calico/Tricolor
Blue/Tricolor
Blue Point/White
Orange/Tan
Buff/Gray
White/Lynx Point
Tan/Tricolor
Brown Tabby/Brown Tabby
Green/Blue
Brown Merle/Tan
Brown/Yellow
Blue Tick/Brown
White/Gray Tabby
Gray/Tortie
Tortie/Orange
Blue/Cream
Brown/Buff
White/Pink
Liver Tick
Brown/Green
Tan/Yellow
Brown Tabby/Orange
Blue/Brown
Buff/Yellow
Calico/Blue Cream
Cream/Red
Red/Red Tick
Tortie Point/White
Blue/Brown Brindle
Blue Merle/Tricolor
Lilac Point/White
Gold/Gold
Gray/Yellow
Seal Point/Brown
Orange Tabby/Orange Tabby
Tricolor/Blue
Brown Tabby/Tortie
Brown Tiger/White
Chocolate/Red
Chocolate/Black
Tricolor/Tan
Gray/Blue
Brown Brindle/Brown
Brown/Red Tick
Red Tick/Tan
White/Blue Cream
Yellow/Orange
Gold/Black
Red Tick/Red
Blue Tick/Red Tick
Blue/Blue
White/Black Smoke
Brown Brindle/Red Tick
Silver/Chocolate
White/Chocolate Point
Orange Tabby/Cream
Tricolor/Blue Merle
Blue/Gray
White/Gold
Blue Tabby/Cream
Yellow/Cream
Black/Brown Tabby
Calico Point/White
Agouti/White
Tricolor/Chocolate
Fawn/Gray
Apricot/Brown
Tricolor/Brown Merle
Red/Tricolor
Black/Pink
Cream/Seal Point
Red Tick/Brown
Blue/Yellow Brindle
Yellow/Orange Tabby
Green/Brown
Brown/Brown Tabby
Liver
Black Tiger/White
Yellow/Gray
Torbie/Blue Cream
Brown Tabby/Gray
Tortie/Blue
Sable/Red
Silver/Gray
Torbie/Brown Tabby
Blue Cream/Tortie
Orange/Black
Black/Tortie
Gold/Yellow
Tan/Gold
Brown/Blue Merle
Blue/Tortie
Blue Smoke/White
Red/Red Merle
Brown/Orange
Red/Yellow
Gold/Tan
Tricolor/Brown Brindle
Black/Black Smoke
Tricolor/Silver
Gray Tabby/Black
Cream/Gray
Brown Merle/Black
Fawn/Tricolor
Buff/Red
Chocolate/Cream
Brown Brindle/Blue Tick
Chocolate/Brown Tabby
Brown/Brown Brindle
Black/Gray Tabby
Black/Brown Merle
Gold/Cream
Red Merle/Black
Black Brindle/Black
Red/Buff
Blue Merle/Red Merle
Blue Tick/Red
Tortie/Calico
Flame Point/White
Red/Silver
White/Liver Tick
Orange Tabby/Orange
Calico/Brown
Cream/Orange
Sable/Buff
Blue Merle/Blue Merle
Black Smoke/Black
Tortie/Brown
Black/Black Tabby
Brown/Brown Merle
Tricolor/Calico
Brown/Black Brindle
Silver/Cream
Red Tick/Black
Brown Merle/Brown
Chocolate/Yellow
Blue Merle/Cream
Silver/Red
Apricot/Tricolor
Cream/Silver
Lynx Point/Brown Tabby
White/Calico Point
Brown/Black Tabby
Brown Merle/Blue Merle
Ruddy/Cream
Black Smoke/Blue Tick
Red Tick/Brown Merle
Blue Tabby/Blue Cream
Brown/Red Merle
Yellow/Brown
Black/Seal Point
Gold/Brown
Chocolate Point/Cream
Calico/Calico
White/Brown Tiger
Green/Gray
Calico/Orange Tabby
Blue Tabby/Orange
Green/White
Green/Black
Blue Tick/Brown Brindle
Gray/Tricolor
Blue Smoke/Brown
Black Smoke/Brown Tabby
Red/Green
Blue/Orange
Agouti/Brown Tabby
Orange/Brown
Tricolor/Red Tick
Sable/Red Merle
Black/Silver Tabby
White/Gray Tiger
Brown Brindle/Blue
Yellow/Tan
Green/Orange
Brown Brindle/Blue Cream
Lynx Point/Gray Tabby
Tricolor/Orange
Tricolor/Tricolor
Orange Tabby/Black
Blue Tabby/Black
Brown/Pink
White/Flame Point
Red Merle/Tan
White/Seal Point
Orange Tabby/Tortie Point
Cream Tabby/Cream Tabby
Brown Tabby/Gray Tabby
Silver Tabby/Black
Torbie/Brown
Lilac Point/Cream
Cream/Yellow
Tan/Red Tick
Blue Cream/Blue Tiger
Agouti/Gray
Blue Merle/Brown Brindle
Yellow/Yellow
Yellow Brindle/Blue
Chocolate/Brown Merle
Tan/Yellow Brindle
Blue Merle/Gray
Brown Tabby/Black Brindle
Buff/Cream
Flame Point/Cream
Tan/Apricot
Orange Tiger
Blue Cream/Buff
Orange Tabby/Brown
Lynx Point/Tan
Black Tabby/Orange
Black Tabby/Black
Calico/Blue Tabby
Sable/Gray
Blue/Calico
Seal Point/Gray
Lynx Point/Tortie Point
Chocolate/Red Tick
Black Smoke/Gray
Red/Gold
Tricolor/Gray
Liver/Chocolate
Orange/Gray
Brown Brindle/Brown Brindle
Orange Tabby/Apricot
Fawn/Chocolate
Chocolate/Brown Brindle
Brown/Blue
Liver/Buff
Gray/Buff
Cream/Red Tick
Red/Red
Black Brindle/Brown Brindle
Chocolate/Liver Tick
Liver Tick/White
Torbie/Gray
Red/Blue
Silver/Blue
Black/Gold
White/Tortie
Brown Tabby/Blue
Black Smoke/Brown
Blue/Silver
Orange/Blue
Tortie/Blue Tabby
Blue Tabby/Tan
Chocolate/Gray
Black/Green
Tan/Brown Merle
Torbie/Blue Tabby
Brown Brindle/Brown Merle
Gray/Gold
Tortie/Black Smoke
Tricolor/Blue Tick
Red Tick/Blue Tick
Gold/Buff
Black Brindle/Blue Tick
Tan/Brown Brindle
Brown Tabby/Orange Tabby
Blue Cream/Blue Tabby
Torbie/Calico
Chocolate/Gold
Cream/Cream
Tortie Point/Lynx Point
Blue/Yellow

In [118]:
colorNew=[]
for i in df.Color_intake:
    if "/" in i:
        i="Bicolor"
    elif "Tabby" in i:
        i='Tabby'
    elif "Brindle" in i:
        i="Tabby"
    elif "Merle" in i:
        i="Merle"
    elif "Tiger" in i:
        i="Tiger"
    elif "Tortie" in i:
        i="Tabby"
    elif "Calico" in i:
        i="Tabby"
    elif "Torbie" in i:
        i="Tabby"
    elif i=="Apricot" or i=="Gold" or i=="Yellow" or i=="Fawn":
        i="Orange"
    elif "Blue" in i:
        i="Blue"
    elif "Black" in i or i=="Sable":
        i="Black"
    elif i=="Liver":
        i="Brown"
    elif "Point" in i:
        i='Point'
    elif "Tick" in i:
        i="Point"
    else:
        i=i
    colorNew.append(i)
print(set(colorNew))
print(len(set(colorNew)))

{'Bicolor', 'Tabby', 'Red', 'Tan', 'Tricolor', 'Brown', 'Gray', 'Point', 'Agouti', 'Chocolate', 'Tiger', 'Blue', 'Black', 'Merle', 'Orange', 'Pink', 'White', 'Green', 'Silver', 'Cream', 'Buff'}
21

In [119]:
df['Color_intake']=colorNew

In [120]:
color_counts=df['Color_intake'].value_counts()
color_counts

Bicolor      28302
Tabby         9887
Black         5173
Brown         2585
White         1964
Tricolor      1476
Tan           1360
Blue          1092
Point          912
Red            752
Orange         690
Gray           379
Cream          307
Buff           301
Chocolate      281
Merle          245
Pink            29
Silver          28
Green           20
Tiger           14
Agouti           9
Name: Color_intake, dtype: int64

In [121]:
replace_color=color_counts.loc[color_counts<500].index.tolist()
for i in replace_color:
    df.Color_intake = df.Color_intake.replace(i,"Other")

df.Color_intake.value_counts()

Bicolor     28302
Tabby        9887
Black        5173
Brown        2585
White        1964
Other        1613
Tricolor     1476
Tan          1360
Blue         1092
Point         912
Red           752
Orange        690
Name: Color_intake, dtype: int64

In [122]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,Breed_Type
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361,Mix
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Bicolor,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111,Mix
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Bicolor,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806,Mix
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Bicolor,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639,Hound Breeds
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Bicolor,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306,Mix

## Divide to two dataframes (intake and outcome)

In [124]:
intake_df=df[['Animal ID','DateTime_intake','Found_Location','Intake_Type','IntakeCondition',
             'Animal_Type_intake',
              'Name_intake',
             'Sex_Intake',
             'Color_intake',
             'Breed_Type']]

columns_intake=['animal_id','datetime_intake','Found_Location','intake_type','intake_condition','animal_type_intake',
        'name_intake','sex_intake','color_intake','breed_type']

intake_df.columns =columns_intake
intake_df.head()

,animal_id,datetime_intake,Found_Location,intake_type,intake_condition,animal_type_intake,name_intake,sex_intake,color_intake,breed_type
0,A730601,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,No,Intact Male,Tabby,Mix
1,A683644,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Yes,Intact Female,Bicolor,Mix
2,A676515,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
3,A742953,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,No,Intact Male,Bicolor,Hound Breeds
4,A679549,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Yes,Intact Male,Bicolor,Mix

In [125]:
intake_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   animal_id           55806 non-null  object
 1   datetime_intake     55806 non-null  datetime64[ns]
 2   Found_Location      33606 non-null  object
 3   intake_type         55806 non-null  object
 4   intake_condition    55806 non-null  object
 5   animal_type_intake  55806 non-null  object
 6   name_intake         55806 non-null  object
 7   sex_intake          55806 non-null  object
 8   color_intake        55806 non-null  object
 9   breed_type          55806 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 4.7+ MB

In [126]:
outcome_df=df[['Animal ID','DateTime_outcome',
              'Outcome_Type',
              'Sex_upon_Outcome','fixed_changed','Age_Bucket','DateTime_length']]

columns_outcome=['animal_id','datetime_outcome','outcome_type',
                 'sex_upon_outcome','fixed_changed','age_bucket','datetime_length']

outcome_df.columns=columns_outcome

outcome_df.head()

,animal_id,datetime_outcome,outcome_type,sex_upon_outcome,fixed_changed,age_bucket,datetime_length
0,A730601,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306

In [127]:
outcome_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         55806 non-null  object
 1   datetime_outcome  55806 non-null  datetime64[ns]
 2   outcome_type      55806 non-null  object
 3   sex_upon_outcome  55806 non-null  object
 4   fixed_changed     55806 non-null  int64
 5   age_bucket        55806 non-null  object
 6   datetime_length   55806 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 3.4+ MB

## Connect to SQL

In [128]:
import psycopg2
connection = psycopg2.connect(
    host = 'projectanimal.c2jqqtcm0i1p.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = db_password,
    database='projectanimal'
    )
cursor=connection.cursor()

In [132]:
connection.rollback()

In [134]:
#creating tables
cursor.execute("""CREATE TABLE animal_intake(
 animal_id TEXT PRIMARY KEY,
 datetime_intake TIMESTAMP,
 found_location TEXT,
 intake_type TEXT,
 intake_condition TEXT,
 animal_type_intake TEXT,
 name_intake TEXT,
 sex_intake TEXT,
 color_intake TEXT,
 breed_type TEXT
)""")

cursor.execute("""CREATE TABLE animal_outcome(
 animal_id TEXT PRIMARY KEY,
 datetime_outcome TIMESTAMP,
 outcome_type TEXT,
 sex_upon_outcome TEXT,
 fixed_changed TEXT,
 age_bucket TEXT,
 datetime_length TEXT,
 FOREIGN KEY (animal_id) REFERENCES animal_intake(animal_id)
 )""")

connection.commit()

In [135]:
intake_df.to_csv('animal_intake.csv', index=False, sep=';')

In [136]:
outcome_df.to_csv('animal_outcome.csv', index=False, sep=';')

In [137]:
with open('animal_intake.csv', 'r') as row:
    next(row)# Skip the header row.
    cursor.copy_from(row, 'animal_intake', sep=';')
    
connection.commit()

In [138]:
with open('animal_outcome.csv', 'r') as row:
    next(row)# Skip the header row.
    cursor.copy_from(row, 'animal_outcome', sep=';')
    
connection.commit()

In [139]:
sql = '''
select * from animal_intake'''

pd.read_sql(sql,con=connection)

,animal_id,datetime_intake,found_location,intake_type,intake_condition,animal_type_intake,name_intake,sex_intake,color_intake,breed_type
0,A730601,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,No,Intact Male,Tabby,Mix
1,A683644,2014-07-13 11:02:00,,Owner Surrender,Maternity,Dog,Yes,Intact Female,Bicolor,Mix
2,A676515,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
3,A742953,2017-01-31 13:30:00,,Stray,Normal,Dog,No,Intact Male,Bicolor,Hound Breeds
4,A679549,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Yes,Intact Male,Bicolor,Mix
...,...,...,...,...,...,...,...,...,...,...
55801,A746679,2017-04-07 09:44:00,,Stray,Normal,Cat,Yes,Spayed Female,Tabby,Mix
55802,A746725,2017-04-08 11:28:00,,Stray,Normal,Cat,No,Unknown,Bicolor,Mix
55803,A746689,2017-04-07 12:36:00,,Stray,Normal,Dog,Yes,Spayed Female,Bicolor,Mix
55804,A746466,2017-04-03 15:02:00,4858 Yager Ln in Travis (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
55805,A746072,2017-03-28 16:49:00,9318 Ih 35 in Austin (TX),Stray,Normal,Dog,Yes,Neutered Male,Bicolor,Mix

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      33606 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex_Intake          55806 non-null  object
 8   Color_intake        55806 non-null  object
 9   DateTime_outcome    55806 non-null  datetime64[ns]
 10  Outcome_Type        55806 non-null  object
 11  Sex_upon_Outcome    55806 non-null  object
 12  fixed_changed       55806 non-null  int64
 13  Age_Bucket          55806 non-null  object
 14  DateTime_length     55806 non-null  float64
 15  Breed_Type          55806 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB

In [141]:
df.to_csv('results.csv', index=False, sep=',')