In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password
import psycopg2 as ps

In [2]:
df = pd.read_csv('all_records.csv')

In [3]:
df.head()

,Unnamed: 0,Animal ID,Name_intake,DateTime_intake,MonthYear_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,0,A730601,NaN,2016-07-07 12:11:00,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,1,A683644,*Zoey,2014-07-13 11:02:00,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,2,A676515,Rico,2014-04-11 08:45:00,04/11/2014 08:45:00 AM,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,3,A742953,NaN,2017-01-31 13:30:00,01/31/2017 01:30:00 PM,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,4,A679549,*Gilbert,2014-05-22 15:43:00,05/22/2014 03:43:00 PM,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks

In [4]:
# Check columns
df.columns

Index(['Unnamed: 0', 'Animal ID', 'Name_intake', 'DateTime_intake',
       'MonthYear_intake', 'Found_Location', 'Intake_Type', 'IntakeCondition',
       'Animal_Type_intake', 'Sex', 'Age', 'Breed_intake', 'Color_intake',
       'Name_outcome', 'DateTime_outcome', 'MonthYear_outcome', 'Outcome_Type',
       'Outcome_Subtype', 'Sex_upon_Outcome', 'Age_upon_Outcome',
       'gender_intake', 'gender_outcome', 'fixed_intake', 'fixed_outcome',
       'fixed_changed', 'Age_Bucket', 'retriever', 'shepherd', 'beagle',
       'terrier', 'boxer', 'poodle', 'rottweiler', 'dachshund', 'chihuahua',
       'pit bull', 'DateTime_length', 'Days_length'],
      dtype='object')

In [5]:
# Dataframe null values
df.isnull().sum()

Unnamed: 0                0
Animal ID                 0
Name_intake           19484
DateTime_intake           0
MonthYear_intake          0
Found_Location            0
Intake_Type               0
IntakeCondition           0
Animal_Type_intake        0
Sex                       1
Age                       0
Breed_intake              0
Color_intake              0
Name_outcome          19484
DateTime_outcome          0
MonthYear_outcome         0
Outcome_Type              7
Outcome_Subtype       45254
Sex_upon_Outcome          4
Age_upon_Outcome         21
gender_intake          5608
gender_outcome         5611
fixed_intake              1
fixed_outcome             4
fixed_changed             0
Age_Bucket                0
retriever                 0
shepherd                  0
beagle                    0
terrier                   0
boxer                     0
poodle                    0
rottweiler                0
dachshund                 0
chihuahua                 0
pit bull                  0
DateTime_length           0
Days_length            7400
dtype: int64

In [6]:
# Drop unnecessary columns
# Drop Name_intake since there is a Intake_type column
# Drop all single breed type column since we need to do our own encoding for breed_intake
df=df.drop(columns=['Unnamed: 0','Name_outcome','MonthYear_intake','MonthYear_outcome',
                    'gender_intake','gender_outcome','fixed_intake','fixed_outcome','Days_length','Outcome_Subtype',
                   'retriever','shepherd','beagle','terrier','boxer','poodle','rottweiler','dachshund','chihuahua',
                   'pit bull','Age','Age_upon_Outcome'])
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,NaN,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,*Zoey,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Rico,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,NaN,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,*Gilbert,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

## Name_intake_column

In [7]:
# Change Name_Intake to Yes or No
df.Name_intake = df.Name_intake.apply(lambda x: 'No' if pd.isnull(x) else 'Yes')
df.Name_intake.value_counts()

Yes    57493
No     19484
Name: Name_intake, dtype: int64

In [8]:
df.isnull().sum()

Animal ID             0
Name_intake           0
DateTime_intake       0
Found_Location        0
Intake_Type           0
IntakeCondition       0
Animal_Type_intake    0
Sex                   1
Breed_intake          0
Color_intake          0
DateTime_outcome      0
Outcome_Type          7
Sex_upon_Outcome      4
fixed_changed         0
Age_Bucket            0
DateTime_length       0
dtype: int64

In [9]:
df=df.dropna()

In [10]:
df.isnull().sum()

Animal ID             0
Name_intake           0
DateTime_intake       0
Found_Location        0
Intake_Type           0
IntakeCondition       0
Animal_Type_intake    0
Sex                   0
Breed_intake          0
Color_intake          0
DateTime_outcome      0
Outcome_Type          0
Sex_upon_Outcome      0
fixed_changed         0
Age_Bucket            0
DateTime_length       0
dtype: int64

In [11]:
# Check for duplicates rows
count=0
for i in df['Animal ID'].duplicated():
    if i is True:
        count+=1
count

19762

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76968 entries, 0 to 76976
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           76968 non-null  object
 1   Name_intake         76968 non-null  object
 2   DateTime_intake     76968 non-null  object
 3   Found_Location      76968 non-null  object
 4   Intake_Type         76968 non-null  object
 5   IntakeCondition     76968 non-null  object
 6   Animal_Type_intake  76968 non-null  object
 7   Sex                 76968 non-null  object
 8   Breed_intake        76968 non-null  object
 9   Color_intake        76968 non-null  object
 10  DateTime_outcome    76968 non-null  object
 11  Outcome_Type        76968 non-null  object
 12  Sex_upon_Outcome    76968 non-null  object
 13  fixed_changed       76968 non-null  int64
 14  Age_Bucket          76968 non-null  object
 15  DateTime_length     76968 non-null  object
dtypes: int64(1), object(15)
memory usage: 10.0+ MB

In [13]:
# Drop duplicates
df=df.drop_duplicates(subset='Animal ID')

In [14]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57206 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           57206 non-null  object
 1   Name_intake         57206 non-null  object
 2   DateTime_intake     57206 non-null  object
 3   Found_Location      57206 non-null  object
 4   Intake_Type         57206 non-null  object
 5   IntakeCondition     57206 non-null  object
 6   Animal_Type_intake  57206 non-null  object
 7   Sex                 57206 non-null  object
 8   Breed_intake        57206 non-null  object
 9   Color_intake        57206 non-null  object
 10  DateTime_outcome    57206 non-null  object
 11  Outcome_Type        57206 non-null  object
 12  Sex_upon_Outcome    57206 non-null  object
 13  fixed_changed       57206 non-null  int64
 14  Age_Bucket          57206 non-null  object
 15  DateTime_length     57206 non-null  object
dtypes: int64(1), object(15)
memory usage: 7.4+ MB

## Outcome_Type column

In [16]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

In [17]:
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18460
Return to Owner     9806
Euthanasia          5100
Died                 533
Disposal             254
Missing               37
Rto-Adopt             15
Relocate              13
Name: Outcome_Type, dtype: int64

In [18]:
# Combine Died & Disposal Outcomes
df.loc[df.Outcome_Type == 'Disposal', 'Outcome_Type'] = 'Died'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18460
Return to Owner     9806
Euthanasia          5100
Died                 787
Missing               37
Rto-Adopt             15
Relocate              13
Name: Outcome_Type, dtype: int64

In [19]:
# Combine Transfer & Relocate Outcomes
df.loc[df.Outcome_Type == 'Relocate', 'Outcome_Type'] = 'Transfer'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18473
Return to Owner     9806
Euthanasia          5100
Died                 787
Missing               37
Rto-Adopt             15
Name: Outcome_Type, dtype: int64

In [20]:
#### Combine Rto-Adopt & Return to Owner
df.loc[df.Outcome_Type == 'Rto-Adopt', 'Outcome_Type'] = 'Return to Owner'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18473
Return to Owner     9821
Euthanasia          5100
Died                 787
Missing               37
Name: Outcome_Type, dtype: int64

## DateTime_intake column

In [21]:
# Update DateTime_intake to datatime datatype
df.DateTime_intake = pd.to_datetime(df.DateTime_intake, format='%Y-%m-%d')
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

## DateTime_outcome column

In [22]:
# Update DateTime_outcome to datatime datatype
df.DateTime_outcome = pd.to_datetime(df.DateTime_outcome, format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57206 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           57206 non-null  object
 1   Name_intake         57206 non-null  object
 2   DateTime_intake     57206 non-null  datetime64[ns]
 3   Found_Location      57206 non-null  object
 4   Intake_Type         57206 non-null  object
 5   IntakeCondition     57206 non-null  object
 6   Animal_Type_intake  57206 non-null  object
 7   Sex                 57206 non-null  object
 8   Breed_intake        57206 non-null  object
 9   Color_intake        57206 non-null  object
 10  DateTime_outcome    57206 non-null  datetime64[ns]
 11  Outcome_Type        57206 non-null  object
 12  Sex_upon_Outcome    57206 non-null  object
 13  fixed_changed       57206 non-null  int64
 14  Age_Bucket          57206 non-null  object
 15  DateTime_length     57206 non-null  object
dtypes: datetime64[ns](2), int64(1), object(13)
memory usage: 7.4+ MB

## DateTime_length column

In [23]:
# Create a new column and calculate the length of stay
df['datetime_length'] = df.DateTime_outcome - df.DateTime_intake
df['datetime_length'] = df.datetime_length / np.timedelta64(1, 'D')

In [24]:
# Check values for datetime_length column
df['datetime_length'].value_counts()

0.009722     72
0.005556     64
0.013194     64
0.031250     64
0.007639     63
             ..
3.518750      1
56.763889     1
8.847222      1
25.955556     1
95.159028     1
Name: datetime_length, Length: 25060, dtype: int64

## delete all negative values

In [25]:
df.drop(df[df['datetime_length'] < 0].index, inplace=True)

In [26]:
# Drop original DateTime_length column
df.drop(['DateTime_length'], axis=1, inplace=True)

In [27]:
# Rename calculated length of stay column
df.rename(columns = {'datetime_length':'DateTime_length'}, inplace = True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      55806 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex                 55806 non-null  object
 8   Breed_intake        55806 non-null  object
 9   Color_intake        55806 non-null  object
 10  DateTime_outcome    55806 non-null  datetime64[ns]
 11  Outcome_Type        55806 non-null  object
 12  Sex_upon_Outcome    55806 non-null  object
 13  fixed_changed       55806 non-null  int64
 14  Age_Bucket          55806 non-null  object
 15  DateTime_length     55806 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB

In [29]:
df.head(10)

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306
5,A683798,Yes,2016-07-21 12:16:00,3118 Windsor Rd in Austin (TX),Stray,Normal,Cat,Spayed Female,Domestic Medium Hair Mix,White/Black,2016-10-18 10:55:00,Adoption,Spayed Female,0,1-3 years,88.943750
9,A683656,No,2014-07-13 13:20:00,8238 Research Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,Snowshoe Mix,Lynx Point,2014-07-17 16:57:00,Adoption,Neutered Male,1,1-6 months,4.150694
10,A709749,Yes,2015-08-12 18:29:00,4800 Weletka Dr in Austin (TX),Stray,Normal,Cat,Intact Female,Domestic Shorthair Mix,Calico,2015-09-22 12:49:00,Transfer,Spayed Female,1,1-3 years,40.763889
11,A692161,Yes,2014-11-15 15:18:00,Avenue G/42Nd in Austin (TX),Owner Surrender,Normal,Dog,Intact Male,Pit Bull Mix,Brown/White,2014-11-21 18:55:00,Adoption,Neutered Male,1,1-6 months,6.150694
12,A733551,Yes,2016-08-23 14:35:00,183 And Cameron in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Brown Tabby/White,2016-09-01 00:00:00,Transfer,Intact Male,0,1-6 months,8.392361

## Intake condition column

In [30]:
df.IntakeCondition.value_counts()

Normal      48329
Injured      3022
Sick         2456
Nursing      1523
Aged          250
Other         112
Feral          72
Pregnant       42
Name: IntakeCondition, dtype: int64

In [31]:
# Combine Aged and Feral with Other for IntakeCondition
df.loc[(df.IntakeCondition == 'Aged') | (df.IntakeCondition == 'Feral'), 'IntakeCondition'] = 'Other'

In [32]:
# Combine Injured and Sick for Intake Condition
df.loc[(df.IntakeCondition == 'Injured') | (df.IntakeCondition == 'Sick'), 'IntakeCondition'] = 'Medical'

In [33]:
# Combine Pregnant and Nursing for  IntakeCondition
df.loc[(df.IntakeCondition == 'Nursing') | (df.IntakeCondition == 'Pregnant'), 'IntakeCondition' ] = 'Maternity'
df.IntakeCondition.value_counts()

Normal       48329
Medical       5478
Maternity     1565
Other          434
Name: IntakeCondition, dtype: int64

## Animal_Type_intake column

In [34]:
df.Animal_Type_intake.value_counts()

Dog          30040
Cat          22059
Other         3449
Bird           250
Livestock        8
Name: Animal_Type_intake, dtype: int64

In [35]:
# Combine Bird and Livestock with Other for Animal_Type_intake
df.loc[(df.Animal_Type_intake == 'Bird') | (df.Animal_Type_intake == 'Livestock'), 'Animal_Type_intake'] = 'Other'
df.Animal_Type_intake.value_counts()

Dog      30040
Cat      22059
Other     3707
Name: Animal_Type_intake, dtype: int64

## Sex column

In [36]:
df.Sex.value_counts()

Intact Male      18780
Intact Female    17711
Neutered Male     7301
Spayed Female     6476
Unknown           5538
Name: Sex, dtype: int64

In [37]:
df.rename(columns={'Sex': 'Sex_Intake'}, inplace=True)

## Sex_upon_Outcome

In [38]:
df.Sex_upon_Outcome.value_counts()

Neutered Male    18906
Spayed Female    17201
Intact Male       7175
Intact Female     6986
Unknown           5538
Name: Sex_upon_Outcome, dtype: int64

## Found_Location column

In [39]:
counts=df['Found_Location'].value_counts()
counts

Austin (TX)                                         8896
Travis (TX)                                          587
7201 Levander Loop in Austin (TX)                    406
Del Valle (TX)                                       275
Outside Jurisdiction                                 271
                                                    ...
Mesa Drive And Spicewood Springs in Austin (TX)        1
Chimey Rock Drive And Willow Bend in Austin (TX)       1
9905 Tree Bend Cv in Austin (TX)                       1
10001 N 35 in Austin (TX)                              1
3500 N Capital Of Texas Hwy in Austin (TX)             1
Name: Found_Location, Length: 27060, dtype: int64

In [40]:
new_location=[]
for i in df['Found_Location']:
    if ' in' in i and i.split()[0].isdigit() == True:
            i=i
    else:
        i=np.nan
    new_location.append(i)

In [41]:
new_location

['1109 Shady Ln in Austin (TX)',
 nan,
 '615 E. Wonsley in Austin (TX)',
 nan,
 '124 W Anderson in Austin (TX)',
 '3118 Windsor Rd in Austin (TX)',
 '8238 Research Blvd in Austin (TX)',
 '4800 Weletka Dr in Austin (TX)',
 nan,
 '183 And Cameron in Austin (TX)',
 '6808 S Ih 35 Frontage Rd in Austin (TX)',
 '8413 Danville Dr in Austin (TX)',
 '11602 Gunsmoke Circle in Austin (TX)',
 '2940 Eckert St in Austin (TX)',
 nan,
 nan,
 nan,
 '1506 Thorneridge Road in Austin (TX)',
 nan,
 '1830 W Rundberg Ln in Austin (TX)',
 nan,
 nan,
 '9308 N Lamar in Austin (TX)',
 nan,
 nan,
 '1128 Spur in Austin (TX)',
 nan,
 '12505 Rampart St in Austin (TX)',
 '4502 Hudson Bend Rd in Travis (TX)',
 nan,
 '609 W Lynn St #1 in Austin (TX)',
 '704 Hyde Park Ct in Austin (TX)',
 '13096 N 183 in Austin (TX)',
 '701 W Longspur in Austin (TX)',
 nan,
 nan,
 '2203 Singletree Ave in Austin (TX)',
 nan,
 '11417 Trails End in Travis (TX)',
 nan,
 '7607 Glen Hill Cove in Austin (TX)',
 '2202 Galway St in Austin (TX)',
 nan,
 '12034 Research in Austin (TX)',
 nan,
 '120 Webberwood Way in Travis (TX)',
 nan,
 nan,
 '5446 Walnut Grove in Austin (TX)',
 nan,
 '7201 Levander Loop in Austin (TX)',
 '11351 Bradshaw Rd in Austin (TX)',
 '10300 Doyle Rd in Del Valle (TX)',
 nan,
 '9300 Northgate Blvd in Austin (TX)',
 '14904 Valerian in Travis (TX)',
 nan,
 nan,
 nan,
 '1603 Cricket Hollow Drive in Austin (TX)',
 '10714 San Jose in Travis (TX)',
 '900 Chicon St in Austin (TX)',
 nan,
 '7100 Northeast Dr in Austin (TX)',
 nan,
 nan,
 '10223 Thaxton in Austin (TX)',
 '7112 Hillcroft Dr in Austin (TX)',
 '1704 Citation Dr in Austin (TX)',
 nan,
 '5200 Ravensdale in Austin (TX)',
 '9101 Sweet Gum Dr in Austin (TX)',
 '9920 Qual Blvd in Austin (TX)',
 '1310 Delano St in Austin (TX)',
 '5702 Richmond Ave in Austin (TX)',
 '9611 Decker Lake Rd in Travis (TX)',
 '6806 Thistle Hill Way in Travis (TX)',
 nan,
 nan,
 '5338 Thunder Creek in Austin (TX)',
 nan,
 nan,
 '13424 Clara Martin in Travis (TX)',
 nan,
 '973 & 183 in Travis (TX)',
 '124 W Anderson Ln in Austin (TX)',
 '2510 Lehigh Dr in Austin (TX)',
 nan,
 '13676 Bee Cave Pkwy in Bee Cave (TX)',
 '3101 Yellowpine Ter in Austin (TX)',
 nan,
 nan,
 '7132 Texas 71 in Austin (TX)',
 nan,
 '1904 Poquito in Austin (TX)',
 nan,
 '12304 Willow Wild Dr in Austin (TX)',
 nan,
 nan,
 '1109 S Pleasant Valley in Austin (TX)',
 nan,
 '1301 Spyglass Drive in Austin (TX)',
 nan,
 nan,
 nan,
 '4601 Tuckerhill Lane in Travis (TX)',
 '7201 Levander Loop in Austin (TX)',
 '3300 Killingsworth in Travis (TX)',
 '7904 Fm 969 in Austin (TX)',
 nan,
 '911 Battle Bend Blvd in Austin (TX)',
 nan,
 '6700 Meadow Lake in Austin (TX)',
 nan,
 '11113 Research Blvd in Austin (TX)',
 nan,
 '4215 Caldwell Ln in Del Valle (TX)',
 '11400 Concordia University Dr. in Austin (TX)',
 nan,
 nan,
 '19211 Blake Manor Rd in Manor (TX)',
 '14100 Thermal Driver in Austin (TX)',
 nan,
 nan,
 nan,
 '12027 Bethel Church Rd. in Travis (TX)',
 '71 & Spirt Of Texas Hwy in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '8724 Birmingham in Austin (TX)',
 '1300 Fm 812 in Austin (TX)',
 '13021 Dessau Rd in Travis (TX)',
 nan,
 nan,
 nan,
 '13924 Marcella in Travis (TX)',
 nan,
 '1517 Geoffs Dr in Austin (TX)',
 nan,
 '9805 Bal Harbor in Travis (TX)',
 nan,
 '509 Montopolis Dr in Austin (TX)',
 '3400 S Congress Ave in Austin (TX)',
 '8900 Coulver Rd in Travis (TX)',
 '5400 Pecan Brook in Austin (TX)',
 '1420 E Wells Branch Pkwy in Austin (TX)',
 '11601 Domain Dr in Austin (TX)',
 nan,
 nan,
 '710 E Ben White Blvd in Austin (TX)',
 nan,
 '9913 Morgan Creek Dr in Austin (TX)',
 '12508 Esplanade St in Austin (TX)',
 nan,
 '1457 W Pecan St in Pflugerville (TX)',
 '107 E. Wheeler St in Manor (TX)',
 '1511 Faro Drive in Austin (TX)',
 '10928 Desert Willow Dr in Austin (TX)',
 '5365 Westminster Ave in Austin (TX)',
 nan,
 '124 W Anderson Ln in Austin (TX)',
 '11100 Metric in Austin (TX)',
 '6205 Marigold in Austin (TX)',
 '9505 Stonelake Blvd in Austin (TX)',
 nan,
 '9515 Hotel Dr in Austin (TX)',
 '6302 Salcon Cliff Dr in Austin (TX)',
 nan,
 '6600 Elm Creek Dr # 65 in Austin (TX)',
 nan,
 nan,
 nan,
 '4900 Gonzales St in Austin (TX)',
 '4902 Teri Rd in Austin (TX)',
 '8800 N Ih 35 in Austin (TX)',
 nan,
 nan,
 '9705 Manchaca Rd in Austin (TX)',
 '8824 Stanbourne in Austin (TX)',
 nan,
 nan,
 nan,
 '4434 Frontier Trl( Goodsam Didnt Leave Found Address in Austin (TX)',
 nan,
 nan,
 '213 W Wild Sena in Austin (TX)',
 '12151 Ih 35 in Austin (TX)',
 nan,
 '812 Springdale Rd in Austin (TX)',
 nan,
 '9802 Roxanna Drive in Austin (TX)',
 nan,
 '7513 N Interstate Hwy 35 in Austin (TX)',
 '10707 Lake Creek Parkway in Austin (TX)',
 nan,
 nan,
 nan,
 '4707 Munson in Austin (TX)',
 '5400 Springville Ln in Austin (TX)',
 '7404 Southgate Ln in Austin (TX)',
 '3005 Parker Lane in Austin (TX)',
 '7500 Blessing in Austin (TX)',
 '9601 Point Vista Pl in Austin (TX)',
 '5808 Mckinney Falls Parkway in Austin (TX)',
 nan,
 nan,
 nan,
 '8003 Decker Ln in Travis (TX)',
 '12302 Havelock Dr in Austin (TX)',
 '1406 Click Cv in Austin (TX)',
 '13521 Sea Biscuit in Del Valle (TX)',
 '1114 Henninger St in Austin (TX)',
 nan,
 '816 E. 49Th in Austin (TX)',
 '6633 E 290 in Austin (TX)',
 nan,
 '8001 S Ih 35 Frontage Rd in Austin (TX)',
 nan,
 nan,
 '8408 Riverstone in Austin (TX)',
 nan,
 nan,
 '7309 Brookhollow Dr in Austin (TX)',
 nan,
 nan,
 '509 E Todd Lane in Austin (TX)',
 nan,
 '610 Wilmes Dr in Austin (TX)',
 nan,
 nan,
 '4801 S Ih 35 in Austin (TX)',
 '1000 E. 41St St. in Austin (TX)',
 '11610 Prairie Hen Ln in Austin (TX)',
 '2000 Burton Dr in Austin (TX)',
 '11702 Brookwood in Austin (TX)',
 nan,
 '124 W Anderson Ln in Austin (TX)',
 '11351 Bradshaw Rd in Austin (TX)',
 '11503 Parsons Rd in Travis (TX)',
 nan,
 nan,
 nan,
 nan,
 '4410 Dovemeadow Dr in Austin (TX)',
 nan,
 '177 Meadow View Blvd in Del Valle (TX)',
 '1303 Parsons A in Austin (TX)',
 '17005 Hayride Cir in Del Valle (TX)',
 '8609 Alpine Dr in Del Valle (TX)',
 nan,
 nan,
 '124 W Anderson Ln in Austin (TX)',
 nan,
 '5932 Hammermill Run in Austin (TX)',
 nan,
 '301 Twin Creeks Rd in Travis (TX)',
 '2210 E 9Th St Unit C in Austin (TX)',
 '1412 Norseman Terrace in Austin (TX)',
 nan,
 '12401 Pauls Valley Rd in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '985112001282540 in Austin (TX)',
 '5301 Fort Clark Dr in Austin (TX)',
 '21413 Webber Oaks Cv in Travis (TX)',
 nan,
 nan,
 '13904 Old Hwy 20 in Manor (TX)',
 nan,
 '407 Meadow Lea Dr in Austin (TX)',
 '17944 Majestic Elm Ln in Travis (TX)',
 nan,
 '5106 Meadow Creek Cove in Austin (TX)',
 nan,
 '12118 Walnut Park #828 in Austin (TX)',
 '11123 Old Lockhart Rd in Austin (TX)',
 '3206 East 16Th in Austin (TX)',
 '9001 N 620 in Austin (TX)',
 nan,
 '21069 Blake Manor Rd in Travis (TX)',
 '9401 Roanna Dr in Austin (TX)',
 nan,
 '1800 Crystal Bend in Travis (TX)',
 '1200 W Saint Johns in Austin (TX)',
 '420 W Slaughter in Austin (TX)',
 '2200 Berkeley Ave in Austin (TX)',
 '13 Club Estates in Lakeway (TX)',
 '412 E William Cannon Dr in Austin (TX)',
 '1820 Kenwood Ave in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '2300 East 2Nd St in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '5912 Marilyn Dr in Austin (TX)',
 '6203 Saddler Ln in Austin (TX)',
 '2700 West Pecan St in Travis (TX)',
 '2400 Grove Blvd in Austin (TX)',
 '9011 Briardale Dr in Austin (TX)',
 nan,
 nan,
 '9300 S Ih 35 Frontage Rd in Austin (TX)',
 '8202 Furness Cv in Austin (TX)',
 nan,
 '1901 E Anderson Ln in Austin (TX)',
 '5917 Little Creek Trail in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 nan,
 '12401 N Lamar in Austin (TX)',
 '3112 Speidel Dr in Austin (TX)',
 '512 W Stassney in Austin (TX)',
 nan,
 nan,
 '900 Broken Feather Trl in Austin (TX)',
 nan,
 '7201 Levander in Austin (TX)',
 '923 Walter St in Austin (TX)',
 '5111 Single Shot in Austin (TX)',
 '12300 Hymeadow Dr. #307 in Austin (TX)',
 nan,
 '5214 Duval Rd in Austin (TX)',
 nan,
 nan,
 '2900 Sunridge Drive Bldg 13 in Austin (TX)',
 nan,
 '103 W Odell St in Austin (TX)',
 nan,
 '12304 Elm Valley Dr in Travis (TX)',
 '3811 E 12Th St in Austin (TX)',
 nan,
 nan,
 '4108 Nixon Ln in Austin (TX)',
 nan,
 '2309 Berkeley #1085 in Austin (TX)',
 '1228 Eleanor St in Austin (TX)',
 '7310 Meador Ave in Austin (TX)',
 nan,
 '2201 Barton Springs Rd in Austin (TX)',
 nan,
 '11729 Lime Creek Road in Leander (TX)',
 '5300 Jimmy Clay Drive in Austin (TX)',
 '2900 Sunridge Dr in Austin (TX)',
 '1303 Bob Harrison in Austin (TX)',
 nan,
 '220 Pompton Dr in Austin (TX)',
 nan,
 '13212 High Sierra St in Manor (TX)',
 '1317 W. 10Th in Austin (TX)',
 '4534 Westgate Blvd in Austin (TX)',
 '2209 Kinney in Austin (TX)',
 '2205 Voyageurs in Austin (TX)',
 '6403 Farmdale Ln in Austin (TX)',
 '13802 Hokanson Rd in Travis (TX)',
 '4216 S Congress Ave in Austin (TX)',
 nan,
 '2100 Barton Springs Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '1704 Perez in Austin (TX)',
 nan,
 nan,
 nan,
 '9100 Evelyn Rd in Travis (TX)',
 nan,
 '1911 Willow Creek Dr in Austin (TX)',
 '10135 Lake Creek Pkwy in Austin (TX)',
 '2302 Bahama Rd in Travis (TX)',
 nan,
 '10427 Kirken St in Austin (TX)',
 nan,
 nan,
 '8028 Elroy Rd in Travis (TX)',
 nan,
 '310 Blackson Ave in Austin (TX)',
 nan,
 '13309 Bennington Ln in Austin (TX)',
 '810 E Slaughter Ln 9102 in Austin (TX)',
 '11604 Ranch House Cv in Travis (TX)',
 '8601 Vertex in Austin (TX)',
 '16808 High Noon in Del Valle (TX)',
 nan,
 '2507 Bitter Creek in Austin (TX)',
 '7917 Brockman St in Austin (TX)',
 '409 Covenant Canyon Trl in Austin (TX)',
 '5702 Richmond Ave in Austin (TX)',
 '9219 Anderson Mill in Austin (TX)',
 nan,
 '7903 Taza Trl in Austin (TX)',
 nan,
 nan,
 '6500 River Place Blvd in Austin (TX)',
 '12320 Dessau Road in Austin (TX)',
 '2202 Cedar Bend Dr # B in Austin (TX)',
 '4106 N Lamar Blvd in Austin (TX)',
 nan,
 '16801 Trevin Cv in Manor (TX)',
 '4101 Smith School Road in Austin (TX)',
 '2703 Channing Cir in Austin (TX)',
 '1701 Congress Ave in Austin (TX)',
 '2121 Rivena Dr in Austin (TX)',
 '4604 Reyes St in Austin (TX)',
 '2000 E. 8Th in Austin (TX)',
 '11404 Briarcreek Loop in Travis (TX)',
 nan,
 nan,
 '2000 Millhouse Dr in Travis (TX)',
 '3101 Oak Springs Dr in Austin (TX)',
 '9700 Mv Neil Dr in Travis (TX)',
 nan,
 nan,
 '7500 S I H 35 in Austin (TX)',
 nan,
 '5947 Hammermill Run in Austin (TX)',
 '2504 New York Dr # 134 in Austin (TX)',
 nan,
 nan,
 nan,
 '1710 Eastside Dr in Austin (TX)',
 '4500 Steiner in Austin (TX)',
 nan,
 nan,
 nan,
 '4606 Molera in Austin (TX)',
 '4434 Frontier Trl in Austin (TX)',
 '9117 Anderson Mill Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '1403 Bentwood Rd in Austin (TX)',
 nan,
 '19379 Wilkey Lane in Pflugerville (TX)',
 nan,
 nan,
 '22900 Big Sandy Dr in Leander (TX)',
 '2400 E Cesar Chavez St in Austin (TX)',
 nan,
 nan,
 nan,
 '5500 Ross Rd in Austin (TX)',
 nan,
 nan,
 '3611 Brifal Path in Austin (TX)',
 '2909 Thurgood Ave in Austin (TX)',
 '6001 Shepherd Mountian Cv in Austin (TX)',
 '1601 E Slaughter Ln #514 in Austin (TX)',
 '1221 West Ben White in Austin (TX)',
 '2209 Rutland Dr, Unit B in Austin (TX)',
 '309 Thelma Drive in Austin (TX)',
 '1206 Blackfoot in Austin (TX)',
 nan,
 '1000 W Rundberg Ln in Austin (TX)',
 '9700 Teasdale in Austin (TX)',
 nan,
 nan,
 nan,
 '3005 S. Lamar in Austin (TX)',
 nan,
 '139 Bolles Cicrle in Austin (TX)',
 '5905 Lookout Mountain Dr in Austin (TX)',
 '5903 Wideleaf in Austin (TX)',
 '11919 Manchaca Rd in Austin (TX)',
 '4709 Lake George Ln in Austin (TX)',
 '3201 Duval Rd in Austin (TX)',
 nan,
 '2500 Magin Meadow Dr in Austin (TX)',
 '12401 Pauls Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '11900 Buckingham Rd in Austin (TX)',
 '1203 Springdale Rd in Austin (TX)',
 '2614 Howellwood Way in Austin (TX)',
 '6003 Bull Creek Rd in Austin (TX)',
 '4019 Far West Blvd in Austin (TX)',
 nan,
 nan,
 '7905 Briarton Dr in Austin (TX)',
 '11800 Pinto Circle in Travis (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 '3002 Ellon Rd in Del Valle (TX)',
 nan,
 nan,
 nan,
 nan,
 '916 Reseach Blvd in Austin (TX)',
 nan,
 nan,
 '8519 Cahill Dr in Austin (TX)',
 '14909 Cordero Dr in Austin (TX)',
 '515 Congress Ave in Austin (TX)',
 '20412 Ed Acklin Rd in Manor (TX)',
 '2941 Moss St in Austin (TX)',
 nan,
 nan,
 '12036 Parsons Rd in Travis (TX)',
 '7500 S Pleasant Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '9401 S Hwy 183 in Travis (TX)',
 nan,
 '2347 Douglas #1103 in Austin (TX)',
 nan,
 '1111 Lawson in Austin (TX)',
 '1221 Southport Dr in Austin (TX)',
 nan,
 '5114 Turnstone Dr in Austin (TX)',
 nan,
 '5904 E Stassney in Austin (TX)',
 nan,
 '11604 Loweswater in Austin (TX)',
 '2702 Rae Dell Ave in Austin (TX)',
 '308 Le Grande Ave in Austin (TX)',
 '5416 Marlborough Dr in Austin (TX)',
 '6719 N Lamar Blvd in Austin (TX)',
 nan,
 '2505 Inwood Pl in Austin (TX)',
 nan,
 '6700 Evelyn Rd in Austin (TX)',
 '2048 W Stassney Ln in Austin (TX)',
 '4434 Frontier in Austin (TX)',
 '3001 Yandall in Austin (TX)',
 '124 West Anderson Lane in Austin (TX)',
 '7619 Scenic Brook in Austin (TX)',
 '4924 Craigwood And Fm 969 in Austin (TX)',
 '6600 Elm Creek in Austin (TX)',
 '528 S Meadowlark St in Austin (TX)',
 nan,
 '1912 E William Cannon Dr in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '124 W Anderson Ln in Austin (TX)',
 nan,
 nan,
 nan,
 '2000 N. Ih35 in Austin (TX)',
 '2816 E 12Th St in Austin (TX)',
 nan,
 nan,
 nan,
 '6311 Colina Ln in Austin (TX)',
 '14908 Fagerquist Rd in Austin (TX)',
 '1412 Orange Spice Ct in Travis (TX)',
 '2336 Douglas St in Austin (TX)',
 '9206 Spring Hollow Dr in Austin (TX)',
 '1156 W Cesar Chavez St in Austin (TX)',
 '900 Ruth Ave in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '1157 Salina St in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '3400 South Congress in Austin (TX)',
 '14100 Briarcreek Loop in Travis (TX)',
 nan,
 nan,
 '5010 Old Manor Rd. in Austin (TX)',
 '831 B N Meadows in Austin (TX)',
 '12120 Manchaca Rd in Austin (TX)',
 '1600 Wells Branch Pkwy in Austin (TX)',
 '124 W Anderson Ln in Austin (TX)',
 nan,
 '9503 Queenswood Dr in Austin (TX)',
 '1135 Don Ann St in Austin (TX)',
 nan,
 '605 Park Blvd in Austin (TX)',
 '2338 Wilson St in Austin (TX)',
 '15200 Anderson Mill Rd in Travis (TX)',
 '7612 Marl in Austin (TX)',
 nan,
 nan,
 '3500 N Capital Of Texas Hwy in Austin (TX)',
 '1300 Crossing Place in Austin (TX)',
 '14400 Harris Ridge Blvd in Pflugerville (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '6207 Vera Ln in Austin (TX)',
 '1213 Mathias St in Austin (TX)',
 '6101 Landscape in Austin (TX)',
 nan,
 '7001 Circle S Rd in Austin (TX)',
 '4800 Eilers Rd in Austin (TX)',
 nan,
 '4610 Avenue D in Austin (TX)',
 nan,
 '6808 Mira Loma Ln in Austin (TX)',
 '1600 Ih 35 in Austin (TX)',
 '8805 N Plaza Ct in Austin (TX)',
 '1000 Ellingson Ln in Austin (TX)',
 nan,
 '3001 S Congress Ave in Austin (TX)',
 '5904 Dunbury Dr in Austin (TX)',
 nan,
 '11193 Lambert Ln in Austin (TX)',
 '10601 Manchaca in Austin (TX)',
 '9500 W Parmer Ln in Austin (TX)',
 '5304 Great Divide Dr in Bee Cave (TX)',
 nan,
 '12737 Magnolia Mound Trl in Austin (TX)',
 '3302 Northeast Dr in Austin (TX)',
 '3016 Fm 1327 Land Fill in Austin (TX)',
 nan,
 '107 Beaver in Austin (TX)',
 nan,
 nan,
 '8901 Viking in Austin (TX)',
 '1616 Webberville #A in Austin (TX)',
 nan,
 '4106 N Lamar in Austin (TX)',
 '9414 N Lamar in Austin (TX)',
 '1748 Ohlen Rd #98 in Austin (TX)',
 nan,
 '7300 West Rim Rd in Austin (TX)',
 '5701 Johnny Morris Rd in Austin (TX)',
 nan,
 '4502 Acres Ln in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '1317 Exposition Blvd in Austin (TX)',
 nan,
 '6318 Del Monte in Austin (TX)',
 '91217 Lowden Ln in Travis (TX)',
 nan,
 '1402 E St Johns Ave in Austin (TX)',
 '1015 E Yager in Austin (TX)',
 '704 Franklin in Austin (TX)',
 '7209 Wild Onion in Austin (TX)',
 '4106 N Lamar in Austin (TX)',
 '3600 Presidential Blvd in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '6913 Langston Dr in Austin (TX)',
 '1601 E Slaughter Ln in Austin (TX)',
 '4434 Frontier Blvd in Austin (TX)',
 '7809 E Ben White Blvd in Austin (TX)',
 '909 Navasota St in Austin (TX)',
 '810 E Slaughter Ln in Austin (TX)',
 '5604 Hudson St in Austin (TX)',
 '1618 Ashberry Dr in Austin (TX)',
 '3819 Southway Dr in Austin (TX)',
 nan,
 '3502 Needls Dr in Austin (TX)',
 nan,
 '3816 Leafield Drive in Austin (TX)',
 '13420 Breezy Meadow Lane in Manor (TX)',
 nan,
 nan,
 '6704 Manchaca Rd in Austin (TX)',
 '6907 Convict Hill Rd in Austin (TX)',
 nan,
 '18417 Plazaway in Jonestown (TX)',
 nan,
 '6607 Brodie Ln in Austin (TX)',
 '12529 Sky Harbor Drive in Del Valle (TX)',
 nan,
 '2809 Parker Ln in Austin (TX)',
 '1400 Cardinal Hill Dr in Austin (TX)',
 '3001 S Congress in Austin (TX)',
 '8023 Coulver in Austin (TX)',
 '11900 Athens St in Manor (TX)',
 '12901 N 35 in Austin (TX)',
 nan,
 nan,
 '4605 Button Bend Rd in Austin (TX)',
 nan,
 '12800  Thome Valley Dr in Del Valle (TX)',
 '8900 Shoalcreek Blvd in Austin (TX)',
 '21413 Webber Oaks Cv in Travis (TX)',
 '5761 Palo Blanco Dr in Austin (TX)',
 nan,
 '1156 W Cesar Chavez St in Austin (TX)',
 nan,
 '7905 San Felipe #124 in Austin (TX)',
 nan,
 '1300 Mckie in Austin (TX)',
 nan,
 nan,
 nan,
 '1509 38 Half in Austin (TX)',
 nan,
 '15008 Fm 812 in Del Valle (TX)',
 '13 Club Estates in Lakeway (TX)',
 '183 And Vargas in Austin (TX)',
 nan,
 nan,
 '9300 Northgate in Austin (TX)',
 '10000 Parliament House Rd in Austin (TX)',
 '7902 Dee Gabriel Collins in Austin (TX)',
 '1505 Summit St in Austin (TX)',
 nan,
 '6111 Fm2244 in Austin (TX)',
 nan,
 '7301 Singleton Bend in Austin (TX)',
 nan,
 '416 Baldridge in Austin (TX)',
 '8909 Briardale Dr in Austin (TX)',
 nan,
 '4500 Steiner in Austin (TX)',
 '15200 Fm 812 in Del Valle (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '710 E Ben White Blvd in Austin (TX)',
 '2502 Citation Dr in Travis (TX)',
 '5800 Colton Rd in Austin (TX)',
 '12511 Twin Creeks Rd, Manchaca, Tx 78652 in Austin (TX)',
 '4404 E Oltorf St in Austin (TX)',
 '4821 E Riverside Dr in Austin (TX)',
 '600 W Carrie Manor in Manor (TX)',
 nan,
 '10911 Maha Loop in Austin (TX)',
 '5220 Bahan Dr in Austin (TX)',
 '5309 Cypress Ranch Blvd in Travis (TX)',
 nan,
 nan,
 '13201 Wild Turkey Drive in Travis (TX)',
 nan,
 '7208 Salt Springs - B in Austin (TX)',
 nan,
 '6700 Montana in Austin (TX)',
 '10302 Quail Valley Blvd in Austin (TX)',
 nan,
 '4511 E. Hwy 71 in Travis (TX)',
 '7700 W Parmer in Austin (TX)',
 nan,
 nan,
 nan,
 '9417 Meyrick Park Trl in Travis (TX)',
 nan,
 nan,
 nan,
 '2609 Rosewood Dr in Austin (TX)',
 nan,
 '5238 Thunder Creek in Austin (TX)',
 '5201 Ross Rd in Austin (TX)',
 '2324 Wilson St in Austin (TX)',
 '6000 Middle Fiskville Rd in Austin (TX)',
 nan,
 '10805 Topperwein Dr in Austin (TX)',
 '13021 Dessau  Rd in Austin (TX)',
 nan,
 nan,
 '1656 Rutland Drive in Austin (TX)',
 '8010 Tonopa Ln in Austin (TX)',
 nan,
 '1509 Red Fox Rd in Travis (TX)',
 '4719 Castleman in Austin (TX)',
 nan,
 '2433 S Pleasant Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '701 Woodward St in Austin (TX)',
 '2501 E Stassney in Austin (TX)',
 nan,
 nan,
 '7201 Levander Loop in Austin (TX)',
 '1908 Albury Cv in Austin (TX)',
 '6713 Piedras Blanco Drive in Austin (TX)',
 nan,
 nan,
 nan,
 '4601 E St Elmo Rd in Austin (TX)',
 '1901 Crazyhorse Pass in Austin (TX)',
 '10400 Bitting School in Travis (TX)',
 '3462 Laguna Dr in Travis (TX)',
 '6000 Middle Fiskville in Austin (TX)',
 '5000 East Cesar Chavez in Austin (TX)',
 '4906 Sara Dr in Austin (TX)',
 '101 W Louis Henna Blvd in Austin (TX)',
 nan,
 nan,
 '10801 Hokanson Ct in Travis (TX)',
 nan,
 '8621 Damita Jo Dr in Travis (TX)',
 '8536 Birmingham in Austin (TX)',
 '5717 Palo Blanco in Austin (TX)',
 '2406 Riddle Rd in Austin (TX)',
 nan,
 '1113 Gunter St in Austin (TX)',
 '9502 S Chisholm Trl in Austin (TX)',
 nan,
 '12341 County Line Rd in Manor (TX)',
 '11904 N Interstate 35 Frontage Rd in Austin (TX)',
 '7418 Cameron Rd in Austin (TX)',
 '2809 W Hwy 290 in Austin (TX)',
 '3220 Bridle Path in Austin (TX)',
 '14811 Chicadee in Pflugerville (TX)',
 nan,

In [42]:
df['Found_Location']=new_location
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306

In [43]:
df['Found_Location'].value_counts()

7201 Levander Loop in Austin (TX)     406
4434 Frontier Trl in Austin (TX)      137
124 W Anderson Ln in Austin (TX)      131
12034 Research in Austin (TX)          85
12034 Research Blvd in Austin (TX)     85
                                     ...
1400 Darold Dr in Austin (TX)           1
13414 Broadmeade in Austin (TX)         1
807 Kevin Taylor Dr in Austin (TX)      1
2810 San Pedro St in Austin (TX)        1
7000 Montana St in Austin (TX)          1
Name: Found_Location, Length: 18559, dtype: int64

In [44]:
df.isnull().sum()

Animal ID                 0
Name_intake               0
DateTime_intake           0
Found_Location        22200
Intake_Type               0
IntakeCondition           0
Animal_Type_intake        0
Sex_Intake                0
Breed_intake              0
Color_intake              0
DateTime_outcome          0
Outcome_Type              0
Sex_upon_Outcome          0
fixed_changed             0
Age_Bucket                0
DateTime_length           0
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      33606 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex_Intake          55806 non-null  object
 8   Breed_intake        55806 non-null  object
 9   Color_intake        55806 non-null  object
 10  DateTime_outcome    55806 non-null  datetime64[ns]
 11  Outcome_Type        55806 non-null  object
 12  Sex_upon_Outcome    55806 non-null  object
 13  fixed_changed       55806 non-null  int64
 14  Age_Bucket          55806 non-null  object
 15  DateTime_length     55806 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB

## Age Bucket column

In [46]:
df.Age_Bucket.value_counts()

1-3 years           22095
1-6 months          14259
1-6 weeks            6352
4-6 years            5507
7+ years             3800
7-12 months          2618
Less than 1 week     1175
Name: Age_Bucket, dtype: int64

## Intake_Type column

In [47]:
df.Intake_Type.value_counts()

Stray                 40557
Owner Surrender        9080
Public Assist          3188
Wildlife               2750
Euthanasia Request      231
Name: Intake_Type, dtype: int64

## Breed_Intake column

In [48]:
count_breed=df.Breed_intake.value_counts()
count_breed

Domestic Shorthair Mix                       17520
Pit Bull Mix                                  3791
Chihuahua Shorthair Mix                       3448
Labrador Retriever Mix                        2951
Domestic Medium Hair Mix                      1725
                                             ...
Jack Russell Terrier/Cardigan Welsh Corgi        1
Lakeland Terrier Mix                             1
Neapolitan Mastiff/Pit Bull                      1
German Shorthair Pointer/Brittany                1
Golden Retriever/Bearded Collie                  1
Name: Breed_intake, Length: 1929, dtype: int64

In [49]:
for i in count_breed.index.tolist():
    print(i)

Domestic Shorthair Mix
Pit Bull Mix
Chihuahua Shorthair Mix
Labrador Retriever Mix
Domestic Medium Hair Mix
German Shepherd Mix
Bat Mix
Domestic Longhair Mix
Siamese Mix
Australian Cattle Dog Mix
Bat
Dachshund Mix
Miniature Poodle Mix
Border Collie Mix
Boxer Mix
Raccoon Mix
Australian Shepherd Mix
Rat Terrier Mix
Jack Russell Terrier Mix
Domestic Shorthair
Yorkshire Terrier Mix
Catahoula Mix
Miniature Schnauzer Mix
Chihuahua Longhair Mix
Beagle Mix
Siberian Husky Mix
Cairn Terrier Mix
Great Pyrenees Mix
Rottweiler Mix
Rabbit Sh Mix
Shih Tzu Mix
Pointer Mix
American Bulldog Mix
Chihuahua Shorthair/Dachshund
Raccoon
Staffordshire Mix
Australian Kelpie Mix
Plott Hound Mix
Black Mouth Cur Mix
Chihuahua Shorthair
Pit Bull
Labrador Retriever
Labrador Retriever/Pit Bull
American Staffordshire Terrier Mix
Anatol Shepherd Mix
Opossum Mix
German Shepherd
Dachshund/Chihuahua Shorthair
Snowshoe Mix
Golden Retriever Mix
Queensland Heeler Mix
Miniature Pinscher Mix
Maltese Mix
Chow Chow Mix
Domestic Medium Hair
German Shepherd/Labrador Retriever
American Pit Bull Terrier Mix
Labrador Retriever/German Shepherd
Pug Mix
Chicken Mix
Lhasa Apso Mix
Opossum
Pomeranian Mix
Cardigan Welsh Corgi Mix
Shih Tzu
Dachshund
Toy Poodle Mix
Doberman Pinsch Mix
Cocker Spaniel Mix
Maine Coon Mix
Basset Hound Mix
Border Terrier Mix
Blue Lacy Mix
Manx Mix
Boston Terrier Mix
Skunk Mix
Guinea Pig Mix
Rottweiler
Boxer
Manchester Terrier Mix
Pit Bull/Labrador Retriever
Dachshund Longhair Mix
Miniature Schnauzer/Miniature Poodle
Flat Coat Retriever Mix
Mastiff Mix
Collie Smooth Mix
Dachshund Wirehair Mix
Siberian Husky
Carolina Dog Mix
Labrador Retriever/Border Collie
Australian Cattle Dog
Pekingese Mix
Great Dane Mix
Squirrel Mix
Chinese Sharpei Mix
Border Collie/Labrador Retriever
Rhod Ridgeback Mix
Bull Terrier Mix
Australian Cattle Dog/Labrador Retriever
Chihuahua Shorthair/Rat Terrier
English Bulldog Mix
Russian Blue Mix
Siamese
Chihuahua Shorthair/Jack Russell Terrier
Black/Tan Hound Mix
Norfolk Terrier Mix
Labrador Retriever/Australian Cattle Dog
Fox Mix
Miniature Poodle
Beagle
Redbone Hound Mix
Pembroke Welsh Corgi Mix
Yorkshire Terrier
Rat Terrier/Chihuahua Shorthair
Labrador Retriever/Boxer
Miniature Schnauzer
Maltese/Miniature Poodle
Pug
Cocker Spaniel
Jack Russell Terrier
Domestic Longhair
Soft Coated Wheaten Terrier Mix
Guinea Pig
Pit Bull/Boxer
Border Collie
Chihuahua Shorthair/Pug
Bruss Griffon Mix
Wire Hair Fox Terrier Mix
Bichon Frise Mix
Shetland Sheepdog Mix
Belgian Malinois Mix
Weimaraner Mix
Skunk
Labrador Retriever/Chow Chow
Whippet Mix
Squirrel
Labrador Retriever/Great Pyrenees
Harrier Mix
Parson Russell Terrier Mix
Labrador Retriever/Pointer
Maltese
West Highland Mix
German Shorthair Pointer Mix
Rabbit Sh
Norwich Terrier Mix
Boxer/Labrador Retriever
Great Pyrenees
Shiba Inu Mix
Labrador Retriever/Australian Shepherd
Boxer/Pit Bull
Dalmatian Mix
Boston Terrier
Pug/Chihuahua Shorthair
Basset Hound
Miniature Poodle/Miniature Schnauzer
Akita Mix
Jack Russell Terrier/Chihuahua Shorthair
Himalayan Mix
Chihuahua Shorthair/Cardigan Welsh Corgi
Rat Terrier
Labrador Retriever/Beagle
Doberman Pinsch
Alaskan Husky Mix
Basenji Mix
Hamster Mix
Havanese Mix
Australian Shepherd
Standard Schnauzer Mix
Great Pyrenees/Labrador Retriever
Yorkshire Terrier/Miniature Poodle
Pug/Beagle
Golden Retriever
Papillon Mix
Cairn Terrier/Chihuahua Shorthair
Californian Mix
Pointer/Labrador Retriever
Labrador Retriever/Rottweiler
Miniature Pinscher
Pharaoh Hound Mix
Pomeranian
Smooth Fox Terrier Mix
Rat Mix
German Shepherd/Siberian Husky
Ragdoll Mix
Italian Greyhound Mix
English Bulldog
Labrador Retriever/Plott Hound
Bulldog Mix
Labrador Retriever/Golden Retriever
German Shepherd/Chow Chow
Cairn Terrier
Labrador Retriever/Anatol Shepherd
Dachshund/Beagle
Dogo Argentino Mix
American Staffordshire Terrier
Yorkshire Terrier/Chihuahua Shorthair
Beagle/Chihuahua Shorthair
Great Dane
Miniature Pinscher/Chihuahua Shorthair
Pit Bull/Australian Cattle Dog
Siberian Husky/German Shepherd
Australian Shepherd/Labrador Retriever
Plott Hound/Labrador Retriever
Tibetan Spaniel Mix
Cardigan Welsh Corgi/Chihuahua Shorthair
American Eskimo Mix
Catahoula
Anatol Shepherd/Labrador Retriever
Catahoula/Labrador Retriever
Chihuahua Shorthair/Yorkshire Terrier
Collie Rough Mix
Standard Poodle Mix
Australian Cattle Dog/German Shepherd
Chihuahua Shorthair/Beagle
Chihuahua Shorthair/Miniature Pinscher
Vizsla Mix
Australian Cattle Dog/Pit Bull
Border Collie/Great Pyrenees
Beagle/Dachshund
Labrador Retriever/Catahoula
Rottweiler/Labrador Retriever
Dutch Shepherd Mix
Ferret Mix
German Shepherd/Australian Cattle Dog
Anatol Shepherd
Lhasa Apso
Beagle/Labrador Retriever
Chihuahua Shorthair/Cairn Terrier
Turtle Mix
Border Collie/German Shepherd
Pit Bull/Catahoula
Treeing Walker Coonhound Mix
St. Bernard Smooth Coat Mix
Chesa Bay Retr Mix
Labrador Retriever/Chinese Sharpei
Toy Fox Terrier Mix
Rex Mix
French Bulldog Mix
Bloodhound Mix
Pit Bull/Chinese Sharpei
American Shorthair Mix
English Pointer Mix
Chihuahua Shorthair/Boston Terrier
Brittany Mix
Chicken
Rat
Greyhound
Airedale Terrier Mix
Persian Mix
Scottish Terrier Mix
Boston Terrier/Chihuahua Shorthair
Bullmastiff Mix
Labrador Retriever/Blue Lacy
Siamese/Domestic Shorthair
Cavalier Span Mix
Dachshund/Rat Terrier
Lhasa Apso/Miniature Poodle
Chihuahua Longhair
German Shepherd/Rottweiler
Rottweiler/German Shepherd
Beauceron Mix
Dachshund Wirehair/Chihuahua Shorthair
Irish Terrier Mix
Yorkshire Terrier/Miniature Schnauzer
Bull Terrier
Cocker Spaniel/Miniature Poodle
Pbgv Mix
Feist Mix
Miniature Poodle/Maltese
Angora Mix
Finnish Spitz Mix
Bernese Mountain Dog Mix
Labrador Retriever/Basset Hound
Dachshund Longhair
Jack Russell Terrier/Dachshund
Chinese Sharpei/Labrador Retriever
Duck
Catahoula/Pit Bull
Chow Chow/Labrador Retriever
German Shepherd/Boxer
Ferret
Dove Mix
Great Dane/Labrador Retriever
Schnauzer Giant Mix
Chinese Sharpei
Australian Cattle Dog/Border Collie
English Coonhound Mix
Silky Terrier Mix
Alaskan Malamute Mix
Pekingese
Parakeet Mix
Tibetan Terrier Mix
Labrador Retriever/Dachshund
Chihuahua Shorthair/Italian Greyhound
Rhod Ridgeback/Labrador Retriever
St. Bernard Rough Coat Mix
Toy Poodle
Border Terrier/Chihuahua Shorthair
Siberian Husky/Labrador Retriever
Chow Chow
Staffordshire
Dachshund/Manchester Terrier
Leonberger Mix
Swedish Vallhund Mix
Bluetick Hound Mix
Catahoula/Plott Hound
Labrador Retriever/Great Dane
Chihuahua Shorthair/Pomeranian
Fox
Jack Russell Terrier/Australian Cattle Dog
Beagle/German Shepherd
Greyhound Mix
Australian Cattle Dog/Boxer
Pigeon Mix
Pit Bull/Pointer
Australian Kelpie
Hamster
Miniature Schnauzer/Yorkshire Terrier
Duck Mix
Glen Of Imaal Mix
Balinese Mix
Cocker Spaniel/Labrador Retriever
Schipperke Mix
Chinese Crested Mix
Dachshund Wirehair/Miniature Poodle
Lionhead Mix
American Bulldog/Pit Bull
American Foxhound Mix
Miniature Poodle/Cocker Spaniel
Welsh Terrier Mix
German Shepherd/Alaskan Husky
Anatol Shepherd/Great Pyrenees
Pomeranian/Chihuahua Longhair
Patterdale Terr Mix
Golden Retriever/Labrador Retriever
Lizard Mix
Golden Retriever/Chow Chow
Australian Terrier Mix
English Spot Mix
Australian Shepherd/Border Collie
Jack Russell Terrier/Beagle
Lop-English Mix
Shih Tzu/Miniature Poodle
Chow Chow/German Shepherd
Bengal Mix
Weimaraner
Labrador Retriever/Standard Poodle
Bantam Mix
Dachshund Wirehair/Border Terrier
Black Mouth Cur
Cockatiel Mix
Chihuahua Longhair/Pomeranian
West Highland
German Shepherd/Mastiff
Dachshund/Labrador Retriever
Yorkshire Terrier/Cairn Terrier
Australian Cattle Dog/Pointer
Miniature Poodle/Dachshund
Border Collie/Australian Cattle Dog
Samoyed Mix
Tonkinese Mix
Australian Cattle Dog/Beagle
Labrador Retriever/Australian Kelpie
American Bulldog
Plott Hound
Basset Hound/Labrador Retriever
Pit Bull/Chihuahua Shorthair
Pit Bull/German Shepherd
Beagle/Pug
Bichon Frise
Picardy Sheepdog Mix
American Pit Bull Terrier
Manchester Terrier/Chihuahua Shorthair
Catahoula/Australian Cattle Dog
Mastiff/Chinese Sharpei
Labrador Retriever/Siberian Husky
Labrador Retriever/Doberman Pinsch
German Shepherd/Border Collie
Snowshoe
Pointer/Pit Bull
Boxer/Australian Cattle Dog
Rhod Ridgeback
Cairn Terrier/Yorkshire Terrier
English Shepherd Mix
Australian Shepherd/Anatol Shepherd
Chihuahua Shorthair/Dachshund Wirehair
English Springer Spaniel Mix
Japanese Bobtail Mix
Newfoundland Mix
Boxer/Catahoula
Cardigan Welsh Corgi/Australian Cattle Dog
Bombay Mix
Yorkshire Terrier/Rat Terrier
Californian
Canaan Dog Mix
Labrador Retriever/Jack Russell Terrier
German Shepherd/Australian Shepherd
Siberian Husky/Australian Cattle Dog
Dachshund/Pit Bull
Chihuahua Shorthair/Border Terrier
Pbgv
Snake Mix
Keeshond Mix
Australian Cattle Dog/Australian Shepherd
Treeing Cur Mix
Field Spaniel Mix
Chihuahua Shorthair/Pit Bull
Yorkshire Terrier/Chihuahua Longhair
Cavalier Span
Parson Russell Terrier
Boerboel Mix
Boxer/Beagle
Maine Coon
Standard Poodle/Labrador Retriever
British Shorthair Mix
Maltese/Toy Poodle
Akita
Coyote Mix
Chihuahua Shorthair/Manchester Terrier
Pit Bull/Weimaraner
German Shepherd/Alaskan Malamute
Flat Coat Retriever/Papillon
Yorkshire Terrier/Maltese
German Shepherd/Pit Bull
Labrador Retriever/Black/Tan Hound
Affenpinscher Mix
Great Pyrenees/Anatol Shepherd
Bearded Collie Mix
New Zealand Wht Mix
Podengo Pequeno Mix
German Shepherd/Golden Retriever
Queensland Heeler
Snake
Basset Hound/Beagle
Jack Russell Terrier/Rat Terrier
Shiba Inu
Siberian Husky/Border Collie
Tarantula
Bloodhound
Labrador Retriever/Vizsla
American Eskimo
Persian
Catahoula/Pointer
Mexican Hairless Mix
Shetland Sheepdog
French Bulldog
Blue Lacy/American Bulldog
Labrador Retriever/Rhod Ridgeback
Rat Terrier/Beagle
Havana Mix
Australian Shepherd/Chihuahua Shorthair
Labrador Retriever/Miniature Poodle
Dachshund Longhair/Chihuahua Shorthair
Cairn Terrier/Miniature Schnauzer
Harrier
Pig Mix
Landseer Mix
Manchester Terrier/Dachshund
Rat Terrier/Boston Terrier
Miniature Poodle/Bichon Frise
Mastiff
Redbone Hound/Labrador Retriever
Labrador Retriever/Greyhound
English Springer Spaniel
English Foxhound Mix
German Shepherd/Cardigan Welsh Corgi
Australian Cattle Dog/Jack Russell Terrier
Border Collie/Chow Chow
Jack Russell Terrier/Miniature Poodle
Collie Smooth
Pit Bull/Basset Hound
Chow Chow/Pit Bull
Wirehaired Pointing Griffon Mix
Pembroke Welsh Corgi
Chihuahua Shorthair/Miniature Schnauzer
Dachshund/Jack Russell Terrier
Maltese/Yorkshire Terrier
Turkey Mix
Australian Shepherd/Australian Cattle Dog
German Shepherd/Collie Rough
Cold Water
German Shepherd/Chinese Sharpei
Shih Tzu/Miniature Schnauzer
Presa Canario Mix
Standard Poodle
Collie Smooth/Labrador Retriever
Beagle/Basset Hound
Basset Hound/Australian Cattle Dog
Beagle/Boxer
Rabbit Lh Mix
Chihuahua Longhair/Cairn Terrier
Pointer/Border Collie
Irish Setter/Pit Bull
Chihuahua Shorthair/Whippet
Bernese Mountain Dog
Boykin Span Mix
Dalmatian
Old English Bulldog Mix
Australian Cattle Dog/Catahoula
Vizsla
Pit Bull/Plott Hound
Boxer/Staffordshire
German Shepherd/Doberman Pinsch
Saluki
Great Pyrenees/Border Collie
Dogue De Bordeaux Mix
German Shepherd/Catahoula
Carolina Dog/Chihuahua Shorthair
Miniature Poodle/Lhasa Apso
Pointer/Boxer
Jack Russell Terrier/Labrador Retriever
Blue Lacy
Dachshund/Australian Cattle Dog
Jack Russell Terrier/Pit Bull
Black/Tan Hound
Gerbil Mix
Greater Swiss Mountain Dog Mix
Chow Chow/Golden Retriever
Soft Coated Wheaten Terrier
Boxer/Chinese Sharpei
Pixiebob Shorthair Mix
Devon Rex Mix
Pembroke Welsh Corgi/Chihuahua Shorthair
Weimaraner/Labrador Retriever
German Pinscher Mix
Shih Tzu/Dachshund
Miniature Poodle/Chihuahua Shorthair
Manchester Terrier/Beagle
German Wirehaired Pointer Mix
Anatol Shepherd/German Shepherd
Irish Wolfhound Mix
Pointer/Catahoula
Labrador Retriever/Flat Coat Retriever
Wire Hair Fox Terrier/Beagle
Dachshund/Shih Tzu
Grackle Mix
Cardigan Welsh Corgi/German Shepherd
Standard Schnauzer
Miniature Pinscher/Pug
Cane Corso Mix
Basset Hound/Pit Bull
Jack Russell Terrier/Shih Tzu
Catahoula/Cardigan Welsh Corgi
Mastiff/Rottweiler
Alaskan Malamute
Catahoula/Chinese Sharpei
Anatol Shepherd/Border Collie
Lionhead
Rottweiler/Australian Cattle Dog
German Shorthair Pointer
Bull Terrier Miniature Mix
Cane Corso
Pointer
Rottweiler/Chow Chow
Tortoise Mix
Pit Bull/Boston Terrier
Himalayan
Alaskan Husky
Vizsla/Labrador Retriever
Armadillo Mix
Australian Shepherd/Chow Chow
Australian Shepherd/Cardigan Welsh Corgi
Chow Chow/Australian Cattle Dog
Grackle
Basset Hound/Chinese Sharpei
Labrador Retriever/Staffordshire
Beagle/Australian Cattle Dog
Norfolk Terrier/Chihuahua Shorthair
Papillon
Yorkshire Terrier/Border Terrier
Pit Bull/Mastiff
Chihuahua Longhair/Dachshund
Bullmastiff
Manx/Domestic Shorthair
Pointer/American Pit Bull Terrier
English Cocker Spaniel Mix
Chihuahua Longhair/Maltese
Miniature Poodle/Yorkshire Terrier
Parakeet
Queensland Heeler/Pit Bull
Labrador Retriever/Queensland Heeler
Cymric Mix
Beagle/Rat Terrier
Dalmatian/Labrador Retriever
Border Collie/Boxer
Coyote
Lhasa Apso/Shih Tzu
Border Terrier/Yorkshire Terrier
Catahoula/German Shepherd
Black Mouth Cur/German Shepherd
Dachshund Wirehair
German Shepherd/Great Pyrenees
Pointer/Australian Cattle Dog
Belgian Malinois
Cardigan Welsh Corgi
Black Mouth Cur/Catahoula
Anatol Shepherd/Redbone Hound
Otterhound Mix
Cardigan Welsh Corgi/Pointer
Bedlington Terr Mix
Australian Cattle Dog/Cardigan Welsh Corgi
Cairn Terrier/Miniature Poodle
Miniature Poodle/Cairn Terrier
Catahoula/Beagle
Wire Hair Fox Terrier/Chihuahua Shorthair
Dachshund/Bloodhound
Australian Kelpie/Labrador Retriever
Nova Scotia Duck Tolling Retriever
Chihuahua Longhair/Jack Russell Terrier
Golden Retriever/German Shepherd
American Staffordshire Terrier/American Bulldog
Dachshund/Chihuahua Longhair
Border Collie/Catahoula
Cairn Terrier/Chihuahua Longhair
Boxer/English Bulldog
Chihuahua Shorthair/Basset Hound
Labrador Retriever/Chesa Bay Retr
Newfoundland/Labrador Retriever
Oriental Sh Mix
Abyssinian Mix
Australian Kelpie/Pit Bull
Rat Terrier/Cardigan Welsh Corgi
Basenji/Australian Cattle Dog
Australian Cattle Dog/Pembroke Welsh Corgi
Australian Cattle Dog/Basenji
Catahoula/Great Dane
Cockatoo
Shih Tzu/Maltese
Armadillo
Cardigan Welsh Corgi/Cocker Spaniel
Australian Cattle Dog/Staffordshire
Finnish Spitz
Siberian Husky/Pit Bull
Labrador Retriever/Whippet
Great Pyrenees/Catahoula
Boxer/American Staffordshire Terrier
Labrador Retriever/Dalmatian
Doberman Pinsch/Labrador Retriever
Chihuahua Shorthair/Australian Cattle Dog
Golden Retriever/Border Collie
Parrot Mix
Shih Tzu/Cocker Spaniel
Boxer/Black Mouth Cur
Bluebird Mix
Australian Cattle Dog/Plott Hound
Chihuahua Shorthair/German Shepherd
Boston Terrier/Dachshund
Australian Shepherd/Cocker Spaniel
Jack Russell Terrier/Cairn Terrier
Australian Cattle Dog/Dachshund
Australian Cattle Dog/Chow Chow
Labrador Retriever/Black Mouth Cur
Australian Kelpie/Blue Lacy
Cottontail Mix
Pigeon
Black/Tan Hound/Labrador Retriever
Plott Hound/Boxer
Norwegian Forest Cat Mix
Pit Bull/Dalmatian
Queensland Heeler/Chihuahua Shorthair
Pit Bull/Black Mouth Cur
Collie Rough/German Shepherd
Flat Coat Retriever/Pit Bull
Chihuahua Longhair/Pekingese
Chinese Sharpei/Pit Bull
Rhode Island Mix
Labrador Retriever/Collie Smooth
Chihuahua Shorthair/Pembroke Welsh Corgi
German Shepherd/Black/Tan Hound
Chow Chow/Basset Hound
Basenji/Chihuahua Shorthair
Beagle/Jack Russell Terrier
Dachshund/Pug
Great Pyrenees/Golden Retriever
Weimaraner/Pit Bull
Australian Cattle Dog/Bull Terrier
Jindo Mix
Cocker Spaniel/Dachshund
Blue Lacy/Pit Bull
Turkish Angora Mix
Nova Scotia Duck Tolling Retriever Mix
Japanese Chin Mix
Pit Bull/Bulldog
Lop-Holland Mix
Rat Terrier/Miniature Poodle
Whippet/Dachshund
Australian Cattle Dog/Chinese Sharpei
Dachshund Wirehair/Toy Poodle
Belgian Sheepdog Mix
American Bulldog/Mastiff
Shih Tzu/Havanese
American Bulldog/Boxer
Manchester Terrier/Jack Russell Terrier
Boxer/Great Dane
Skye Terrier Mix
Border Collie/Pointer
Sparrow Mix
Border Terrier
Chihuahua Longhair/Cardigan Welsh Corgi
Golden Retriever/Standard Poodle
Catahoula/Boxer
Russian Blue
Labrador Retriever/Standard Schnauzer
Shih Tzu/Toy Poodle
Quaker Mix
Cairn Terrier/Dachshund
Dachshund Wirehair/Miniature Schnauzer
Ragdoll
Cardigan Welsh Corgi/Beagle
Pit Bull/Dachshund
Miniature Schnauzer/Chihuahua Shorthair
Chihuahua Shorthair/Wire Hair Fox Terrier
Blue Lacy/Australian Kelpie
Catahoula/English Coonhound
Dove
Border Collie/Australian Shepherd
Great Pyrenees/Australian Cattle Dog
Great Pyrenees/Pointer
Miniature Poodle/Labrador Retriever
Pomeranian/Chihuahua Shorthair
Schipperke/Chihuahua Shorthair
Pit Bull/Rottweiler
Labrador Retriever/Mastiff
Border Collie/Parson Russell Terrier
Coton De Tulear Mix
Exotic Shorthair Mix
Labrador Retriever/Redbone Hound
Whippet/Labrador Retriever
Dutch Shepherd
Chihuahua Shorthair/Smooth Fox Terrier
Lop-Mini
Border Collie/Pit Bull
Labrador Retriever/Labrador Retriever
Rottweiler/Doberman Pinsch
Lhasa Apso/Cocker Spaniel
Welsh Springer Spaniel
Black Mouth Cur/Blue Lacy
American Bulldog/Labrador Retriever
German Wirehaired Pointer
Yorkshire Terrier/Lhasa Apso
Dachshund/Yorkshire Terrier
Norfolk Terrier/Yorkshire Terrier
Rat Terrier/Australian Cattle Dog
Japanese Chin
British Shorthair
Australian Cattle Dog/Bloodhound
Lhasa Apso/Miniature Schnauzer
Cairn Terrier/Border Collie
Black Mouth Cur/Boxer
Rottweiler/Pit Bull
Border Collie/Dachshund
Carolina Dog/Labrador Retriever
Wire Hair Fox Terrier
Chihuahua Shorthair/Toy Fox Terrier
Soft Coated Wheaten Terrier/Labrador Retriever
Pug/Border Terrier
German Shepherd/Pembroke Welsh Corgi
American Pit Bull Terrier/Labrador Retriever
Chihuahua Longhair/Papillon
Great Dane/Mastiff
Akita/German Shepherd
Pit Bull/Rhod Ridgeback
Dachshund/Catahoula
Black Mouth Cur/Labrador Retriever
Doberman Pinsch/German Shepherd
Jack Russell Terrier/Dachshund Wirehair
Australian Kelpie/German Shepherd
Yorkshire Terrier/Jack Russell Terrier
Basenji/Chihuahua Longhair
German Shepherd/Collie Smooth
Collie Rough/Labrador Retriever
Jack Russell Terrier/Italian Greyhound
Pekingese/Miniature Poodle
Beagle/Cardigan Welsh Corgi
Labrador Retriever/Pembroke Welsh Corgi
Pekingese/Jack Russell Terrier
Plott Hound/Rhod Ridgeback
Domestic Longhair/Persian
Akita/Border Collie
Shetland Sheepdog/Border Collie
Pit Bull/Pit Bull
Siamese/Japanese Bobtail
Beagle/Cocker Spaniel
Pit Bull/English Bulldog
Bull Terrier Miniature
Welsh Terrier
Chihuahua Shorthair/Pekingese
Great Pyrenees/Rottweiler
Boxer/Miniature Poodle
Anatol Shepherd/Catahoula
Dachshund/Whippet
Dachshund/Miniature Poodle
Bulldog
Chihuahua Shorthair/Mexican Hairless
Greyhound/Labrador Retriever
Alaskan Malamute/German Shepherd
Domestic Shorthair/Siamese
American Staffordshire Terrier/Labrador Retriever
Turkish Van Mix
Port Water Dog Mix
Great Dane/Pit Bull
German Shepherd/Black Mouth Cur
Great Pyrenees/Chow Chow
Catahoula/Staffordshire
Black Mouth Cur/Australian Cattle Dog
Doberman Pinsch/Pit Bull
Pharaoh Hound
Silky Terrier
Pug/French Bulldog
Belgian Tervuren Mix
Labrador Retriever/American Pit Bull Terrier
Australian Cattle Dog/German Shorthair Pointer
Chihuahua Longhair/Dachshund Longhair
Border Collie/Mastiff
Goat Mix
Irish Terrier/Labrador Retriever
Australian Kelpie/Australian Shepherd
St. Bernard Rough Coat
Burmese
French Bulldog/Chihuahua Shorthair
Dalmatian/Pit Bull
Catahoula/American Bulldog
Rat Terrier/Dachshund
Dachshund/Cardigan Welsh Corgi
Dachshund/Parson Russell Terrier
Old English Sheepdog
Bearded Collie
Chihuahua Shorthair/Swedish Vallhund
Beagle/Pointer
Pit Bull/Siberian Husky
Golden Retriever/Beagle
Jack Russell Terrier/Yorkshire Terrier
Labrador Retriever/Pug
Great Pyrenees/Pit Bull
American Mix
Golden Retriever/Dachshund
Border Collie/Jack Russell Terrier
Scottish Terrier
Pointer/Collie Smooth
Boxer/Pointer
Pug/Pekingese
Pit Bull/Blue Lacy
Chihuahua Shorthair/Chinese Sharpei
Dogo Argentino
Jersey Wooly Mix
Labrador Retriever/Bloodhound
Australian Cattle Dog/Siberian Husky
Domestic Medium Hair/Siamese
Sphynx
Yorkshire Terrier/Toy Poodle
Flat Coat Retriever

Rhod Ridgeback/Pit Bull
Dachshund Wirehair/Rat Terrier
Border Collie/Alaskan Husky
Miniature Schnauzer/Cairn Terrier
Chow Chow/Siberian Husky
Pug/Chihuahua Longhair
Staffordshire/Boston Terrier
Chihuahua Shorthair/Welsh Terrier
Owl Mix
Great Pyrenees/Standard Poodle
Mastiff/Boxer
Manchester Terrier/Australian Kelpie
Dachshund/Basset Hound
Beauceron
Rhod Ridgeback/Boxer
Samoyed
Munchkin Shorthair Mix
Alaskan Malamute/Border Collie
Dachshund Wirehair/Chihuahua Longhair
Dachshund/Harrier
Miniature Poodle/Australian Cattle Dog
Cocker Spaniel/Toy Poodle
English Setter Mix
Mouse Mix
Black/Tan Hound/Great Dane
American Wirehair Mix
Quaker
Border Collie/Bull Terrier
Great Pyrenees/Collie Rough
Australian Cattle Dog/Golden Retriever
Pointer/Queensland Heeler
Dachshund/Blue Lacy
Treeing Walker Coonhound/Dachshund
Greyhound/Airedale Terrier
Bruss Griffon/Chihuahua Longhair
Australian Shepherd/Siberian Husky
Doberman Pinsch/Black/Tan Hound
Staffordshire/Bulldog
Pekingese/Maltese
Whippet
German Shepherd/Basenji
English Coonhound/Italian Greyhound
Cardigan Welsh Corgi/English Setter
Pekingese/Pug
Vizsla/German Shepherd
French Bulldog/Miniature Schnauzer
English Coonhound/Border Collie
Pit Bull/Doberman Pinsch
Hedgehog
German Shepherd/Whippet
Bluetick Hound/Great Pyrenees
Vulture Mix
American Eskimo/Australian Shepherd
Collie Smooth/Saluki
Border Collie/Plott Hound
Pit Bull/Jindo
English Bulldog/American Bulldog
Maltese/Dalmatian
Shetland Sheepdog/Cavalier Span
Beagle/Whippet
Bobcat Mix
Collie Smooth/Miniature Poodle
Grand Basset Griffon Vendeen Mix
Black Mouth Cur/Siberian Husky
Angora-French Mix
Ibizan Hound/Pit Bull
Mastiff/Cane Corso
Queensland Heeler/Shetland Sheepdog
American Staffordshire Terrier/Plott Hound
Dachshund Stan Mix
Black Mouth Cur/Staffordshire
Standard Poodle/Whippet
St. Bernard Smooth Coat/Anatol Shepherd
Chihuahua Shorthair/Affenpinscher
Pit Bull/Queensland Heeler
Australian Shepherd/Rhod Ridgeback
Blue Lacy/Pointer
Miniature Schnauzer/Pug
Pit Bull/Pharaoh Hound
Finnish Spitz/Dachshund
Manchester Terrier/Toy Fox Terrier
Chinese Sharpei/American Staffordshire Terrier
Pekingese/Cavalier Span
Beagle/Parson Russell Terrier
Harrier/Pointer
Papillon/Skye Terrier
Skye Terrier/Miniature Poodle
French Bulldog/Pug
Jack Russell Terrier/Brittany
Beagle/Black Mouth Cur
Miniature Poodle/English Cocker Spaniel
American Curl Shorthair Mix
Yorkshire Terrier/Yorkshire Terrier
Soft Coated Wheaten Terrier/Chihuahua Shorthair
English Pointer
Border Collie/Doberman Pinsch
Mastiff/Anatol Shepherd
Pomeranian/American Eskimo
Bluetick Hound
Chinchilla-Amer Mix
Border Terrier/Border Collie
Maltese/Lhasa Apso
Cavalier Span/Toy Poodle
Boxer/Jack Russell Terrier
Collie Rough/Chinese Sharpei
Plott Hound/Whippet
Pembroke Welsh Corgi/Australian Cattle Dog
Australian Shepherd/Greyhound
Blue Lacy/Cardigan Welsh Corgi
Papillon/Pomeranian
Great Dane/Boxer
Chihuahua Shorthair/Labrador Retriever
Chow Chow/Australian Kelpie
Pit Bull/Carolina Dog
Chihuahua Shorthair/Shetland Sheepdog
Pembroke Welsh Corgi/Anatol Shepherd
Scottish Fold Mix
American Foxhound/Pointer
Domestic Shorthair/Abyssinian
Scottish Terrier/Cairn Terrier
Dachshund/Pembroke Welsh Corgi
Cardigan Welsh Corgi/American Eskimo
Dachshund Wirehair/Standard Poodle
French Bulldog/English Bulldog
Airedale Terrier/Labrador Retriever
Norfolk Terrier/Border Terrier
Lhasa Apso/West Highland
Lizard
Boxer/Chow Chow
Miniature Poodle/Pomeranian
Boxer/Border Collie
Miniature Poodle/Golden Retriever
Patterdale Terr/Chihuahua Shorthair
Great Pyrenees/St. Bernard Rough Coat
Shih Tzu/Chihuahua Longhair
Lhasa Apso/Havanese
Smooth Fox Terrier/Basenji
Miniature Schnauzer/Maltese
Irish Wolfhound/Great Dane
Cocker Spaniel/Dachshund Longhair
Australian Shepherd/German Shepherd
American Staffordshire Terrier/Jack Russell Terrier
German Shepherd/Smooth Fox Terrier
Spanish Mastiff Mix
Pembroke Welsh Corgi/Dachshund
Boxer/American Pit Bull Terrier
Border Collie/Rottweiler
Beagle/American Staffordshire Terrier
Chihuahua Shorthair/Parson Russell Terrier
Canaan Dog/Redbone Hound
Sealyham Terr Mix
Pointer/Anatol Shepherd
Snowshoe/Ragdoll
Airedale Terrier/Miniature Schnauzer
Pit Bull/Alaskan Husky
Black Mouth Cur/Mastiff
Chihuahua Shorthair/Cavalier Span
Chihuahua Shorthair/Boxer
Rhod Ridgeback/Mastiff
English Coonhound/Australian Cattle Dog
Labrador Retriever/Irish Setter
Standard Schnauzer/Border Terrier
Collie Rough/Keeshond
American Sable
Cavalier Span/Chihuahua Longhair
Lark Mix
Cavalier Span/Jack Russell Terrier
Bullmastiff/Boxer
Shiba Inu/Siberian Husky
Pit Bull/St. Bernard Smooth Coat
Cane Corso/Mastiff
Chow Chow/American Eskimo
Australian Cattle Dog/American Staffordshire Terrier
Dutch Shepherd/Boxer
Great Pyrenees/Queensland Heeler
Border Collie/American Staffordshire Terrier
Chihuahua Shorthair/Norfolk Terrier
Canaan Dog/Pit Bull
Toy Fox Terrier/Yorkshire Terrier
Pembroke Welsh Corgi/Australian Shepherd
Flat Coat Retriever/Chow Chow
Catahoula/Black Mouth Cur
Great Dane/Boerboel
Norwich Terrier
Australian Kelpie/Chinese Sharpei
Shetland Sheepdog/Brittany
Chihuahua Longhair/Chihuahua Shorthair
Cardigan Welsh Corgi/Labrador Retriever
Barred Rock Mix
American Staffordshire Terrier/Pit Bull
Jindo
Queensland Heeler/Great Dane
Yorkshire Terrier/Parson Russell Terrier
Jindo/Labrador Retriever
Australian Cattle Dog/Treeing Walker Coonhound
Lhasa Apso/Yorkshire Terrier
Australian Cattle Dog/Cairn Terrier
Dachshund/Cavalier Span
Beagle/Manchester Terrier
Lop-Holland
Rhod Ridgeback/Bullmastiff
Pomeranian/Schipperke
German Shepherd/Greyhound
Boxer/Plott Hound
American Sable Mix
Boxer/Bullmastiff
German Shepherd/German Shepherd
Cocker Spaniel/Standard Poodle
Boxer/Queensland Heeler
Rottweiler/Basset Hound
Yorkshire Terrier/Chinese Crested
Catahoula/Mastiff
Labrador Retriever/American Foxhound
German Shepherd/Beagle
Australian Cattle Dog/Belgian Malinois
Beagle/Queensland Heeler
Standard Schnauzer/Miniature Poodle
Boxer/Great Pyrenees
Chinese Sharpei/Great Dane
Vizsla/Catahoula
Rhod Ridgeback/Plott Hound
Standard Schnauzer/Toy Poodle
Havana Brown Mix
Boxer/Neapolitan Mastiff
Owl
Basset Hound/French Bulldog
Australian Kelpie/Finnish Spitz
Coton De Tulear
Chihuahua Shorthair/Rottweiler
Jack Russell Terrier/Manchester Terrier
Rat Terrier/Basenji
Nuthatch Mix
Pit Bull/Chow Chow
Weimaraner/Plott Hound
Australian Cattle Dog/Collie Rough
Soft Coated Wheaten Terrier/Border Terrier
Rat Terrier/Queensland Heeler
Border Terrier/Labrador Retriever
Plott Hound/Dutch Shepherd
Swedish Vallhund/Miniature Poodle
Chihuahua Longhair/Yorkshire Terrier
Sparrow
Plott Hound/Carolina Dog
Chow Chow/English Cocker Spaniel
Beagle/Catahoula
Rat Terrier/Pembroke Welsh Corgi
Golden Retriever/Cocker Spaniel
Shetland Sheepdog/Cardigan Welsh Corgi
Doberman Pinsch/Border Collie
Harrier/Pit Bull
Boxer/German Shepherd
Newfoundland/Australian Cattle Dog
Pekingese/Tibetan Terrier
St. Bernard Smooth Coat
Schnauzer Giant/Labrador Retriever
Cairn Terrier/Scottish Terrier
Boxer/Dogue De Bordeaux
Norfolk Terrier/Dachshund Wirehair
German Pinscher/Whippet
Miniature Schnauzer/Labrador Retriever
Dachshund/Swedish Vallhund
Shih Tzu/Cardigan Welsh Corgi
Plott Hound/German Shepherd
Blue Lacy/Labrador Retriever
Black/Tan Hound/Siberian Husky
Catahoula/Australian Shepherd
Shih Tzu/Pekingese
Whippet/Shetland Sheepdog
Labrador Retriever/Saluki
Australian Shepherd/English Setter
American Bulldog/English Bulldog
Australian Shepherd/Australian Kelpie
Maltese/Chihuahua Shorthair
Chihuahua Shorthair/Shiba Inu
Domestic Shorthair/British Shorthair
Chinese Sharpei/Airedale Terrier
Labrador Retriever/Spanish Water Dog
Checkered Giant Mix
Great Pyrenees/Alaskan Husky
Border Collie/Shetland Sheepdog
Feist/Chihuahua Shorthair
Chinese Sharpei/Australian Cattle Dog
Australian Kelpie/Whippet
Frog
American Foxhound
Plott Hound/Bull Terrier
Rhod Ridgeback/Harrier
West Highland/Toy Fox Terrier
Vizsla/Rhod Ridgeback
Miniature Schnauzer/Soft Coated Wheaten Terrier
Bluetick Hound/Australian Cattle Dog
Miniature Schnauzer/Standard Poodle
Australian Kelpie/Chihuahua Shorthair
Anatol Shepherd/Australian Shepherd
Shetland Sheepdog/Chihuahua Longhair
Australian Cattle Dog/Parson Russell Terrier
Collie Smooth/Siberian Husky
Shetland Sheepdog/Basenji
Pit Bull/Jack Russell Terrier
Rat Terrier/Pit Bull
Miniature Schnauzer/Queensland Heeler
English Bulldog/Pit Bull
Pit Bull/Dogue De Bordeaux
Collie Rough/Golden Retriever
Shiba Inu/Chinese Sharpei
Basset Hound/Dachshund
Miniature Pinscher/Pomeranian
Collie Smooth/Golden Retriever
Chinese Sharpei/American Bulldog
Boston Terrier/Pembroke Welsh Corgi
Greyhound/Great Dane
Toy Poodle/Yorkshire Terrier
Boxer/Redbone Hound
Basset Hound/Border Collie
Heron
Australian Shepherd/Dachshund
Chinese Sharpei/Boxer
Miniature Schnauzer/West Highland
Toy Fox Terrier/Dachshund
Shih Tzu/Affenpinscher
Lowchen Mix
Collie Smooth/Chow Chow
Beagle/Pit Bull
Sussex Span Mix
Chihuahua Shorthair/Lhasa Apso
Newfoundland/Queensland Heeler
Yorkshire Terrier/Havanese
Australian Kelpie/Bull Terrier
Australian Cattle Dog/American Foxhound
Border Terrier/Chihuahua Longhair
Pomeranian/Shetland Sheepdog
Chinese Sharpei/Basset Hound
Australian Shepherd/Jack Russell Terrier
Golden Retriever/Pit Bull
Great Dane/Australian Shepherd
English Springer Spaniel/Cardigan Welsh Corgi
Plott Hound/Mastiff
Miniature Schnauzer/Australian Cattle Dog
Cairn Terrier/Border Terrier
Anatol Shepherd/Pit Bull
Redbone Hound
Afghan Hound Mix
American Staffordshire Terrier/Australian Cattle Dog
Airedale Terrier/Irish Terrier
Jack Russell Terrier/Papillon
Scottish Terrier/Miniature Poodle
Border Collie/Dalmatian
Miniature Pinscher/Australian Cattle Dog
Eng Toy Spaniel Mix
Chow Chow/Pomeranian
Potbelly Pig Mix
St. Bernard Rough Coat/Labrador Retriever
Cavalier Span/Pug
Old English Sheepdog Mix
Rottweiler/Beagle
Boxer/Harrier
Papillon/Border Collie
Mastiff/Dutch Shepherd
Black Mouth Cur/American Staffordshire Terrier
Mastiff/German Shepherd
Labrador Retriever/Alaskan Malamute
Whippet/Australian Cattle Dog
Shih Tzu/Norfolk Terrier
Dachshund/Chinese Sharpei
Yorkshire Terrier/Dachshund Wirehair
St. Bernard Rough Coat/Boxer
Norwich Terrier/Border Terrier
Jack Russell Terrier/Basenji
West Highland/Chihuahua Shorthair
Miniature Poodle/Beagle
Cornish Rex Mix
Vizsla/Dachshund
Scottish Terrier/Basset Hound
Boxer/Greyhound
Jack Russell Terrier/Pug
American Bulldog/Blue Lacy
Catahoula/Treeing Walker Coonhound
Shetland Sheepdog/Keeshond
Blue Lacy/Great Dane
English Pointer/Labrador Retriever
Papillon/Miniature Poodle
Siberian Husky/Beagle
Staffordshire/Blue Lacy
Australian Cattle Dog/Chihuahua Shorthair
Ocicat Mix
Belgian Sheepdog
St. Bernard Rough Coat/Standard Schnauzer
German Shepherd/Weimaraner
Pekingese/Catahoula
Labrador Retriever/Harrier
Akita/Mastiff
Collie Rough/Anatol Shepherd
Australian Cattle Dog/Australian Kelpie
Bull Terrier/Jack Russell Terrier
Rottweiler/Rhod Ridgeback
Cavalier Span/Papillon
Dachshund/Australian Kelpie
American Pit Bull Terrier/Pointer
Unknown Mix
Labrador Retriever/St. Bernard Smooth Coat
Irish Wolfhound/Great Pyrenees
Rhod Ridgeback/Chow Chow
Redbone Hound/Redbone Hound
Rabbit Lh
Greyhound/Saluki
Beagle/Cavalier Span
Pointer/Basset Hound
Staffordshire/Australian Cattle Dog
Lhasa Apso/Border Terrier
Rottweiler/Boxer
Great Dane/Staffordshire
Bichon Frise/Toy Poodle
Mastiff/Akita
American Pit Bull Terrier/Boxer
Pbgv/Jack Russell Terrier
Cairn Terrier/Affenpinscher
Labrador Retriever/Treeing Walker Coonhound
Dutch
Newfoundland/Border Collie
Glen Of Imaal/Ibizan Hound
American Bulldog/Great Pyrenees
Norfolk Terrier/Lhasa Apso
Yorkshire Terrier/Bruss Griffon
Border Collie/Brittany
Akita/Pit Bull
Pug/Staffordshire
Chinese Sharpei/Rat Terrier
Lovebird Mix
Australian Shepherd/Beagle
Munchkin Longhair Mix
Border Terrier/Bruss Griffon
Keeshond
St. Bernard Rough Coat/Border Collie
Miniature Pinscher/Maltese
Collie Smooth/Beagle
Shih Tzu/Bruss Griffon
Mockingbird
Chinese Crested/Chihuahua Longhair
Anatol Shepherd/Collie Rough
Labrador Retriever/American Staffordshire Terrier
Pit Bull/American Foxhound
Catahoula/American Pit Bull Terrier
Nova Scotia Duck Tolling Retriever/Golden Retriever
Catahoula/Chow Chow
Chinese Sharpei/Pointer
Redbone Hound/Boxer
Boerboel
Carolina Dog/Border Collie
Rhod Ridgeback/Australian Cattle Dog
Australian Kelpie/Shiba Inu
Blue Lacy/Beagle
Papillon/Chihuahua Shorthair
African Mix
Snake/Snake
Golden Retriever/Pembroke Welsh Corgi
Beagle/Australian Kelpie
Chow Chow/Irish Setter
Labrador Retriever/Shiba Inu
Maltese/Cocker Spaniel
Welsh Springer Spaniel Mix
Border Terrier/Pug
Bruss Griffon/Yorkshire Terrier
Norfolk Terrier/Dachshund
Cocker Spaniel/Beagle
Australian Kelpie/Alaskan Husky
Queensland Heeler/Parson Russell Terrier
Irish Wolfhound/Australian Shepherd
Anatol Shepherd/Siberian Husky
Brittany/Labrador Retriever
Border Terrier/Cardigan Welsh Corgi
Boykin Span/Cocker Spaniel
Labrador Retriever/Chihuahua Shorthair
Maltese/Yorkshire
American Staffordshire Terrier/French Bulldog
English Bulldog/Beagle
Queensland Heeler/Australian Cattle Dog
Lowchen/Miniature Poodle
Manx/Siamese
Labrador Retriever/Pharaoh Hound
Sugar Glider
Dachshund Longhair/Maltese
Shih Tzu/Pug
Queensland Heeler/Great Pyrenees
West Highland/Miniature Poodle
Silkie Mix
Treeing Walker Coonhound/Australian Cattle Dog
Harrier/German Shepherd
Anatol Shepherd/Kangal
Soft Coated Wheaten Terrier/Standard Poodle
Carolina Dog/Pit Bull
Dalmatian/Pointer
Labrador Retriever/St. Bernard Rough Coat
Miniature Schnauzer/Lhasa Apso
Cocker Spaniel/Shetland Sheepdog
Rex-Mini
Dachshund/German Pinscher
Miniature Pinscher/Smooth Fox Terrier
Cairn Terrier/West Highland
Greyhound/Dalmatian
Basenji/Labrador Retriever
Dachshund Wirehair/Pbgv
Papillon/Australian Cattle Dog
Manx
Bruss Griffon
Dachshund/Dachshund
Shiba Inu/Dachshund
Dachshund/English Bulldog
Dachshund Longhair/Australian Shepherd
Soft Coated Wheaten Terrier/Miniature Poodle
American Pit Bull Terrier/Chinese Sharpei
Lhasa Apso/Pbgv
Dandie Dinmont
American Bulldog/Basset Hound
Australian Cattle Dog/Rhod Ridgeback
Chihuahua Shorthair/Queensland Heeler
Shetland Sheepdog/Italian Greyhound
Pointer/Australian Kelpie
Snowshoe/Domestic Shorthair
Toy Poodle/Dachshund
Basset Hound/Beauceron
Boxer/Cardigan Welsh Corgi
Manchester Terrier/Pembroke Welsh Corgi
American Pit Bull Terrier/American Bulldog
Beagle/Pembroke Welsh Corgi
Guinea Mix
Cairn Terrier/Dachshund Wirehair
Basset Hound/Golden Retriever
Manchester Terrier/Norfolk Terrier
Dachshund/Havanese
Redbone Hound/Anatol Shepherd
Chihuahua Longhair/Italian Greyhound
Black/Tan Hound/German Shepherd
Australian Cattle Dog/Collie Smooth
Beagle/Treeing Walker Coonhound
Pointer/Ibizan Hound
Dachshund Longhair/Miniature Poodle
Border Collie/Pomeranian
Rhod Ridgeback/Pointer
Great Dane/Anatol Shepherd
Miniature Poodle/Havanese
Chihuahua Longhair/Queensland Heeler
Saluki/Doberman Pinsch
Australian Shepherd/Boxer
Pit Bull/Cardigan Welsh Corgi
Wire Hair Fox Terrier/Miniature Schnauzer
Staffordshire/French Bulldog
Yorkshire Terrier/Pomeranian
Australian Kelpie/Border Collie
Blue Lacy/Collie Smooth
Flat Coat Retriever/Golden Retriever
Australian Cattle Dog/Rat Terrier
Pharaoh Hound/Border Collie
Pembroke Welsh Corgi/Brittany
Treeing Tennesse Brindle
Boston Terrier/Beagle
Jack Russell Terrier/Shetland Sheepdog
Pug/Boston Terrier
American Staffordshire Terrier/Rhod Ridgeback
Pembroke Welsh Corgi/Basset Hound
Jack Russell Terrier/American Staffordshire Terrier
Collie Rough/Pembroke Welsh Corgi
Pointer/Rhod Ridgeback
Jack Russell Terrier/Cavalier Span
Basenji
Catahoula/Jack Russell Terrier
Redbone Hound/Australian Cattle Dog
Rat Terrier/Pug
Vizsla/Staffordshire
Manchester Terrier/Labrador Retriever
Belgian Malinois/German Shepherd
Jack Russell Terrier/Basset Hound
Pointer/Bull Terrier
German Shepherd/Plott Hound
Cardigan Welsh Corgi/Chihuahua Longhair
English Coonhound/Beagle
Greyhound/Pointer
Chow Chow/Border Collie
Dachshund/German Shepherd
Dachshund Longhair/Toy Poodle
Miniature Poodle/Italian Greyhound
Rottweiler/Siberian Husky
Otter Mix
Vizsla/Pointer
Whippet/Rat Terrier
Toy Poodle/Bichon Frise
Tortoise
Cocker Spaniel/Australian Shepherd
Chinese Sharpei/Beagle
Staffordshire/Beagle
Boxer/Doberman Pinsch
Norwich Terrier/Pug
Pit Bull/Bull Terrier
Miniature Schnauzer/Jack Russell Terrier
Basset Hound/English Cocker Spaniel
American Eskimo/Alaskan Husky
Boston Terrier/Labrador Retriever
Landseer
Catahoula/Border Collie
Basenji/Rhod Ridgeback
Border Terrier/Dachshund Wirehair
Cockatiel
Beagle/Australian Shepherd
American Bulldog/Chinese Sharpei
Dachshund Longhair/Pomeranian
Dutch Shepherd/Anatol Shepherd
German Shepherd/Swedish Vallhund
Siberian Husky/Anatol Shepherd
Dutch Shepherd/Mastiff
Peafowl
Black Mouth Cur/Basset Hound
Bluetick Hound/Australian Kelpie
Whippet/Anatol Shepherd
Miniature Poodle/Shih Tzu
Peafowl Mix
Norwich Terrier/Cairn Terrier
Brittany/Chihuahua Shorthair
Plott Hound/Rottweiler
Domestic Medium Hair/Maine Coon
English Springer Spaniel/Beagle
Border Collie/Standard Schnauzer
Jack Russell Terrier/Whippet
Jack Russell Terrier/Miniature Schnauzer
Saluki/Labrador Retriever
Shih Tzu/Australian Shepherd
Vizsla/Beagle
Boston Terrier/Rat Terrier
Border Collie/Canaan Dog
Alaskan Malamute/Australian Kelpie
Silver Mix
Australian Shepherd/Brittany
Alaskan Husky/German Shepherd
Smooth Fox Terrier/Jack Russell Terrier
Chihuahua Shorthair/Cirneco
Miniature Poodle/Border Terrier
Dachshund/Border Collie
Standard Schnauzer/Soft Coated Wheaten Terrier
Tibetan Spaniel
Beagle/Staffordshire
Miniature Poodle/West Highland
German Shepherd/Redbone Hound
Alaskan Husky/Border Collie
Finnish Spitz/Chow Chow
Cocker Spaniel/Golden Retriever
Dachshund Longhair/Cairn Terrier
Manchester Terrier/Chihuahua Longhair
Golden Retriever/Akita
Chihuahua Shorthair/Rhod Ridgeback
Siberian Husky/Cardigan Welsh Corgi
Golden Retriever/Whippet
Golden Retriever/Australian Cattle Dog
English Bulldog/Australian Cattle Dog
English Bulldog/Dachshund
Chinese Sharpei/Border Collie
Siberian Husky/Rottweiler
Border Terrier/Rat Terrier
Collie Smooth/Boxer
Miniature Poodle/Chihuahua Longhair
Border Collie/Anatol Shepherd
Chihuahua Shorthair/Papillon
Bull Terrier/Australian Kelpie
Collie Smooth/Jack Russell Terrier
Beagle/Chihuahua Longhair
Chesa Bay Retr
Staffordshire/Basset Hound
Pharaoh Hound/Australian Cattle Dog
Toy Poodle/Cocker Spaniel
Boxer/Boston Terrier
Jack Russell Terrier/Pointer
Dogue De Bordeaux/American Bulldog
Chow Chow/Cardigan Welsh Corgi
Hovawart
Smooth Fox Terrier/Rat Terrier
Shiba Inu/Australian Kelpie
Conure Mix
Pomeranian/Jack Russell Terrier
English Spot
Chinchilla-Stnd Mix
Boston Terrier/Australian Kelpie
Shih Tzu/Chihuahua Shorthair
Siamese/Angora
Norfolk Terrier/Standard Poodle
Entlebucher Mix
Chinese Crested/Papillon
Pembroke Welsh Corgi/Chihuahua Longhair
German Shepherd/English Coonhound
Cocker Spaniel/Chihuahua Longhair
Dachshund/Shetland Sheepdog
Pekingese/Lhasa Apso
Brittany/Collie Rough
American Foxhound/Labrador Retriever
Bunting
Cinnamon
Rat Terrier/Jack Russell Terrier
Catahoula/Irish Wolfhound
Anatol Shepherd/Black Mouth Cur
Pit Bull/American Bulldog
Golden Retriever/Finnish Spitz
Wire Hair Fox Terrier/German Shepherd
Lhasa Apso/Dachshund
Silky Terrier/Maltese
Dachshund Wirehair/Yorkshire Terrier
Dachshund/Pomeranian
Chihuahua Shorthair/Shih Tzu
Labrador Retriever/Brittany
Labrador Retriever/Alaskan Husky
Great Pyrenees/German Shepherd
Rat Terrier/English Pointer
Cockatoo Mix
St. Bernard Rough Coat/German Shepherd
Border Terrier/Miniature Poodle
Chihuahua Shorthair/Border Collie
Queensland Heeler/German Shepherd
Border Collie/Great Dane
Australian Shepherd/Standard Poodle
Cairn Terrier/Italian Greyhound
Bernese Mountain Dog/Rottweiler
German Shepherd/Australian Kelpie
Dogo Argentino/Chinese Sharpei
Cardigan Welsh Corgi/Rat Terrier
Australian Cattle Dog/Boston Terrier
Pembroke Welsh Corgi/Golden Retriever
German Wirehaired Pointer/Labrador Retriever
Pomeranian/Border Terrier
Australian Kelpie/Rat Terrier
Cardigan Welsh Corgi/Pit Bull
Pug/Labrador Retriever

In [50]:
# Find Mix breeds
new_breed=[]
for i in df['Breed_intake']:
    if 'Mix' in i:
        i='Mix'
    elif "/" in i:
        i="Mix"
    elif 'Chihuahua' in i:
        i = 'Chihuahua'
    elif 'Retriever' in i or i=='Chesa Bay Retr':
        i = 'Retriever Breeds'
    elif 'Bull' in i or 'Staffordshire' in i or i=='Chinese Sharpei' or i=='Dogo Argentino' or i=='Boxer':
        i = 'Bully Breeds'
    elif 'Terrier' in i:
        i= 'Terrier Breeds'
    elif i=='Bat' or i=='Raccoon' or i=='Opossum' or i=='Duck' or i=='Fox' or i=='Grackle' or i=='Hawk' or i=='Coyote' or i=='Pigeon' or i=='Dove' or i=='Armadillo' or i=='Owl' or i=='Skunk' or i=='Squirrel' or i=='Mockingbird' or i=='Heron' or i=='Sparrow':
        i = 'Wildlife'
    elif i=='German Shepherd' or i=='Belgian Malinois':
        i = 'German Shepherd'
    elif 'Pointer' in i or 'Span' in i or i=='Vizsla' or i=='Brittany' or i=='Shiba Inu' or i=='Dalmatian' or i=='Standard Poodle' or i=='Carolina Dog' or i=='Weimaraner':
        i = 'Sporting Breeds'
    elif 'hound' in i or 'Hound' in i or i=='Beagle' or i=='Saluki' or 'Coon' in i or i=='Catahoula' or i=='Black Mouth Cur' or i=='Harrier' or i=='Blue Lacy' or i=='Treeing Tennesse Brindle' or i=='Whippet':
        i = 'Hound Breeds'
    elif 'Husky' in i or 'Malamute' in i or 'Eskimo' in i or i=='Finnish Spitz' or i=='Samoyed' or i=='Keeshond' or i=='Jindo':
        i = 'Husky Breeds'
    elif i=='Shih Tzu' or i=='Miniature Poodle' or i=='Miniature Schnauzer' or i=='Maltese' or i=='Pomeranian' or i=='Lhasa Apso' or i=='Toy Poodle' or i=='Pekingese' or i=='Bichon Frise' or i=='Cavalier Span' or i=='West Highland' or i=='Papillon' or i=='Havanese' or i=='Japanese Chin' or i=='Dandie Dinmont' or i=='Bruss Griffon' or i=='Coton De Tulear' or 'Dachshund' in i or i=='French Bulldog' or i=='Pug' or i=='Miniature Pinscher' or i=='Pbgv':
        i = 'Toy Breeds'
    elif 'Australian' in i or 'Collie' in i or 'Heeler' in i or 'Sheepdog' in i or i=='English Shepherd' or i=='Dutch Shepherd' or 'Corgi' in i or i=='Beauceron' or i=='Hovawart':
        i = 'Herding Breeds'
    elif i=='Chinese Sharpei' or i=='Chow Chow' or i=='Standard Schnauzer' or i=='Basenji' or i=='Rottweiler' or i=='Doberman Pinsch':
        i = 'Working Breeds'
    elif i=='Great Pyrenees' or i=='Great Dane' or i=='Anatol Shepherd' or i=='Cane Corso' or i=='Rhod Ridgeback' or i=='Akita' or i=='Mastiff' or i=='Presa Canario' or 'Bernese' in i or i=='Burmese' or 'Bernard' in i or i=='Leonberger' or i=='Greater Swiss Mountain Dog' or i=='Boerboel'or i=='Landseer':
        i = 'X Large Breeds'
    elif i=='Domestic Shorthair':
        i = 'Domestic Shorthair'
    elif i=='Domestic Medium Hair':
        i = 'Domestic Medium Hair'
    elif i=='Persian' or i=='Siamese' or i=='Domestic Longhair' or i=='Persian' or i=='Himalayan' or i=='Russian Blue' or i=='Bengal' or i=='Devon Rex' or i=='Sphynx' or i=='British Shorthair' or i=='Manx':
        i = 'Other Cat'
    else:
        i='Other'
    new_breed.append(i)
new_breed

['Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Shorthair',
 'Wildlife',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'German Shepherd',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Chihuahua',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Sporting Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Working Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Domestic Shorthair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Shorthair',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Sporting Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 ...]

In [51]:
df["new_breed"]=new_breed

In [52]:
breed_counts=df['new_breed'].value_counts()
breed_counts

Mix                     51933
Wildlife                 1060
Toy Breeds                446
Bully Breeds              318
Domestic Shorthair        300
Other                     186
Terrier Breeds            173
Retriever Breeds          172
Herding Breeds            167
Chihuahua                 166
Hound Breeds              153
German Shepherd           138
Domestic Medium Hair      109
Working Breeds            107
Other Cat                 104
X Large Breeds             99
Sporting Breeds            96
Husky Breeds               79
Name: new_breed, dtype: int64

In [53]:
# drop and rename
df=df.drop(columns=['Breed_intake'])
df=df.rename(columns={"new_breed": "Breed_Type"})
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,Breed_Type
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361,Mix
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111,Mix
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806,Mix
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639,Hound Breeds
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306,Mix

## Color_intake column

In [54]:
color_counts=df['Color_intake'].value_counts()
color_counts

Black/White                  5698
Black                        4720
Brown Tabby                  3360
Brown                        2583
White                        1964
                             ...
Orange Tabby/Tortie Point       1
Liver/Chocolate                 1
Calico/Calico                   1
Tricolor/Blue Tick              1
Orange Tabby/Brown              1
Name: Color_intake, Length: 478, dtype: int64

In [55]:
for i in color_counts.index:
    print(i)

Black/White
Black
Brown Tabby
Brown
White
Brown Tabby/White
Orange Tabby
Brown/White
Tan/White
Tricolor
White/Black
Blue/White
Tan
Black/Tan
Tortie
White/Brown
Black/Brown
Calico
Blue
Brown/Black
Blue Tabby
Brown Brindle/White
Orange Tabby/White
White/Tan
Red
Torbie
Red/White
Brown Brindle
Blue Tabby/White
Tan/Black
Chocolate/White
Cream Tabby
Yellow
Gray
Sable
Lynx Point
Cream
Buff
Seal Point
Chocolate
Gray/Black
White/Blue
Gray/White
White/Brown Tabby
White/Brown Brindle
Black/Gray
Fawn/White
Sable/White
Cream Tabby/White
White/Gray
Black Tabby
Brown/Tan
Flame Point
Blue Merle
Red/Black
Torbie/White
Fawn
Chocolate/Tan
White/Red
Black Brindle/White
Cream/White
Gold
Yellow/White
White/Tricolor
White/Orange Tabby
Black Smoke
Black/Brown Brindle
Gray Tabby
Blue Merle/White
Buff/White
Black/Tricolor
White/Cream
Lilac Point
White/Chocolate
Tan/Brown
Red/Tan
White/Orange
Brown Merle
Orange/White
Blue/Tan
White/Buff
Tortie Point
Black Tabby/White
Black Brindle
Tortie/White
Orange
Brown Merle/White
Black/Red
Blue Point
Calico/White
Apricot
Red Merle
Blue Merle/Tan
Blue Tick
Calico Point
Red Tick
Silver Tabby
Chocolate Point
Fawn/Black
Seal Point/White
Gray Tabby/White
Black/Black
Gold/White
Tricolor/White
Sable/Tan
Silver/Tan
Red Merle/White
Lynx Point/White
Brown/Gray
Yellow Brindle/White
Brown Tabby/Black
Pink
Red/Brown
White/Blue Tabby
Silver
Black/Cream
Tan/Gray
White/White
Blue Tick/Black
Tan/Cream
Black Smoke/White
Yellow Brindle
Gray/Tan
Blue Cream
Red Tick/White
Brown Brindle/Black
Cream/Black
Brown/Tricolor
Green
Tan/Silver
Buff/Tan
Tricolor/Black
Sable/Black
Silver Tabby/White
Brown/Red
Liver/White
Blue Tick/Tan
Cream/Tan
Gray/Brown
Brown/Brown
Tan/Tan
White/Liver
Blue Tiger/White
White/Black Brindle
White/Blue Merle
Tan/Buff
Black/Silver
Black/Blue Merle
Red/Cream
White/Red Merle
Buff/Black
White/Cream Tabby
Yellow/Black
Calico/Black
Black/Orange
Silver Lynx Point
Sable/Brown
Black/Blue Tick
Tortie/Blue Cream
Black/Chocolate
Tricolor/Brown
Blue Merle/Black
Gray/Red
Black/Buff
Black/Black Brindle
Silver/Black
Brown/Cream
Agouti
Blue Smoke
Blue/Black
Blue Merle/Brown
White/Red Tick
Brown Tiger
Gray/Pink
Silver/Brown
White/Brown Merle
White/Black Tabby
Brown Brindle/Tan
Chocolate Point/White
Liver/Tan
Blue Tick/White
White/Silver
Tan/Red
Red/Gray
Chocolate/Brown
Fawn/Blue
White/Yellow Brindle
Black Brindle/Brown
Brown/Silver
Black/Blue
Sable/Cream
Apricot/White
Chocolate/Tricolor
Silver/White
White/Blue Tick
Tan/Blue
Cream/Brown
White/Apricot
Calico/Brown Tabby
Gray/Orange
White/Yellow
Green/Yellow
Brown Tabby/Brown
Fawn/Brown
Fawn/Tan
Blue Tiger
Black/Yellow
Blue Cream/White
Gray/Cream
White/Pink
Blue/Cream
Blue/Tricolor
Calico/Tricolor
Tortie/Orange
Brown/Buff
White/Lynx Point
Brown Tabby/Orange
Brown Tabby/Brown Tabby
Tan/Yellow
Tortie/Black
Liver Tick
Brown Merle/Tan
Gray/Silver
Orange/Tan
Green/Blue
White/Gray Tabby
Blue/Brown
Brown/Yellow
Buff/Gray
Tan/Tricolor
Brown/Chocolate
Black/Yellow Brindle
Brown/Green
Blue Point/White
White/Calico
Blue Tick/Brown
Gray/Tortie
Lilac Point/White
Tricolor/Tan
Gold/Gold
Brown Tiger/White
Brown Brindle/Red Tick
Chocolate/Black
Orange Tabby/Cream
White/Black Smoke
White/Chocolate Point
White/Gold
White/Blue Cream
Seal Point/Brown
Brown Brindle/Brown
Yellow/Cream
Silver/Chocolate
Cream/Red
Chocolate/Red
Blue/Brown Brindle
Buff/Yellow
Red Tick/Red
Blue Tick/Red Tick
Calico/Blue Cream
Gray/Blue
Blue Tabby/Cream
Blue/Gray
Red/Red Tick
Blue/Blue
Blue Merle/Tricolor
Brown/Red Tick
Tricolor/Blue
Yellow/Orange
Orange Tabby/Orange Tabby
Gray/Yellow
Brown Tabby/Tortie
Tricolor/Blue Merle
Red Tick/Tan
Tortie Point/White
Gold/Black
Buff/Red
Green/Brown
Blue Merle/Blue Merle
Tan/Gold
Brown/Orange
Red Merle/Black
Fawn/Gray
Brown Merle/Black
Gold/Tan
Orange Tabby/Orange
Brown/Brown Brindle
Gray Tabby/Black
Blue Tick/Red
Brown Tabby/Gray
Blue Merle/Red Merle
Chocolate/Brown Tabby
Tricolor/Chocolate
Brown/Brown Tabby
Flame Point/White
Black/Pink
Blue Cream/Tortie
Brown/Blue Merle
Blue/Yellow Brindle
Tricolor/Brown Brindle
Red/Silver
Black/Brown Merle
Black Tiger/White
Calico Point/White
Liver
Brown Brindle/Blue Tick
Calico/Brown
Black/Gray Tabby
Yellow/Orange Tabby
Chocolate/Cream
Yellow/Gray
Torbie/Brown Tabby
Black/Black Smoke
Gold/Cream
Sable/Buff
Blue Smoke/White
Tortie/Blue
Torbie/Blue Cream
Silver/Gray
Tortie/Calico
Red/Tricolor
Cream/Gray
Red/Buff
Tricolor/Brown Merle
Red/Red Merle
Black/Tortie
Black/Brown Tabby
Black Brindle/Black
White/Liver Tick
Orange/Black
Sable/Red
Apricot/Brown
Red Tick/Brown
Cream/Orange
Cream/Seal Point
Blue/Tortie
Gold/Yellow
Tricolor/Silver
Fawn/Tricolor
Red/Yellow
Agouti/White
Green/Black
Gray/Buff
Black/Green
Lynx Point/Tan
Torbie/Gray
Blue Tabby/Orange
Black Smoke/Blue Tick
Black/Silver Tabby
Tricolor/Gray
Black/Black Tabby
Chocolate/Yellow
Brown/Black Tabby
Chocolate/Liver Tick
Agouti/Gray
Blue Tabby/Blue Cream
Cream/Yellow
Red Tick/Blue Tick
White/Flame Point
Torbie/Blue Tabby
Lynx Point/Gray Tabby
Calico/Orange Tabby
Lynx Point/Brown Tabby
Chocolate/Brown Merle
Chocolate/Red Tick
Liver/Buff
Yellow/Tan
Brown Brindle/Blue
Orange Tabby/Black
Brown Brindle/Blue Cream
Black Tabby/Black
Gray/Tricolor
Seal Point/Gray
Orange Tabby/Apricot
Gold/Buff
Brown/Red Merle
Brown Brindle/Brown Merle
Liver Tick/White
White/Brown Tiger
Tan/Red Tick
Red/Red
Brown/Black Brindle
Black/Seal Point
Tortie/Black Smoke
Black Smoke/Brown Tabby
Orange Tiger
White/Seal Point
Blue Cream/Buff
Yellow/Brown
Blue/Calico
White/Calico Point
Blue Cream/Blue Tabby
Green/Gray
Tricolor/Red Tick
Orange/Blue
Chocolate/Brown Brindle
Green/Orange
Cream/Red Tick
Yellow Brindle/Blue
Red/Blue
Black/Gold
Black Smoke/Black
Silver Tabby/Black
Silver/Blue
Tricolor/Orange
Cream/Silver
Blue Tabby/Black
Fawn/Chocolate
Brown Tabby/Black Brindle
Lynx Point/Tortie Point
Blue Smoke/Brown
Brown/Pink
Sable/Gray
Chocolate/Gray
Brown Merle/Brown
Tan/Apricot
Cream/Cream
White/Gray Tiger
Black Smoke/Gray
White/Tortie
Blue/Yellow
Lilac Point/Cream
Apricot/Tricolor
Orange/Brown
Tan/Yellow Brindle
Orange/Gray
Red Merle/Tan
Red/Green
Tortie/Blue Tabby
Chocolate Point/Cream
Ruddy/Cream
Sable/Red Merle
Silver/Red
Gray/Gold
Black Tabby/Orange
Black Brindle/Brown Brindle
Calico/Blue Tabby
Tan/Brown Merle
Yellow/Yellow
Torbie/Calico
Cream Tabby/Cream Tabby
Buff/Cream
Brown Merle/Blue Merle
Flame Point/Cream
Blue Merle/Cream
Red Tick/Black
Black Brindle/Blue Tick
Blue/Orange
Tortie/Brown
Green/White
Brown/Brown Merle
Black Smoke/Brown
Red/Gold
Gold/Brown
Blue Tick/Brown Brindle
Brown Tabby/Orange Tabby
Blue Merle/Gray
Red Tick/Brown Merle
Blue Cream/Blue Tiger
Blue Tabby/Tan
Tricolor/Calico
Blue Merle/Brown Brindle
Agouti/Brown Tabby
Chocolate/Gold
Silver/Cream
Tortie Point/Lynx Point
Brown Tabby/Blue
Torbie/Brown
Brown Brindle/Brown Brindle
Tan/Brown Brindle
Brown/Blue
Tricolor/Tricolor
Blue/Silver
Brown Tabby/Gray Tabby
Orange Tabby/Tortie Point
Liver/Chocolate
Calico/Calico
Tricolor/Blue Tick
Orange Tabby/Brown

In [56]:
colorNew=[]
for i in df.Color_intake:
    if "/" in i:
        i="Bicolor"
    elif "Tabby" in i:
        i='Tabby'
    elif "Brindle" in i:
        i="Tabby"
    elif "Merle" in i:
        i="Merle"
    elif "Tiger" in i:
        i="Tiger"
    elif "Tortie" in i:
        i="Tabby"
    elif "Calico" in i:
        i="Tabby"
    elif "Torbie" in i:
        i="Tabby"
    elif i=="Apricot" or i=="Gold" or i=="Yellow" or i=="Fawn":
        i="Orange"
    elif "Blue" in i:
        i="Blue"
    elif "Black" in i or i=="Sable":
        i="Black"
    elif i=="Liver":
        i="Brown"
    elif "Point" in i:
        i='Point'
    elif "Tick" in i:
        i="Point"
    else:
        i=i
    colorNew.append(i)
print(set(colorNew))
print(len(set(colorNew)))

{'Silver', 'Tiger', 'Blue', 'Point', 'Black', 'Brown', 'Chocolate', 'Merle', 'Gray', 'Buff', 'Pink', 'White', 'Green', 'Bicolor', 'Agouti', 'Red', 'Cream', 'Tricolor', 'Tabby', 'Orange', 'Tan'}
21

In [57]:
df['Color_intake']=colorNew

In [58]:
color_counts=df['Color_intake'].value_counts()
color_counts

Bicolor      28302
Tabby         9887
Black         5173
Brown         2585
White         1964
Tricolor      1476
Tan           1360
Blue          1092
Point          912
Red            752
Orange         690
Gray           379
Cream          307
Buff           301
Chocolate      281
Merle          245
Pink            29
Silver          28
Green           20
Tiger           14
Agouti           9
Name: Color_intake, dtype: int64

In [59]:
replace_color=color_counts.loc[color_counts<500].index.tolist()
for i in replace_color:
    df.Color_intake = df.Color_intake.replace(i,"Other")

df.Color_intake.value_counts()

Bicolor     28302
Tabby        9887
Black        5173
Brown        2585
White        1964
Other        1613
Tricolor     1476
Tan          1360
Blue         1092
Point         912
Red           752
Orange        690
Name: Color_intake, dtype: int64

In [60]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,Breed_Type
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361,Mix
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Bicolor,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111,Mix
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Bicolor,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806,Mix
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Bicolor,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639,Hound Breeds
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Bicolor,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306,Mix

## Divide to two dataframes (intake and outcome)

In [61]:
intake_df=df[['Animal ID','DateTime_intake','Found_Location','Intake_Type','IntakeCondition',
             'Animal_Type_intake',
              'Name_intake',
             'Sex_Intake',
             'Color_intake',
             'Breed_Type']]

columns_intake=['animal_id','datetime_intake','found_location','intake_type','intake_condition','animal_type_intake',
        'name_intake','sex_intake','color_intake','breed_type']

intake_df.columns =columns_intake
intake_df.head()

,animal_id,datetime_intake,found_location,intake_type,intake_condition,animal_type_intake,name_intake,sex_intake,color_intake,breed_type
0,A730601,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,No,Intact Male,Tabby,Mix
1,A683644,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Yes,Intact Female,Bicolor,Mix
2,A676515,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
3,A742953,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,No,Intact Male,Bicolor,Hound Breeds
4,A679549,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Yes,Intact Male,Bicolor,Mix

In [62]:
intake_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   animal_id           55806 non-null  object
 1   datetime_intake     55806 non-null  datetime64[ns]
 2   found_location      33606 non-null  object
 3   intake_type         55806 non-null  object
 4   intake_condition    55806 non-null  object
 5   animal_type_intake  55806 non-null  object
 6   name_intake         55806 non-null  object
 7   sex_intake          55806 non-null  object
 8   color_intake        55806 non-null  object
 9   breed_type          55806 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 4.7+ MB

In [63]:
outcome_df=df[['Animal ID','DateTime_outcome',
              'Outcome_Type',
              'Sex_upon_Outcome','fixed_changed','Age_Bucket','DateTime_length']]

columns_outcome=['animal_id','datetime_outcome','outcome_type',
                 'sex_upon_outcome','fixed_changed','age_bucket','datetime_length']

outcome_df.columns=columns_outcome

outcome_df.head()

,animal_id,datetime_outcome,outcome_type,sex_upon_outcome,fixed_changed,age_bucket,datetime_length
0,A730601,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306

In [64]:
outcome_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         55806 non-null  object
 1   datetime_outcome  55806 non-null  datetime64[ns]
 2   outcome_type      55806 non-null  object
 3   sex_upon_outcome  55806 non-null  object
 4   fixed_changed     55806 non-null  int64
 5   age_bucket        55806 non-null  object
 6   datetime_length   55806 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 3.4+ MB

## Connect to SQL

In [65]:
import psycopg2
connection = psycopg2.connect(
    host = 'projectanimal.c2jqqtcm0i1p.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = db_password,
    database='projectanimal'
    )
cursor=connection.cursor()

In [68]:
connection.rollback()

In [69]:
#creating tables
cursor.execute("""CREATE TABLE animal_intake(
 animal_id TEXT PRIMARY KEY,
 datetime_intake TIMESTAMP,
 found_location TEXT,
 intake_type TEXT,
 intake_condition TEXT,
 animal_type_intake TEXT,
 name_intake TEXT,
 sex_intake TEXT,
 color_intake TEXT,
 breed_type TEXT
)""")

cursor.execute("""CREATE TABLE animal_outcome(
 animal_id TEXT PRIMARY KEY,
 datetime_outcome TIMESTAMP,
 outcome_type TEXT,
 sex_upon_outcome TEXT,
 fixed_changed TEXT,
 age_bucket TEXT,
 datetime_length TEXT,
 FOREIGN KEY (animal_id) REFERENCES animal_intake(animal_id)
 )""")

connection.commit()

In [70]:
intake_df.to_csv('animal_intake.csv', index=False, sep=';')

In [71]:
outcome_df.to_csv('animal_outcome.csv', index=False, sep=';')

In [72]:
with open('animal_intake.csv', 'r') as row:
    next(row)# Skip the header row.
    cursor.copy_from(row, 'animal_intake', sep=';')
    
connection.commit()

In [73]:
with open('animal_outcome.csv', 'r') as row:
    next(row)# Skip the header row.
    cursor.copy_from(row, 'animal_outcome', sep=';')
    
connection.commit()

In [74]:
sql = '''
select * from animal_intake'''

pd.read_sql(sql,con=connection)

,animal_id,datetime_intake,found_location,intake_type,intake_condition,animal_type_intake,name_intake,sex_intake,color_intake,breed_type
0,A730601,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,No,Intact Male,Tabby,Mix
1,A683644,2014-07-13 11:02:00,,Owner Surrender,Maternity,Dog,Yes,Intact Female,Bicolor,Mix
2,A676515,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
3,A742953,2017-01-31 13:30:00,,Stray,Normal,Dog,No,Intact Male,Bicolor,Hound Breeds
4,A679549,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Yes,Intact Male,Bicolor,Mix
...,...,...,...,...,...,...,...,...,...,...
55801,A746679,2017-04-07 09:44:00,,Stray,Normal,Cat,Yes,Spayed Female,Tabby,Mix
55802,A746725,2017-04-08 11:28:00,,Stray,Normal,Cat,No,Unknown,Bicolor,Mix
55803,A746689,2017-04-07 12:36:00,,Stray,Normal,Dog,Yes,Spayed Female,Bicolor,Mix
55804,A746466,2017-04-03 15:02:00,4858 Yager Ln in Travis (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
55805,A746072,2017-03-28 16:49:00,9318 Ih 35 in Austin (TX),Stray,Normal,Dog,Yes,Neutered Male,Bicolor,Mix

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      33606 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex_Intake          55806 non-null  object
 8   Color_intake        55806 non-null  object
 9   DateTime_outcome    55806 non-null  datetime64[ns]
 10  Outcome_Type        55806 non-null  object
 11  Sex_upon_Outcome    55806 non-null  object
 12  fixed_changed       55806 non-null  int64
 13  Age_Bucket          55806 non-null  object
 14  DateTime_length     55806 non-null  float64
 15  Breed_Type          55806 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB