In [163]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password
import psycopg2 as ps

In [164]:
df = pd.read_csv('all_records.csv')

In [165]:
df.head()

,Unnamed: 0,Animal ID,Name_intake,DateTime_intake,MonthYear_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,...,beagle,terrier,boxer,poodle,rottweiler,dachshund,chihuahua,pit bull,DateTime_length,Days_length
0,0,A730601,NaN,2016-07-07 12:11:00,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,0 days 20:49:00.000000000,0-7 days
1,1,A683644,*Zoey,2014-07-13 11:02:00,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,...,0,0,0,0,0,0,0,0,115 days 23:04:00.000000000,12 weeks - 6 months
2,2,A676515,Rico,2014-04-11 08:45:00,04/11/2014 08:45:00 AM,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,1,3 days 09:53:00.000000000,0-7 days
3,3,A742953,NaN,2017-01-31 13:30:00,01/31/2017 01:30:00 PM,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,...,0,0,0,0,0,0,0,0,4 days 00:47:00.000000000,0-7 days
4,4,A679549,*Gilbert,2014-05-22 15:43:00,05/22/2014 03:43:00 PM,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,...,0,0,0,0,0,0,0,0,24 days 22:11:00.000000000,3-6 weeks

In [166]:
# Check columns
df.columns

Index(['Unnamed: 0', 'Animal ID', 'Name_intake', 'DateTime_intake',
       'MonthYear_intake', 'Found_Location', 'Intake_Type', 'IntakeCondition',
       'Animal_Type_intake', 'Sex', 'Age', 'Breed_intake', 'Color_intake',
       'Name_outcome', 'DateTime_outcome', 'MonthYear_outcome', 'Outcome_Type',
       'Outcome_Subtype', 'Sex_upon_Outcome', 'Age_upon_Outcome',
       'gender_intake', 'gender_outcome', 'fixed_intake', 'fixed_outcome',
       'fixed_changed', 'Age_Bucket', 'retriever', 'shepherd', 'beagle',
       'terrier', 'boxer', 'poodle', 'rottweiler', 'dachshund', 'chihuahua',
       'pit bull', 'DateTime_length', 'Days_length'],
      dtype='object')

In [167]:
# Dataframe null values
df.isnull().sum()

Unnamed: 0                0
Animal ID                 0
Name_intake           19484
DateTime_intake           0
MonthYear_intake          0
Found_Location            0
Intake_Type               0
IntakeCondition           0
Animal_Type_intake        0
Sex                       1
Age                       0
Breed_intake              0
Color_intake              0
Name_outcome          19484
DateTime_outcome          0
MonthYear_outcome         0
Outcome_Type              7
Outcome_Subtype       45254
Sex_upon_Outcome          4
Age_upon_Outcome         21
gender_intake          5608
gender_outcome         5611
fixed_intake              1
fixed_outcome             4
fixed_changed             0
Age_Bucket                0
retriever                 0
shepherd                  0
beagle                    0
terrier                   0
boxer                     0
poodle                    0
rottweiler                0
dachshund                 0
chihuahua                 0
pit bull                  0
DateTime_length           0
Days_length            7400
dtype: int64

In [168]:
# Drop unnecessary columns
# Drop Name_intake since there is a Intake_type column
# Drop all single breed type column since we need to do our own encoding for breed_intake
df=df.drop(columns=['Unnamed: 0','Name_outcome','MonthYear_intake','MonthYear_outcome',
                    'gender_intake','gender_outcome','fixed_intake','fixed_outcome','Days_length','Outcome_Subtype',
                   'retriever','shepherd','beagle','terrier','boxer','poodle','rottweiler','dachshund','chihuahua',
                   'pit bull','Age','Age_upon_Outcome'])
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,NaN,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,*Zoey,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Rico,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,NaN,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,*Gilbert,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

## Name_intake_column

In [169]:
# Change Name_Intake to Yes or No
df.Name_intake = df.Name_intake.apply(lambda x: 'No' if pd.isnull(x) else 'Yes')
df.Name_intake.value_counts()

Yes    57493
No     19484
Name: Name_intake, dtype: int64

In [170]:
df.isnull().sum()

Animal ID             0
Name_intake           0
DateTime_intake       0
Found_Location        0
Intake_Type           0
IntakeCondition       0
Animal_Type_intake    0
Sex                   1
Breed_intake          0
Color_intake          0
DateTime_outcome      0
Outcome_Type          7
Sex_upon_Outcome      4
fixed_changed         0
Age_Bucket            0
DateTime_length       0
dtype: int64

In [171]:
df=df.dropna()

In [172]:
df.isnull().sum()

Animal ID             0
Name_intake           0
DateTime_intake       0
Found_Location        0
Intake_Type           0
IntakeCondition       0
Animal_Type_intake    0
Sex                   0
Breed_intake          0
Color_intake          0
DateTime_outcome      0
Outcome_Type          0
Sex_upon_Outcome      0
fixed_changed         0
Age_Bucket            0
DateTime_length       0
dtype: int64

In [173]:
# Check for duplicates rows
count=0
for i in df['Animal ID'].duplicated():
    if i is True:
        count+=1
count

19762

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76968 entries, 0 to 76976
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           76968 non-null  object
 1   Name_intake         76968 non-null  object
 2   DateTime_intake     76968 non-null  object
 3   Found_Location      76968 non-null  object
 4   Intake_Type         76968 non-null  object
 5   IntakeCondition     76968 non-null  object
 6   Animal_Type_intake  76968 non-null  object
 7   Sex                 76968 non-null  object
 8   Breed_intake        76968 non-null  object
 9   Color_intake        76968 non-null  object
 10  DateTime_outcome    76968 non-null  object
 11  Outcome_Type        76968 non-null  object
 12  Sex_upon_Outcome    76968 non-null  object
 13  fixed_changed       76968 non-null  int64
 14  Age_Bucket          76968 non-null  object
 15  DateTime_length     76968 non-null  object
dtypes: int64(1), object(15)
memory usage: 10.0+ MB

In [175]:
# Drop duplicates
df=df.drop_duplicates(subset='Animal ID')

In [176]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57206 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           57206 non-null  object
 1   Name_intake         57206 non-null  object
 2   DateTime_intake     57206 non-null  object
 3   Found_Location      57206 non-null  object
 4   Intake_Type         57206 non-null  object
 5   IntakeCondition     57206 non-null  object
 6   Animal_Type_intake  57206 non-null  object
 7   Sex                 57206 non-null  object
 8   Breed_intake        57206 non-null  object
 9   Color_intake        57206 non-null  object
 10  DateTime_outcome    57206 non-null  object
 11  Outcome_Type        57206 non-null  object
 12  Sex_upon_Outcome    57206 non-null  object
 13  fixed_changed       57206 non-null  int64
 14  Age_Bucket          57206 non-null  object
 15  DateTime_length     57206 non-null  object
dtypes: int64(1), object(15)
memory usage: 7.4+ MB

## Outcome_Type column

In [178]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

In [179]:
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18460
Return to Owner     9806
Euthanasia          5100
Died                 533
Disposal             254
Missing               37
Rto-Adopt             15
Relocate              13
Name: Outcome_Type, dtype: int64

In [180]:
# Combine Died & Disposal Outcomes
df.loc[df.Outcome_Type == 'Disposal', 'Outcome_Type'] = 'Died'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18460
Return to Owner     9806
Euthanasia          5100
Died                 787
Missing               37
Rto-Adopt             15
Relocate              13
Name: Outcome_Type, dtype: int64

In [181]:
# Combine Transfer & Relocate Outcomes
df.loc[df.Outcome_Type == 'Relocate', 'Outcome_Type'] = 'Transfer'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18473
Return to Owner     9806
Euthanasia          5100
Died                 787
Missing               37
Rto-Adopt             15
Name: Outcome_Type, dtype: int64

In [182]:
#### Combine Rto-Adopt & Return to Owner
df.loc[df.Outcome_Type == 'Rto-Adopt', 'Outcome_Type'] = 'Return to Owner'
df.Outcome_Type.value_counts()

Adoption           22988
Transfer           18473
Return to Owner     9821
Euthanasia          5100
Died                 787
Missing               37
Name: Outcome_Type, dtype: int64

## DateTime_intake column

In [183]:
# Update DateTime_intake to datatime datatype
df.DateTime_intake = pd.to_datetime(df.DateTime_intake, format='%Y-%m-%d')
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0 days 20:49:00.000000000
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115 days 23:04:00.000000000
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3 days 09:53:00.000000000
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4 days 00:47:00.000000000
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24 days 22:11:00.000000000

## DateTime_outcome column

In [184]:
# Update DateTime_outcome to datatime datatype
df.DateTime_outcome = pd.to_datetime(df.DateTime_outcome, format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57206 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           57206 non-null  object
 1   Name_intake         57206 non-null  object
 2   DateTime_intake     57206 non-null  datetime64[ns]
 3   Found_Location      57206 non-null  object
 4   Intake_Type         57206 non-null  object
 5   IntakeCondition     57206 non-null  object
 6   Animal_Type_intake  57206 non-null  object
 7   Sex                 57206 non-null  object
 8   Breed_intake        57206 non-null  object
 9   Color_intake        57206 non-null  object
 10  DateTime_outcome    57206 non-null  datetime64[ns]
 11  Outcome_Type        57206 non-null  object
 12  Sex_upon_Outcome    57206 non-null  object
 13  fixed_changed       57206 non-null  int64
 14  Age_Bucket          57206 non-null  object
 15  DateTime_length     57206 non-null  object
dtypes: datetime64[ns](2), int64(1), object(13)
memory usage: 7.4+ MB

## DateTime_length column

In [185]:
# Create a new column and calculate the length of stay
df['datetime_length'] = df.DateTime_outcome - df.DateTime_intake
df['datetime_length'] = df.datetime_length / np.timedelta64(1, 'D')

In [186]:
# Check values for datetime_length column
df['datetime_length'].value_counts()

0.009722     72
0.005556     64
0.013194     64
0.031250     64
0.007639     63
             ..
3.518750      1
56.763889     1
8.847222      1
25.955556     1
95.159028     1
Name: datetime_length, Length: 25060, dtype: int64

## delete all negative values

In [187]:
df.drop(df[df['datetime_length'] < 0].index, inplace=True)

In [188]:
# Drop original DateTime_length column
df.drop(['DateTime_length'], axis=1, inplace=True)

In [189]:
# Rename calculated length of stay column
df.rename(columns = {'datetime_length':'DateTime_length'}, inplace = True)

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      55806 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex                 55806 non-null  object
 8   Breed_intake        55806 non-null  object
 9   Color_intake        55806 non-null  object
 10  DateTime_outcome    55806 non-null  datetime64[ns]
 11  Outcome_Type        55806 non-null  object
 12  Sex_upon_Outcome    55806 non-null  object
 13  fixed_changed       55806 non-null  int64
 14  Age_Bucket          55806 non-null  object
 15  DateTime_length     55806 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB

In [191]:
df.head(10)

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,Yes,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,No,2017-01-31 13:30:00,S Hwy 183 And Thompson Lane in Austin (TX),Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306
5,A683798,Yes,2016-07-21 12:16:00,3118 Windsor Rd in Austin (TX),Stray,Normal,Cat,Spayed Female,Domestic Medium Hair Mix,White/Black,2016-10-18 10:55:00,Adoption,Spayed Female,0,1-3 years,88.943750
9,A683656,No,2014-07-13 13:20:00,8238 Research Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,Snowshoe Mix,Lynx Point,2014-07-17 16:57:00,Adoption,Neutered Male,1,1-6 months,4.150694
10,A709749,Yes,2015-08-12 18:29:00,4800 Weletka Dr in Austin (TX),Stray,Normal,Cat,Intact Female,Domestic Shorthair Mix,Calico,2015-09-22 12:49:00,Transfer,Spayed Female,1,1-3 years,40.763889
11,A692161,Yes,2014-11-15 15:18:00,Avenue G/42Nd in Austin (TX),Owner Surrender,Normal,Dog,Intact Male,Pit Bull Mix,Brown/White,2014-11-21 18:55:00,Adoption,Neutered Male,1,1-6 months,6.150694
12,A733551,Yes,2016-08-23 14:35:00,183 And Cameron in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Brown Tabby/White,2016-09-01 00:00:00,Transfer,Intact Male,0,1-6 months,8.392361

## Intake condition column

In [192]:
df.IntakeCondition.value_counts()

Normal      48329
Injured      3022
Sick         2456
Nursing      1523
Aged          250
Other         112
Feral          72
Pregnant       42
Name: IntakeCondition, dtype: int64

In [193]:
# Combine Aged and Feral with Other for IntakeCondition
df.loc[(df.IntakeCondition == 'Aged') | (df.IntakeCondition == 'Feral'), 'IntakeCondition'] = 'Other'

In [194]:
# Combine Injured and Sick for Intake Condition
df.loc[(df.IntakeCondition == 'Injured') | (df.IntakeCondition == 'Sick'), 'IntakeCondition'] = 'Medical'

In [195]:
# Combine Pregnant and Nursing for  IntakeCondition
df.loc[(df.IntakeCondition == 'Nursing') | (df.IntakeCondition == 'Pregnant'), 'IntakeCondition' ] = 'Maternity'
df.IntakeCondition.value_counts()

Normal       48329
Medical       5478
Maternity     1565
Other          434
Name: IntakeCondition, dtype: int64

## Animal_Type_intake column

In [196]:
df.Animal_Type_intake.value_counts()

Dog          30040
Cat          22059
Other         3449
Bird           250
Livestock        8
Name: Animal_Type_intake, dtype: int64

In [197]:
# Combine Bird and Livestock with Other for Animal_Type_intake
df.loc[(df.Animal_Type_intake == 'Bird') | (df.Animal_Type_intake == 'Livestock'), 'Animal_Type_intake'] = 'Other'
df.Animal_Type_intake.value_counts()

Dog      30040
Cat      22059
Other     3707
Name: Animal_Type_intake, dtype: int64

## Sex column

In [198]:
df.Sex.value_counts()

Intact Male      18780
Intact Female    17711
Neutered Male     7301
Spayed Female     6476
Unknown           5538
Name: Sex, dtype: int64

In [199]:
df.rename(columns={'Sex': 'Sex_Intake'}, inplace=True)

## Sex_upon_Outcome

In [200]:
df.Sex_upon_Outcome.value_counts()

Neutered Male    18906
Spayed Female    17201
Intact Male       7175
Intact Female     6986
Unknown           5538
Name: Sex_upon_Outcome, dtype: int64

## Found_Location column

In [201]:
counts=df['Found_Location'].value_counts()
counts

Austin (TX)                              8896
Travis (TX)                               587
7201 Levander Loop in Austin (TX)         406
Del Valle (TX)                            275
Outside Jurisdiction                      271
                                         ...
2301 Coronado in Austin (TX)                1
Linda Lane And Wheeles in Austin (TX)       1
1400 Cometa St in Austin (TX)               1
1101 Vasquez St in Austin (TX)              1
38 1/2 & Harmon Ave in Austin (TX)          1
Name: Found_Location, Length: 27060, dtype: int64

In [202]:
new_location=[]
for i in df['Found_Location']:
    if ' in' in i and i.split()[0].isdigit() == True:
            i=i
    else:
        i=np.nan
    new_location.append(i)

In [203]:
new_location

['1109 Shady Ln in Austin (TX)',
 nan,
 '615 E. Wonsley in Austin (TX)',
 nan,
 '124 W Anderson in Austin (TX)',
 '3118 Windsor Rd in Austin (TX)',
 '8238 Research Blvd in Austin (TX)',
 '4800 Weletka Dr in Austin (TX)',
 nan,
 '183 And Cameron in Austin (TX)',
 '6808 S Ih 35 Frontage Rd in Austin (TX)',
 '8413 Danville Dr in Austin (TX)',
 '11602 Gunsmoke Circle in Austin (TX)',
 '2940 Eckert St in Austin (TX)',
 nan,
 nan,
 nan,
 '1506 Thorneridge Road in Austin (TX)',
 nan,
 '1830 W Rundberg Ln in Austin (TX)',
 nan,
 nan,
 '9308 N Lamar in Austin (TX)',
 nan,
 nan,
 '1128 Spur in Austin (TX)',
 nan,
 '12505 Rampart St in Austin (TX)',
 '4502 Hudson Bend Rd in Travis (TX)',
 nan,
 '609 W Lynn St #1 in Austin (TX)',
 '704 Hyde Park Ct in Austin (TX)',
 '13096 N 183 in Austin (TX)',
 '701 W Longspur in Austin (TX)',
 nan,
 nan,
 '2203 Singletree Ave in Austin (TX)',
 nan,
 '11417 Trails End in Travis (TX)',
 nan,
 '7607 Glen Hill Cove in Austin (TX)',
 '2202 Galway St in Austin (TX)',
 nan,
 '12034 Research in Austin (TX)',
 nan,
 '120 Webberwood Way in Travis (TX)',
 nan,
 nan,
 '5446 Walnut Grove in Austin (TX)',
 nan,
 '7201 Levander Loop in Austin (TX)',
 '11351 Bradshaw Rd in Austin (TX)',
 '10300 Doyle Rd in Del Valle (TX)',
 nan,
 '9300 Northgate Blvd in Austin (TX)',
 '14904 Valerian in Travis (TX)',
 nan,
 nan,
 nan,
 '1603 Cricket Hollow Drive in Austin (TX)',
 '10714 San Jose in Travis (TX)',
 '900 Chicon St in Austin (TX)',
 nan,
 '7100 Northeast Dr in Austin (TX)',
 nan,
 nan,
 '10223 Thaxton in Austin (TX)',
 '7112 Hillcroft Dr in Austin (TX)',
 '1704 Citation Dr in Austin (TX)',
 nan,
 '5200 Ravensdale in Austin (TX)',
 '9101 Sweet Gum Dr in Austin (TX)',
 '9920 Qual Blvd in Austin (TX)',
 '1310 Delano St in Austin (TX)',
 '5702 Richmond Ave in Austin (TX)',
 '9611 Decker Lake Rd in Travis (TX)',
 '6806 Thistle Hill Way in Travis (TX)',
 nan,
 nan,
 '5338 Thunder Creek in Austin (TX)',
 nan,
 nan,
 '13424 Clara Martin in Travis (TX)',
 nan,
 '973 & 183 in Travis (TX)',
 '124 W Anderson Ln in Austin (TX)',
 '2510 Lehigh Dr in Austin (TX)',
 nan,
 '13676 Bee Cave Pkwy in Bee Cave (TX)',
 '3101 Yellowpine Ter in Austin (TX)',
 nan,
 nan,
 '7132 Texas 71 in Austin (TX)',
 nan,
 '1904 Poquito in Austin (TX)',
 nan,
 '12304 Willow Wild Dr in Austin (TX)',
 nan,
 nan,
 '1109 S Pleasant Valley in Austin (TX)',
 nan,
 '1301 Spyglass Drive in Austin (TX)',
 nan,
 nan,
 nan,
 '4601 Tuckerhill Lane in Travis (TX)',
 '7201 Levander Loop in Austin (TX)',
 '3300 Killingsworth in Travis (TX)',
 '7904 Fm 969 in Austin (TX)',
 nan,
 '911 Battle Bend Blvd in Austin (TX)',
 nan,
 '6700 Meadow Lake in Austin (TX)',
 nan,
 '11113 Research Blvd in Austin (TX)',
 nan,
 '4215 Caldwell Ln in Del Valle (TX)',
 '11400 Concordia University Dr. in Austin (TX)',
 nan,
 nan,
 '19211 Blake Manor Rd in Manor (TX)',
 '14100 Thermal Driver in Austin (TX)',
 nan,
 nan,
 nan,
 '12027 Bethel Church Rd. in Travis (TX)',
 '71 & Spirt Of Texas Hwy in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '8724 Birmingham in Austin (TX)',
 '1300 Fm 812 in Austin (TX)',
 '13021 Dessau Rd in Travis (TX)',
 nan,
 nan,
 nan,
 '13924 Marcella in Travis (TX)',
 nan,
 '1517 Geoffs Dr in Austin (TX)',
 nan,
 '9805 Bal Harbor in Travis (TX)',
 nan,
 '509 Montopolis Dr in Austin (TX)',
 '3400 S Congress Ave in Austin (TX)',
 '8900 Coulver Rd in Travis (TX)',
 '5400 Pecan Brook in Austin (TX)',
 '1420 E Wells Branch Pkwy in Austin (TX)',
 '11601 Domain Dr in Austin (TX)',
 nan,
 nan,
 '710 E Ben White Blvd in Austin (TX)',
 nan,
 '9913 Morgan Creek Dr in Austin (TX)',
 '12508 Esplanade St in Austin (TX)',
 nan,
 '1457 W Pecan St in Pflugerville (TX)',
 '107 E. Wheeler St in Manor (TX)',
 '1511 Faro Drive in Austin (TX)',
 '10928 Desert Willow Dr in Austin (TX)',
 '5365 Westminster Ave in Austin (TX)',
 nan,
 '124 W Anderson Ln in Austin (TX)',
 '11100 Metric in Austin (TX)',
 '6205 Marigold in Austin (TX)',
 '9505 Stonelake Blvd in Austin (TX)',
 nan,
 '9515 Hotel Dr in Austin (TX)',
 '6302 Salcon Cliff Dr in Austin (TX)',
 nan,
 '6600 Elm Creek Dr # 65 in Austin (TX)',
 nan,
 nan,
 nan,
 '4900 Gonzales St in Austin (TX)',
 '4902 Teri Rd in Austin (TX)',
 '8800 N Ih 35 in Austin (TX)',
 nan,
 nan,
 '9705 Manchaca Rd in Austin (TX)',
 '8824 Stanbourne in Austin (TX)',
 nan,
 nan,
 nan,
 '4434 Frontier Trl( Goodsam Didnt Leave Found Address in Austin (TX)',
 nan,
 nan,
 '213 W Wild Sena in Austin (TX)',
 '12151 Ih 35 in Austin (TX)',
 nan,
 '812 Springdale Rd in Austin (TX)',
 nan,
 '9802 Roxanna Drive in Austin (TX)',
 nan,
 '7513 N Interstate Hwy 35 in Austin (TX)',
 '10707 Lake Creek Parkway in Austin (TX)',
 nan,
 nan,
 nan,
 '4707 Munson in Austin (TX)',
 '5400 Springville Ln in Austin (TX)',
 '7404 Southgate Ln in Austin (TX)',
 '3005 Parker Lane in Austin (TX)',
 '7500 Blessing in Austin (TX)',
 '9601 Point Vista Pl in Austin (TX)',
 '5808 Mckinney Falls Parkway in Austin (TX)',
 nan,
 nan,
 nan,
 '8003 Decker Ln in Travis (TX)',
 '12302 Havelock Dr in Austin (TX)',
 '1406 Click Cv in Austin (TX)',
 '13521 Sea Biscuit in Del Valle (TX)',
 '1114 Henninger St in Austin (TX)',
 nan,
 '816 E. 49Th in Austin (TX)',
 '6633 E 290 in Austin (TX)',
 nan,
 '8001 S Ih 35 Frontage Rd in Austin (TX)',
 nan,
 nan,
 '8408 Riverstone in Austin (TX)',
 nan,
 nan,
 '7309 Brookhollow Dr in Austin (TX)',
 nan,
 nan,
 '509 E Todd Lane in Austin (TX)',
 nan,
 '610 Wilmes Dr in Austin (TX)',
 nan,
 nan,
 '4801 S Ih 35 in Austin (TX)',
 '1000 E. 41St St. in Austin (TX)',
 '11610 Prairie Hen Ln in Austin (TX)',
 '2000 Burton Dr in Austin (TX)',
 '11702 Brookwood in Austin (TX)',
 nan,
 '124 W Anderson Ln in Austin (TX)',
 '11351 Bradshaw Rd in Austin (TX)',
 '11503 Parsons Rd in Travis (TX)',
 nan,
 nan,
 nan,
 nan,
 '4410 Dovemeadow Dr in Austin (TX)',
 nan,
 '177 Meadow View Blvd in Del Valle (TX)',
 '1303 Parsons A in Austin (TX)',
 '17005 Hayride Cir in Del Valle (TX)',
 '8609 Alpine Dr in Del Valle (TX)',
 nan,
 nan,
 '124 W Anderson Ln in Austin (TX)',
 nan,
 '5932 Hammermill Run in Austin (TX)',
 nan,
 '301 Twin Creeks Rd in Travis (TX)',
 '2210 E 9Th St Unit C in Austin (TX)',
 '1412 Norseman Terrace in Austin (TX)',
 nan,
 '12401 Pauls Valley Rd in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '985112001282540 in Austin (TX)',
 '5301 Fort Clark Dr in Austin (TX)',
 '21413 Webber Oaks Cv in Travis (TX)',
 nan,
 nan,
 '13904 Old Hwy 20 in Manor (TX)',
 nan,
 '407 Meadow Lea Dr in Austin (TX)',
 '17944 Majestic Elm Ln in Travis (TX)',
 nan,
 '5106 Meadow Creek Cove in Austin (TX)',
 nan,
 '12118 Walnut Park #828 in Austin (TX)',
 '11123 Old Lockhart Rd in Austin (TX)',
 '3206 East 16Th in Austin (TX)',
 '9001 N 620 in Austin (TX)',
 nan,
 '21069 Blake Manor Rd in Travis (TX)',
 '9401 Roanna Dr in Austin (TX)',
 nan,
 '1800 Crystal Bend in Travis (TX)',
 '1200 W Saint Johns in Austin (TX)',
 '420 W Slaughter in Austin (TX)',
 '2200 Berkeley Ave in Austin (TX)',
 '13 Club Estates in Lakeway (TX)',
 '412 E William Cannon Dr in Austin (TX)',
 '1820 Kenwood Ave in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '2300 East 2Nd St in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '5912 Marilyn Dr in Austin (TX)',
 '6203 Saddler Ln in Austin (TX)',
 '2700 West Pecan St in Travis (TX)',
 '2400 Grove Blvd in Austin (TX)',
 '9011 Briardale Dr in Austin (TX)',
 nan,
 nan,
 '9300 S Ih 35 Frontage Rd in Austin (TX)',
 '8202 Furness Cv in Austin (TX)',
 nan,
 '1901 E Anderson Ln in Austin (TX)',
 '5917 Little Creek Trail in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 nan,
 '12401 N Lamar in Austin (TX)',
 '3112 Speidel Dr in Austin (TX)',
 '512 W Stassney in Austin (TX)',
 nan,
 nan,
 '900 Broken Feather Trl in Austin (TX)',
 nan,
 '7201 Levander in Austin (TX)',
 '923 Walter St in Austin (TX)',
 '5111 Single Shot in Austin (TX)',
 '12300 Hymeadow Dr. #307 in Austin (TX)',
 nan,
 '5214 Duval Rd in Austin (TX)',
 nan,
 nan,
 '2900 Sunridge Drive Bldg 13 in Austin (TX)',
 nan,
 '103 W Odell St in Austin (TX)',
 nan,
 '12304 Elm Valley Dr in Travis (TX)',
 '3811 E 12Th St in Austin (TX)',
 nan,
 nan,
 '4108 Nixon Ln in Austin (TX)',
 nan,
 '2309 Berkeley #1085 in Austin (TX)',
 '1228 Eleanor St in Austin (TX)',
 '7310 Meador Ave in Austin (TX)',
 nan,
 '2201 Barton Springs Rd in Austin (TX)',
 nan,
 '11729 Lime Creek Road in Leander (TX)',
 '5300 Jimmy Clay Drive in Austin (TX)',
 '2900 Sunridge Dr in Austin (TX)',
 '1303 Bob Harrison in Austin (TX)',
 nan,
 '220 Pompton Dr in Austin (TX)',
 nan,
 '13212 High Sierra St in Manor (TX)',
 '1317 W. 10Th in Austin (TX)',
 '4534 Westgate Blvd in Austin (TX)',
 '2209 Kinney in Austin (TX)',
 '2205 Voyageurs in Austin (TX)',
 '6403 Farmdale Ln in Austin (TX)',
 '13802 Hokanson Rd in Travis (TX)',
 '4216 S Congress Ave in Austin (TX)',
 nan,
 '2100 Barton Springs Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '1704 Perez in Austin (TX)',
 nan,
 nan,
 nan,
 '9100 Evelyn Rd in Travis (TX)',
 nan,
 '1911 Willow Creek Dr in Austin (TX)',
 '10135 Lake Creek Pkwy in Austin (TX)',
 '2302 Bahama Rd in Travis (TX)',
 nan,
 '10427 Kirken St in Austin (TX)',
 nan,
 nan,
 '8028 Elroy Rd in Travis (TX)',
 nan,
 '310 Blackson Ave in Austin (TX)',
 nan,
 '13309 Bennington Ln in Austin (TX)',
 '810 E Slaughter Ln 9102 in Austin (TX)',
 '11604 Ranch House Cv in Travis (TX)',
 '8601 Vertex in Austin (TX)',
 '16808 High Noon in Del Valle (TX)',
 nan,
 '2507 Bitter Creek in Austin (TX)',
 '7917 Brockman St in Austin (TX)',
 '409 Covenant Canyon Trl in Austin (TX)',
 '5702 Richmond Ave in Austin (TX)',
 '9219 Anderson Mill in Austin (TX)',
 nan,
 '7903 Taza Trl in Austin (TX)',
 nan,
 nan,
 '6500 River Place Blvd in Austin (TX)',
 '12320 Dessau Road in Austin (TX)',
 '2202 Cedar Bend Dr # B in Austin (TX)',
 '4106 N Lamar Blvd in Austin (TX)',
 nan,
 '16801 Trevin Cv in Manor (TX)',
 '4101 Smith School Road in Austin (TX)',
 '2703 Channing Cir in Austin (TX)',
 '1701 Congress Ave in Austin (TX)',
 '2121 Rivena Dr in Austin (TX)',
 '4604 Reyes St in Austin (TX)',
 '2000 E. 8Th in Austin (TX)',
 '11404 Briarcreek Loop in Travis (TX)',
 nan,
 nan,
 '2000 Millhouse Dr in Travis (TX)',
 '3101 Oak Springs Dr in Austin (TX)',
 '9700 Mv Neil Dr in Travis (TX)',
 nan,
 nan,
 '7500 S I H 35 in Austin (TX)',
 nan,
 '5947 Hammermill Run in Austin (TX)',
 '2504 New York Dr # 134 in Austin (TX)',
 nan,
 nan,
 nan,
 '1710 Eastside Dr in Austin (TX)',
 '4500 Steiner in Austin (TX)',
 nan,
 nan,
 nan,
 '4606 Molera in Austin (TX)',
 '4434 Frontier Trl in Austin (TX)',
 '9117 Anderson Mill Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '1403 Bentwood Rd in Austin (TX)',
 nan,
 '19379 Wilkey Lane in Pflugerville (TX)',
 nan,
 nan,
 '22900 Big Sandy Dr in Leander (TX)',
 '2400 E Cesar Chavez St in Austin (TX)',
 nan,
 nan,
 nan,
 '5500 Ross Rd in Austin (TX)',
 nan,
 nan,
 '3611 Brifal Path in Austin (TX)',
 '2909 Thurgood Ave in Austin (TX)',
 '6001 Shepherd Mountian Cv in Austin (TX)',
 '1601 E Slaughter Ln #514 in Austin (TX)',
 '1221 West Ben White in Austin (TX)',
 '2209 Rutland Dr, Unit B in Austin (TX)',
 '309 Thelma Drive in Austin (TX)',
 '1206 Blackfoot in Austin (TX)',
 nan,
 '1000 W Rundberg Ln in Austin (TX)',
 '9700 Teasdale in Austin (TX)',
 nan,
 nan,
 nan,
 '3005 S. Lamar in Austin (TX)',
 nan,
 '139 Bolles Cicrle in Austin (TX)',
 '5905 Lookout Mountain Dr in Austin (TX)',
 '5903 Wideleaf in Austin (TX)',
 '11919 Manchaca Rd in Austin (TX)',
 '4709 Lake George Ln in Austin (TX)',
 '3201 Duval Rd in Austin (TX)',
 nan,
 '2500 Magin Meadow Dr in Austin (TX)',
 '12401 Pauls Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '11900 Buckingham Rd in Austin (TX)',
 '1203 Springdale Rd in Austin (TX)',
 '2614 Howellwood Way in Austin (TX)',
 '6003 Bull Creek Rd in Austin (TX)',
 '4019 Far West Blvd in Austin (TX)',
 nan,
 nan,
 '7905 Briarton Dr in Austin (TX)',
 '11800 Pinto Circle in Travis (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 '3002 Ellon Rd in Del Valle (TX)',
 nan,
 nan,
 nan,
 nan,
 '916 Reseach Blvd in Austin (TX)',
 nan,
 nan,
 '8519 Cahill Dr in Austin (TX)',
 '14909 Cordero Dr in Austin (TX)',
 '515 Congress Ave in Austin (TX)',
 '20412 Ed Acklin Rd in Manor (TX)',
 '2941 Moss St in Austin (TX)',
 nan,
 nan,
 '12036 Parsons Rd in Travis (TX)',
 '7500 S Pleasant Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '9401 S Hwy 183 in Travis (TX)',
 nan,
 '2347 Douglas #1103 in Austin (TX)',
 nan,
 '1111 Lawson in Austin (TX)',
 '1221 Southport Dr in Austin (TX)',
 nan,
 '5114 Turnstone Dr in Austin (TX)',
 nan,
 '5904 E Stassney in Austin (TX)',
 nan,
 '11604 Loweswater in Austin (TX)',
 '2702 Rae Dell Ave in Austin (TX)',
 '308 Le Grande Ave in Austin (TX)',
 '5416 Marlborough Dr in Austin (TX)',
 '6719 N Lamar Blvd in Austin (TX)',
 nan,
 '2505 Inwood Pl in Austin (TX)',
 nan,
 '6700 Evelyn Rd in Austin (TX)',
 '2048 W Stassney Ln in Austin (TX)',
 '4434 Frontier in Austin (TX)',
 '3001 Yandall in Austin (TX)',
 '124 West Anderson Lane in Austin (TX)',
 '7619 Scenic Brook in Austin (TX)',
 '4924 Craigwood And Fm 969 in Austin (TX)',
 '6600 Elm Creek in Austin (TX)',
 '528 S Meadowlark St in Austin (TX)',
 nan,
 '1912 E William Cannon Dr in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '124 W Anderson Ln in Austin (TX)',
 nan,
 nan,
 nan,
 '2000 N. Ih35 in Austin (TX)',
 '2816 E 12Th St in Austin (TX)',
 nan,
 nan,
 nan,
 '6311 Colina Ln in Austin (TX)',
 '14908 Fagerquist Rd in Austin (TX)',
 '1412 Orange Spice Ct in Travis (TX)',
 '2336 Douglas St in Austin (TX)',
 '9206 Spring Hollow Dr in Austin (TX)',
 '1156 W Cesar Chavez St in Austin (TX)',
 '900 Ruth Ave in Austin (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '1157 Salina St in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '3400 South Congress in Austin (TX)',
 '14100 Briarcreek Loop in Travis (TX)',
 nan,
 nan,
 '5010 Old Manor Rd. in Austin (TX)',
 '831 B N Meadows in Austin (TX)',
 '12120 Manchaca Rd in Austin (TX)',
 '1600 Wells Branch Pkwy in Austin (TX)',
 '124 W Anderson Ln in Austin (TX)',
 nan,
 '9503 Queenswood Dr in Austin (TX)',
 '1135 Don Ann St in Austin (TX)',
 nan,
 '605 Park Blvd in Austin (TX)',
 '2338 Wilson St in Austin (TX)',
 '15200 Anderson Mill Rd in Travis (TX)',
 '7612 Marl in Austin (TX)',
 nan,
 nan,
 '3500 N Capital Of Texas Hwy in Austin (TX)',
 '1300 Crossing Place in Austin (TX)',
 '14400 Harris Ridge Blvd in Pflugerville (TX)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '6207 Vera Ln in Austin (TX)',
 '1213 Mathias St in Austin (TX)',
 '6101 Landscape in Austin (TX)',
 nan,
 '7001 Circle S Rd in Austin (TX)',
 '4800 Eilers Rd in Austin (TX)',
 nan,
 '4610 Avenue D in Austin (TX)',
 nan,
 '6808 Mira Loma Ln in Austin (TX)',
 '1600 Ih 35 in Austin (TX)',
 '8805 N Plaza Ct in Austin (TX)',
 '1000 Ellingson Ln in Austin (TX)',
 nan,
 '3001 S Congress Ave in Austin (TX)',
 '5904 Dunbury Dr in Austin (TX)',
 nan,
 '11193 Lambert Ln in Austin (TX)',
 '10601 Manchaca in Austin (TX)',
 '9500 W Parmer Ln in Austin (TX)',
 '5304 Great Divide Dr in Bee Cave (TX)',
 nan,
 '12737 Magnolia Mound Trl in Austin (TX)',
 '3302 Northeast Dr in Austin (TX)',
 '3016 Fm 1327 Land Fill in Austin (TX)',
 nan,
 '107 Beaver in Austin (TX)',
 nan,
 nan,
 '8901 Viking in Austin (TX)',
 '1616 Webberville #A in Austin (TX)',
 nan,
 '4106 N Lamar in Austin (TX)',
 '9414 N Lamar in Austin (TX)',
 '1748 Ohlen Rd #98 in Austin (TX)',
 nan,
 '7300 West Rim Rd in Austin (TX)',
 '5701 Johnny Morris Rd in Austin (TX)',
 nan,
 '4502 Acres Ln in Austin (TX)',
 '12034 Research Blvd in Austin (TX)',
 '1317 Exposition Blvd in Austin (TX)',
 nan,
 '6318 Del Monte in Austin (TX)',
 '91217 Lowden Ln in Travis (TX)',
 nan,
 '1402 E St Johns Ave in Austin (TX)',
 '1015 E Yager in Austin (TX)',
 '704 Franklin in Austin (TX)',
 '7209 Wild Onion in Austin (TX)',
 '4106 N Lamar in Austin (TX)',
 '3600 Presidential Blvd in Austin (TX)',
 nan,
 nan,
 nan,
 nan,
 '6913 Langston Dr in Austin (TX)',
 '1601 E Slaughter Ln in Austin (TX)',
 '4434 Frontier Blvd in Austin (TX)',
 '7809 E Ben White Blvd in Austin (TX)',
 '909 Navasota St in Austin (TX)',
 '810 E Slaughter Ln in Austin (TX)',
 '5604 Hudson St in Austin (TX)',
 '1618 Ashberry Dr in Austin (TX)',
 '3819 Southway Dr in Austin (TX)',
 nan,
 '3502 Needls Dr in Austin (TX)',
 nan,
 '3816 Leafield Drive in Austin (TX)',
 '13420 Breezy Meadow Lane in Manor (TX)',
 nan,
 nan,
 '6704 Manchaca Rd in Austin (TX)',
 '6907 Convict Hill Rd in Austin (TX)',
 nan,
 '18417 Plazaway in Jonestown (TX)',
 nan,
 '6607 Brodie Ln in Austin (TX)',
 '12529 Sky Harbor Drive in Del Valle (TX)',
 nan,
 '2809 Parker Ln in Austin (TX)',
 '1400 Cardinal Hill Dr in Austin (TX)',
 '3001 S Congress in Austin (TX)',
 '8023 Coulver in Austin (TX)',
 '11900 Athens St in Manor (TX)',
 '12901 N 35 in Austin (TX)',
 nan,
 nan,
 '4605 Button Bend Rd in Austin (TX)',
 nan,
 '12800  Thome Valley Dr in Del Valle (TX)',
 '8900 Shoalcreek Blvd in Austin (TX)',
 '21413 Webber Oaks Cv in Travis (TX)',
 '5761 Palo Blanco Dr in Austin (TX)',
 nan,
 '1156 W Cesar Chavez St in Austin (TX)',
 nan,
 '7905 San Felipe #124 in Austin (TX)',
 nan,
 '1300 Mckie in Austin (TX)',
 nan,
 nan,
 nan,
 '1509 38 Half in Austin (TX)',
 nan,
 '15008 Fm 812 in Del Valle (TX)',
 '13 Club Estates in Lakeway (TX)',
 '183 And Vargas in Austin (TX)',
 nan,
 nan,
 '9300 Northgate in Austin (TX)',
 '10000 Parliament House Rd in Austin (TX)',
 '7902 Dee Gabriel Collins in Austin (TX)',
 '1505 Summit St in Austin (TX)',
 nan,
 '6111 Fm2244 in Austin (TX)',
 nan,
 '7301 Singleton Bend in Austin (TX)',
 nan,
 '416 Baldridge in Austin (TX)',
 '8909 Briardale Dr in Austin (TX)',
 nan,
 '4500 Steiner in Austin (TX)',
 '15200 Fm 812 in Del Valle (TX)',
 '7201 Levander Loop in Austin (TX)',
 nan,
 '710 E Ben White Blvd in Austin (TX)',
 '2502 Citation Dr in Travis (TX)',
 '5800 Colton Rd in Austin (TX)',
 '12511 Twin Creeks Rd, Manchaca, Tx 78652 in Austin (TX)',
 '4404 E Oltorf St in Austin (TX)',
 '4821 E Riverside Dr in Austin (TX)',
 '600 W Carrie Manor in Manor (TX)',
 nan,
 '10911 Maha Loop in Austin (TX)',
 '5220 Bahan Dr in Austin (TX)',
 '5309 Cypress Ranch Blvd in Travis (TX)',
 nan,
 nan,
 '13201 Wild Turkey Drive in Travis (TX)',
 nan,
 '7208 Salt Springs - B in Austin (TX)',
 nan,
 '6700 Montana in Austin (TX)',
 '10302 Quail Valley Blvd in Austin (TX)',
 nan,
 '4511 E. Hwy 71 in Travis (TX)',
 '7700 W Parmer in Austin (TX)',
 nan,
 nan,
 nan,
 '9417 Meyrick Park Trl in Travis (TX)',
 nan,
 nan,
 nan,
 '2609 Rosewood Dr in Austin (TX)',
 nan,
 '5238 Thunder Creek in Austin (TX)',
 '5201 Ross Rd in Austin (TX)',
 '2324 Wilson St in Austin (TX)',
 '6000 Middle Fiskville Rd in Austin (TX)',
 nan,
 '10805 Topperwein Dr in Austin (TX)',
 '13021 Dessau  Rd in Austin (TX)',
 nan,
 nan,
 '1656 Rutland Drive in Austin (TX)',
 '8010 Tonopa Ln in Austin (TX)',
 nan,
 '1509 Red Fox Rd in Travis (TX)',
 '4719 Castleman in Austin (TX)',
 nan,
 '2433 S Pleasant Valley Rd in Austin (TX)',
 nan,
 nan,
 nan,
 '701 Woodward St in Austin (TX)',
 '2501 E Stassney in Austin (TX)',
 nan,
 nan,
 '7201 Levander Loop in Austin (TX)',
 '1908 Albury Cv in Austin (TX)',
 '6713 Piedras Blanco Drive in Austin (TX)',
 nan,
 nan,
 nan,
 '4601 E St Elmo Rd in Austin (TX)',
 '1901 Crazyhorse Pass in Austin (TX)',
 '10400 Bitting School in Travis (TX)',
 '3462 Laguna Dr in Travis (TX)',
 '6000 Middle Fiskville in Austin (TX)',
 '5000 East Cesar Chavez in Austin (TX)',
 '4906 Sara Dr in Austin (TX)',
 '101 W Louis Henna Blvd in Austin (TX)',
 nan,
 nan,
 '10801 Hokanson Ct in Travis (TX)',
 nan,
 '8621 Damita Jo Dr in Travis (TX)',
 '8536 Birmingham in Austin (TX)',
 '5717 Palo Blanco in Austin (TX)',
 '2406 Riddle Rd in Austin (TX)',
 nan,
 '1113 Gunter St in Austin (TX)',
 '9502 S Chisholm Trl in Austin (TX)',
 nan,
 '12341 County Line Rd in Manor (TX)',
 '11904 N Interstate 35 Frontage Rd in Austin (TX)',
 '7418 Cameron Rd in Austin (TX)',
 '2809 W Hwy 290 in Austin (TX)',
 '3220 Bridle Path in Austin (TX)',
 '14811 Chicadee in Pflugerville (TX)',
 nan,

In [204]:
df['Found_Location']=new_location
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Breed_intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Border Collie Mix,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Pit Bull Mix,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Saluki,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Domestic Shorthair Mix,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306

In [205]:
df['Found_Location'].value_counts()

7201 Levander Loop in Austin (TX)      406
4434 Frontier Trl in Austin (TX)       137
124 W Anderson Ln in Austin (TX)       131
12034 Research Blvd in Austin (TX)      85
12034 Research in Austin (TX)           85
                                      ...
9600 Old Lockhart Rd in Austin (TX)      1
15200 Jacobson in Travis (TX)            1
327 Congress in Austin (TX)              1
4623 Credo in Austin (TX)                1
14303 Merrilltown Dr in Austin (TX)      1
Name: Found_Location, Length: 18559, dtype: int64

In [206]:
df.isnull().sum()

Animal ID                 0
Name_intake               0
DateTime_intake           0
Found_Location        22200
Intake_Type               0
IntakeCondition           0
Animal_Type_intake        0
Sex_Intake                0
Breed_intake              0
Color_intake              0
DateTime_outcome          0
Outcome_Type              0
Sex_upon_Outcome          0
fixed_changed             0
Age_Bucket                0
DateTime_length           0
dtype: int64

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      33606 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex_Intake          55806 non-null  object
 8   Breed_intake        55806 non-null  object
 9   Color_intake        55806 non-null  object
 10  DateTime_outcome    55806 non-null  datetime64[ns]
 11  Outcome_Type        55806 non-null  object
 12  Sex_upon_Outcome    55806 non-null  object
 13  fixed_changed       55806 non-null  int64
 14  Age_Bucket          55806 non-null  object
 15  DateTime_length     55806 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB

## Age Bucket column

In [208]:
df.Age_Bucket.value_counts()

1-3 years           22095
1-6 months          14259
1-6 weeks            6352
4-6 years            5507
7+ years             3800
7-12 months          2618
Less than 1 week     1175
Name: Age_Bucket, dtype: int64

## Intake_Type column

In [209]:
df.Intake_Type.value_counts()

Stray                 40557
Owner Surrender        9080
Public Assist          3188
Wildlife               2750
Euthanasia Request      231
Name: Intake_Type, dtype: int64

## Breed_Intake column

In [210]:
count_breed=df.Breed_intake.value_counts()
count_breed

Domestic Shorthair Mix                            17520
Pit Bull Mix                                       3791
Chihuahua Shorthair Mix                            3448
Labrador Retriever Mix                             2951
Domestic Medium Hair Mix                           1725
                                                  ...
Shiba Inu/Chinese Sharpei                             1
Chinese Sharpei/American Staffordshire Terrier        1
Bulldog/Boston Terrier                                1
Peafowl Mix                                           1
Catahoula/Border Collie                               1
Name: Breed_intake, Length: 1929, dtype: int64

In [211]:
for i in count_breed.index.tolist():
    print(i)

Domestic Shorthair Mix
Pit Bull Mix
Chihuahua Shorthair Mix
Labrador Retriever Mix
Domestic Medium Hair Mix
German Shepherd Mix
Bat Mix
Domestic Longhair Mix
Siamese Mix
Australian Cattle Dog Mix
Bat
Dachshund Mix
Miniature Poodle Mix
Border Collie Mix
Boxer Mix
Raccoon Mix
Australian Shepherd Mix
Rat Terrier Mix
Jack Russell Terrier Mix
Domestic Shorthair
Catahoula Mix
Yorkshire Terrier Mix
Miniature Schnauzer Mix
Chihuahua Longhair Mix
Beagle Mix
Siberian Husky Mix
Cairn Terrier Mix
Great Pyrenees Mix
Rottweiler Mix
Rabbit Sh Mix
Shih Tzu Mix
Pointer Mix
American Bulldog Mix
Chihuahua Shorthair/Dachshund
Raccoon
Staffordshire Mix
Australian Kelpie Mix
Plott Hound Mix
Black Mouth Cur Mix
Chihuahua Shorthair
Pit Bull
Labrador Retriever
Labrador Retriever/Pit Bull
American Staffordshire Terrier Mix
Anatol Shepherd Mix
Opossum Mix
Dachshund/Chihuahua Shorthair
German Shepherd
Golden Retriever Mix
Snowshoe Mix
Queensland Heeler Mix
Miniature Pinscher Mix
Maltese Mix
Chow Chow Mix
Domestic Medium Hair
German Shepherd/Labrador Retriever
American Pit Bull Terrier Mix
Labrador Retriever/German Shepherd
Pug Mix
Chicken Mix
Lhasa Apso Mix
Opossum
Pomeranian Mix
Cardigan Welsh Corgi Mix
Shih Tzu
Dachshund
Toy Poodle Mix
Doberman Pinsch Mix
Cocker Spaniel Mix
Maine Coon Mix
Border Terrier Mix
Basset Hound Mix
Blue Lacy Mix
Manx Mix
Skunk Mix
Boston Terrier Mix
Guinea Pig Mix
Rottweiler
Manchester Terrier Mix
Boxer
Pit Bull/Labrador Retriever
Dachshund Longhair Mix
Miniature Schnauzer/Miniature Poodle
Flat Coat Retriever Mix
Mastiff Mix
Siberian Husky
Collie Smooth Mix
Carolina Dog Mix
Dachshund Wirehair Mix
Pekingese Mix
Labrador Retriever/Border Collie
Australian Cattle Dog
Squirrel Mix
Great Dane Mix
Chinese Sharpei Mix
Border Collie/Labrador Retriever
Rhod Ridgeback Mix
Australian Cattle Dog/Labrador Retriever
Bull Terrier Mix
Chihuahua Shorthair/Rat Terrier
English Bulldog Mix
Siamese
Russian Blue Mix
Black/Tan Hound Mix
Chihuahua Shorthair/Jack Russell Terrier
Labrador Retriever/Australian Cattle Dog
Norfolk Terrier Mix
Miniature Poodle
Beagle
Fox Mix
Rat Terrier/Chihuahua Shorthair
Pembroke Welsh Corgi Mix
Yorkshire Terrier
Redbone Hound Mix
Labrador Retriever/Boxer
Miniature Schnauzer
Maltese/Miniature Poodle
Pug
Guinea Pig
Jack Russell Terrier
Soft Coated Wheaten Terrier Mix
Domestic Longhair
Cocker Spaniel
Pit Bull/Boxer
Chihuahua Shorthair/Pug
Border Collie
Bruss Griffon Mix
Bichon Frise Mix
Wire Hair Fox Terrier Mix
Belgian Malinois Mix
Squirrel
Weimaraner Mix
Skunk
Labrador Retriever/Chow Chow
Shetland Sheepdog Mix
Whippet Mix
Labrador Retriever/Great Pyrenees
Labrador Retriever/Pointer
Harrier Mix
Maltese
Parson Russell Terrier Mix
German Shorthair Pointer Mix
Norwich Terrier Mix
Rabbit Sh
West Highland Mix
Boxer/Labrador Retriever
Boxer/Pit Bull
Dalmatian Mix
Great Pyrenees
Shiba Inu Mix
Labrador Retriever/Australian Shepherd
Pug/Chihuahua Shorthair
Boston Terrier
Basset Hound
Rat Terrier
Miniature Poodle/Miniature Schnauzer
Akita Mix
Labrador Retriever/Beagle
Chihuahua Shorthair/Cardigan Welsh Corgi
Jack Russell Terrier/Chihuahua Shorthair
Himalayan Mix
Doberman Pinsch
Alaskan Husky Mix
Hamster Mix
Basenji Mix
Havanese Mix
Standard Schnauzer Mix
Australian Shepherd
Yorkshire Terrier/Miniature Poodle
Pug/Beagle
Great Pyrenees/Labrador Retriever
Papillon Mix
Golden Retriever
Cairn Terrier/Chihuahua Shorthair
Smooth Fox Terrier Mix
Pomeranian
Pharaoh Hound Mix
Californian Mix
Miniature Pinscher
Labrador Retriever/Rottweiler
Pointer/Labrador Retriever
German Shepherd/Chow Chow
Ragdoll Mix
Bulldog Mix
Labrador Retriever/Golden Retriever
English Bulldog
Labrador Retriever/Plott Hound
Italian Greyhound Mix
Rat Mix
German Shepherd/Siberian Husky
Dogo Argentino Mix
Dachshund/Beagle
American Staffordshire Terrier
Labrador Retriever/Anatol Shepherd
Cairn Terrier
Pit Bull/Australian Cattle Dog
Siberian Husky/German Shepherd
Australian Shepherd/Labrador Retriever
Miniature Pinscher/Chihuahua Shorthair
Beagle/Chihuahua Shorthair
Yorkshire Terrier/Chihuahua Shorthair
Great Dane
Catahoula/Labrador Retriever
American Eskimo Mix
Plott Hound/Labrador Retriever
Tibetan Spaniel Mix
Catahoula
Anatol Shepherd/Labrador Retriever
Cardigan Welsh Corgi/Chihuahua Shorthair
Standard Poodle Mix
Australian Cattle Dog/Pit Bull
Chihuahua Shorthair/Beagle
Chihuahua Shorthair/Miniature Pinscher
Collie Rough Mix
Vizsla Mix
Australian Cattle Dog/German Shepherd
Chihuahua Shorthair/Yorkshire Terrier
Rottweiler/Labrador Retriever
Lhasa Apso
Dutch Shepherd Mix
Border Collie/German Shepherd
German Shepherd/Australian Cattle Dog
Ferret Mix
Pit Bull/Catahoula
Labrador Retriever/Catahoula
Turtle Mix
Anatol Shepherd
Beagle/Dachshund
Beagle/Labrador Retriever
Border Collie/Great Pyrenees
Chihuahua Shorthair/Cairn Terrier
Pit Bull/Chinese Sharpei
French Bulldog Mix
Chesa Bay Retr Mix
Toy Fox Terrier Mix
Rex Mix
Bloodhound Mix
Treeing Walker Coonhound Mix
St. Bernard Smooth Coat Mix
Brittany Mix
American Shorthair Mix
Chihuahua Shorthair/Boston Terrier
Labrador Retriever/Chinese Sharpei
English Pointer Mix
Persian Mix
Airedale Terrier Mix
Chihuahua Longhair
Rat
Lhasa Apso/Miniature Poodle
Labrador Retriever/Blue Lacy
Dachshund/Rat Terrier
Scottish Terrier Mix
Siamese/Domestic Shorthair
Chicken
Boston Terrier/Chihuahua Shorthair
Greyhound
Bullmastiff Mix
Cavalier Span Mix
Pbgv Mix
Angora Mix
Miniature Poodle/Maltese
Feist Mix
Beauceron Mix
Rottweiler/German Shepherd
Yorkshire Terrier/Miniature Schnauzer
Cocker Spaniel/Miniature Poodle
Irish Terrier Mix
Bernese Mountain Dog Mix
Bull Terrier
Dachshund Wirehair/Chihuahua Shorthair
German Shepherd/Rottweiler
Finnish Spitz Mix
Dove Mix
Silky Terrier Mix
Ferret
Catahoula/Pit Bull
Alaskan Malamute Mix
Pekingese
English Coonhound Mix
Schnauzer Giant Mix
Chinese Sharpei
German Shepherd/Boxer
Parakeet Mix
Dachshund Longhair
Great Dane/Labrador Retriever
Duck
Chinese Sharpei/Labrador Retriever
Tibetan Terrier Mix
Labrador Retriever/Basset Hound
Jack Russell Terrier/Dachshund
Australian Cattle Dog/Border Collie
Chow Chow/Labrador Retriever
Australian Cattle Dog/Boxer
Chihuahua Shorthair/Pomeranian
Bluetick Hound Mix
Beagle/German Shepherd
Greyhound Mix
Fox
Chow Chow
Jack Russell Terrier/Australian Cattle Dog
Catahoula/Plott Hound
Dachshund/Manchester Terrier
Pit Bull/Pointer
Staffordshire
Siberian Husky/Labrador Retriever
Labrador Retriever/Great Dane
Toy Poodle
Australian Kelpie
Hamster
Border Terrier/Chihuahua Shorthair
Labrador Retriever/Dachshund
Rhod Ridgeback/Labrador Retriever
Swedish Vallhund Mix
Pigeon Mix
Leonberger Mix
St. Bernard Rough Coat Mix
Chihuahua Shorthair/Italian Greyhound
Australian Terrier Mix
Anatol Shepherd/Great Pyrenees
Golden Retriever/Chow Chow
Lionhead Mix
Jack Russell Terrier/Beagle
English Spot Mix
Schipperke Mix
Welsh Terrier Mix
Chinese Crested Mix
Lizard Mix
Glen Of Imaal Mix
Pomeranian/Chihuahua Longhair
American Foxhound Mix
Cocker Spaniel/Labrador Retriever
Miniature Schnauzer/Yorkshire Terrier
Duck Mix
German Shepherd/Alaskan Husky
American Bulldog/Pit Bull
Australian Shepherd/Border Collie
Patterdale Terr Mix
Dachshund Wirehair/Miniature Poodle
Miniature Poodle/Cocker Spaniel
Golden Retriever/Labrador Retriever
Balinese Mix
Weimaraner
Chow Chow/German Shepherd
Chihuahua Longhair/Pomeranian
Plott Hound
Australian Cattle Dog/Beagle
Australian Cattle Dog/Pointer
German Shepherd/Mastiff
American Pit Bull Terrier
Shih Tzu/Miniature Poodle
Dachshund Wirehair/Border Terrier
Lop-English Mix
Catahoula/Australian Cattle Dog
Pit Bull/Chihuahua Shorthair
Dachshund/Labrador Retriever
Samoyed Mix
Basset Hound/Labrador Retriever
Bichon Frise
Picardy Sheepdog Mix
Cockatiel Mix
Bantam Mix
Yorkshire Terrier/Cairn Terrier
Manchester Terrier/Chihuahua Shorthair
Tonkinese Mix
Miniature Poodle/Dachshund
West Highland
Pit Bull/German Shepherd
Bengal Mix
Border Collie/Australian Cattle Dog
Labrador Retriever/Standard Poodle
Beagle/Pug
American Bulldog
Labrador Retriever/Australian Kelpie
Black Mouth Cur
Chihuahua Shorthair/Pit Bull
Snowshoe
Cavalier Span
Snake Mix
English Springer Spaniel Mix
Cardigan Welsh Corgi/Australian Cattle Dog
Boxer/Australian Cattle Dog
Canaan Dog Mix
Siberian Husky/Australian Cattle Dog
German Shepherd/Australian Shepherd
German Shepherd/Border Collie
Chihuahua Shorthair/Dachshund Wirehair
Rhod Ridgeback
Yorkshire Terrier/Rat Terrier
Cairn Terrier/Yorkshire Terrier
Treeing Cur Mix
Californian
Dachshund/Pit Bull
Japanese Bobtail Mix
Australian Cattle Dog/Australian Shepherd
Boxer/Catahoula
Bombay Mix
Labrador Retriever/Jack Russell Terrier
Australian Shepherd/Anatol Shepherd
Pointer/Pit Bull
Mastiff/Chinese Sharpei
Chihuahua Shorthair/Border Terrier
Labrador Retriever/Doberman Pinsch
Yorkshire Terrier/Chihuahua Longhair
English Shepherd Mix
Pbgv
Keeshond Mix
Field Spaniel Mix
Newfoundland Mix
Labrador Retriever/Siberian Husky
Blue Lacy/American Bulldog
Labrador Retriever/Black/Tan Hound
German Shepherd/Alaskan Malamute
Parson Russell Terrier
Havana Mix
Flat Coat Retriever/Papillon
Coyote Mix
Siberian Husky/Border Collie
Great Pyrenees/Anatol Shepherd
Mexican Hairless Mix
New Zealand Wht Mix
Labrador Retriever/Vizsla
German Shepherd/Golden Retriever
French Bulldog
American Eskimo
Snake
Shetland Sheepdog
Maine Coon
Jack Russell Terrier/Rat Terrier
Tarantula
Basset Hound/Beagle
Persian
Labrador Retriever/Rhod Ridgeback
Akita
Rat Terrier/Beagle
Maltese/Toy Poodle
Affenpinscher Mix
Queensland Heeler
Catahoula/Pointer
Shiba Inu
Bloodhound
Boerboel Mix
British Shorthair Mix
Yorkshire Terrier/Maltese
Bearded Collie Mix
German Shepherd/Pit Bull
Boxer/Beagle
Pit Bull/Weimaraner
Podengo Pequeno Mix
Standard Poodle/Labrador Retriever
Chihuahua Shorthair/Manchester Terrier
Jack Russell Terrier/Labrador Retriever
Chihuahua Shorthair/Whippet
Beagle/Boxer
Manchester Terrier/Dachshund
Rabbit Lh Mix
Cairn Terrier/Miniature Schnauzer
Pointer/Boxer
Australian Cattle Dog/Catahoula
German Shepherd/Cardigan Welsh Corgi
Cold Water
Border Collie/Chow Chow
Dachshund Longhair/Chihuahua Shorthair
English Springer Spaniel
German Shepherd/Collie Rough
Shih Tzu/Miniature Schnauzer
Pit Bull/Plott Hound
Turkey Mix
Pig Mix
Pembroke Welsh Corgi
Saluki
Labrador Retriever/Miniature Poodle
German Shepherd/Doberman Pinsch
Basset Hound/Australian Cattle Dog
Bernese Mountain Dog
Old English Bulldog Mix
Labrador Retriever/Greyhound
Standard Poodle
Pointer/Border Collie
Boxer/Staffordshire
Beagle/Basset Hound
Dachshund/Jack Russell Terrier
Chow Chow/Pit Bull
Jack Russell Terrier/Miniature Poodle
Dalmatian
German Shepherd/Chinese Sharpei
Landseer Mix
Irish Setter/Pit Bull
Redbone Hound/Labrador Retriever
Maltese/Yorkshire Terrier
English Foxhound Mix
Rat Terrier/Boston Terrier
Dogue De Bordeaux Mix
Blue Lacy
Collie Smooth
Australian Cattle Dog/Jack Russell Terrier
Mastiff
Wirehaired Pointing Griffon Mix
Miniature Poodle/Lhasa Apso
Carolina Dog/Chihuahua Shorthair
Collie Smooth/Labrador Retriever
Australian Shepherd/Australian Cattle Dog
Boykin Span Mix
Pit Bull/Basset Hound
Presa Canario Mix
Chihuahua Longhair/Cairn Terrier
Australian Shepherd/Chihuahua Shorthair
German Shepherd/Catahoula
Great Pyrenees/Border Collie
Harrier
Vizsla
Chihuahua Shorthair/Miniature Schnauzer
Miniature Poodle/Bichon Frise
Pixiebob Shorthair Mix
Cardigan Welsh Corgi/Pointer
Australian Cattle Dog/Cardigan Welsh Corgi
Pointer/Catahoula
Cane Corso
Catahoula/German Shepherd
German Pinscher Mix
Miniature Poodle/Chihuahua Shorthair
Lionhead

Miniature Pinscher/Pug
Wire Hair Fox Terrier/Beagle
Beagle/Australian Cattle Dog
Alaskan Malamute
Vizsla/Labrador Retriever
Tortoise Mix
Labrador Retriever/Staffordshire
Greater Swiss Mountain Dog Mix
Cane Corso Mix
Anatol Shepherd/German Shepherd
Chihuahua Longhair/Dachshund
Rottweiler/Australian Cattle Dog
Pointer/American Pit Bull Terrier
Beagle/Rat Terrier
Anatol Shepherd/Redbone Hound
Pointer/Australian Cattle Dog
Pit Bull/Mastiff
Pointer
Manchester Terrier/Beagle
Armadillo Mix
Cymric Mix
Dalmatian/Labrador Retriever
Basset Hound/Chinese Sharpei
Standard Schnauzer
Rottweiler/Chow Chow
Lhasa Apso/Shih Tzu
Labrador Retriever/Queensland Heeler
German Shepherd/Great Pyrenees
Bedlington Terr Mix
Papillon
Miniature Poodle/Yorkshire Terrier
Boxer/Chinese Sharpei
Dachshund Wirehair
Chow Chow/Australian Cattle Dog
Bull Terrier Miniature Mix
Border Terrier/Yorkshire Terrier
Queensland Heeler/Pit Bull
Dachshund/Australian Cattle Dog
Catahoula/Cardigan Welsh Corgi
Jack Russell Terrier/Shih Tzu
English Cocker Spaniel Mix
Dachshund/Shih Tzu
Australian Shepherd/Cardigan Welsh Corgi
Basset Hound/Pit Bull
Manx/Domestic Shorthair
Pit Bull/Boston Terrier
Chow Chow/Golden Retriever
German Wirehaired Pointer Mix
Black Mouth Cur/Catahoula
Mastiff/Rottweiler
Black/Tan Hound
Devon Rex Mix
Cardigan Welsh Corgi
Grackle
Weimaraner/Labrador Retriever
Jack Russell Terrier/Pit Bull
Cardigan Welsh Corgi/German Shepherd
Black Mouth Cur/German Shepherd
Catahoula/Chinese Sharpei
Gerbil Mix
Himalayan
Border Collie/Boxer
Anatol Shepherd/Border Collie
Alaskan Husky
Bullmastiff
Otterhound Mix
Soft Coated Wheaten Terrier
Norfolk Terrier/Chihuahua Shorthair
Coyote
Chihuahua Longhair/Maltese
Yorkshire Terrier/Border Terrier
Labrador Retriever/Flat Coat Retriever
Parakeet
Grackle Mix
Belgian Malinois
Australian Shepherd/Chow Chow
Shih Tzu/Dachshund
Irish Wolfhound Mix
German Shorthair Pointer
Pembroke Welsh Corgi/Chihuahua Shorthair
Blue Lacy/Pit Bull
Great Pyrenees/Australian Cattle Dog
Labrador Retriever/Chesa Bay Retr
Border Collie/Catahoula
Australian Cattle Dog/Chinese Sharpei
Chihuahua Longhair/Cardigan Welsh Corgi
Chinese Sharpei/Pit Bull
Miniature Schnauzer/Chihuahua Shorthair
Norwegian Forest Cat Mix
Chihuahua Longhair/Pekingese
Pomeranian/Chihuahua Shorthair
Labrador Retriever/Standard Schnauzer
Australian Cattle Dog/Basenji
Ragdoll
Jack Russell Terrier/Cairn Terrier
Catahoula/Boxer
Chihuahua Shorthair/Basset Hound
Border Terrier
Australian Cattle Dog/Staffordshire
Shih Tzu/Maltese
Rat Terrier/Cardigan Welsh Corgi
Collie Rough/German Shepherd
Golden Retriever/Standard Poodle
Quaker Mix
Great Pyrenees/Pointer
Parrot Mix
Labrador Retriever/Black Mouth Cur
Schipperke/Chihuahua Shorthair
Chihuahua Shorthair/German Shepherd
Golden Retriever/German Shepherd
Finnish Spitz
Exotic Shorthair Mix
Bluebird Mix
Australian Kelpie/Pit Bull
Dachshund/Pug
Labrador Retriever/Redbone Hound
Cairn Terrier/Chihuahua Longhair
Shih Tzu/Cocker Spaniel
Dachshund/Chihuahua Longhair
Lop-Mini
Abyssinian Mix
American Bulldog/Boxer
Catahoula/English Coonhound
Black/Tan Hound/Labrador Retriever
Australian Cattle Dog/Bull Terrier
Chihuahua Shorthair/Australian Cattle Dog
Cardigan Welsh Corgi/Cocker Spaniel
Manchester Terrier/Jack Russell Terrier
Cairn Terrier/Dachshund
Japanese Chin Mix
Basenji/Australian Cattle Dog
Australian Kelpie/Blue Lacy
Blue Lacy/Australian Kelpie
Beagle/Jack Russell Terrier
Australian Cattle Dog/Chow Chow
Pit Bull/Dachshund
Shih Tzu/Havanese
Dutch Shepherd
Australian Kelpie/Labrador Retriever
Boston Terrier/Dachshund
Golden Retriever/Border Collie
Border Collie/Australian Shepherd
Dachshund Wirehair/Miniature Schnauzer
Chihuahua Shorthair/Smooth Fox Terrier
Dachshund/Bloodhound
Rhode Island Mix
Boxer/English Bulldog
Labrador Retriever/Dalmatian
Border Collie/Parson Russell Terrier
Australian Cattle Dog/Dachshund
Siberian Husky/Pit Bull
Cardigan Welsh Corgi/Beagle
Lop-Holland Mix
Turkish Angora Mix
Catahoula/Beagle
Armadillo
Whippet/Dachshund
Russian Blue
Pit Bull/Rottweiler
Cocker Spaniel/Dachshund
Shih Tzu/Toy Poodle
Plott Hound/Boxer
Cottontail Mix
Sparrow Mix
Newfoundland/Labrador Retriever
American Staffordshire Terrier/American Bulldog
Chihuahua Longhair/Jack Russell Terrier
Queensland Heeler/Chihuahua Shorthair
Weimaraner/Pit Bull
Cairn Terrier/Miniature Poodle
Dachshund Wirehair/Toy Poodle
Boxer/Great Dane
Border Collie/Pit Bull
Labrador Retriever/Mastiff
Cockatoo
Flat Coat Retriever/Pit Bull
Pit Bull/Bulldog
Chihuahua Shorthair/Pembroke Welsh Corgi
Basenji/Chihuahua Shorthair
Miniature Poodle/Labrador Retriever
Great Pyrenees/Golden Retriever
Pit Bull/Black Mouth Cur
Labrador Retriever/Whippet
Chow Chow/Basset Hound
Coton De Tulear Mix
Great Pyrenees/Catahoula
Rat Terrier/Miniature Poodle
Australian Shepherd/Cocker Spaniel
Nova Scotia Duck Tolling Retriever
Nova Scotia Duck Tolling Retriever Mix
Border Collie/Pointer
Belgian Sheepdog Mix
Labrador Retriever/Collie Smooth
Doberman Pinsch/Labrador Retriever
Catahoula/Great Dane
Australian Cattle Dog/Plott Hound
Skye Terrier Mix
Boxer/American Staffordshire Terrier
Miniature Poodle/Cairn Terrier
Oriental Sh Mix
German Shepherd/Black/Tan Hound
Pit Bull/Dalmatian
Australian Cattle Dog/Pembroke Welsh Corgi
Boxer/Black Mouth Cur
Pigeon
Dove
Wire Hair Fox Terrier/Chihuahua Shorthair
American Bulldog/Mastiff
Jindo Mix
Chihuahua Shorthair/Wire Hair Fox Terrier
Whippet/Labrador Retriever
Black Mouth Cur/Boxer
American Bulldog/Labrador Retriever
Black Mouth Cur/Blue Lacy
Boxer/Mastiff
Pit Bull/Rat Terrier
Queensland Heeler/Pointer
Chinchilla Mix
Chihuahua Shorthair/Cocker Spaniel
Catahoula/American Bulldog
Munchkin Shorthair Mix
Newfoundland/Great Pyrenees
Basenji/Chihuahua Longhair
Australian Cattle Dog/Anatol Shepherd
Bengal
German Shepherd/Bull Terrier
Dachshund/English Foxhound
Chihuahua Shorthair/Pekingese
Border Collie/Pembroke Welsh Corgi
German Shepherd/Akita
Toy Poodle/Miniature Schnauzer
Labrador Retriever/American Bulldog
Lop-Mini Mix
Boston Terrier/Pug
Dachshund/Yorkshire Terrier
Pointer/Jack Russell Terrier
Pug/Pekingese
Bruss Griffon/Chihuahua Shorthair
Australian Cattle Dog/Siberian Husky
Blue Lacy/Weimaraner
Chihuahua Shorthair/Schipperke
Japanese Chin
Staffordshire/Bull Terrier
Domestic Longhair/Persian
Plott Hound/Australian Cattle Dog
Yorkshire Terrier/Jack Russell Terrier
Tibetan Terrier/Lhasa Apso
Greyhound/Labrador Retriever
Collie Rough
St. Bernard Rough Coat
Presa Canario
Dogo Argentino/Labrador Retriever
Pointer/Harrier
Border Collie/Mastiff
Bulldog/Pit Bull
Norwich Terrier/Yorkshire Terrier
Chow Chow/Siberian Husky
Labrador Retriever/Collie Rough
Chihuahua Longhair/Papillon
Mockingbird Mix
Boston Terrier/Pit Bull
Labrador Retriever/German Shorthair Pointer
Australian Kelpie/Beagle
Jack Russell Terrier/Welsh Terrier
Pit Bull/Siberian Husky
Australian Cattle Dog/German Shorthair Pointer
Rat Terrier/Dachshund
Javanese Mix
Dutch Mix
Staffordshire/English Bulldog
Mastiff/Boxer
Toy Poodle/Maltese
Hawk
American Pit Bull Terrier/Catahoula
Mastiff/Pit Bull
Australian Shepherd/Plott Hound
Great Pyrenees/Rottweiler
Great Pyrenees/Chow Chow
Samoyed
Old English Sheepdog
Neapolitan Mastiff Mix
Labrador Retriever/Boston Terrier
Alaskan Malamute/German Shepherd
Pug/French Bulldog
Havanese
Belgian Tervuren/German Shepherd
Netherlnd Dwarf Mix
Old English Bulldog
Pharaoh Hound
Whippet/Australian Kelpie
Chihuahua Shorthair/Chinese Sharpei
Yorkshire Terrier/Toy Poodle
Collie Rough/Labrador Retriever
Labrador Retriever/Pug
Border Collie/Akita
Catahoula/Alaskan Husky
Conure
Black/Tan Hound/Black Mouth Cur
Golden Retriever/Dachshund
Pit Bull/Pug
Chihuahua Shorthair/Mexican Hairless
Pekingese/Chihuahua Shorthair
Pointer/Collie Smooth
Harlequin Mix
Rhod Ridgeback/Boxer
Domestic Longhair/Rex
Dachshund/Cardigan Welsh Corgi
Black Mouth Cur/Australian Cattle Dog
Hotot Mix
Anatol Shepherd/Australian Cattle Dog
Golden Retriever/Beagle
Doberman Pinsch/Pit Bull
Cardigan Welsh Corgi/Jack Russell Terrier
Pug/Italian Greyhound
Carolina Dog
Black Mouth Cur/Dachshund
Queensland Heeler/Dachshund
Chihuahua Shorthair/Toy Fox Terrier
Burmese
Finch
Bull Terrier Miniature
Staffordshire/Labrador Retriever
Border Collie/Queensland Heeler
Dachshund Longhair/Cardigan Welsh Corgi
Cairn Terrier/Border Collie
Pit Bull/Pit Bull
Pug/Border Terrier
Border Collie/Dachshund
Miniature Schnauzer/Shih Tzu
Doberman Pinsch/German Shepherd
German Shepherd/Black Mouth Cur
American Bulldog/Pointer
Silky Terrier
Soft Coated Wheaten Terrier/Labrador Retriever
West Highland/Cairn Terrier
Norfolk Terrier
Rhod Ridgeback/German Shepherd
Collie Smooth/German Shepherd
Chihuahua Longhair/Dachshund Longhair
Gordon Setter Mix
Pekingese/Jack Russell Terrier
Boxer/Pointer
Heron Mix
Border Collie/Basenji
Sphynx
Staffordshire/Boston Terrier
American Mix
Cocker Spaniel/Chihuahua Shorthair
Chihuahua Shorthair/Miniature Poodle
Rottweiler/Doberman Pinsch
Pit Bull/Beagle
Great Dane/Mastiff
Miniature Pinscher/Dachshund
Dachshund Longhair/Miniature Schnauzer
Dachshund Longhair/Cocker Spaniel
Labrador Retriever/Labrador Retriever
Belgian Tervuren Mix
Collie Rough/Australian Shepherd
Carolina Dog/Labrador Retriever
Great Pyrenees/Standard Poodle
Goat Mix
Catahoula/Whippet
Great Dane/Pit Bull
Australian Kelpie/German Shepherd
Mastiff/Labrador Retriever
Chihuahua Shorthair/Swedish Vallhund
Turtle
Dalmatian/Pit Bull
Boxer/Miniature Poodle
Pekingese/Miniature Poodle
Pit Bull/Flat Coat Retriever
Domestic Shorthair/Siamese
Pug/Chihuahua Longhair
Plott Hound/Pit Bull
German Wirehaired Pointer
Chihuahua Shorthair/Basenji
Border Collie/Alaskan Husky
Australian Cattle Dog/Bloodhound
Rhod Ridgeback/Pit Bull
Labrador Retriever/Bloodhound
Labrador Retriever/Newfoundland
Boxer/Rhod Ridgeback
English Bulldog/Boxer
Alaskan Malamute/Border Collie
Basset Hound/Pointer
Rottweiler/Pit Bull
Jack Russell Terrier/Yorkshire Terrier
Vizsla/Golden Retriever
Maltese/Jack Russell Terrier
Parrot
Whippet/Chihuahua Shorthair
Australian Shepherd/Rottweiler
Dachshund/Bull Terrier
Border Collie/Jack Russell Terrier
Akita/German Shepherd
Irish Terrier/Labrador Retriever
Chihuahua Shorthair/French Bulldog
Catahoula/Anatol Shepherd
Brittany
Welsh Terrier
Pit Bull/Blue Lacy
Akita/Australian Cattle Dog
Beagle/Standard Poodle
Black Mouth Cur/Labrador Retriever
British Shorthair
Australian Kelpie/Miniature Pinscher
Jersey Wooly Mix
German Shepherd/Pembroke Welsh Corgi
Border Collie/Beagle
Alaskan Husky/Australian Shepherd
Beagle/Cocker Spaniel
Rat Terrier/Australian Cattle Dog
American Staffordshire Terrier/Labrador Retriever
Dachshund/Miniature Poodle
Turkish Van Mix
Shih Tzu/Yorkshire Terrier
German Shepherd/Collie Smooth
Dachshund/Catahoula
Italian Greyhound
Australian Shepherd/Alaskan Malamute
Pembroke Welsh Corgi/German Shepherd
Bulldog
Chartreux Mix
Labrador Retriever/Pembroke Welsh Corgi
Dogo Argentino
Bull Terrier/Pit Bull
Dachshund Longhair/Chihuahua Longhair
Plott Hound/Rhod Ridgeback
Bearded Collie
Labrador Retriever/Border Terrier
Jack Russell Terrier/Maltese
Carolina Dog/Australian Cattle Dog
Picardy Sheepdog
Great Pyrenees/Pit Bull
Catahoula/Staffordshire
Jack Russell Terrier/Dachshund Wirehair
Devon Rex
Flat Coat Retriever/Labrador Retriever
Basset Hound/Australian Shepherd
American Pit Bull Terrier/Labrador Retriever
Dachshund/Miniature Pinscher
Akita/Border Collie
Wire Hair Fox Terrier
Ibizan Hound Mix
Australian Cattle Dog/Great Pyrenees
Flat Coat Retriever
Port Water Dog Mix
Jack Russell Terrier/Border Collie
Chinese Sharpei/Chow Chow
Harrier/Labrador Retriever
Cardigan Welsh Corgi/Australian Shepherd
Domestic Medium Hair/Siamese
Doberman Pinsch/Australian Cattle Dog
Scottish Terrier
Dachshund/Parson Russell Terrier
German Shepherd/Great Dane
American Eskimo/Border Collie
Maltese/Shih Tzu
Treeing Walker Coonhound/Labrador Retriever
Manx/Domestic Longhair
Black Mouth Cur/Pit Bull
Jack Russell Terrier/Italian Greyhound
Boxer/American Bulldog
Catahoula/Rottweiler
English Foxhound
Yorkshire Terrier/Lhasa Apso
Pit Bull/English Bulldog
Italian Greyhound/Chihuahua Shorthair
Dachshund Wirehair/Rat Terrier
Shetland Sheepdog/Border Collie
Dachshund/Whippet
Beauceron
Havanese/Miniature Poodle
Chow Chow/Chinese Sharpei
Kuvasz Mix
Beagle/Cardigan Welsh Corgi
Lhasa Apso/Cocker Spaniel
Labrador Retriever/Cocker Spaniel
Pit Bull/Rhod Ridgeback
Miniature Schnauzer/Cairn Terrier
Lhasa Apso/Miniature Schnauzer
Akita/Siberian Husky
Dachshund/Basset Hound
Yorkshire Terrier/Norfolk Terrier
Chihuahua Shorthair/Welsh Terrier
Beagle/Pointer
Australian Cattle Dog/Queensland Heeler
Dachshund Wirehair/Chihuahua Longhair
Lhasa Apso/Cairn Terrier
Beagle/Plott Hound
Owl Mix
Siamese/Japanese Bobtail
Staffordshire/Boxer
Anatol Shepherd/Catahoula
Manchester Terrier/Australian Kelpie
Dachshund/Harrier
French Bulldog/Chihuahua Shorthair
Norfolk Terrier/Yorkshire Terrier
Labrador Retriever/American Pit Bull Terrier
Welsh Springer Spaniel
Wire Hair Fox Terrier/Dachshund
Australian Kelpie/Australian Shepherd
Belgian Malinois/Australian Shepherd
Siberian Husky/Alaskan Malamute
Great Pyrenees/Australian Shepherd
Coton De Tulear
Collie Smooth/Saluki
Collie Rough/Golden Retriever
Pit Bull/Pharaoh Hound
Whippet/Treeing Cur
Labrador Retriever/Brittany
Australian Cattle Dog/Treeing Walker Coonhound
Border Terrier/Dachshund
Miniature Pinscher/Australian Cattle Dog
English Setter Mix
Jack Russell Terrier/Basenji
German Shepherd/Swedish Vallhund
Chinese Sharpei/Rat Terrier
English Springer Spaniel/Labrador Retriever
Border Collie/Canaan Dog
Shiba Inu/Dachshund
Border Collie/English Pointer
Great Dane/Staffordshire
Whippet/Australian Cattle Dog
Chihuahua Shorthair/Papillon
Anatol Shepherd/Australian Shepherd
Scottish Fold Mix
Domestic Shorthair/Manx
Jindo/Shiba Inu
St. Bernard Rough Coat/Border Collie
Beagle/Queensland Heeler
Australian Cattle Dog/Boston Terrier
Standard Schnauzer/Miniature Poodle
Maltese/Yorkshire
Soft Coated Wheaten Terrier/Border Terrier
Border Terrier/Standard Schnauzer
Beagle/Pembroke Welsh Corgi
Vizsla/Pointer
Beagle/Catahoula
Whippet/Whippet
Pomeranian/American Eskimo
Great Pyrenees/Boxer
Miniature Schnauzer/Soft Coated Wheaten Terrier
Australian Shepherd/Nova Scotia Duck Tolling Retriever
Chesa Bay Retr/Labrador Retriever
Jack Russell Terrier/Boston Terrier
Australian Cattle Dog/Chinese Crested
Beagle/Pit Bull
Rhod Ridgeback/Chow Chow
Miniature Pinscher/Whippet
Goose Mix
Boxer/Cardigan Welsh Corgi
Border Collie/Great Dane
Wire Hair Fox Terrier/German Shepherd
Australian Shepherd/Beagle
English Springer Spaniel/Beagle
Miniature Poodle/Golden Retriever
Catahoula/Treeing Walker Coonhound
Munchkin Longhair Mix
Siberian Husky/Catahoula
St. Bernard Rough Coat/Labrador Retriever
Labrador Retriever/Treeing Walker Coonhound
Cardigan Welsh Corgi/Pit Bull
Lizard
Miniature Poodle/English Cocker Spaniel
Canaan Dog/Redbone Hound
Pembroke Welsh Corgi/Pit Bull
Jack Russell Terrier/Whippet
American Eskimo/Australian Shepherd
Shih Tzu/Border Terrier
German Shepherd/Basenji
Anatol Shepherd/Siberian Husky
Shih Tzu/Cardigan Welsh Corgi
Border Collie/Doberman Pinsch
Pharaoh Hound/Australian Cattle Dog
English Bulldog/Staffordshire
Snake/Snake
Pomeranian/Border Terrier
Blue Lacy/Labrador Retriever
Jack Russell Terrier/American Staffordshire Terrier
Beagle/Black Mouth Cur
Rat Terrier/Pembroke Welsh Corgi
Pit Bull/Jindo
Border Terrier/Cardigan Welsh Corgi
Pointer/Rhod Ridgeback
Entlebucher Mix
Sparrow
West Highland/Toy Fox Terrier
Anatol Shepherd/Mastiff
Boxer/Greyhound
Sussex Span Mix
Carolina Dog/Pit Bull
Dachshund/Australian Kelpie
Shih Tzu/Chihuahua Shorthair
Lhasa Apso/Border Terrier
Manchester Terrier/Labrador Retriever
English Pointer
Great Pyrenees/Queensland Heeler
Shetland Sheepdog/Chihuahua Longhair
Boxer/Harrier
Collie Rough/Australian Cattle Dog
Rat Terrier/Pug
Saluki/Doberman Pinsch
Dandie Dinmont
Pointer/Australian Kelpie
Patterdale Terr/Chihuahua Shorthair
Chihuahua Shorthair/Norfolk Terrier
Landseer
Lop-Holland
Beagle/Australian Kelpie
Australian Cattle Dog/Belgian Malinois
Boxer/Chow Chow
Rabbit Lh
Mastiff/Bloodhound
Dachshund/Dachshund
Dachshund Longhair/Pomeranian
Flat Coat Retriever/Australian Cattle Dog
Miniature Schnauzer/Australian Cattle Dog
Labrador Retriever/Pharaoh Hound
Redbone Hound/Boxer
Brittany/Collie Rough
Redbone Hound/Redbone Hound
Miniature Poodle/Italian Greyhound
Australian Cattle Dog/American Staffordshire Terrier
St. Bernard Rough Coat/Standard Schnauzer
Chihuahua Shorthair/Rhod Ridgeback
Angora/Persian
Staffordshire/Basset Hound
Siamese/Angora
Labrador Retriever/Weimaraner
Papillon/Border Collie
Blue Lacy/Collie Smooth
Kuvasz/Labrador Retriever
Chinese Sharpei/American Bulldog
St. Bernard Smooth Coat
Redbone Hound/Dachshund
Weimaraner/Plott Hound
Havana Brown Mix
Chihuahua Longhair/Italian Greyhound
Cocker Spaniel/Dachshund Longhair
Checkered Giant Mix
Miniature Poodle/West Highland
Chihuahua Shorthair/Cirneco
Border Collie/Pomeranian
Pekingese/Maltese
Shetland Sheepdog/Keeshond
Alaskan Malamute/Australian Kelpie
American Foxhound/Labrador Retriever
St. Bernard Rough Coat/German Shepherd
Whippet/Borzoi
Lakeland Terrier Mix
Potbelly Pig Mix
Anatol Shepherd/Pit Bull
Cocker Spaniel/Pembroke Welsh Corgi
American Pit Bull Terrier/American Bulldog
Dachshund Wirehair/Norfolk Terrier
Eng Toy Spaniel Mix
Rat Terrier/Chihuahua Longhair
English Pointer/Labrador Retriever
Siberian Husky/Rottweiler
Australian Shepherd/Dalmatian
Smooth Fox Terrier/Jack Russell Terrier
American Staffordshire Terrier/French Bulldog
Dachshund Wirehair/Cairn Terrier
Rat Terrier/Pointer
Irish Wolfhound/Australian Shepherd
Glen Of Imaal/Ibizan Hound
German Shepherd/Beagle
Dachshund Wirehair/Pbgv
German Shepherd/Greyhound
Redbone Hound/Australian Cattle Dog
Yorkshire Terrier/Bruss Griffon
Miniature Poodle/Border Terrier
American Sable Mix
Rhod Ridgeback/Mastiff
Australian Cattle Dog/Chihuahua Shorthair
Cairn Terrier/West Highland
Snowshoe/Domestic Shorthair
Dachshund/German Shepherd
Labrador Retriever/Saluki
Chesa Bay Retr
Boykin Span
Norfolk Terrier/Border Terrier
Plott Hound/Mastiff
Papillon/Skye Terrier
Toy Poodle/Cocker Spaniel
Mastiff/Dutch Shepherd
French Bulldog/Miniature Schnauzer
Norfolk Terrier/Standard Poodle
Australian Kelpie/Finnish Spitz
Domestic Longhair/Russian Blue
Chinese Sharpei/Australian Cattle Dog
Domestic Shorthair/Abyssinian
Feist/Chihuahua Shorthair
Dachshund/Border Collie
Border Collie/English Springer Spaniel
Rottweiler/Siberian Husky
Miniature Schnauzer/Jack Russell Terrier
Papillon/Pomeranian
African Mix
Harrier/Catahoula
Border Collie/Plott Hound
Beagle/Parson Russell Terrier
Ocicat Mix
Boxer/Border Collie
Border Terrier/Border Collie
Toy Poodle/Dachshund
Miniature Poodle/Australian Cattle Dog
Pug/Schipperke
Wren Mix
Norwich Terrier/Pug
Chihuahua Longhair/Rat Terrier
Shih Tzu/Affenpinscher
American Staffordshire Terrier/Jack Russell Terrier
Chihuahua Shorthair/Queensland Heeler
American Wirehair Mix
Beagle/Chihuahua Longhair
Catahoula/Mastiff
Labrador Retriever/Spanish Water Dog
Leonberger
Border Terrier/Bruss Griffon
Belgian Malinois/German Shepherd
Pekingese/Tibetan Terrier
English Bulldog/Cairn Terrier
Australian Cattle Dog/Cairn Terrier
Pit Bull/Cardigan Welsh Corgi
Miniature Schnauzer/Border Terrier
Miniature Schnauzer/Pug
Great Pyrenees/English Setter
Cocker Spaniel/Beagle
Chihuahua Shorthair/Affenpinscher
Catahoula/American Pit Bull Terrier
Miniature Poodle/Chihuahua Longhair
Dutch
English Coonhound/Beagle
German Shepherd/Weimaraner
Labrador Retriever/American Foxhound
Australian Kelpie/Rat Terrier
Irish Terrier/Irish Wolfhound
Beagle/Australian Shepherd
Pembroke Welsh Corgi/Chihuahua Longhair
Blue Lacy/Australian Cattle Dog
Chihuahua Shorthair/Parson Russell Terrier
Mockingbird
Finnish Spitz/Dachshund
Jindo/Labrador Retriever
Labrador Retriever/Harrier
American Curl Shorthair Mix
Ringtail Mix
Rhod Ridgeback/Harrier
Boxer/Akita
Chihuahua Longhair/Yorkshire Terrier
Polish Mix
American Bulldog/Blue Lacy
Dachshund Longhair/Cairn Terrier
Miniature Schnauzer/Labrador Retriever

Dutch/Rabbit Sh
Guinea Mix
Doberman Pinsch/Black/Tan Hound
Blue Lacy/Beagle
Australian Shepherd/Siberian Husky
Siberian Husky/Great Pyrenees
Shetland Sheepdog/Cardigan Welsh Corgi
Rat Terrier/Queensland Heeler
Staffordshire/Australian Cattle Dog
German Shorthair Pointer/Australian Cattle Dog
Miniature Schnauzer/Scottish Terrier
English Coonhound/Italian Greyhound
Cocker Spaniel/Basset Hound
German Shepherd/Redbone Hound
Maltese/Chihuahua Shorthair
Smooth Fox Terrier/Rat Terrier
Norwegian Elkhound Mix
Rottweiler/Beagle
German Shepherd/English Coonhound
Australian Cattle Dog/Rat Terrier
Netherlnd Dwarf
Leonberger/German Shepherd
Cockatiel
Boxer/Redbone Hound
Chihuahua Longhair/Pug
Rhod Ridgeback/Plott Hound
Old English Sheepdog Mix
Miniature Poodle/Pomeranian
Chihuahua Shorthair/Border Collie
Pit Bull/Dogue De Bordeaux
Papillon/Yorkshire Terrier
Great Pyrenees/Siberian Husky
Blue Lacy/Cardigan Welsh Corgi
Alaskan Husky/Border Collie
Chihuahua Shorthair/Rottweiler
Angora-French Mix
Maltese/Border Terrier
Whippet/Jack Russell Terrier
Soft Coated Wheaten Terrier/Chihuahua Shorthair
Domestic Shorthair/British Shorthair
Chinese Sharpei/Border Collie
Pharaoh Hound/Border Collie
Dachshund/German Pinscher
Australian Cattle Dog/Pug
American Staffordshire Terrier/Plott Hound
Greater Swiss Mountain Dog
Australian Cattle Dog/American Foxhound
Shetland Sheepdog/Pomeranian
Dutch Shepherd/Anatol Shepherd
Australian Cattle Dog/Collie Rough
Cavalier Span/Border Collie
Siberian Husky/Chinese Sharpei
Wire Hair Fox Terrier/Miniature Schnauzer
Papillon/Australian Cattle Dog
American Bulldog/Chinese Sharpei
Australian Shepherd/Boxer
Toy Fox Terrier/Yorkshire Terrier
Jack Russell Terrier/Brittany
American Staffordshire Terrier/Australian Cattle Dog
Chihuahua Longhair/Chihuahua Shorthair
Pit Bull/St. Bernard Smooth Coat
Bruss Griffon/Cairn Terrier
English Bulldog/American Bulldog
Scottish Terrier/Cairn Terrier
Irish Wolfhound/Great Pyrenees
Tortoise
Australian Cattle Dog/Parson Russell Terrier
Lowchen/Miniature Poodle
Dutch Shepherd/Mastiff
Chinese Crested/Papillon
German Pinscher/Whippet
Australian Shepherd/Jack Russell Terrier
Yorkshire Terrier/Pomeranian
Cardigan Welsh Corgi/Rat Terrier
Chinese Sharpei/Pointer
Golden Retriever/Pit Bull
German Wirehaired Pointer/Labrador Retriever
Pit Bull/Anatol Shepherd
Plott Hound/German Shepherd
Scottish Terrier/Miniature Poodle
Boerboel
Rat Terrier/Pit Bull
Great Dane/Anatol Shepherd
Basset Hound/French Bulldog
Australian Shepherd/Greyhound
Collie Smooth/Boxer
Ibizan Hound/Pit Bull
Border Collie/Standard Schnauzer
Australian Kelpie/Chinese Sharpei
Mastiff/Anatol Shepherd
Collie Rough/Anatol Shepherd
Bruss Griffon/Maltese
Grand Basset Griffon Vendeen Mix
English Coonhound/Border Collie
Jack Russell Terrier/Miniature Schnauzer
Black Mouth Cur/Rhod Ridgeback
Rex-Mini
Lark Mix
Akita/Great Pyrenees
Plott Hound/Whippet
Boston Terrier/Labrador Retriever
Australian Kelpie/Shiba Inu
Dachshund/Blue Lacy
Yorkshire Terrier/Soft Coated Wheaten Terrier
Belgian Sheepdog
Siberian Husky/Beagle
French Bulldog/Dachshund
German Shepherd/Australian Kelpie
Border Collie/Anatol Shepherd
Vulture Mix
Standard Schnauzer/Soft Coated Wheaten Terrier
Jack Russell Terrier/Basset Hound
American Staffordshire Terrier/Pit Bull
German Shorthair Pointer/Brittany
Golden Retriever/Brittany
Pit Bull/Doberman Pinsch
American Bulldog/English Bulldog
Siberian Husky/Anatol Shepherd
Smooth Fox Terrier/Basenji
Cocker Spaniel/Golden Retriever
Basset Hound/Beauceron
Tibetan Spaniel/Beagle
Yorkshire Terrier/Yorkshire Terrier
Australian Shepherd/German Shepherd
Vizsla/German Shepherd
Black Mouth Cur/Siberian Husky
Pit Bull/Alaskan Husky
Cairn Terrier/Scottish Terrier
Staffordshire/French Bulldog
English Bulldog/Australian Cattle Dog
Pointer/Anatol Shepherd
Labrador Retriever/St. Bernard Smooth Coat
Doberman Pinsch/Border Collie
Chow Chow/English Cocker Spaniel
Bichon Frise/Miniature Poodle
Queensland Heeler/Basset Hound
Boxer/Doberman Pinsch
Dachshund/Shetland Sheepdog
Queensland Heeler/Australian Cattle Dog
Beagle/Chinese Sharpei
Chow Chow/American Eskimo
Australian Shepherd/English Setter
Queensland Heeler/Border Collie
Basenji/Chow Chow
Budgerigar
Australian Kelpie/Bull Terrier
Swedish Vallhund/Miniature Poodle
Welsh Terrier/Wire Hair Fox Terrier
Pekingese/Catahoula
Great Dane/German Shepherd
Shiba Inu/Australian Kelpie
Barred Rock Mix
American Sable
Dachshund Wirehair/Yorkshire Terrier
Boxer/Neapolitan Mastiff
Norwich Terrier/Cairn Terrier
Bluetick Hound/Treeing Walker Coonhound
German Shepherd/Whippet
Pit Bull/Bull Terrier
Plott Hound/Black/Tan Hound
Border Terrier/West Highland
Italian Greyhound/Cavalier Span
Chow Chow/Pomeranian
Australian Cattle Dog/Golden Retriever
Norfolk Terrier/Bruss Griffon
Rottweiler/Rhod Ridgeback
Dachshund/Swedish Vallhund
Chinchilla-Stnd Mix
Lhasa Apso/Pbgv
Basset Hound/English Pointer
Plott Hound/Dutch Shepherd
Bruss Griffon/Chihuahua Longhair
Rottweiler/Basset Hound
Cardigan Welsh Corgi/Cairn Terrier
Pug/Pomeranian
English Coonhound/Australian Cattle Dog
Boxer/German Shepherd
Boxer/Great Pyrenees
Australian Kelpie/Border Collie
Australian Kelpie/Whippet
Miniature Schnauzer/Whippet
Australian Kelpie/Chihuahua Shorthair
Afghan Hound Mix
Queensland Heeler/Great Dane
Whippet/Miniature Pinscher
Boxer/Plott Hound
Border Collie/Brittany
Chinese Sharpei/Beagle
Miniature Poodle/American Eskimo
Boston Terrier/Pembroke Welsh Corgi
French Bulldog/English Bulldog
Soft Coated Wheaten Terrier/Standard Poodle
Cane Corso/Mastiff
Akita/Mastiff
Treeing Tennesse Brindle
Lowchen Mix
Greyhound/Airedale Terrier
Cardigan Welsh Corgi/Cardigan Welsh Corgi
Siberian Husky/Cardigan Welsh Corgi
German Shepherd/German Shepherd
Boston Terrier/Australian Kelpie
Pointer/Ibizan Hound
Domestic Medium Hair/Maine Coon
Border Terrier/Chihuahua Longhair
Catahoula/Chow Chow
Rhod Ridgeback/Bullmastiff
English Spot
Beagle/Whippet
Maltese/Dalmatian
Chihuahua Shorthair/Cavalier Span
Manx/Siamese
French Bulldog/Pug
Beagle/Cairn Terrier
Jindo
Labrador Retriever/Shiba Inu
Queensland Heeler/Shetland Sheepdog
Miniature Poodle/Shih Tzu
Manchester Terrier/Chihuahua Longhair
Dachshund/Greyhound
Alaskan Malamute/Alaskan Husky
Swiss Hound/Pit Bull
Alaskan Husky/German Shepherd
Greyhound/Saluki
Sealyham Terr Mix
Golden Retriever/Finnish Spitz
Chihuahua Shorthair/Boxer
Staffordshire/Bulldog
Shih Tzu/Pekingese
Airedale Terrier
Border Collie/Siberian Husky
Australian Kelpie/Alaskan Husky
Alaskan Malamute/Akita
Golden Retriever/Whippet
Jack Russell Terrier/Cardigan Welsh Corgi
Pit Bull/American Foxhound
Plott Hound/Bull Terrier
Miniature Schnauzer/Border Collie
Cavalier Span/Pug
Dachshund/English Bulldog
Brittany/Border Collie
Greyhound/Dalmatian
Pug/Labrador Retriever
Basset Hound/English Cocker Spaniel
Collie Smooth/Chow Chow
Miniature Schnauzer/Maltese
Whippet/Shetland Sheepdog
Bluetick Hound
German Shepherd/Smooth Fox Terrier
Labrador Retriever/American Staffordshire Terrier
Chihuahua Shorthair/Shetland Sheepdog
Chinchilla-Amer Mix
Australian Cattle Dog/Dalmatian
Treeing Walker Coonhound/Australian Cattle Dog
Pembroke Welsh Corgi/Dachshund
Jack Russell Terrier/Cavalier Span
Norfolk Terrier/Lhasa Apso
Vizsla/Catahoula
Boxer/Queensland Heeler
Conure Mix
Spanish Mastiff Mix
Australian Shepherd/Rhod Ridgeback
Harrier/Pointer
Yorkshire Terrier/Shih Tzu
Yorkshire Terrier/Dachshund Wirehair
Lhasa Apso/West Highland
Pembroke Welsh Corgi/Australian Cattle Dog
Boston Terrier/Miniature Schnauzer
Akita/Pit Bull
Australian Shepherd/Pit Bull
Chow Chow/Australian Kelpie
Cardigan Welsh Corgi/Australian Kelpie
Miniature Schnauzer/Lhasa Apso
Norfolk Terrier/Cairn Terrier
Jack Russell Terrier/Shetland Sheepdog
Quaker
Collie Rough/Pointer
Collie Rough/Pembroke Welsh Corgi
Saluki/Labrador Retriever
Dachshund Stan Mix
Rabbit Sh/Lop-Mini
Rhod Ridgeback/Pointer
Greyhound/Great Dane
Black Mouth Cur/Mastiff
Shetland Sheepdog/Basenji
Whippet/Rat Terrier
Shetland Sheepdog/Dachshund Longhair
Golden Retriever/Australian Cattle Dog
Queensland Heeler/Parson Russell Terrier
Great Pyrenees/Plott Hound
Australian Cattle Dog/Alaskan Husky
Whippet
Great Dane/Australian Cattle Dog
Shih Tzu/Chihuahua Longhair
Irish Wolfhound/Great Dane
Cairn Terrier/Border Terrier
Blue Lacy/Pointer
Jack Russell Terrier/Pointer
Bluetick Hound/Australian Cattle Dog
Toy Fox Terrier/Dachshund
Shih Tzu/Bruss Griffon
Pbgv/Jack Russell Terrier
Jack Russell Terrier/Chihuahua Longhair
Manchester Terrier/Norfolk Terrier
Finnish Spitz/Chow Chow
Chihuahua Shorthair/Lhasa Apso
Dachshund/Pembroke Welsh Corgi
Irish Setter Mix
Standard Schnauzer/Border Terrier
Australian Cattle Dog/Collie Smooth
Australian Shepherd/Standard Poodle
Border Terrier/Soft Coated Wheaten Terrier
Airedale Terrier/Miniature Schnauzer
Pit Bull/Chow Chow
Vizsla/Dachshund
Redbone Hound
Beagle/Manchester Terrier
American Pit Bull Terrier/Pit Bull
Chinese Sharpei/Airedale Terrier
American Pit Bull Terrier/Pointer
Labrador Retriever/Irish Setter
English Bulldog/American Staffordshire Terrier
Rottweiler/English Bulldog
Dutch Shepherd/Boxer
Bluetick Hound/Great Pyrenees
Hedgehog
Boston Terrier/Rat Terrier
Chinese Sharpei/Basset Hound
Australian Shepherd/Parson Russell Terrier
Catahoula/Black Mouth Cur
American Pit Bull Terrier/Chinese Sharpei
Pembroke Welsh Corgi/Anatol Shepherd
Jack Russell Terrier/Pug
Basenji/Rhod Ridgeback
Standard Schnauzer/Toy Poodle
Australian Cattle Dog/English Coonhound
Dachshund/Pomeranian
Shiba Inu/Siberian Husky
American Eskimo/Alaskan Husky
Greyhound/Pointer
Australian Shepherd/Dachshund
Chihuahua Longhair/Cocker Spaniel
Treeing Walker Coonhound
Cavalier Span/Chihuahua Longhair
Cockatoo Mix
Silky Terrier/Maltese
Labrador Retriever/English Pointer
Australian Cattle Dog/Australian Kelpie
Lhasa Apso/Yorkshire Terrier
Australian Shepherd/Feist
Basenji
Miniature Schnauzer/West Highland
Black/Tan Hound/German Shepherd
Australian Shepherd/Collie Rough
Airedale Terrier/Labrador Retriever
Bruss Griffon
Border Terrier/Miniature Poodle
Dachshund Wirehair/Standard Poodle
Border Collie/Dalmatian
Manchester Terrier/Toy Fox Terrier
Beagle/Cavalier Span
Golden Retriever/Bearded Collie
Norwich Terrier/Border Terrier
Miniature Poodle/Beagle
Miniature Pinscher/Smooth Fox Terrier
Basset Hound/Border Collie
Soft Coated Wheaten Terrier/Miniature Poodle
Catahoula/Siberian Husky
Cavalier Span/Papillon
Bull Terrier/Jack Russell Terrier
Dalmatian/Basset Hound
Shih Tzu/Cavalier Span
Labrador Retriever/St. Bernard Rough Coat
Pembroke Welsh Corgi/Basset Hound
Plott Hound/Carolina Dog
Owl
Pembroke Welsh Corgi/Golden Retriever
Norwich Terrier
Snowshoe/Ragdoll
Basset Hound/Dachshund
Boxer/Boston Terrier
Cardigan Welsh Corgi/Labrador Retriever
Golden Retriever/Australian Shepherd
Border Terrier/Labrador Retriever
Staffordshire/Blue Lacy
Miniature Poodle/Havanese
Harrier/Pit Bull
Yorkshire Terrier/Havanese
Dalmatian/Pointer
Cairn Terrier/Shih Tzu
Beagle/American Staffordshire Terrier
Black/Tan Hound/Great Dane
Boykin Span/Cocker Spaniel
Great Pyrenees/Collie Rough
Collie Rough/Keeshond
Hovawart
Papillon/Miniature Poodle
Yorkshire Terrier/Australian Terrier
Labrador Retriever/Chihuahua Shorthair
Boykin Span/Dachshund
Catahoula/Jack Russell Terrier
Pomeranian/Schipperke
Pekingese/Pug
Chihuahua Shorthair/Shiba Inu
Australian Shepherd/Brittany
Otter Mix
Pug/Pit Bull
Australian Cattle Dog/Black Mouth Cur
Rat Terrier/Cairn Terrier
Flat Coat Retriever/German Shepherd
German Shepherd/Plott Hound
Black/Tan Hound/Siberian Husky
English Bulldog/Beagle
Collie Smooth/Miniature Poodle
Black Mouth Cur/Staffordshire
Golden Retriever/Cocker Spaniel
Chinese Crested/Chihuahua Longhair
Basenji/Labrador Retriever
Border Terrier/Shih Tzu
Pit Bull/Carolina Dog
Collie Smooth/Beagle
Anatol Shepherd/Black Mouth Cur
Beagle/Treeing Walker Coonhound
Border Collie/Shetland Sheepdog
Pug/Staffordshire
Newfoundland/Australian Cattle Dog
Pug/Boston Terrier
Border Terrier/Dachshund Wirehair
Cocker Spaniel/Shetland Sheepdog
American Staffordshire Terrier/Rhod Ridgeback
West Highland/Chihuahua Shorthair
Collie Rough/Irish Setter
Boxer/Bullmastiff
Pembroke Welsh Corgi/Australian Shepherd
Queensland Heeler/German Shepherd
Cocker Spaniel/Toy Poodle
Vizsla/Boxer
Flat Coat Retriever/Chow Chow
Dachshund Longhair/Maltese
Soft Coated Wheaten Terrier/Yorkshire Terrier
Shetland Sheepdog/Italian Greyhound
Queensland Heeler/Great Pyrenees
Toy Poodle/Yorkshire Terrier
Australian Cattle Dog/Rhod Ridgeback
Redbone Hound/Anatol Shepherd
Collie Smooth/Siberian Husky
Standard Poodle/Whippet
Pug/Cocker Spaniel
Boxer/Bulldog
Bruss Griffon/Yorkshire Terrier
Pomeranian/Shetland Sheepdog
Dachshund/Cavalier Span
Pointer/Blue Lacy
Pit Bull/Queensland Heeler
Brittany/Chihuahua Shorthair
Collie Smooth/Jack Russell Terrier
Feist/Beagle
Siberian Husky/Australian Shepherd
Chihuahua Shorthair/Labrador Retriever
Boxer/American Pit Bull Terrier
Brittany/Labrador Retriever
Pit Bull/Jack Russell Terrier
Miniature Pinscher/Maltese
Dogo Argentino/Chinese Sharpei
Doberman Pinsch/Rottweiler
Great Pyrenees/St. Bernard Rough Coat
Nova Scotia Duck Tolling Retriever/Golden Retriever
Dachshund/Boxer
English Bulldog/Pit Bull
Newfoundland/Queensland Heeler
American Foxhound
Unknown Mix
Beagle/Boston Terrier
Golden Retriever/Akita
Dachshund Longhair/Miniature Poodle
Basset Hound/Golden Retriever
Pointer/Brittany
American Pit Bull Terrier/American Pit Bull Terrier
Smooth Fox Terrier/Chihuahua Shorthair
English Bulldog/Dachshund
Bichon Frise/Toy Poodle
Dachshund/Havanese
Shiba Inu/Chinese Sharpei
Chinese Sharpei/American Staffordshire Terrier
Bulldog/Boston Terrier
Peafowl Mix
Catahoula/Border Collie

In [212]:
# Find Mix breeds
new_breed=[]
for i in df['Breed_intake']:
    if 'Mix' in i:
        i='Mix'
    elif "/" in i:
        i="Mix"
    elif 'Chihuahua' in i:
        i = 'Chihuahua'
    elif 'Retriever' in i or i=='Chesa Bay Retr':
        i = 'Retriever Breeds'
    elif 'Bull' in i or 'Staffordshire' in i or i=='Chinese Sharpei' or i=='Dogo Argentino' or i=='Boxer':
        i = 'Bully Breeds'
    elif 'Terrier' in i:
        i= 'Terrier Breeds'
    elif i=='Bat' or i=='Raccoon' or i=='Opossum' or i=='Duck' or i=='Fox' or i=='Grackle' or i=='Hawk' or i=='Coyote' or i=='Pigeon' or i=='Dove' or i=='Armadillo' or i=='Owl' or i=='Skunk' or i=='Squirrel' or i=='Mockingbird' or i=='Heron' or i=='Sparrow':
        i = 'Wildlife'
    elif i=='German Shepherd' or i=='Belgian Malinois':
        i = 'German Shepherd'
    elif 'Pointer' in i or 'Span' in i or i=='Vizsla' or i=='Brittany' or i=='Shiba Inu' or i=='Dalmatian' or i=='Standard Poodle' or i=='Carolina Dog' or i=='Weimaraner':
        i = 'Sporting Breeds'
    elif 'hound' in i or 'Hound' in i or i=='Beagle' or i=='Saluki' or 'Coon' in i or i=='Catahoula' or i=='Black Mouth Cur' or i=='Harrier' or i=='Blue Lacy' or i=='Treeing Tennesse Brindle' or i=='Whippet':
        i = 'Hound Breeds'
    elif 'Husky' in i or 'Malamute' in i or 'Eskimo' in i or i=='Finnish Spitz' or i=='Samoyed' or i=='Keeshond' or i=='Jindo':
        i = 'Husky Breeds'
    elif i=='Shih Tzu' or i=='Miniature Poodle' or i=='Miniature Schnauzer' or i=='Maltese' or i=='Pomeranian' or i=='Lhasa Apso' or i=='Toy Poodle' or i=='Pekingese' or i=='Bichon Frise' or i=='Cavalier Span' or i=='West Highland' or i=='Papillon' or i=='Havanese' or i=='Japanese Chin' or i=='Dandie Dinmont' or i=='Bruss Griffon' or i=='Coton De Tulear' or 'Dachshund' in i or i=='French Bulldog' or i=='Pug' or i=='Miniature Pinscher' or i=='Pbgv':
        i = 'Toy Breeds'
    elif 'Australian' in i or 'Collie' in i or 'Heeler' in i or 'Sheepdog' in i or i=='English Shepherd' or i=='Dutch Shepherd' or 'Corgi' in i or i=='Beauceron' or i=='Hovawart':
        i = 'Herding Breeds'
    elif i=='Chinese Sharpei' or i=='Chow Chow' or i=='Standard Schnauzer' or i=='Basenji' or i=='Rottweiler' or i=='Doberman Pinsch':
        i = 'Working Breeds'
    elif i=='Great Pyrenees' or i=='Great Dane' or i=='Anatol Shepherd' or i=='Cane Corso' or i=='Rhod Ridgeback' or i=='Akita' or i=='Mastiff' or i=='Presa Canario' or 'Bernese' in i or i=='Burmese' or 'Bernard' in i or i=='Leonberger' or i=='Greater Swiss Mountain Dog' or i=='Boerboel'or i=='Landseer':
        i = 'X Large Breeds'
    elif i=='Domestic Shorthair':
        i = 'Domestic Shorthair'
    elif i=='Domestic Medium Hair':
        i = 'Domestic Medium Hair'
    elif i=='Persian' or i=='Siamese' or i=='Domestic Longhair' or i=='Persian' or i=='Himalayan' or i=='Russian Blue' or i=='Bengal' or i=='Devon Rex' or i=='Sphynx' or i=='British Shorthair' or i=='Manx':
        i = 'Other Cat'
    else:
        i='Other'
    new_breed.append(i)
new_breed

['Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Shorthair',
 'Wildlife',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'German Shepherd',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Chihuahua',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Sporting Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Retriever Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Working Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Medium Hair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Hound Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Herding Breeds',
 'Domestic Shorthair',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Toy Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Terrier Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Wildlife',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'X Large Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Domestic Shorthair',
 'Mix',
 'Mix',
 'Bully Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Sporting Breeds',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Other Cat',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 'Mix',
 ...]

In [213]:
df["new_breed"]=new_breed

In [214]:
breed_counts=df['new_breed'].value_counts()
breed_counts

Mix                     51933
Wildlife                 1060
Toy Breeds                446
Bully Breeds              318
Domestic Shorthair        300
Other                     186
Terrier Breeds            173
Retriever Breeds          172
Herding Breeds            167
Chihuahua                 166
Hound Breeds              153
German Shepherd           138
Domestic Medium Hair      109
Working Breeds            107
Other Cat                 104
X Large Breeds             99
Sporting Breeds            96
Husky Breeds               79
Name: new_breed, dtype: int64

In [215]:
# drop and rename
df=df.drop(columns=['Breed_intake'])
df=df.rename(columns={"new_breed": "Breed_Type"})
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,Breed_Type
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Blue Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361,Mix
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Brown/White,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111,Mix
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,White/Brown,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806,Mix
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Sable/Cream,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639,Hound Breeds
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Black/White,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306,Mix

## Color_intake column

In [216]:
color_counts=df['Color_intake'].value_counts()
color_counts

Black/White                 5698
Black                       4720
Brown Tabby                 3360
Brown                       2583
White                       1964
                            ...
Black Smoke/Black              1
Black/Seal Point               1
Brown Tabby/Orange Tabby       1
Black Smoke/Brown Tabby        1
Tortie/Blue Tabby              1
Name: Color_intake, Length: 478, dtype: int64

In [217]:
for i in color_counts.index:
    print(i)

Black/White
Black
Brown Tabby
Brown
White
Brown Tabby/White
Orange Tabby
Brown/White
Tan/White
Tricolor
White/Black
Blue/White
Tan
Black/Tan
Tortie
White/Brown
Black/Brown
Calico
Blue
Brown/Black
Blue Tabby
Brown Brindle/White
Orange Tabby/White
White/Tan
Red
Torbie
Red/White
Brown Brindle
Blue Tabby/White
Tan/Black
Chocolate/White
Cream Tabby
Yellow
Gray
Sable
Lynx Point
Cream
Buff
Seal Point
Chocolate
Gray/Black
White/Blue
Gray/White
White/Brown Tabby
White/Brown Brindle
Black/Gray
Fawn/White
Sable/White
Cream Tabby/White
White/Gray
Black Tabby
Brown/Tan
Flame Point
Blue Merle
Red/Black
Torbie/White
Fawn
Chocolate/Tan
White/Red
Black Brindle/White
Cream/White
Gold
Yellow/White
White/Tricolor
White/Orange Tabby
Black Smoke
Gray Tabby
Black/Brown Brindle
Blue Merle/White
Buff/White
Black/Tricolor
White/Cream
Lilac Point
White/Chocolate
Red/Tan
Tan/Brown
White/Orange
Brown Merle
Orange/White
Blue/Tan
White/Buff
Tortie Point
Black Tabby/White
Black Brindle
Tortie/White
Orange
Brown Merle/White
Black/Red
Blue Point
Calico/White
Apricot
Red Merle
Blue Merle/Tan
Blue Tick
Red Tick
Calico Point
Silver Tabby
Chocolate Point
Seal Point/White
Fawn/Black
Gray Tabby/White
Gold/White
Tricolor/White
Black/Black
Red Merle/White
Silver/Tan
Sable/Tan
Brown/Gray
Lynx Point/White
Yellow Brindle/White
Red/Brown
Brown Tabby/Black
Pink
White/Blue Tabby
Silver
White/White
Tan/Gray
Black/Cream
Tan/Cream
Blue Tick/Black
Yellow Brindle
Black Smoke/White
Gray/Tan
Blue Cream
Red Tick/White
Brown Brindle/Black
Cream/Black
Tan/Silver
Buff/Tan
Brown/Tricolor
Green
Tricolor/Black
Liver/White
Silver Tabby/White
Brown/Red
Sable/Black
Cream/Tan
Blue Tick/Tan
Tan/Tan
Brown/Brown
Gray/Brown
Blue Tiger/White
White/Black Brindle
White/Liver
Tan/Buff
White/Blue Merle
Black/Silver
Black/Blue Merle
Red/Cream
White/Cream Tabby
White/Red Merle
Buff/Black
Yellow/Black
Calico/Black
Sable/Brown
Tortie/Blue Cream
Black/Blue Tick
Black/Orange
Silver Lynx Point
Tricolor/Brown
Black/Chocolate
Blue Merle/Black
Gray/Red
Blue/Black
Blue Smoke
Agouti
Brown/Cream
Black/Black Brindle
Silver/Black
Black/Buff
Silver/Brown
Blue Merle/Brown
White/Red Tick
Gray/Pink
White/Black Tabby
White/Brown Merle
Brown Tiger
Brown Brindle/Tan
Chocolate/Brown
White/Silver
Red/Gray
Chocolate Point/White
Blue Tick/White
Tan/Red
Liver/Tan
White/Blue Tick
Fawn/Blue
Silver/White
Brown/Silver
Chocolate/Tricolor
Sable/Cream
Apricot/White
Black Brindle/Brown
White/Yellow Brindle
Black/Blue
Blue Tiger
White/Apricot
Calico/Brown Tabby
Brown Tabby/Brown
Tan/Blue
Fawn/Brown
Black/Yellow
Gray/Cream
Blue Cream/White
Green/Yellow
Gray/Orange
Fawn/Tan
Cream/Brown
White/Yellow
Blue/Tricolor
Calico/Tricolor
Brown/Chocolate
Tortie/Orange
Blue/Cream
Black/Yellow Brindle
Tortie/Black
White/Gray Tabby
Blue/Brown
Brown/Green
Green/Blue
White/Pink
White/Calico
Brown Tabby/Brown Tabby
Gray/Silver
Tan/Tricolor
White/Lynx Point
Brown Merle/Tan
Blue Tick/Brown
Brown/Buff
Gray/Tortie
Tan/Yellow
Brown/Yellow
Blue Point/White
Orange/Tan
Buff/Gray
Liver Tick
Brown Tabby/Orange
Red Tick/Tan
Orange Tabby/Orange Tabby
Red Tick/Red
Blue/Blue
Blue Merle/Tricolor
Gray/Yellow
Buff/Yellow
Chocolate/Black
Calico/Blue Cream
Brown/Red Tick
Red/Red Tick
Cream/Red
Chocolate/Red
White/Gold
Orange Tabby/Cream
Brown Tabby/Tortie
Silver/Chocolate
Brown Brindle/Brown
Blue Tick/Red Tick
Gold/Black
Tricolor/Blue Merle
Brown Tiger/White
White/Blue Cream
Blue Tabby/Cream
Lilac Point/White
Tricolor/Tan
Blue/Brown Brindle
White/Black Smoke
Blue/Gray
Tortie Point/White
Gold/Gold
Seal Point/Brown
Tricolor/Blue
Yellow/Orange
Yellow/Cream
Gray/Blue
White/Chocolate Point
Brown Brindle/Red Tick
Tricolor/Brown Brindle
Black/Brown Tabby
Gray Tabby/Black
Red/Buff
Fawn/Gray
Calico Point/White
Apricot/Brown
Tortie/Blue
Brown/Brown Tabby
Green/Brown
Chocolate/Brown Tabby
Tricolor/Silver
Gold/Yellow
Brown/Orange
Orange/Black
Cream/Seal Point
Blue/Yellow Brindle
Agouti/White
Sable/Buff
Brown Brindle/Blue Tick
Torbie/Blue Cream
Fawn/Tricolor
Torbie/Brown Tabby
Red/Yellow
Cream/Gray
Calico/Brown
White/Liver Tick
Flame Point/White
Chocolate/Cream
Red/Silver
Blue/Tortie
Red Merle/Black
Blue Smoke/White
Black Tiger/White
Blue Tick/Red
Brown Merle/Black
Sable/Red
Blue Merle/Blue Merle
Tricolor/Brown Merle
Red/Tricolor
Buff/Red
Brown Tabby/Gray
Blue Cream/Tortie
Gold/Cream
Liver
Gold/Tan
Tortie/Calico
Black/Brown Merle
Brown/Brown Brindle
Brown/Blue Merle
Black/Tortie
Yellow/Orange Tabby
Red Tick/Brown
Blue Merle/Red Merle
Black Brindle/Black
Cream/Orange
Black/Black Smoke
Yellow/Gray
Tricolor/Chocolate
Red/Red Merle
Orange Tabby/Orange
Tan/Gold
Black/Pink
Silver/Gray
Black/Gray Tabby
Blue Merle/Gray
Cream/Silver
Cream/Yellow
Gray/Gold
Tan/Brown Merle
Liver/Chocolate
Lynx Point/Tan
Tan/Brown Brindle
Black Smoke/Blue Tick
Black/Green
Sable/Gray
Orange/Brown
Blue/Orange
Fawn/Chocolate
Tan/Yellow Brindle
Tortie Point/Lynx Point
Lynx Point/Gray Tabby
Orange/Gray
Red Tick/Black
Tricolor/Calico
Green/Gray
Blue/Silver
Chocolate/Red Tick
Brown Merle/Blue Merle
Silver/Red
Lynx Point/Tortie Point
Seal Point/Gray
Gold/Brown
Brown/Red Merle
White/Gray Tiger
Agouti/Brown Tabby
Red Tick/Blue Tick
Tortie/Black Smoke
Yellow/Tan
Orange Tabby/Tortie Point
Blue Tick/Brown Brindle
Blue Tabby/Orange
Brown Brindle/Brown Merle
Calico/Orange Tabby
Red/Red
Blue Merle/Brown Brindle
Black/Silver Tabby
Green/Orange
Brown Brindle/Brown Brindle
Chocolate/Brown Brindle
Tricolor/Red Tick
Brown Tabby/Black Brindle
White/Brown Tiger
Torbie/Brown
Chocolate/Brown Merle
Torbie/Blue Tabby
Orange Tabby/Brown
Brown/Black Tabby
Red/Blue
Black/Gold
Agouti/Gray
Tricolor/Gray
Blue Cream/Blue Tabby
Apricot/Tricolor
Black Smoke/Gray
Ruddy/Cream
Black Tabby/Orange
Brown Tabby/Gray Tabby
Tortie/Brown
Gray/Tricolor
Torbie/Calico
Lilac Point/Cream
Cream Tabby/Cream Tabby
Sable/Red Merle
Gold/Buff
Chocolate/Gray
Yellow/Yellow
Orange Tabby/Apricot
Red/Green
Black Brindle/Blue Tick
Blue Tabby/Black
White/Flame Point
Tricolor/Tricolor
Blue Smoke/Brown
Blue Cream/Blue Tiger
Blue Tabby/Tan
Cream/Red Tick
Blue/Yellow
Brown/Black Brindle
Orange/Blue
Brown Brindle/Blue Cream
Brown Tabby/Blue
Orange Tabby/Black
Chocolate Point/Cream
Blue Merle/Cream
Blue Cream/Buff
Silver/Blue
Calico/Blue Tabby
Tan/Red Tick
Red Tick/Brown Merle
Brown/Pink
Black Tabby/Black
Silver Tabby/Black
White/Seal Point
Yellow Brindle/Blue
Buff/Cream
Red/Gold
Calico/Calico
Blue/Calico
Liver Tick/White
Brown Merle/Brown
Green/White
Blue Tabby/Blue Cream
Brown/Brown Merle
Flame Point/Cream
Lynx Point/Brown Tabby
Silver/Cream
Brown Brindle/Blue
Orange Tiger
Tricolor/Orange
Black Smoke/Brown
Gray/Buff
Tricolor/Blue Tick
White/Calico Point
Liver/Buff
Red Merle/Tan
Cream/Cream
Chocolate/Yellow
Tan/Apricot
Black/Black Tabby
Yellow/Brown
Chocolate/Liver Tick
Chocolate/Gold
Torbie/Gray
White/Tortie
Brown/Blue
Green/Black
Black Brindle/Brown Brindle
Black Smoke/Black
Black/Seal Point
Brown Tabby/Orange Tabby
Black Smoke/Brown Tabby
Tortie/Blue Tabby

In [218]:
colorNew=[]
for i in df.Color_intake:
    if "/" in i:
        i="Bicolor"
    elif "Tabby" in i:
        i='Tabby'
    elif "Brindle" in i:
        i="Tabby"
    elif "Merle" in i:
        i="Merle"
    elif "Tiger" in i:
        i="Tiger"
    elif "Tortie" in i:
        i="Tabby"
    elif "Calico" in i:
        i="Tabby"
    elif "Torbie" in i:
        i="Tabby"
    elif i=="Apricot" or i=="Gold" or i=="Yellow" or i=="Fawn":
        i="Orange"
    elif "Blue" in i:
        i="Blue"
    elif "Black" in i or i=="Sable":
        i="Black"
    elif i=="Liver":
        i="Brown"
    elif "Point" in i:
        i='Point'
    elif "Tick" in i:
        i="Point"
    else:
        i=i
    colorNew.append(i)
print(set(colorNew))
print(len(set(colorNew)))

{'Tiger', 'Brown', 'Tabby', 'Agouti', 'Red', 'Blue', 'Green', 'Orange', 'Gray', 'Bicolor', 'Point', 'Cream', 'White', 'Tan', 'Buff', 'Black', 'Merle', 'Silver', 'Chocolate', 'Pink', 'Tricolor'}
21

In [219]:
df['Color_intake']=colorNew

In [220]:
color_counts=df['Color_intake'].value_counts()
color_counts

Bicolor      28302
Tabby         9887
Black         5173
Brown         2585
White         1964
Tricolor      1476
Tan           1360
Blue          1092
Point          912
Red            752
Orange         690
Gray           379
Cream          307
Buff           301
Chocolate      281
Merle          245
Pink            29
Silver          28
Green           20
Tiger           14
Agouti           9
Name: Color_intake, dtype: int64

In [221]:
replace_color=color_counts.loc[color_counts<500].index.tolist()
for i in replace_color:
    df.Color_intake = df.Color_intake.replace(i,"Other")

df.Color_intake.value_counts()

Bicolor     28302
Tabby        9887
Black        5173
Brown        2585
White        1964
Other        1613
Tricolor     1476
Tan          1360
Blue         1092
Point         912
Red           752
Orange        690
Name: Color_intake, dtype: int64

In [222]:
df.head()

,Animal ID,Name_intake,DateTime_intake,Found_Location,Intake_Type,IntakeCondition,Animal_Type_intake,Sex_Intake,Color_intake,DateTime_outcome,Outcome_Type,Sex_upon_Outcome,fixed_changed,Age_Bucket,DateTime_length,Breed_Type
0,A730601,No,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,Tabby,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361,Mix
1,A683644,Yes,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Intact Female,Bicolor,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111,Mix
2,A676515,Yes,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Intact Male,Bicolor,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806,Mix
3,A742953,No,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,Intact Male,Bicolor,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639,Hound Breeds
4,A679549,Yes,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Intact Male,Bicolor,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306,Mix

## Divide to two dataframes (intake and outcome)

In [223]:
intake_df=df[['Animal ID','DateTime_intake','Found_Location','Intake_Type','IntakeCondition',
             'Animal_Type_intake',
              'Name_intake',
             'Sex_Intake',
             'Color_intake',
             'Breed_Type']]

columns_intake=['animal_id','datetime_intake','found_location','intake_type','intake_condition','animal_type_intake',
        'name_intake','sex_intake','color_intake','breed_type']

intake_df.columns =columns_intake
intake_df.head()

,animal_id,datetime_intake,found_location,intake_type,intake_condition,animal_type_intake,name_intake,sex_intake,color_intake,breed_type
0,A730601,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,No,Intact Male,Tabby,Mix
1,A683644,2014-07-13 11:02:00,NaN,Owner Surrender,Maternity,Dog,Yes,Intact Female,Bicolor,Mix
2,A676515,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
3,A742953,2017-01-31 13:30:00,NaN,Stray,Normal,Dog,No,Intact Male,Bicolor,Hound Breeds
4,A679549,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Yes,Intact Male,Bicolor,Mix

In [224]:
intake_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   animal_id           55806 non-null  object
 1   datetime_intake     55806 non-null  datetime64[ns]
 2   found_location      33606 non-null  object
 3   intake_type         55806 non-null  object
 4   intake_condition    55806 non-null  object
 5   animal_type_intake  55806 non-null  object
 6   name_intake         55806 non-null  object
 7   sex_intake          55806 non-null  object
 8   color_intake        55806 non-null  object
 9   breed_type          55806 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 4.7+ MB

In [225]:
outcome_df=df[['Animal ID','DateTime_outcome',
              'Outcome_Type',
              'Sex_upon_Outcome','fixed_changed','Age_Bucket','DateTime_length']]

columns_outcome=['animal_id','datetime_outcome','outcome_type',
                 'sex_upon_outcome','fixed_changed','age_bucket','datetime_length']

outcome_df.columns=columns_outcome

outcome_df.head()

,animal_id,datetime_outcome,outcome_type,sex_upon_outcome,fixed_changed,age_bucket,datetime_length
0,A730601,2016-07-08 09:00:00,Transfer,Neutered Male,1,7-12 months,0.867361
1,A683644,2014-11-06 10:06:00,Adoption,Spayed Female,1,1-6 weeks,115.961111
2,A676515,2014-04-14 18:38:00,Return to Owner,Neutered Male,1,1-6 months,3.411806
3,A742953,2017-02-04 14:17:00,Transfer,Intact Male,0,1-3 years,4.032639
4,A679549,2014-06-16 13:54:00,Transfer,Neutered Male,1,1-6 months,24.924306

In [226]:
outcome_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         55806 non-null  object
 1   datetime_outcome  55806 non-null  datetime64[ns]
 2   outcome_type      55806 non-null  object
 3   sex_upon_outcome  55806 non-null  object
 4   fixed_changed     55806 non-null  int64
 5   age_bucket        55806 non-null  object
 6   datetime_length   55806 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 3.4+ MB

## Connect to SQL

In [236]:
import psycopg2
connection = psycopg2.connect(
    host = 'projectanimal.c2jqqtcm0i1p.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'animaladoption',
    database='projectanimal'
    )
cursor=connection.cursor()

In [288]:
connection.rollback()

In [248]:
#creating tables
cursor.execute("""CREATE TABLE animal_intake(
 animal_id TEXT PRIMARY KEY,
 datetime_intake TIMESTAMP,
 found_location TEXT,
 intake_type TEXT,
 intake_condition TEXT,
 animal_type_intake TEXT,
 name_intake TEXT,
 sex_intake TEXT,
 color_intake TEXT,
 breed_type TEXT
)""")

cursor.execute("""CREATE TABLE animal_outcome(
 animal_id TEXT PRIMARY KEY,
 datetime_outcome TIMESTAMP,
 outcome_type TEXT,
 sex_upon_outcome TEXT,
 fixed_changed TEXT,
 age_bucket TEXT,
 datetime_length TEXT,
 FOREIGN KEY (animal_id) REFERENCES animal_intake(animal_id)
 )""")

connection.commit()

In [296]:
intake_df.to_csv('animal_intake.csv', index=False, sep=';')

In [297]:
outcome_df.to_csv('animal_outcome.csv', index=False, sep=';')

In [298]:
with open('animal_intake.csv', 'r') as row:
    next(row)# Skip the header row.
    cursor.copy_from(row, 'animal_intake', sep=';')
    
connection.commit()

In [299]:
with open('animal_outcome.csv', 'r') as row:
    next(row)# Skip the header row.
    cursor.copy_from(row, 'animal_outcome', sep=';')
    
connection.commit()

In [300]:
sql = '''
select * from animal_intake'''

pd.read_sql(sql,con=connection)

,animal_id,datetime_intake,found_location,intake_type,intake_condition,animal_type_intake,name_intake,sex_intake,color_intake,breed_type
0,A730601,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,No,Intact Male,Tabby,Mix
1,A683644,2014-07-13 11:02:00,,Owner Surrender,Maternity,Dog,Yes,Intact Female,Bicolor,Mix
2,A676515,2014-04-11 08:45:00,615 E. Wonsley in Austin (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
3,A742953,2017-01-31 13:30:00,,Stray,Normal,Dog,No,Intact Male,Bicolor,Hound Breeds
4,A679549,2014-05-22 15:43:00,124 W Anderson in Austin (TX),Stray,Normal,Cat,Yes,Intact Male,Bicolor,Mix
...,...,...,...,...,...,...,...,...,...,...
55801,A746679,2017-04-07 09:44:00,,Stray,Normal,Cat,Yes,Spayed Female,Tabby,Mix
55802,A746725,2017-04-08 11:28:00,,Stray,Normal,Cat,No,Unknown,Bicolor,Mix
55803,A746689,2017-04-07 12:36:00,,Stray,Normal,Dog,Yes,Spayed Female,Bicolor,Mix
55804,A746466,2017-04-03 15:02:00,4858 Yager Ln in Travis (TX),Stray,Normal,Dog,Yes,Intact Male,Bicolor,Mix
55805,A746072,2017-03-28 16:49:00,9318 Ih 35 in Austin (TX),Stray,Normal,Dog,Yes,Neutered Male,Bicolor,Mix

In [293]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55806 entries, 0 to 76975
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Animal ID           55806 non-null  object
 1   Name_intake         55806 non-null  object
 2   DateTime_intake     55806 non-null  datetime64[ns]
 3   Found_Location      33606 non-null  object
 4   Intake_Type         55806 non-null  object
 5   IntakeCondition     55806 non-null  object
 6   Animal_Type_intake  55806 non-null  object
 7   Sex_Intake          55806 non-null  object
 8   Color_intake        55806 non-null  object
 9   DateTime_outcome    55806 non-null  datetime64[ns]
 10  Outcome_Type        55806 non-null  object
 11  Sex_upon_Outcome    55806 non-null  object
 12  fixed_changed       55806 non-null  int64
 13  Age_Bucket          55806 non-null  object
 14  DateTime_length     55806 non-null  float64
 15  Breed_Type          55806 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(12)
memory usage: 7.2+ MB